---
import '../css/core.css';
import '../css/forms.css';

import Header from '../components/header';
import Footer from '../components/footer';

export interface Props {
  title: string;
  page: string;
  bodyClass?: string;
}

const { title, page, bodyClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-CA" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <title>{title}</title>

    {/* <!-- page details --> */}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    {/* <!-- social --> */}
    <meta name="twitter:card" content="summary" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Buyers | Alberta Digital Marketplace" />
    <meta property="og:description" content="Page description / summary." />
    <meta property="og:image" content="/assets/sharing/share-alberta.png" />
    <meta property="og:url" content="/build/beta/home.htm" />

    {/* <!-- axios submit --> */}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module">
      import {
        getFeedbackUrl,
        getGoogle,
        getCaptchaSiteKey,
      } from '/domain_exports.js';

      (function () {
        var gCode = getGoogle();
        if (gCode[0] != '?') {
          // @ts-ignore
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            // @ts-ignore
            dataLayer.push(arguments);
          }
          // @ts-ignore
          gtag('js', new Date());
          // @ts-ignore
          gtag('config', gCode);
          const script = document.createElement('script');
          script.async = true;
          script.src = `https://www.googletagmanager.com/gtag/js?id=${gCode}`;
          document.head.appendChild(script);
        } else {
          console.log('No Google analytics');
        }
        const siteKey = getCaptchaSiteKey();
        if (siteKey) {
          const elementId = 'recaptcha-script';
          const element = document.getElementById(elementId);
          if (!element) {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = `https://www.google.com/recaptcha/api.js?render=${siteKey}`;
            script.id = elementId;
            document.body.appendChild(script);
          } else {
            console.log('No recaptcha');
          }
        }

        //---[ feedback ]---
        const feedbackscript = document.createElement('script');
        feedbackscript.async = true;
        feedbackscript.src = getFeedbackUrl();
        document.head.appendChild(feedbackscript);
      })();

      window.addEventListener('load', () => {
        window.adspFeedback.initialize({ tenant: 'digital_marketplace' });
      });
    </script>
  </head>
  <body class={bodyClass ? bodyClass : ''}>
    <Header page={page} />
    <slot />
    <Footer />

    <!-- "defer" to allow the html to load first -->
    <script src="/forms.js" defer></script>
    <script src="/domain.js" defer></script>
    <script src="/adm-scripts.js" defer></script>
  </body>
</html>
