---
import { GoAAppHeader, GoAMicrositeHeader } from '@abgov/react-components';
---

<GoAMicrositeHeader type="beta" />
<GoAAppHeader url="/" heading="Digital Content Platform Guide">
  <a href="/">Home</a>
  <a href="/tutorial/index.html">Tutorial</a>
</GoAAppHeader>
