---
import { GoabAppHeader, GoabMicrositeHeader } from '@abgov/react-components';
---

<GoabMicrositeHeader client:only="react" type="beta" />
<GoabAppHeader client:only="react" url="/" heading="Digital Content Platform Guide">
  <a href="/">Home</a>
  <a href="/tutorial/index.html">Tutorial</a>
</GoabAppHeader>
