<div class="hero-wrapper">
  <h1>Digital content platform (DCP)</h1>
  <h3></h3>
</div>

<style>
  .hero-wrapper {
    height: 240px;
    padding: var(--goa-space-3xl);
    border-bottom: var(--goa-space-xs);
    gap: var(--goa-space-l);
    background-color: var(--goa-color-greyscale-100);
    border-bottom-color: var(--goa-color-brand-default);
    border-bottom-style: solid;
  }
  .hero-wrapper h1 {
    font-size: var(--goa-font-size-10);
    font-weight: var(--goa-font-weight-bold);
    line-height: var(--goa-line-height-7);
    letter-spacing: 0em;
    text-align: left;
  }
  .h3 {
    font-size: var(--goa-font-size-7);
    font-weight: var(--goa-font-weight-regular);
    line-height: var(--goa-line-height-4);
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
  }
</style>
