<div class="service-card">
  <div class="service-heading">Service name</div>
  <div class="service-sub-heading">Service name</div>
  <p>The file service provides the capability to upload and download files. Consumers are registered with their own space (tenant) containing file types that include role based access policy, and can associate files to domain records.</p>
  <div class="service-contact">contact: <a >ADSP platform</a></div>
  </div>

<style>
  .services-wrapper{}
.services-wrapper p{}
.services-card{
height:240px;
border-top-left-radius:4px;
border-top-right-radius:4px;
border-width:1px;
border-style:solid;
border-color:var(--goa-color-greyscale-400);
}
.services-heading{}
.services-sub-heading{}
.services-contact{}
</style>
