#service-tile-chips :link {
  text-decoration: none;
  color: var(--goa-color-interactive-default);
}

#service-tile-chips :visited {
  text-decoration: none;
  color: var(--goa-color-interactive-default);
}

#service-tile-chips :hover {
  text-decoration: underline;
  color: var(--goa-color-interactive-default);
}

#service-tile-chips :active {
  text-decoration: underline;
  color: var(--goa-color-interactive-default);
}
#service-tile-chips {
  line-height: var(--goa-line-height-6);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--goa-space-s);
}
#service-tile-subtitle {
  color: var(--goa-color-text-secondary);
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
}
#service-tile-title {
  font-size: var(--goa-font-size-7);
  font-style: normal;
  font-weight: var(--goa-font-weight-regular);
  line-height: var(--goa-line-height-4);
  word-wrap: break-word;
}
#service-tile-content {
  width: 300px;
  display: block;
  word-wrap: break-word;
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-regular);
  line-height: var(--goa-line-height-3);
}
