---
import {
  GoAOneColumnLayout,
  GoAMicrositeHeader,
  GoAAppHeader,
  GoAPageBlock,
  GoAAppFooter,
  GoAThreeColumnLayout,
  GoAGrid,
  GoASpacer,
  GoAInput,
  GoAButton,
  GoAContainer,
  GoABlock,
  GoATwoColumnLayout,
} from '@abgov/react-components';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import apps from '../datastore.json';
---

<Layout title="Common capabilities">
  <div style="padding: 0px 68px">
    <GoAOneColumnLayout>
      <h2>Common capabilities</h2>
      <p class="cc-intro">
        Common capabilities encompass a broad spectrum of software components
        and systems ( including applications, APIs, frameworks, libraries,
        tools, services and various other types) which are building blocks,
        adaptable for use independently or in conjunction and collectively
        contribute to enhancing and streamlining processes. These components are
        characterized by their reusability, potential to improve operational
        efficiency, alignment with organizational objectives, and compatibility
        with existing systems. By leveraging common capabilities, we can also
        foster innovation and productivity. In addition, utilizing common
        capabilities accelerates the development of user-centric services,
        eliminating the need to create bespoke solutions for recurring
        challenges.
      </p>
      <p class="cc-intro">
        We provide here a listing of common capabilities so that you can
        understand what is available. Do contact the respective teams to know
        more about their suitability and effectively integrate them into your
        projects.
      </p>
      <GoASpacer vSpacing="2xl" />

      <div class="search-container">
        <div id="search-field">
          <GoAInput
            placeholder="search"
            value=""
            width="98%"
            name="firstname"
            onChange={() => {}}
          />
        </div>

        <div id="search-button">
          <GoAButton type="primary" leadingIcon="search" onClick={() => {}}>
            Search
          </GoAButton>
        </div>
      </div>
      <GoASpacer vSpacing="2xl" />
      <!-- 
      <GoAGrid minChildWidth="50ch">
        <GoAInput
          placeholder="search"
          value=""
          width="100%"
          name="firstname"
          onChange={() => {}}
        />

        <GoAButton type="primary" leadingIcon="search" onClick={() => {}}>
          Search
        </GoAButton>
      </GoAGrid> -->

      <GoASpacer vSpacing="2xl" />
      <GoAGrid minChildWidth="35ch">
        {
          apps.map((app) => (
            <Card
              title={app.ServiceName}
              provider={app.Provider}
              description={app.Description}
            />
          ))
        }
      </GoAGrid>
    </GoAOneColumnLayout>
  </div>
</Layout>

<style>
  .cc-intro {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .search-container {
    display: flex;
  }
  #search-field {
    flex-grow: 1;
  }
</style>
