---
export interface Props {
  title: string;
}
import Header from '../components/Header';
import { GoAAppFooter } from '@abgov/react-components';
import '@abgov/web-components/index.css';
import '@abgov/design-tokens/dist/tokens.css';
export interface Props {
  title: string;
  actionButtons: any;
}

const { title, actionButtons } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <section id="top-page"></section>
    <Header client:load actionButtons={actionButtons} />
    <slot />
    <GoAAppFooter />
  </body>
</html>
<style is:global>
  .line-elements {
    display: flex;
    flex-direction: row;
    gap: var(--goa-space-m);
    color: var(--goa-color-interactive-default);
  }
</style>
