---
export interface Props {
  title: string;
}
import Header from '../components/Header';
import Footer from '../components/Footer';
// import { GoAAppFooter } from '@abgov/react-components';
// import { GoAAppFooter } from '@abgov/react-components-4.20.2';
// import '@abgov/web-components/index.css';
import '@abgov/design-tokens/dist/tokens.css';
import '@abgov/web-components-1.20.3/index.css';
export interface Props {
  title: string;
  actionButtons: any;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script>
      const hostName = window.location.hostname;
      if (hostName === 'common-capabilities-dcp-uat.apps.aro.gov.ab.ca') {
        (function () {
          // @ts-ignore
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            // @ts-ignore
            dataLayer.push(arguments);
          }
          // @ts-ignore
          gtag('js', new Date());
          // @ts-ignore
          gtag('config', 'G-1DJCQRHZ8D');
          const script = document.createElement('script');
          script.async = true;
          script.src =
            'https://www.googletagmanager.com/gtag/js?id=G-1DJCQRHZ8D';
          document.head.appendChild(script);

          const feedbackscript = document.createElement('script');
          script.async = true;
          script.src =
            'https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js';
          document.head.appendChild(feedbackscript);
        })();
      } else if (hostName === 'common-capabilities.digital.gov.ab.ca') {
        (function () {
          // @ts-ignore
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            // @ts-ignore
            dataLayer.push(arguments);
          }
          // @ts-ignore
          gtag('js', new Date());
          // @ts-ignore
          gtag('config', 'G-4TW8MFQ4GT');
          const script = document.createElement('script');
          script.async = true;
          script.src =
            'https://www.googletagmanager.com/gtag/js?id=G-4TW8MFQ4GT';
          document.head.appendChild(script);

          const feedbackscript = document.createElement('script');
          script.async = true;
          script.src =
            'https://feedback-service.adsp.alberta.ca/feedback/v1/script/adspFeedback.js';
          document.head.appendChild(feedbackscript);
        })();
      }
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
      <section id="top-page"></section>
      <Header client:load />
      <slot />
      <Footer client:load />
  </body>
</html>
<style is:global>
  .line-elements {
    display: flex;
    flex-direction: row;
    gap: var(--goa-space-m);
    color: var(--goa-color-interactive-default);
  }
</style>
