---
export interface Props {
  title: string;
}
import Header from '../components/Header.astro';
import { GoAAppFooter } from '@abgov/react-components';
import '@abgov/web-components/index.css';
import '@abgov/design-tokens/dist/tokens.css';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <Header />
    <slot />
    <GoAAppFooter />
  </body>
</html>
