---
import {
  GoAMicrositeHeader,
  GoAAppHeader,
  GoAHeroBanner,
} from '@abgov/react-components';
---

<GoAMicrositeHeader type="beta" />
<GoAAppHeader
  url="https://example.com"
  heading="Common capabilities"
  maxContentWidth="95%"
>
  <a href="/">Home</a>
  <a href="/services">Services</a>
  <a href="/contact">Contact</a>
</GoAAppHeader>
<GoAHeroBanner heading="Common capabilities" backgroundUrl="" minHeight="20%" />
