---
import {
  GoAMicrositeHeader,
  GoAAppHeader,
  GoAHeroBanner,
} from '@abgov/react-components';
---

<GoAMicrositeHeader type="beta" />
<GoAAppHeader url="/" heading="Common capabilities" maxContentWidth="95%">
  <a href="/">Home</a>
  <a href="/contact/index.html">Contact</a>
</GoAAppHeader>
<GoAHeroBanner heading="Common capabilities" backgroundUrl="" minHeight="20%">
  Reusable services for building your custom apps
</GoAHeroBanner>
