---
import { GoAAppFooter } from '@abgov/react-components';
---
<div>
<div class="touch-footer">
  <h3 style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.45s; transition-delay: 0.551351s;" class="preSlide slideIn"><strong>Get in Touch</strong></h3>
  <p class="preFade fadeIn" style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.45s; transition-delay: 0.567568s;">The Digital Design and Delivery division of Technology and Innovation is headquartered in Edmonton.</p>
  <p class="preFade fadeIn" style="white-space: pre-wrap; transition-timing-function: ease; transition-duration: 0.45s; transition-delay: 0.583784s;"><strong>Contact Digital Design and Delivery</strong><br>
    <a href="mailto:dio@gov.ab.ca"><span class="email-footer"><strong>DIO@gov.ab.ca</strong></span></a></p>
  </div>

<GoAAppFooter>

</GoAAppFooter>
</div>

<style>
 .touch-footer{
  background-color:var(--goa-color-brand-dark); 
 padding: 2rem 25rem;
 color: rgb(249, 246, 246);
 }
 .email-footer{
  color: rgb(208, 207, 214);
 }
</style>