---
import { GoAAppFooter } from '@abgov/react-components';
---

<div>
  <div class="touch-footer" id="touch-footer">
    <h3 style="white-space: pre-wrap;"><strong>Get in Touch</strong></h3>
    <p style="white-space: pre-wrap;">
      The Digital Design and Delivery division of Technology and Innovation is
      headquartered in Edmonton.
    </p>
    <p style="white-space: pre-wrap;">
      <strong>Contact Digital Design and Delivery</strong><br />
    </p>
    <p>
      <a href="mailto:dio@gov.ab.ca"
        ><span class="email-footer"><strong>DIO@gov.ab.ca</strong></span></a
      >
    </p>
  </div>

  <GoAAppFooter />
</div>

<script>
  const currentPath = window.location.pathname;
  let footerEl: any = document.getElementById('touch-footer');
  const getInTouchFooterExcludes = ['/'];

  if (getInTouchFooterExcludes.indexOf(currentPath) >= 0) {
    footerEl.style.display = 'none';
  } else {
    footerEl.style.display = 'block';
  }
</script>

<style>
  .touch-footer {
    background-color: var(--goa-color-brand-dark);
    padding: 2rem 19rem;
    color: rgb(249, 246, 246);
  }
  .email-footer {
    color: rgb(208, 207, 214);
  }
</style>
