---
import { GoAAppHeader, GoAMicrositeHeader } from '@abgov/react-components';
---


    <GoAAppHeader url="/" heading="Digital content platform guide" >
      <nav class="site-nav">
        <ul>

   <li> <a href="/">Home</a></li>
   <li><a href="/about">What is Modern Digital Delivery</a></li>
   <li><a href="/team">Who is Involved</a></li>
   <li><a href="/stories">Stories</a></li>
   <li><a href="/learnMore">Learn More</a></li>
</ul>
      </nav>
  </GoAAppHeader>

<style>

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #121211;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #bed3f7;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}


@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}
  
</style>