---
import BaseLayout from '../layouts/baseLayout.astro';
---

<BaseLayout title="Learn More">
  <main>
    <h2><strong>Resources</strong></h2>
    <p><strong>Thought Leadership from Digital Design and Delivery</strong></p>
    <ul data-rte-list="default">
      <li>
        <p>
          <a href="https://medium.com/alberta-digital/latest">
            <span style="text-decoration:underline"
              >Alberta Digital Innovation Office</span
            ></a
          >
          <span style="text-decoration:underline"><br /></span>Re-designing
          government to curb costs and provide simpler, faster and better
          services for citizens.
        </p><ul data-rte-list="default">
          <li>
            <p>
              Featured Post: <a
                href="https://medium.com/alberta-digital/hello-alberta-hello-world-6dd06a2381cc"
              >
                <span style="text-decoration:underline"
                  >Hello Alberta. Hello World.</span
                ></a
              > Read the inaugural post from our early days as the Digital Innovation
              Office.
            </p>
            <p data-rte-preserve-empty="true"></p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <a href="https://davislevine.medium.com/">
            <span style="text-decoration:underline">Davis Levine</span></a
          >
          <span style="text-decoration:underline"><br /></span>Davis is a
          Service Designer who is trying to connect design and policy in the
          public sector.
        </p>
        <ul data-rte-list="default">
          <li>
            <p>
              Featured Post: <a
                href="https://medium.com/swlh/how-to-break-up-with-your-product-cbc96086a0c0"
              >
                <span style="text-decoration:underline"
                  >How to Break Up with Your Product</span
                ></a
              >. What do you do when your digital product isn’t serving the
              needs of its users anymore?&nbsp;
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <strong>Do you have a blog we should know about?</strong><a
        href="mailto:DIO@gov.ab.ca"><strong>Let us know</strong></a
      ><strong>!</strong>
    </p>

    <hr />

    <p><strong>Reading Lists</strong></p><ul data-rte-list="default">
      <li>
        <p>
          <a href="https://good.services/">
            <span style="text-decoration:underline"
              >Good Services by Lou Downe</span
            ></a>
        </p>
        <p>
          A practical book for those interested in better service delivery, this
          book is the definitive new guide to designing services that work for
          users.
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.andrewgreenway.com/book">
            <span style="text-decoration:underline"
              >Digital Transformation at Scale by Andrew Greenway</span
            ></a
          >
          <span style="text-decoration:underline"><br /></span>This is essential
          reading on what digital transformation entails in large organizations
          supported by some great case studies.
        </p>
      </li>
      <li>
        <p>
          <a href="https://senseandrespond.co/">
            <span style="text-decoration:underline"
              >Sense and Respond by Jeff Gothelf and Josh Seiden</span
            ></a
          >
          <span style="text-decoration:underline"><br /></span>Given ongoing
          market complexity and uncertainty, this book addresses the necessity
          of being grounded in technology and software and bridging between
          organizations and customers
        </p>
      </li>
    </ul>

    <hr />

        <p><strong>Podcasts</strong></p><ul data-rte-list="default">
          <li>
            <p>
              <a href="https://www.bobsutton.net/friction-project/podcast/"
                >Friction with Bob Sutton</a>
            </p><ul data-rte-list="default">
              <li>
                <p>
                  Episode: <a
                    href="https://ecorner.stanford.edu/podcasts/over-under-through-fixing-government-friction/"
                  >
                    <span style="text-decoration:underline"
                      >Over, under, through: fixing government friction</span
                    ></a
                  >
                  <span style="text-decoration:underline"><br /></span>Can you
                  dampen friction in the bureaucracy-laden, ego-filled halls of
                  the United States government? Yes–you can.
                </p>
                <p></p>
              </li>
            </ul>
          </li><li>
            <p><a href="https://civictech.chat/">Civic Tech Chat</a></p><ul
              data-rte-list="default"
            >
              <li>
                <p>
                  Episode: <a
                    href="https://civictech.chat/2021/05/empathy-for-change"
                    >Empathy for change</a
                  ><br />How empathy can be used to challenge the status quo
                  when it comes to civic innovation and technology.
                </p>
                <p data-rte-preserve-empty="true"></p>
              </li>
            </ul>
          </li>
          <li>
            <p>
              <a href="https://thefutureorganization.com/future-work-podcast/">
                <span style="text-decoration:underline"
                  >The Future of Work Podcast</span
                ></a>
            </p><ul data-rte-list="default">
              <li>
                <p>
                  Episode: <a
                    href="https://thefutureorganization.com/how-to-overcome-imposter-syndrome-lead-with-courage-from-the-president-of-microsoft-us/"
                  >
                    <span style="text-decoration:underline"
                      >How to overcome imposter syndrome and lead with courage</span
                    ></a
                  ><br />Becoming a leader is a daunting task, notwithstanding
                  the voices in the back of your head holding you back, how can
                  you bring your passion to the forefront.
                </p>
                <p data-rte-preserve-empty="true"></p>
              </li>
            </ul>
          </li>
          <li>
            <p>
              <a href="https://www.servicedesignshow.com/"
                >The Service Design Show</a>
            </p><ul data-rte-list="default">
              <li>
                <p>
                  Episode: <a href="https://youtu.be/MZdlc6zovi4">
                    <span style="text-decoration:underline"
                      >Designing for the next 7 generations</span
                    ></a
                  >. <br />A YouTube podcast that thinks about service design as
                  thinking ahead for 7 generations.
                </p>
              </li>
            </ul>
          </li>
        </ul>

    <hr />

    <p><strong>Digital Leadership</strong></p>
    <ul data-rte-list="default">
      <li>
        <p>
          <a
            href="https://medium.com/iipp-blog/digital-transformation-is-a-leadership-problem-8c0c97f829ca"
          >
            <span style="text-decoration:underline"
              >Digital transformation is a leadership problem. Mike Bracken, UCL
              Institute for Innovation and Public Purpose</span
            ></a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://www.bcg.com/publications/2018/not-digital-transformation-without-digital-culture"
          >
            <span style="text-decoration:underline"
              >It’s not a digital transformation without a digital culture. BCG</span
            ></a>
        </p>
      </li>
    </ul>
  </main>
</BaseLayout>
