---
import BaseLayout from '../layouts/baseLayout.astro';
import { Content } from './learnMore/learnMore.mdx';
---

<BaseLayout title="Learn More">
  <main>
    <div class="content">
      <Content />
    </div>
  </main>
</BaseLayout>

<style>
  .content {
    padding-left: 2rem;
  }
  .content ul {
    margin-left: 0;
    padding-left: 1em;
  }

  .content li {
    margin-left: 0;
  }
</style>
