---
---

<goa-hero-banner heading="Digital Service Standards" maxcontentwidth="785px">
  <p>
    By aligning to digital service standards, the Government of Alberta
    sets clear expectations on how we will deliver better, faster,
    smarter services.
  </p>
</goa-hero-banner>
