---
import '@abgov/design-tokens/dist/tokens.css';
import '@abgov/web-components-1.20.3/index.css';
import PageLayout from "./Layout/index"


const { hideNav, hideHero } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital standards</title>

		<script type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
	    </script>

		<script nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">
		</script>

		<script>
			const hostName = window.location.hostname;			
			if (hostName === 'digital.gov.ab.ca' || 'digital-standards.digital.gov.ab.ca') {	
				(function () {
					// @ts-ignore
					window.dataLayer = window.dataLayer || [];
					function gtag() {
						// @ts-ignore
						dataLayer.push(arguments);
					}
					// @ts-ignore
					gtag('js', new Date());
					// @ts-ignore
					gtag('config', 'G-XZPW2XSJB8');
					const script = document.createElement('script');
					script.async = true;
					script.src =
						'https://www.googletagmanager.com/gtag/js?id=G-XZPW2XSJB8';
					
					const feedbackscript = document.createElement('script');
					feedbackscript.async = true;
					feedbackscript.src =
					'https://feedback-service.adsp.alberta.ca/feedback/v1/script/adspFeedback.js';		
					document.head.appendChild(feedbackscript);
						
				})();		
			}
			else if (hostName === 'digital-standards-dcp-uat.apps.aro.gov.ab.ca' || hostName === 'localhost') {		
				(function () {
					// @ts-ignore
					window.dataLayer = window.dataLayer || [];
					function gtag() {
						// @ts-ignore
						dataLayer.push(arguments);
					}
					// @ts-ignore
					gtag('js', new Date());
					// @ts-ignore
					gtag('config', 'G-07PN9BK15G');
					const script = document.createElement('script');
					script.async = true;
					script.src =
						'https://www.googletagmanager.com/gtag/js?id=G-07PN9BK15G';
						
					const feedbackscript = document.createElement('script');
					feedbackscript.async = true;
					feedbackscript.src =
					'https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js';
					document.head.appendChild(feedbackscript);
				})();				
			}			
		</script>
	</head>

	<body>
		<PageLayout client:only hideNav={hideNav} hideHero={hideHero}>
			<slot />
		</PageLayout>
	</body>
</html>


<style is:global>
	.line-elements {
		display: flex;
		flex-direction: row;
		gap: var(--goa-space-m);
		color: var(--goa-color-interactive-default);
	}
	.back-top {
		float: right;
	}	
</style>
