---
import Header from '../components/Header';
import Footer from '../components/Footer';
import '@abgov/design-tokens/dist/tokens.css';
import '@abgov/web-components-1.20.3/index.css';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital strategy</title>
		<script
		type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
	  ></script>
	  <script
		nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
	</head>

	<body>
		<Header client:load/>
		<slot />
		<Footer client:load/>
	</body>
</html>

<style is:global>

</style>
