---
import '@abgov/design-tokens/dist/tokens.css';
import '@abgov/web-components-1.20.3/index.css';
import PageLayout from "./Layout/index"


const { hideNav, hideHero } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Digital standards</title>
		
		<!-- <script async src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script> -->

		<script
		type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
	  ></script>
	  <script
		nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
	</head>

	<body>
		<PageLayout client:load hideNav={hideNav} hideHero={hideHero}>
			<slot />
		</PageLayout>
	</body>
</html>


<style is:global>
	.line-elements {
		display: flex;
		flex-direction: row;
		gap: var(--goa-space-m);
		color: var(--goa-color-interactive-default);
	}
	.back-top {
		float: right;
	}	
</style>
