---
---

<goa-side-menu>
  <goa-side-menu-group heading="Digital Service Standards Program">
    <a href="/service-standards/">Digital Service Standards</a>
    <a href="/service-principles/">Digital Service Principles</a>
    <a href="/service-help/">
      How Digital Service Standards team can help
    </a>
    <a href="/service-performance/">Service Performance</a>
    <a href="/service-assessments/">Service Assessments</a>
    <a href="/digital-capabilities/">
      Digital Capability Program
    </a>
  </goa-side-menu-group>
</goa-side-menu>
