.cc-intro {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.tile-wrapper {
  /* border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.tile-wrapper > div {
  /* border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8; */
  padding: 0.5em;
  justify-content: flex-start;
  width: 25%;
  display: flex;
  /* flex: 1; */
  /* color: #d9480f; */
}
