.cc-intro {
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-regular);
  line-height: var(--goa-line-height-3);
}

.tile-wrapper {
  /* border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6; */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tile-wrapper > div {
  /* border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8; */
  padding: 0.5em;
  justify-content: flex-start;
  width: 25%;
  display: flex;
  /* flex: 1; */
  /* color: #d9480f; */
}
#home-title {
  margin-top: var(--goa-space-3xl);
  margin-bottom: var(--goa-space-xs);
}
.last-updated {
  color: var(--goa-color-text-secondary);
  font-size: var(--goa-font-size-3);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-2); 
}
