---
import BaseLayout from '../layouts/layout.astro';
import aboutUsImage from '../img/about-us-graphic.png';
---
<BaseLayout title="About us | Alberta Digital Marketplace" page="About">  

        <main>
      
            <div class="goa-adm-body-header goa-adm-body-full">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">About</li>
                            </ul>
                        </div>
                        <h1>About the Alberta Digital Marketplace</h1>
                    </div>
                    <div class="goa-adm-body-header-graphic">
                        <div class="goa-adm-body-full-side-one"></div>
                        <div class="goa-adm-body-full-middle"></div>
                        <div class="goa-adm-body-full-side-two"></div>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-who-we-are"><!-- CUSTOMIZABLE -->
                        <h2>Who we are</h2>
                        <p>The Alberta Digital Marketplace website is an initiative led by the Outreach team within the Ministry of Technology and Innovation in collaboration with industry partners and other stakeholders. </p>
                        <p>As the Outreach Team, we ease and streamline public sector digital procurement through a user-centred approach.</p>
                    </section>
                    
                    <section class="goa-adm-vision"><!-- CUSTOMIZABLE -->
                        <h2>Our vision</h2>
                        <p>Our vision for the Alberta Digital Marketplace is:</p>
                        <div class="goa-adm-vision-list goa-adm-content-split">
                            <div class="goa-adm-vision-graphic">
                                <img src={aboutUsImage} alt="Illustration of a flower and an up arrow.">
                            </div>
                            <ol>
                                <li>Offer leaner and innovative tendering processes for digital skills, products and services.</li>
                                <li>Foster sustainable and long-term relationships between technology sellers and buyers.</li>
                                <li>Grow Alberta's technology sector and establish Alberta as the most innovative jurisdiction in Canada.</li>
                                <li>Increase interest and investment in Alberta's digital services economy.</li>
                            </ol>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-conclusion"><!-- CUSTOMIZABLE -->
                        <p>While the core focus of the Alberta Digital Marketplace is creating an environment for innovation, connection and growth within the digital sector, it is not the official platform for government procurement. The procurement processes and tasks are carried out and managed on <a href="">Alberta Purchasing Connection.</a></p>
                    </section>
                </div>
            </div>
        </main>
</BaseLayout>