---
import BaseLayout from '../layouts/layout.astro';
import AboutUsPage from './about-us/index';
---

<BaseLayout title="About us | Alberta Digital Marketplace" page="About">  
    <main>
    <AboutUsPage client:load />
    </main>
</BaseLayout>