---
import BaseLayout from '../layouts/layout.astro';
import ChallengePage from './challenge-based-procurement/index';
---

<BaseLayout title="Challenge-based Procurement | Alberta Digital Marketplace" page="Challenge-based Procurement">  
    <main>
    <ChallengePage client:load />
    </main>
</BaseLayout>