---
import BaseLayout from '../layouts/layout.astro';
---

<BaseLayout title="Contact us | Alberta Digital Marketplace" page="Contact">  

        <main>
      
            <div class="goa-adm-body-header goa-adm-body-full">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Contact</li>
                            </ul>
                        </div>
                        <h1>Contact us</h1>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <div class="goa-adm-body-full-side-one"></div>
                        <div class="goa-adm-body-full-middle"></div>
                        <div class="goa-adm-body-full-side-two"></div>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-contact goa-adm-center-aligned"><!-- CUSTOMIZABLE -->
                        <h2>Have questions, concerns or feedback?</h2>
                        <p>We are happy to answer any questions or concerns and open to any feedback to make your experience better.  </p>
                        <p>Reach out to us at <a href="mailto:digital.outreach@gov.ab.ca">digital.outreach@gov.ab.ca</a> and we will get back to you shortly.</p>
                    </section>
                </div>
            </div>
        </main>     
</BaseLayout>