---
import BaseLayout from '../layouts/layout.astro';
import ContactPage from './contact-us/index';
---

<BaseLayout title="Contact us | Alberta Digital Marketplace" page="Contact">
    <main>
    <ContactPage client:load />
    </main>
</BaseLayout>