---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Buyers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Buyers | Alberta Digital Marketplace" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
        
        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/" title="Home" rel="home">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Buyers</li>
                            </ul>
                        </div>
                        <h1>Stay on top of what's ongoing <br/>and upcoming</h1>
                        <p class="lede">Be in the right place at the right time to meet qualified IT businesses and make powerful connections for future collaboration.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="520" height="385" viewBox="0 0 520 385" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M487.904 144C487.904 142.895 488.8 142 489.904 142L491.614 142C492.719 142 493.614 142.895 493.614 144L493.614 144.719C493.614 145.824 492.719 146.719 491.614 146.719L489.904 146.719C488.8 146.719 487.904 145.824 487.904 144.719L487.904 144ZM476.484 144C476.484 142.895 477.38 142 478.484 142L480.194 142C481.299 142 482.194 142.895 482.194 144L482.194 144.719C482.194 145.824 481.299 146.719 480.194 146.719L478.484 146.719C477.38 146.719 476.484 145.824 476.484 144.719L476.484 144ZM465.065 144C465.065 142.895 465.96 142 467.065 142L468.775 142C469.879 142 470.775 142.895 470.775 144L470.775 144.719C470.775 145.824 469.879 146.719 468.775 146.719L467.065 146.719C465.96 146.719 465.065 145.824 465.065 144.719L465.065 144ZM453.645 144C453.645 142.895 454.54 142 455.645 142L457.355 142C458.459 142 459.355 142.895 459.355 144L459.355 144.719C459.355 145.824 458.459 146.719 457.355 146.719L455.645 146.719C454.54 146.719 453.645 145.824 453.645 144.719L453.645 144ZM442.225 144C442.225 142.895 443.121 142 444.225 142L445.935 142C447.04 142 447.935 142.895 447.935 144L447.935 144.719C447.935 145.824 447.04 146.719 445.935 146.719L444.225 146.719C443.121 146.719 442.225 145.824 442.225 144.719L442.225 144ZM430.805 144C430.805 142.895 431.701 142 432.805 142L434.515 142C435.62 142 436.515 142.895 436.515 144L436.515 144.719C436.515 145.824 435.62 146.719 434.515 146.719L432.805 146.719C431.701 146.719 430.805 145.824 430.805 144.719L430.805 144ZM419.386 144C419.386 142.895 420.281 142 421.386 142L423.095 142C424.2 142 425.095 142.895 425.095 144L425.095 144.719C425.095 145.824 424.2 146.719 423.095 146.719L421.386 146.719C420.281 146.719 419.386 145.824 419.386 144.719L419.386 144ZM407.966 144C407.966 142.895 408.861 142 409.966 142L411.676 142C412.78 142 413.676 142.895 413.676 144L413.676 144.719C413.676 145.824 412.78 146.719 411.676 146.719L409.966 146.719C408.861 146.719 407.966 145.824 407.966 144.719L407.966 144ZM396.546 144C396.546 142.895 397.441 142 398.546 142L400.256 142C401.36 142 402.256 142.895 402.256 144L402.256 144.719C402.256 145.824 401.36 146.719 400.256 146.719L398.546 146.719C397.441 146.719 396.546 145.824 396.546 144.719L396.546 144ZM385.126 144C385.126 142.895 386.022 142 387.126 142L388.836 142C389.941 142 390.836 142.895 390.836 144L390.836 144.719C390.836 145.824 389.941 146.719 388.836 146.719L387.126 146.719C386.022 146.719 385.126 145.824 385.126 144.719L385.126 144ZM373.706 144C373.706 142.895 374.602 142 375.706 142L377.416 142C378.521 142 379.416 142.895 379.416 144L379.416 144.719C379.416 145.824 378.521 146.719 377.416 146.719L375.706 146.719C374.602 146.719 373.706 145.824 373.706 144.719L373.706 144ZM362.287 144C362.287 142.895 363.182 142 364.287 142L365.997 142C367.101 142 367.997 142.895 367.997 144L367.997 144.719C367.997 145.824 367.101 146.719 365.997 146.719L364.287 146.719C363.182 146.719 362.287 145.824 362.287 144.719L362.287 144ZM350.867 144C350.867 142.895 351.762 142 352.867 142L354.577 142C355.681 142 356.577 142.895 356.577 144L356.577 144.719C356.577 145.824 355.681 146.719 354.577 146.719L352.867 146.719C351.762 146.719 350.867 145.824 350.867 144.719L350.867 144ZM339.447 144C339.447 142.895 340.343 142 341.447 142L343.157 142C344.262 142 345.157 142.895 345.157 144L345.157 144.719C345.157 145.824 344.262 146.719 343.157 146.719L341.447 146.719C340.343 146.719 339.447 145.824 339.447 144.719L339.447 144ZM328.027 144C328.027 142.895 328.923 142 330.027 142L331.737 142C332.842 142 333.737 142.895 333.737 144L333.737 144.719C333.737 145.824 332.842 146.719 331.737 146.719L330.027 146.719C328.923 146.719 328.027 145.824 328.027 144.719L328.027 144ZM316.608 144C316.608 142.895 317.503 142 318.608 142L320.317 142C321.422 142 322.317 142.895 322.317 144L322.317 144.719C322.317 145.824 321.422 146.719 320.317 146.719L318.608 146.719C317.503 146.719 316.608 145.824 316.608 144.719L316.608 144ZM305.188 144C305.188 142.895 306.083 142 307.188 142L308.898 142C310.002 142 310.898 142.895 310.898 144L310.898 144.719C310.898 145.824 310.002 146.719 308.898 146.719L307.188 146.719C306.083 146.719 305.188 145.824 305.188 144.719L305.188 144ZM293.768 144C293.768 142.895 294.663 142 295.768 142L297.478 142C298.582 142 299.478 142.895 299.478 144L299.478 144.719C299.478 145.824 298.582 146.719 297.478 146.719L295.768 146.719C294.663 146.719 293.768 145.824 293.768 144.719L293.768 144ZM282.348 144C282.348 142.895 283.244 142 284.348 142L286.058 142C287.163 142 288.058 142.895 288.058 144L288.058 144.719C288.058 145.824 287.163 146.719 286.058 146.719L284.348 146.719C283.244 146.719 282.348 145.824 282.348 144.719L282.348 144ZM270.928 144C270.928 142.895 271.824 142 272.928 142L274.638 142C275.743 142 276.638 142.895 276.638 144L276.638 144.719C276.638 145.824 275.743 146.719 274.638 146.719L272.928 146.719C271.824 146.719 270.928 145.824 270.928 144.719L270.928 144ZM259.509 144C259.509 142.895 260.404 142 261.509 142L263.218 142C264.323 142 265.218 142.895 265.218 144L265.218 144.719C265.218 145.824 264.323 146.719 263.218 146.719L261.509 146.719C260.404 146.719 259.509 145.824 259.509 144.719L259.509 144ZM250.944 143.427C250.944 142.639 251.583 142 252.371 142V142C253.16 142 253.799 142.639 253.799 143.427L253.799 145.292C253.799 146.08 253.16 146.719 252.371 146.719V146.719C251.583 146.719 250.944 146.08 250.944 145.292L250.944 143.427Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M454.8 162.861C454.8 161.756 455.695 160.861 456.8 160.861H458.537C459.642 160.861 460.537 161.756 460.537 162.861V163.58C460.537 164.684 459.642 165.58 458.537 165.58H456.8C455.695 165.58 454.8 164.684 454.8 163.58V162.861ZM443.324 162.861C443.324 161.756 444.22 160.861 445.324 160.861H447.062C448.167 160.861 449.062 161.756 449.062 162.861V163.58C449.062 164.684 448.167 165.58 447.062 165.58H445.324C444.22 165.58 443.324 164.684 443.324 163.58V162.861ZM431.849 162.861C431.849 161.756 432.744 160.861 433.849 160.861H435.587C436.691 160.861 437.587 161.756 437.587 162.861V163.58C437.587 164.684 436.691 165.58 435.587 165.58H433.849C432.744 165.58 431.849 164.684 431.849 163.58V162.861ZM420.374 162.861C420.374 161.756 421.269 160.861 422.374 160.861H424.111C425.216 160.861 426.111 161.756 426.111 162.861V163.58C426.111 164.684 425.216 165.58 424.111 165.58H422.374C421.269 165.58 420.374 164.684 420.374 163.58V162.861ZM408.898 162.861C408.898 161.756 409.794 160.861 410.898 160.861H412.636C413.74 160.861 414.636 161.756 414.636 162.861V163.58C414.636 164.684 413.74 165.58 412.636 165.58H410.898C409.794 165.58 408.898 164.684 408.898 163.58V162.861ZM397.423 162.861C397.423 161.756 398.318 160.861 399.423 160.861H401.16C402.265 160.861 403.16 161.756 403.16 162.861V163.58C403.16 164.684 402.265 165.58 401.16 165.58H399.423C398.318 165.58 397.423 164.684 397.423 163.58V162.861ZM385.947 162.861C385.947 161.756 386.843 160.861 387.947 160.861H389.685C390.79 160.861 391.685 161.756 391.685 162.861V163.58C391.685 164.684 390.79 165.58 389.685 165.58H387.947C386.843 165.58 385.947 164.684 385.947 163.58V162.861ZM374.472 162.861C374.472 161.756 375.367 160.861 376.472 160.861H378.21C379.314 160.861 380.21 161.756 380.21 162.861V163.58C380.21 164.684 379.314 165.58 378.21 165.58H376.472C375.367 165.58 374.472 164.684 374.472 163.58V162.861ZM362.997 162.861C362.997 161.756 363.892 160.861 364.997 160.861H366.734C367.839 160.861 368.734 161.756 368.734 162.861V163.58C368.734 164.684 367.839 165.58 366.734 165.58H364.997C363.892 165.58 362.997 164.684 362.997 163.58V162.861ZM351.521 162.861C351.521 161.756 352.417 160.861 353.521 160.861H355.259C356.363 160.861 357.259 161.756 357.259 162.861V163.58C357.259 164.684 356.363 165.58 355.259 165.58H353.521C352.417 165.58 351.521 164.684 351.521 163.58V162.861ZM340.046 162.861C340.046 161.756 340.941 160.861 342.046 160.861H343.784C344.888 160.861 345.784 161.756 345.784 162.861V163.58C345.784 164.684 344.888 165.58 343.784 165.58H342.046C340.941 165.58 340.046 164.684 340.046 163.58V162.861ZM328.57 162.861C328.57 161.756 329.466 160.861 330.57 160.861H332.308C333.413 160.861 334.308 161.756 334.308 162.861V163.58C334.308 164.684 333.413 165.58 332.308 165.58H330.57C329.466 165.58 328.57 164.684 328.57 163.58V162.861ZM317.095 162.861C317.095 161.756 317.991 160.861 319.095 160.861H320.833C321.937 160.861 322.833 161.756 322.833 162.861V163.58C322.833 164.684 321.937 165.58 320.833 165.58H319.095C317.99 165.58 317.095 164.684 317.095 163.58V162.861ZM305.62 162.861C305.62 161.756 306.515 160.861 307.62 160.861H309.357C310.462 160.861 311.357 161.756 311.357 162.861V163.58C311.357 164.684 310.462 165.58 309.357 165.58H307.62C306.515 165.58 305.62 164.684 305.62 163.58V162.861ZM294.144 162.861C294.144 161.756 295.04 160.861 296.144 160.861H297.882C298.987 160.861 299.882 161.756 299.882 162.861V163.58C299.882 164.684 298.987 165.58 297.882 165.58H296.144C295.04 165.58 294.144 164.684 294.144 163.58V162.861ZM282.669 162.861C282.669 161.756 283.564 160.861 284.669 160.861H286.407C287.511 160.861 288.407 161.756 288.407 162.861V163.58C288.407 164.684 287.511 165.58 286.407 165.58H284.669C283.564 165.58 282.669 164.684 282.669 163.58V162.861ZM271.194 162.861C271.194 161.756 272.089 160.861 273.194 160.861H274.931C276.036 160.861 276.931 161.756 276.931 162.861V163.58C276.931 164.684 276.036 165.58 274.931 165.58H273.194C272.089 165.58 271.194 164.684 271.194 163.58V162.861ZM259.718 162.861C259.718 161.756 260.614 160.861 261.718 160.861H263.456C264.56 160.861 265.456 161.756 265.456 162.861V163.58C265.456 164.684 264.56 165.58 263.456 165.58H261.718C260.614 165.58 259.718 164.684 259.718 163.58V162.861ZM251.112 162.295C251.112 161.503 251.754 160.861 252.546 160.861V160.861C253.338 160.861 253.98 161.503 253.98 162.295V164.146C253.98 164.938 253.338 165.58 252.546 165.58V165.58C251.754 165.58 251.112 164.938 251.112 164.146V162.295Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M504.031 203.301C504.031 204.405 503.135 205.301 502.031 205.301L500.343 205.301C499.239 205.301 498.343 204.405 498.343 203.301L498.343 202.581C498.343 201.477 499.239 200.581 500.343 200.581L502.031 200.581C503.135 200.581 504.031 201.477 504.031 202.581L504.031 203.301ZM492.656 203.301C492.656 204.405 491.761 205.301 490.656 205.301L488.969 205.301C487.864 205.301 486.969 204.405 486.969 203.301L486.969 202.581C486.969 201.477 487.864 200.581 488.969 200.581L490.656 200.581C491.761 200.581 492.656 201.477 492.656 202.581L492.656 203.301ZM481.281 203.301C481.281 204.405 480.386 205.301 479.281 205.301L477.594 205.301C476.489 205.301 475.594 204.405 475.594 203.301L475.594 202.581C475.594 201.477 476.489 200.581 477.594 200.581L479.281 200.581C480.386 200.581 481.281 201.477 481.281 202.581L481.281 203.301ZM469.907 203.301C469.907 204.405 469.011 205.301 467.907 205.301L466.219 205.301C465.115 205.301 464.219 204.405 464.219 203.301L464.219 202.581C464.219 201.477 465.115 200.581 466.219 200.581L467.907 200.581C469.011 200.581 469.907 201.477 469.907 202.581L469.907 203.301ZM458.532 203.301C458.532 204.405 457.636 205.301 456.532 205.301L454.845 205.301C453.74 205.301 452.845 204.405 452.845 203.301L452.845 202.581C452.845 201.477 453.74 200.581 454.845 200.581L456.532 200.581C457.636 200.581 458.532 201.477 458.532 202.581L458.532 203.301ZM447.157 203.301C447.157 204.405 446.262 205.301 445.157 205.301L443.47 205.301C442.365 205.301 441.47 204.405 441.47 203.301L441.47 202.581C441.47 201.477 442.365 200.581 443.47 200.581L445.157 200.581C446.262 200.581 447.157 201.477 447.157 202.581L447.157 203.301ZM435.783 203.301C435.783 204.405 434.887 205.301 433.783 205.301L432.095 205.301C430.991 205.301 430.095 204.405 430.095 203.301L430.095 202.581C430.095 201.477 430.991 200.581 432.095 200.581L433.783 200.581C434.887 200.581 435.783 201.477 435.783 202.581L435.783 203.301ZM424.408 203.301C424.408 204.405 423.512 205.301 422.408 205.301L420.721 205.301C419.616 205.301 418.721 204.405 418.721 203.301L418.721 202.581C418.721 201.477 419.616 200.581 420.721 200.581L422.408 200.581C423.512 200.581 424.408 201.477 424.408 202.581L424.408 203.301ZM413.033 203.301C413.033 204.405 412.138 205.301 411.033 205.301L409.346 205.301C408.241 205.301 407.346 204.405 407.346 203.301L407.346 202.581C407.346 201.477 408.241 200.581 409.346 200.581L411.033 200.581C412.138 200.581 413.033 201.477 413.033 202.581L413.033 203.301ZM401.658 203.301C401.658 204.405 400.763 205.301 399.658 205.301L397.971 205.301C396.867 205.301 395.971 204.405 395.971 203.301L395.971 202.581C395.971 201.477 396.867 200.581 397.971 200.581L399.658 200.581C400.763 200.581 401.658 201.477 401.658 202.581L401.658 203.301ZM390.284 203.301C390.284 204.405 389.388 205.301 388.284 205.301L386.596 205.301C385.492 205.301 384.596 204.405 384.596 203.301L384.596 202.581C384.596 201.477 385.492 200.581 386.596 200.581L388.284 200.581C389.388 200.581 390.284 201.477 390.284 202.581L390.284 203.301ZM378.909 203.301C378.909 204.405 378.014 205.301 376.909 205.301L375.222 205.301C374.117 205.301 373.222 204.405 373.222 203.301L373.222 202.581C373.222 201.477 374.117 200.581 375.222 200.581L376.909 200.581C378.014 200.581 378.909 201.477 378.909 202.581L378.909 203.301ZM367.534 203.301C367.534 204.405 366.639 205.301 365.534 205.301L363.847 205.301C362.743 205.301 361.847 204.405 361.847 203.301L361.847 202.581C361.847 201.477 362.743 200.581 363.847 200.581L365.534 200.581C366.639 200.581 367.534 201.477 367.534 202.581L367.534 203.301ZM356.16 203.301C356.16 204.405 355.264 205.301 354.16 205.301L352.472 205.301C351.368 205.301 350.472 204.405 350.472 203.301L350.472 202.581C350.472 201.477 351.368 200.581 352.472 200.581L354.16 200.581C355.264 200.581 356.16 201.477 356.16 202.581L356.16 203.301ZM344.785 203.301C344.785 204.405 343.89 205.301 342.785 205.301L341.098 205.301C339.993 205.301 339.098 204.405 339.098 203.301L339.098 202.581C339.098 201.477 339.993 200.581 341.098 200.581L342.785 200.581C343.89 200.581 344.785 201.477 344.785 202.581L344.785 203.301ZM333.41 203.301C333.41 204.405 332.515 205.301 331.41 205.301L329.723 205.301C328.618 205.301 327.723 204.405 327.723 203.301L327.723 202.581C327.723 201.477 328.618 200.581 329.723 200.581L331.41 200.581C332.515 200.581 333.41 201.477 333.41 202.581L333.41 203.301ZM322.036 203.301C322.036 204.405 321.14 205.301 320.036 205.301L318.348 205.301C317.244 205.301 316.348 204.405 316.348 203.301L316.348 202.581C316.348 201.477 317.244 200.581 318.348 200.581L320.036 200.581C321.14 200.581 322.036 201.477 322.036 202.581L322.036 203.301ZM310.661 203.301C310.661 204.405 309.766 205.301 308.661 205.301L306.974 205.301C305.869 205.301 304.974 204.405 304.974 203.301L304.974 202.581C304.974 201.477 305.869 200.581 306.974 200.581L308.661 200.581C309.766 200.581 310.661 201.477 310.661 202.581L310.661 203.301ZM299.286 203.301C299.286 204.405 298.391 205.301 297.286 205.301L295.599 205.301C294.494 205.301 293.599 204.405 293.599 203.301L293.599 202.581C293.599 201.477 294.494 200.581 295.599 200.581L297.286 200.581C298.391 200.581 299.286 201.477 299.286 202.581L299.286 203.301ZM287.912 203.301C287.912 204.405 287.016 205.301 285.912 205.301L284.224 205.301C283.12 205.301 282.224 204.405 282.224 203.301L282.224 202.581C282.224 201.477 283.12 200.581 284.224 200.581L285.912 200.581C287.016 200.581 287.912 201.477 287.912 202.581L287.912 203.301ZM276.537 203.301C276.537 204.405 275.642 205.301 274.537 205.301L272.85 205.301C271.745 205.301 270.85 204.405 270.85 203.301L270.85 202.581C270.85 201.477 271.745 200.581 272.85 200.581L274.537 200.581C275.642 200.581 276.537 201.477 276.537 202.581L276.537 203.301ZM265.162 203.301C265.162 204.405 264.267 205.301 263.162 205.301L261.475 205.301C260.37 205.301 259.475 204.405 259.475 203.301L259.475 202.581C259.475 201.477 260.37 200.581 261.475 200.581L263.162 200.581C264.267 200.581 265.162 201.477 265.162 202.581L265.162 203.301ZM253.788 203.879C253.788 204.664 253.151 205.301 252.366 205.301V205.301C251.581 205.301 250.944 204.664 250.944 203.879L250.944 202.003C250.944 201.218 251.581 200.581 252.366 200.581V200.581C253.151 200.581 253.788 201.218 253.788 202.003L253.788 203.879Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M519.016 182.943C519.016 184.048 518.12 184.943 517.016 184.943L515.251 184.943C514.146 184.943 513.251 184.048 513.251 182.943L513.251 182.224C513.251 181.12 514.146 180.224 515.251 180.224L517.016 180.224C518.12 180.224 519.016 181.12 519.016 182.224L519.016 182.943ZM507.486 182.943C507.486 184.048 506.59 184.943 505.486 184.943L503.721 184.943C502.616 184.943 501.721 184.048 501.721 182.943L501.721 182.224C501.721 181.12 502.616 180.224 503.721 180.224L505.486 180.224C506.59 180.224 507.486 181.12 507.486 182.224L507.486 182.943ZM495.956 182.943C495.956 184.048 495.06 184.943 493.956 184.943L492.191 184.943C491.086 184.943 490.191 184.048 490.191 182.943L490.191 182.224C490.191 181.12 491.086 180.224 492.191 180.224L493.956 180.224C495.06 180.224 495.956 181.12 495.956 182.224L495.956 182.943ZM484.426 182.943C484.426 184.048 483.53 184.943 482.426 184.943L480.661 184.943C479.556 184.943 478.661 184.048 478.661 182.943L478.661 182.224C478.661 181.12 479.556 180.224 480.661 180.224L482.426 180.224C483.53 180.224 484.426 181.12 484.426 182.224L484.426 182.943ZM472.896 182.943C472.896 184.048 472 184.943 470.896 184.943L469.131 184.943C468.026 184.943 467.131 184.048 467.131 182.943L467.131 182.224C467.131 181.12 468.026 180.224 469.131 180.224L470.896 180.224C472 180.224 472.896 181.12 472.896 182.224L472.896 182.943ZM461.366 182.943C461.366 184.048 460.471 184.943 459.366 184.943L457.601 184.943C456.496 184.943 455.601 184.048 455.601 182.943L455.601 182.224C455.601 181.12 456.496 180.224 457.601 180.224L459.366 180.224C460.471 180.224 461.366 181.12 461.366 182.224L461.366 182.943ZM449.836 182.943C449.836 184.048 448.941 184.943 447.836 184.943L446.071 184.943C444.966 184.943 444.071 184.048 444.071 182.943L444.071 182.224C444.071 181.12 444.966 180.224 446.071 180.224L447.836 180.224C448.941 180.224 449.836 181.12 449.836 182.224L449.836 182.943ZM438.306 182.943C438.306 184.048 437.411 184.943 436.306 184.943L434.541 184.943C433.436 184.943 432.541 184.048 432.541 182.943L432.541 182.224C432.541 181.12 433.436 180.224 434.541 180.224L436.306 180.224C437.411 180.224 438.306 181.12 438.306 182.224L438.306 182.943ZM426.776 182.943C426.776 184.048 425.881 184.943 424.776 184.943L423.011 184.943C421.906 184.943 421.011 184.048 421.011 182.943L421.011 182.224C421.011 181.12 421.906 180.224 423.011 180.224L424.776 180.224C425.881 180.224 426.776 181.12 426.776 182.224L426.776 182.943ZM415.246 182.943C415.246 184.048 414.351 184.943 413.246 184.943L411.481 184.943C410.377 184.943 409.481 184.048 409.481 182.943L409.481 182.224C409.481 181.12 410.377 180.224 411.481 180.224L413.246 180.224C414.351 180.224 415.246 181.12 415.246 182.224L415.246 182.943ZM403.716 182.943C403.716 184.048 402.821 184.943 401.716 184.943L399.951 184.943C398.847 184.943 397.951 184.048 397.951 182.943L397.951 182.224C397.951 181.12 398.847 180.224 399.951 180.224L401.716 180.224C402.821 180.224 403.716 181.12 403.716 182.224L403.716 182.943ZM392.186 182.943C392.186 184.048 391.291 184.943 390.186 184.943L388.421 184.943C387.317 184.943 386.421 184.048 386.421 182.943L386.421 182.224C386.421 181.12 387.317 180.224 388.421 180.224L390.186 180.224C391.291 180.224 392.186 181.12 392.186 182.224L392.186 182.943ZM380.656 182.943C380.656 184.048 379.761 184.943 378.656 184.943L376.891 184.943C375.787 184.943 374.891 184.048 374.891 182.943L374.891 182.224C374.891 181.12 375.787 180.224 376.891 180.224L378.656 180.224C379.761 180.224 380.656 181.12 380.656 182.224L380.656 182.943ZM369.126 182.943C369.126 184.048 368.231 184.943 367.126 184.943L365.361 184.943C364.257 184.943 363.361 184.048 363.361 182.943L363.361 182.224C363.361 181.12 364.257 180.224 365.361 180.224L367.126 180.224C368.231 180.224 369.126 181.12 369.126 182.224L369.126 182.943ZM357.596 182.943C357.596 184.048 356.701 184.943 355.596 184.943L353.831 184.943C352.727 184.943 351.831 184.048 351.831 182.943L351.831 182.224C351.831 181.12 352.727 180.224 353.831 180.224L355.596 180.224C356.701 180.224 357.596 181.12 357.596 182.224L357.596 182.943ZM346.066 182.943C346.066 184.048 345.171 184.943 344.066 184.943L342.301 184.943C341.197 184.943 340.301 184.048 340.301 182.943L340.301 182.224C340.301 181.12 341.197 180.224 342.301 180.224L344.066 180.224C345.171 180.224 346.066 181.12 346.066 182.224L346.066 182.943ZM334.536 182.943C334.536 184.048 333.641 184.943 332.536 184.943L330.771 184.943C329.667 184.943 328.771 184.048 328.771 182.943L328.771 182.224C328.771 181.12 329.667 180.224 330.771 180.224L332.536 180.224C333.641 180.224 334.536 181.12 334.536 182.224L334.536 182.943ZM323.006 182.943C323.006 184.048 322.111 184.943 321.006 184.943L319.241 184.943C318.137 184.943 317.241 184.048 317.241 182.943L317.241 182.224C317.241 181.12 318.137 180.224 319.241 180.224L321.006 180.224C322.111 180.224 323.006 181.12 323.006 182.224L323.006 182.943ZM311.476 182.943C311.476 184.048 310.581 184.943 309.476 184.943L307.711 184.943C306.607 184.943 305.711 184.048 305.711 182.943L305.711 182.224C305.711 181.12 306.607 180.224 307.711 180.224L309.476 180.224C310.581 180.224 311.476 181.12 311.476 182.224L311.476 182.943ZM299.946 182.943C299.946 184.048 299.051 184.943 297.946 184.943L296.181 184.943C295.077 184.943 294.181 184.048 294.181 182.943L294.181 182.224C294.181 181.12 295.077 180.224 296.181 180.224L297.946 180.224C299.051 180.224 299.946 181.12 299.946 182.224L299.946 182.943ZM288.416 182.943C288.416 184.048 287.521 184.943 286.416 184.943L284.651 184.943C283.547 184.943 282.651 184.048 282.651 182.943L282.651 182.224C282.651 181.12 283.547 180.224 284.651 180.224L286.416 180.224C287.521 180.224 288.416 181.12 288.416 182.224L288.416 182.943ZM276.886 182.943C276.886 184.048 275.991 184.943 274.886 184.943L273.121 184.943C272.017 184.943 271.121 184.048 271.121 182.943L271.121 182.224C271.121 181.12 272.017 180.224 273.121 180.224L274.886 180.224C275.991 180.224 276.886 181.12 276.886 182.224L276.886 182.943ZM265.356 182.943C265.356 184.048 264.461 184.943 263.356 184.943L261.591 184.943C260.487 184.943 259.591 184.048 259.591 182.943L259.591 182.224C259.591 181.12 260.487 180.224 261.591 180.224L263.356 180.224C264.461 180.224 265.356 181.12 265.356 182.224L265.356 182.943ZM253.826 183.502C253.826 184.298 253.181 184.943 252.385 184.943V184.943C251.589 184.943 250.944 184.298 250.944 183.502L250.944 181.665C250.944 180.869 251.589 180.224 252.385 180.224V180.224C253.181 180.224 253.826 180.869 253.826 181.665L253.826 183.502Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M487.904 223.887C487.904 222.782 488.8 221.887 489.904 221.887L491.614 221.887C492.719 221.887 493.614 222.782 493.614 223.887L493.614 224.606C493.614 225.711 492.719 226.606 491.614 226.606L489.904 226.606C488.8 226.606 487.904 225.711 487.904 224.606L487.904 223.887ZM476.485 223.887C476.485 222.782 477.38 221.887 478.485 221.887L480.194 221.887C481.299 221.887 482.194 222.782 482.194 223.887L482.194 224.606C482.194 225.711 481.299 226.606 480.194 226.606L478.485 226.606C477.38 226.606 476.485 225.711 476.485 224.606L476.485 223.887ZM465.065 223.887C465.065 222.782 465.96 221.887 467.065 221.887L468.775 221.887C469.879 221.887 470.775 222.782 470.775 223.887L470.775 224.606C470.775 225.711 469.879 226.606 468.775 226.606L467.065 226.606C465.96 226.606 465.065 225.711 465.065 224.606L465.065 223.887ZM453.645 223.887C453.645 222.782 454.54 221.887 455.645 221.887L457.355 221.887C458.459 221.887 459.355 222.782 459.355 223.887L459.355 224.606C459.355 225.711 458.459 226.606 457.355 226.606L455.645 226.606C454.54 226.606 453.645 225.711 453.645 224.606L453.645 223.887ZM442.225 223.887C442.225 222.782 443.121 221.887 444.225 221.887L445.935 221.887C447.04 221.887 447.935 222.782 447.935 223.887L447.935 224.606C447.935 225.711 447.04 226.606 445.935 226.606L444.225 226.606C443.121 226.606 442.225 225.711 442.225 224.606L442.225 223.887ZM430.805 223.887C430.805 222.782 431.701 221.887 432.805 221.887L434.515 221.887C435.62 221.887 436.515 222.782 436.515 223.887L436.515 224.606C436.515 225.711 435.62 226.606 434.515 226.606L432.805 226.606C431.701 226.606 430.805 225.711 430.805 224.606L430.805 223.887ZM419.386 223.887C419.386 222.782 420.281 221.887 421.386 221.887L423.096 221.887C424.2 221.887 425.096 222.782 425.096 223.887L425.096 224.606C425.096 225.711 424.2 226.606 423.096 226.606L421.386 226.606C420.281 226.606 419.386 225.711 419.386 224.606L419.386 223.887ZM407.966 223.887C407.966 222.782 408.861 221.887 409.966 221.887L411.676 221.887C412.78 221.887 413.676 222.782 413.676 223.887L413.676 224.606C413.676 225.711 412.78 226.606 411.676 226.606L409.966 226.606C408.861 226.606 407.966 225.711 407.966 224.606L407.966 223.887ZM396.546 223.887C396.546 222.782 397.442 221.887 398.546 221.887L400.256 221.887C401.361 221.887 402.256 222.782 402.256 223.887L402.256 224.606C402.256 225.711 401.361 226.606 400.256 226.606L398.546 226.606C397.442 226.606 396.546 225.711 396.546 224.606L396.546 223.887ZM385.126 223.887C385.126 222.782 386.022 221.887 387.126 221.887L388.836 221.887C389.941 221.887 390.836 222.782 390.836 223.887L390.836 224.606C390.836 225.711 389.941 226.606 388.836 226.606L387.126 226.606C386.022 226.606 385.126 225.711 385.126 224.606L385.126 223.887ZM373.707 223.887C373.707 222.782 374.602 221.887 375.707 221.887L377.416 221.887C378.521 221.887 379.416 222.782 379.416 223.887L379.416 224.606C379.416 225.711 378.521 226.606 377.416 226.606L375.707 226.606C374.602 226.606 373.707 225.711 373.707 224.606L373.707 223.887ZM362.287 223.887C362.287 222.782 363.182 221.887 364.287 221.887L365.997 221.887C367.101 221.887 367.997 222.782 367.997 223.887L367.997 224.606C367.997 225.711 367.101 226.606 365.997 226.606L364.287 226.606C363.182 226.606 362.287 225.711 362.287 224.606L362.287 223.887ZM350.867 223.887C350.867 222.782 351.762 221.887 352.867 221.887L354.577 221.887C355.681 221.887 356.577 222.782 356.577 223.887L356.577 224.606C356.577 225.711 355.681 226.606 354.577 226.606L352.867 226.606C351.762 226.606 350.867 225.711 350.867 224.606L350.867 223.887ZM339.447 223.887C339.447 222.782 340.343 221.887 341.447 221.887L343.157 221.887C344.262 221.887 345.157 222.782 345.157 223.887L345.157 224.606C345.157 225.711 344.262 226.606 343.157 226.606L341.447 226.606C340.343 226.606 339.447 225.711 339.447 224.606L339.447 223.887ZM328.027 223.887C328.027 222.782 328.923 221.887 330.027 221.887L331.737 221.887C332.842 221.887 333.737 222.782 333.737 223.887L333.737 224.606C333.737 225.711 332.842 226.606 331.737 226.606L330.027 226.606C328.923 226.606 328.027 225.711 328.027 224.606L328.027 223.887ZM316.608 223.887C316.608 222.782 317.503 221.887 318.608 221.887L320.318 221.887C321.422 221.887 322.318 222.782 322.318 223.887L322.318 224.606C322.318 225.711 321.422 226.606 320.318 226.606L318.608 226.606C317.503 226.606 316.608 225.711 316.608 224.606L316.608 223.887ZM305.188 223.887C305.188 222.782 306.083 221.887 307.188 221.887L308.898 221.887C310.002 221.887 310.898 222.782 310.898 223.887L310.898 224.606C310.898 225.711 310.002 226.606 308.898 226.606L307.188 226.606C306.083 226.606 305.188 225.711 305.188 224.606L305.188 223.887ZM293.768 223.887C293.768 222.782 294.663 221.887 295.768 221.887L297.478 221.887C298.582 221.887 299.478 222.782 299.478 223.887L299.478 224.606C299.478 225.711 298.582 226.606 297.478 226.606L295.768 226.606C294.663 226.606 293.768 225.711 293.768 224.606L293.768 223.887ZM282.348 223.887C282.348 222.782 283.244 221.887 284.348 221.887L286.058 221.887C287.163 221.887 288.058 222.782 288.058 223.887L288.058 224.606C288.058 225.711 287.163 226.606 286.058 226.606L284.348 226.606C283.244 226.606 282.348 225.711 282.348 224.606L282.348 223.887ZM270.928 223.887C270.928 222.782 271.824 221.887 272.928 221.887L274.638 221.887C275.743 221.887 276.638 222.782 276.638 223.887L276.638 224.606C276.638 225.711 275.743 226.606 274.638 226.606L272.928 226.606C271.824 226.606 270.928 225.711 270.928 224.606L270.928 223.887ZM259.509 223.887C259.509 222.782 260.404 221.887 261.509 221.887L263.219 221.887C264.323 221.887 265.219 222.782 265.219 223.887L265.219 224.606C265.219 225.711 264.323 226.606 263.219 226.606L261.509 226.606C260.404 226.606 259.509 225.711 259.509 224.606L259.509 223.887ZM250.944 223.314C250.944 222.526 251.583 221.887 252.371 221.887V221.887C253.16 221.887 253.799 222.526 253.799 223.314L253.799 225.179C253.799 225.967 253.16 226.606 252.371 226.606V226.606C251.583 226.606 250.944 225.967 250.944 225.179L250.944 223.314Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M496.567 244.033C496.567 242.928 497.463 242.033 498.567 242.033H500.21C501.314 242.033 502.21 242.928 502.21 244.033V244.752C502.21 245.857 501.314 246.752 500.21 246.752H498.567C497.463 246.752 496.567 245.857 496.567 244.752V244.033ZM485.282 244.033C485.282 242.928 486.177 242.033 487.282 242.033H488.925C490.029 242.033 490.925 242.928 490.925 244.033V244.752C490.925 245.857 490.029 246.752 488.925 246.752H487.282C486.177 246.752 485.282 245.857 485.282 244.752V244.033ZM473.997 244.033C473.997 242.928 474.892 242.033 475.997 242.033H477.639C478.744 242.033 479.639 242.928 479.639 244.033V244.752C479.639 245.857 478.744 246.752 477.639 246.752H475.997C474.892 246.752 473.997 245.857 473.997 244.752V244.033ZM462.711 244.033C462.711 242.928 463.607 242.033 464.711 242.033H466.354C467.458 242.033 468.354 242.928 468.354 244.033V244.752C468.354 245.857 467.458 246.752 466.354 246.752H464.711C463.607 246.752 462.711 245.857 462.711 244.752V244.033ZM451.426 244.033C451.426 242.928 452.321 242.033 453.426 242.033H455.069C456.173 242.033 457.069 242.928 457.069 244.033V244.752C457.069 245.857 456.173 246.752 455.069 246.752H453.426C452.321 246.752 451.426 245.857 451.426 244.752V244.033ZM440.141 244.033C440.141 242.928 441.036 242.033 442.141 242.033H443.783C444.888 242.033 445.783 242.928 445.783 244.033V244.752C445.783 245.857 444.888 246.752 443.783 246.752H442.141C441.036 246.752 440.141 245.857 440.141 244.752V244.033ZM428.855 244.033C428.855 242.928 429.751 242.033 430.855 242.033H432.498C433.603 242.033 434.498 242.928 434.498 244.033V244.752C434.498 245.857 433.603 246.752 432.498 246.752H430.855C429.751 246.752 428.855 245.857 428.855 244.752V244.033ZM417.57 244.033C417.57 242.928 418.465 242.033 419.57 242.033H421.213C422.317 242.033 423.213 242.928 423.213 244.033V244.752C423.213 245.857 422.317 246.752 421.213 246.752H419.57C418.465 246.752 417.57 245.857 417.57 244.752V244.033ZM406.285 244.033C406.285 242.928 407.18 242.033 408.285 242.033H409.927C411.032 242.033 411.927 242.928 411.927 244.033V244.752C411.927 245.857 411.032 246.752 409.927 246.752H408.285C407.18 246.752 406.285 245.857 406.285 244.752V244.033ZM394.999 244.033C394.999 242.928 395.895 242.033 396.999 242.033H398.642C399.747 242.033 400.642 242.928 400.642 244.033V244.752C400.642 245.857 399.747 246.752 398.642 246.752H396.999C395.895 246.752 394.999 245.857 394.999 244.752V244.033ZM383.714 244.033C383.714 242.928 384.609 242.033 385.714 242.033H387.357C388.461 242.033 389.357 242.928 389.357 244.033V244.752C389.357 245.857 388.461 246.752 387.357 246.752H385.714C384.609 246.752 383.714 245.857 383.714 244.752V244.033ZM372.429 244.033C372.429 242.928 373.324 242.033 374.429 242.033H376.071C377.176 242.033 378.071 242.928 378.071 244.033V244.752C378.071 245.857 377.176 246.752 376.071 246.752H374.429C373.324 246.752 372.429 245.857 372.429 244.752V244.033ZM361.143 244.033C361.143 242.928 362.039 242.033 363.143 242.033H364.786C365.891 242.033 366.786 242.928 366.786 244.033V244.752C366.786 245.857 365.891 246.752 364.786 246.752H363.143C362.039 246.752 361.143 245.857 361.143 244.752V244.033ZM349.858 244.033C349.858 242.928 350.754 242.033 351.858 242.033H353.501C354.605 242.033 355.501 242.928 355.501 244.033V244.752C355.501 245.857 354.605 246.752 353.501 246.752H351.858C350.754 246.752 349.858 245.857 349.858 244.752V244.033ZM338.573 244.033C338.573 242.928 339.468 242.033 340.573 242.033H342.215C343.32 242.033 344.215 242.928 344.215 244.033V244.752C344.215 245.857 343.32 246.752 342.215 246.752H340.573C339.468 246.752 338.573 245.857 338.573 244.752V244.033ZM327.288 244.033C327.288 242.928 328.183 242.033 329.288 242.033H330.93C332.035 242.033 332.93 242.928 332.93 244.033V244.752C332.93 245.857 332.035 246.752 330.93 246.752H329.288C328.183 246.752 327.288 245.857 327.288 244.752V244.033ZM316.002 244.033C316.002 242.928 316.898 242.033 318.002 242.033H319.645C320.749 242.033 321.645 242.928 321.645 244.033V244.752C321.645 245.857 320.749 246.752 319.645 246.752H318.002C316.898 246.752 316.002 245.857 316.002 244.752V244.033ZM304.717 244.033C304.717 242.928 305.612 242.033 306.717 242.033H308.36C309.464 242.033 310.36 242.928 310.36 244.033V244.752C310.36 245.857 309.464 246.752 308.36 246.752H306.717C305.612 246.752 304.717 245.857 304.717 244.752V244.033ZM293.432 244.033C293.432 242.928 294.327 242.033 295.432 242.033H297.074C298.179 242.033 299.074 242.928 299.074 244.033V244.752C299.074 245.857 298.179 246.752 297.074 246.752H295.432C294.327 246.752 293.432 245.857 293.432 244.752V244.033ZM282.146 244.033C282.146 242.928 283.042 242.033 284.146 242.033H285.789C286.894 242.033 287.789 242.928 287.789 244.033V244.752C287.789 245.857 286.894 246.752 285.789 246.752H284.146C283.042 246.752 282.146 245.857 282.146 244.752V244.033ZM270.861 244.033C270.861 242.928 271.756 242.033 272.861 242.033H274.504C275.608 242.033 276.504 242.928 276.504 244.033V244.752C276.504 245.857 275.608 246.752 274.504 246.752H272.861C271.756 246.752 270.861 245.857 270.861 244.752V244.033ZM259.576 244.033C259.576 242.928 260.471 242.033 261.576 242.033H263.218C264.323 242.033 265.218 242.928 265.218 244.033V244.752C265.218 245.857 264.323 246.752 263.218 246.752H261.576C260.471 246.752 259.576 245.857 259.576 244.752V244.033ZM251.112 243.443C251.112 242.664 251.743 242.033 252.522 242.033V242.033C253.301 242.033 253.933 242.664 253.933 243.443V245.341C253.933 246.12 253.301 246.752 252.522 246.752V246.752C251.743 246.752 251.112 246.12 251.112 245.341V243.443Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M486.96 287.939C486.96 286.834 487.856 285.939 488.96 285.939L490.67 285.939C491.775 285.939 492.67 286.834 492.67 287.939L492.67 288.658C492.67 289.763 491.775 290.658 490.67 290.658L488.96 290.658C487.856 290.658 486.96 289.763 486.96 288.658L486.96 287.939ZM475.541 287.939C475.541 286.834 476.436 285.939 477.541 285.939L479.251 285.939C480.355 285.939 481.251 286.834 481.251 287.939L481.251 288.658C481.251 289.763 480.355 290.658 479.251 290.658L477.541 290.658C476.436 290.658 475.541 289.763 475.541 288.658L475.541 287.939ZM464.121 287.939C464.121 286.834 465.016 285.939 466.121 285.939L467.831 285.939C468.935 285.939 469.831 286.834 469.831 287.939L469.831 288.658C469.831 289.763 468.935 290.658 467.831 290.658L466.121 290.658C465.016 290.658 464.121 289.763 464.121 288.658L464.121 287.939ZM452.701 287.939C452.701 286.834 453.596 285.939 454.701 285.939L456.411 285.939C457.516 285.939 458.411 286.834 458.411 287.939L458.411 288.658C458.411 289.763 457.516 290.658 456.411 290.658L454.701 290.658C453.596 290.658 452.701 289.763 452.701 288.658L452.701 287.939ZM441.281 287.939C441.281 286.834 442.177 285.939 443.281 285.939L444.991 285.939C446.096 285.939 446.991 286.834 446.991 287.939L446.991 288.658C446.991 289.763 446.096 290.658 444.991 290.658L443.281 290.658C442.177 290.658 441.281 289.763 441.281 288.658L441.281 287.939ZM429.862 287.939C429.862 286.834 430.757 285.939 431.862 285.939L433.571 285.939C434.676 285.939 435.571 286.834 435.571 287.939L435.571 288.658C435.571 289.763 434.676 290.658 433.571 290.658L431.862 290.658C430.757 290.658 429.862 289.763 429.862 288.658L429.862 287.939ZM418.442 287.939C418.442 286.834 419.337 285.939 420.442 285.939L422.152 285.939C423.256 285.939 424.152 286.834 424.152 287.939L424.152 288.658C424.152 289.763 423.256 290.658 422.152 290.658L420.442 290.658C419.337 290.658 418.442 289.763 418.442 288.658L418.442 287.939ZM407.022 287.939C407.022 286.834 407.917 285.939 409.022 285.939L410.732 285.939C411.836 285.939 412.732 286.834 412.732 287.939L412.732 288.658C412.732 289.763 411.836 290.658 410.732 290.658L409.022 290.658C407.917 290.658 407.022 289.763 407.022 288.658L407.022 287.939ZM395.602 287.939C395.602 286.834 396.498 285.939 397.602 285.939L399.312 285.939C400.417 285.939 401.312 286.834 401.312 287.939L401.312 288.658C401.312 289.763 400.417 290.658 399.312 290.658L397.602 290.658C396.498 290.658 395.602 289.763 395.602 288.658L395.602 287.939ZM384.182 287.939C384.182 286.834 385.078 285.939 386.182 285.939L387.892 285.939C388.997 285.939 389.892 286.834 389.892 287.939L389.892 288.658C389.892 289.763 388.997 290.658 387.892 290.658L386.182 290.658C385.078 290.658 384.182 289.763 384.182 288.658L384.182 287.939ZM372.763 287.939C372.763 286.834 373.658 285.939 374.763 285.939L376.473 285.939C377.577 285.939 378.473 286.834 378.473 287.939L378.473 288.658C378.473 289.763 377.577 290.658 376.473 290.658L374.763 290.658C373.658 290.658 372.763 289.763 372.763 288.658L372.763 287.939ZM361.343 287.939C361.343 286.834 362.238 285.939 363.343 285.939L365.053 285.939C366.157 285.939 367.053 286.834 367.053 287.939L367.053 288.658C367.053 289.763 366.157 290.658 365.053 290.658L363.343 290.658C362.238 290.658 361.343 289.763 361.343 288.658L361.343 287.939ZM349.923 287.939C349.923 286.834 350.818 285.939 351.923 285.939L353.633 285.939C354.737 285.939 355.633 286.834 355.633 287.939L355.633 288.658C355.633 289.763 354.737 290.658 353.633 290.658L351.923 290.658C350.818 290.658 349.923 289.763 349.923 288.658L349.923 287.939ZM338.503 287.939C338.503 286.834 339.399 285.939 340.503 285.939L342.213 285.939C343.318 285.939 344.213 286.834 344.213 287.939L344.213 288.658C344.213 289.763 343.318 290.658 342.213 290.658L340.503 290.658C339.399 290.658 338.503 289.763 338.503 288.658L338.503 287.939ZM327.083 287.939C327.083 286.834 327.979 285.939 329.083 285.939L330.793 285.939C331.898 285.939 332.793 286.834 332.793 287.939L332.793 288.658C332.793 289.763 331.898 290.658 330.793 290.658L329.083 290.658C327.979 290.658 327.083 289.763 327.083 288.658L327.083 287.939ZM315.664 287.939C315.664 286.834 316.559 285.939 317.664 285.939L319.374 285.939C320.478 285.939 321.374 286.834 321.374 287.939L321.374 288.658C321.374 289.763 320.478 290.658 319.374 290.658L317.664 290.658C316.559 290.658 315.664 289.763 315.664 288.658L315.664 287.939ZM304.244 287.939C304.244 286.834 305.139 285.939 306.244 285.939L307.954 285.939C309.058 285.939 309.954 286.834 309.954 287.939L309.954 288.658C309.954 289.763 309.058 290.658 307.954 290.658L306.244 290.658C305.139 290.658 304.244 289.763 304.244 288.658L304.244 287.939ZM292.824 287.939C292.824 286.834 293.719 285.939 294.824 285.939L296.534 285.939C297.639 285.939 298.534 286.834 298.534 287.939L298.534 288.658C298.534 289.763 297.639 290.658 296.534 290.658L294.824 290.658C293.719 290.658 292.824 289.763 292.824 288.658L292.824 287.939ZM281.404 287.939C281.404 286.834 282.3 285.939 283.404 285.939L285.114 285.939C286.219 285.939 287.114 286.834 287.114 287.939L287.114 288.658C287.114 289.763 286.219 290.658 285.114 290.658L283.404 290.658C282.3 290.658 281.404 289.763 281.404 288.658L281.404 287.939ZM269.984 287.939C269.984 286.834 270.88 285.939 271.984 285.939L273.694 285.939C274.799 285.939 275.694 286.834 275.694 287.939L275.694 288.658C275.694 289.763 274.799 290.658 273.694 290.658L271.984 290.658C270.88 290.658 269.984 289.763 269.984 288.658L269.984 287.939ZM258.565 287.939C258.565 286.834 259.46 285.939 260.565 285.939L262.275 285.939C263.379 285.939 264.275 286.834 264.275 287.939L264.275 288.658C264.275 289.763 263.379 290.658 262.275 290.658L260.565 290.658C259.46 290.658 258.565 289.763 258.565 288.658L258.565 287.939ZM250 287.366C250 286.578 250.639 285.939 251.427 285.939V285.939C252.216 285.939 252.855 286.578 252.855 287.366L252.855 289.231C252.855 290.019 252.216 290.658 251.427 290.658V290.658C250.639 290.658 250 290.019 250 289.231L250 287.366Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M472.772 267.436C472.772 268.54 471.876 269.436 470.772 269.436L469.01 269.436C467.905 269.436 467.01 268.54 467.01 267.436L467.01 266.716C467.01 265.612 467.905 264.716 469.01 264.716L470.772 264.716C471.876 264.716 472.772 265.612 472.772 266.716L472.772 267.436ZM461.248 267.436C461.248 268.54 460.353 269.436 459.248 269.436L457.486 269.436C456.382 269.436 455.486 268.54 455.486 267.436L455.486 266.716C455.486 265.612 456.382 264.716 457.486 264.716L459.248 264.716C460.353 264.716 461.248 265.612 461.248 266.716L461.248 267.436ZM449.725 267.436C449.725 268.54 448.829 269.436 447.725 269.436L445.963 269.436C444.858 269.436 443.963 268.54 443.963 267.436L443.963 266.716C443.963 265.612 444.858 264.716 445.963 264.716L447.725 264.716C448.829 264.716 449.725 265.612 449.725 266.716L449.725 267.436ZM438.201 267.436C438.201 268.54 437.306 269.436 436.201 269.436L434.439 269.436C433.335 269.436 432.439 268.54 432.439 267.436L432.439 266.716C432.439 265.612 433.335 264.716 434.439 264.716L436.201 264.716C437.306 264.716 438.201 265.612 438.201 266.716L438.201 267.436ZM426.678 267.436C426.678 268.54 425.782 269.436 424.678 269.436L422.916 269.436C421.811 269.436 420.916 268.54 420.916 267.436L420.916 266.716C420.916 265.612 421.811 264.716 422.916 264.716L424.678 264.716C425.782 264.716 426.678 265.612 426.678 266.716L426.678 267.436ZM415.154 267.436C415.154 268.54 414.259 269.436 413.154 269.436L411.392 269.436C410.288 269.436 409.392 268.54 409.392 267.436L409.392 266.716C409.392 265.612 410.288 264.716 411.392 264.716L413.154 264.716C414.259 264.716 415.154 265.612 415.154 266.716L415.154 267.436ZM403.63 267.436C403.63 268.54 402.735 269.436 401.63 269.436L399.869 269.436C398.764 269.436 397.869 268.54 397.869 267.436L397.869 266.716C397.869 265.612 398.764 264.716 399.869 264.716L401.63 264.716C402.735 264.716 403.63 265.612 403.63 266.716L403.63 267.436ZM392.107 267.436C392.107 268.54 391.212 269.436 390.107 269.436L388.345 269.436C387.241 269.436 386.345 268.54 386.345 267.436L386.345 266.716C386.345 265.612 387.241 264.716 388.345 264.716L390.107 264.716C391.212 264.716 392.107 265.612 392.107 266.716L392.107 267.436ZM380.583 267.436C380.583 268.54 379.688 269.436 378.583 269.436L376.822 269.436C375.717 269.436 374.822 268.54 374.822 267.436L374.822 266.716C374.822 265.612 375.717 264.716 376.822 264.716L378.583 264.716C379.688 264.716 380.583 265.612 380.583 266.716L380.583 267.436ZM369.06 267.436C369.06 268.54 368.165 269.436 367.06 269.436L365.298 269.436C364.194 269.436 363.298 268.54 363.298 267.436L363.298 266.716C363.298 265.612 364.194 264.716 365.298 264.716L367.06 264.716C368.165 264.716 369.06 265.612 369.06 266.716L369.06 267.436ZM357.536 267.436C357.536 268.54 356.641 269.436 355.536 269.436L353.775 269.436C352.67 269.436 351.775 268.54 351.775 267.436L351.775 266.716C351.775 265.612 352.67 264.716 353.775 264.716L355.536 264.716C356.641 264.716 357.536 265.612 357.536 266.716L357.536 267.436ZM346.013 267.436C346.013 268.54 345.118 269.436 344.013 269.436L342.251 269.436C341.147 269.436 340.251 268.54 340.251 267.436L340.251 266.716C340.251 265.612 341.147 264.716 342.251 264.716L344.013 264.716C345.118 264.716 346.013 265.612 346.013 266.716L346.013 267.436ZM334.489 267.436C334.489 268.54 333.594 269.436 332.489 269.436L330.728 269.436C329.623 269.436 328.728 268.54 328.728 267.436L328.728 266.716C328.728 265.612 329.623 264.716 330.728 264.716L332.489 264.716C333.594 264.716 334.489 265.612 334.489 266.716L334.489 267.436ZM322.966 267.436C322.966 268.54 322.071 269.436 320.966 269.436L319.204 269.436C318.1 269.436 317.204 268.54 317.204 267.436L317.204 266.716C317.204 265.612 318.1 264.716 319.204 264.716L320.966 264.716C322.071 264.716 322.966 265.612 322.966 266.716L322.966 267.436ZM311.442 267.436C311.442 268.54 310.547 269.436 309.442 269.436L307.681 269.436C306.576 269.436 305.681 268.54 305.681 267.436L305.681 266.716C305.681 265.612 306.576 264.716 307.681 264.716L309.442 264.716C310.547 264.716 311.442 265.612 311.442 266.716L311.442 267.436ZM299.919 267.436C299.919 268.54 299.024 269.436 297.919 269.436L296.157 269.436C295.053 269.436 294.157 268.54 294.157 267.436L294.157 266.716C294.157 265.612 295.053 264.716 296.157 264.716L297.919 264.716C299.024 264.716 299.919 265.612 299.919 266.716L299.919 267.436ZM288.395 267.436C288.395 268.54 287.5 269.436 286.395 269.436L284.634 269.436C283.529 269.436 282.634 268.54 282.634 267.436L282.634 266.716C282.634 265.612 283.529 264.716 284.634 264.716L286.395 264.716C287.5 264.716 288.395 265.612 288.395 266.716L288.395 267.436ZM276.872 267.436C276.872 268.54 275.976 269.436 274.872 269.436L273.11 269.436C272.006 269.436 271.11 268.54 271.11 267.436L271.11 266.716C271.11 265.612 272.006 264.716 273.11 264.716L274.872 264.716C275.976 264.716 276.872 265.612 276.872 266.716L276.872 267.436ZM265.348 267.436C265.348 268.54 264.453 269.436 263.348 269.436L261.587 269.436C260.482 269.436 259.587 268.54 259.587 267.436L259.587 266.716C259.587 265.612 260.482 264.716 261.587 264.716L263.348 264.716C264.453 264.716 265.348 265.612 265.348 266.716L265.348 267.436ZM253.825 267.995C253.825 268.791 253.18 269.436 252.384 269.436V269.436C251.589 269.436 250.944 268.791 250.944 267.995L250.944 266.157C250.944 265.361 251.589 264.716 252.384 264.716V264.716C253.18 264.716 253.825 265.361 253.825 266.157L253.825 267.995Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M139.177 39.5142L140.876 62.5591L123.935 63.8121L122.146 39.5563C121.505 30.8623 128.029 23.2935 136.717 22.6509L157.596 21.1066C166.284 20.464 173.847 26.9909 174.488 35.6849L176.277 59.9407L159.336 61.1938L157.636 38.1489L139.177 39.5142Z" fill="#005072"/>
                            <path d="M95.7992 64.7041C95.4047 59.3541 99.419 54.6965 104.765 54.3011L206.237 46.7961C211.583 46.4007 216.237 50.4171 216.632 55.7671L219.874 99.7308C220.269 105.081 216.254 109.738 210.908 110.134L109.436 117.639C104.09 118.034 99.436 114.018 99.0415 108.668L95.7992 64.7041Z" fill="#0081A2"/>
                            <path d="M268.857 21.7871C274.204 21.3916 278.858 25.4083 279.253 30.7586L286.979 135.532C287.374 140.883 283.359 145.54 278.013 145.936L203.664 151.435C198.317 151.83 193.663 147.814 193.268 142.463L185.542 37.6897C185.147 32.3394 189.162 27.6816 194.508 27.2861L268.857 21.7871Z" fill="#40CE97"/>
                            <path d="M166.819 287.906C167.902 302.599 157.188 315.367 142.887 316.424C128.587 317.482 116.116 306.429 115.032 291.737C113.949 277.044 124.663 264.276 138.964 263.218C153.264 262.161 165.735 273.214 166.819 287.906Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M141.637 299.471C146.163 299.137 150.302 294.913 149.877 289.159C149.453 283.406 144.74 279.837 140.214 280.171C135.688 280.506 131.549 284.73 131.974 290.484C132.398 296.237 137.111 299.806 141.637 299.471ZM142.887 316.424C157.188 315.367 167.902 302.599 166.819 287.906C165.735 273.214 153.264 262.161 138.964 263.218C124.663 264.276 113.949 277.044 115.032 291.737C116.116 306.429 128.587 317.482 142.887 316.424Z" fill="#005072"/>
                            <path d="M292.58 278.611C293.664 293.303 282.949 306.071 268.649 307.129C254.348 308.187 241.877 297.134 240.793 282.441C239.71 267.749 250.424 254.981 264.725 253.923C279.025 252.865 291.497 263.918 292.58 278.611Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M267.398 290.176C271.924 289.841 276.063 285.617 275.639 279.864C275.214 274.11 270.501 270.541 265.975 270.876C261.449 271.211 257.31 275.435 257.735 281.188C258.159 286.942 262.872 290.511 267.398 290.176ZM268.649 307.129C282.949 306.071 293.664 293.303 292.58 278.611C291.497 263.918 279.025 252.865 264.725 253.923C250.424 254.981 239.71 267.749 240.793 282.441C241.877 297.134 254.348 308.187 268.649 307.129Z" fill="#005072"/>
                            <path d="M307.994 84.9139L81.9191 101.635C77.1715 101.986 74.0321 106.727 75.5598 111.239L118.148 237.005C119.273 240.328 122.605 242.376 126.076 241.877L297.253 217.288C300.556 216.814 303.113 214.154 303.46 210.833L315.77 92.9355C316.242 88.4209 312.517 84.5793 307.994 84.9139Z" fill="#00B6ED"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M147.296 124.154C151.975 123.808 156.048 127.322 156.393 132.004L159.944 180.145C160.289 184.826 156.776 188.902 152.097 189.248C147.418 189.594 143.346 186.079 143 181.398L139.45 133.257C139.105 128.575 142.618 124.5 147.296 124.154Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M204.012 119.961C208.691 119.615 212.764 123.13 213.109 127.812L216.66 175.952C217.005 180.634 213.492 184.71 208.813 185.056C204.134 185.402 200.061 181.887 199.716 177.205L196.166 129.065C195.82 124.383 199.333 120.307 204.012 119.961Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M258.262 115.952C262.941 115.606 267.014 119.12 267.359 123.802L270.91 171.943C271.255 176.624 267.742 180.7 263.063 181.046C258.384 181.392 254.311 177.877 253.966 173.196L250.416 125.055C250.07 120.374 253.583 116.298 258.262 115.952Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.623406 32.7107C0.278164 28.0292 3.79077 23.9536 8.46903 23.6076L41.1407 21.1911C48.2413 20.6659 54.8127 24.9657 57.1791 31.6852L131.154 241.743L116.272 242.844C110.113 243.3 105.489 248.665 105.943 254.828C106.398 260.991 111.759 265.618 117.917 265.162L264.753 254.302L266.004 271.255L119.168 282.115C103.652 283.263 90.1466 271.607 89.0016 256.081C88.0358 242.985 96.1732 231.318 108.055 227.299L41.4656 38.2126L9.71926 40.5607C5.041 40.9067 0.968647 37.3921 0.623406 32.7107Z" fill="#005072"/>
                            <g opacity="0.8" filter="url(#filter0_f_873_18043)">
                            <ellipse cx="195.5" cy="341" rx="97.5" ry="14" fill="#D9D9D9"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_873_18043" x="68" y="297" width="255" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_873_18043"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a buyer</h2>
                        <ul>
                            <li>Attend vendor showcases, stakeholder engagements and specialized programs for buyers to explore digital capabilities and strengths of various technology sellers.</li>
                            <li>Get exposure to potential suppliers in the industry and build genuine relationships.</li>
                            <li>Collaborate with us on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                            <li>Know what to invest in ahead of time to make informed procurement decisions in the future.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your outsourcing needs.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about events and specialized programs.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Buyer sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org-name">Organization name <span class="required">*</span></label>
                                        <input id="org-name" name="org-name" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter your organization name</strong>
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">State your role within organization</strong>
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="first-name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="last-name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                            <strong class="error form-item--error-message">Enter your full name</strong>
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter in a valid email</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Organization type <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="goa" name="org-type" value="goa" type="radio"><label for="goa">Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="muni-aca-school" name="org-type" value="muni-aca-school" type="radio"><label for="muni-aca-school">Municipalities, Academic Institutions, School Boards and Health Organization  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="abcs" name="org-type" value="abcs" type="radio"><label for="abcs">Agencies, Boards and Commissions  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="crown" name="org-type" value="crown" type="radio"><label for="crown">CROWN (Provincial Corporations)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="indig" name="org-type" value="indig" type="radio"><label for="indig">INDIG (Indigenous Communities)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other-org" name="org-type" value="other-org" type="radio"><label for="other-org">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an organization type</strong>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value=""  aria-required="false">
                                        <strong class="error form-item--error-message">Enter a valid website URL</strong>
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter the location of your head office</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="tech-buyer" name="interest" type="radio"><label for="tech-buyer">I am a tech buyer </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="work-with-start-ups" name="interest" type="radio"><label for="work-with-start-ups">I work with tech start-ups or other vendors </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="interest" value="other" type="radio"><label for="other">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an option</strong>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>