---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Suppliers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Page title" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About us</a></li>
                                <li><a href="/for-buyers/">Buyers</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Suppliers</li>
                            </ul>
                        </div>
                        <h1>Maximize your impact in the public sector</h1>
                        <p class="lede">Be the first to know about government initiatives, community engagements, programs and events.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        
                        <svg width="567" height="427" viewBox="0 0 567 427" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M554 245.059C554 245.887 553.328 246.559 552.5 246.559L551.009 246.559C550.181 246.559 549.509 245.887 549.509 245.059V245.059C549.509 244.23 550.181 243.559 551.009 243.559L552.5 243.559C553.328 243.559 554 244.23 554 245.059ZM537.547 245.059C537.547 244.23 538.219 243.559 539.047 243.559L542.028 243.559C542.857 243.559 543.528 244.23 543.528 245.059V245.059C543.528 245.887 542.857 246.559 542.028 246.559L539.047 246.559C538.219 246.559 537.547 245.887 537.547 245.059V245.059ZM525.585 245.059C525.585 244.23 526.256 243.559 527.085 243.559L530.066 243.559C530.894 243.559 531.566 244.23 531.566 245.059V245.059C531.566 245.887 530.894 246.559 530.066 246.559L527.085 246.559C526.256 246.559 525.585 245.887 525.585 245.059V245.059ZM513.622 245.059C513.622 244.23 514.294 243.559 515.122 243.559L518.103 243.559C518.932 243.559 519.603 244.23 519.603 245.059V245.059C519.603 245.887 518.932 246.559 518.103 246.559L515.122 246.559C514.294 246.559 513.622 245.887 513.622 245.059V245.059ZM501.66 245.059C501.66 244.23 502.331 243.559 503.16 243.559L506.141 243.559C506.969 243.559 507.641 244.23 507.641 245.059V245.059C507.641 245.887 506.969 246.559 506.141 246.559L503.16 246.559C502.331 246.559 501.66 245.887 501.66 245.059V245.059ZM489.697 245.059C489.697 244.23 490.369 243.559 491.197 243.559L494.178 243.559C495.007 243.559 495.678 244.23 495.678 245.059V245.059C495.678 245.887 495.007 246.559 494.178 246.559L491.197 246.559C490.369 246.559 489.697 245.887 489.697 245.059V245.059ZM477.735 245.059C477.735 244.23 478.406 243.559 479.235 243.559L482.216 243.559C483.044 243.559 483.716 244.23 483.716 245.059V245.059C483.716 245.887 483.044 246.559 482.216 246.559L479.235 246.559C478.406 246.559 477.735 245.887 477.735 245.059V245.059ZM465.772 245.059C465.772 244.23 466.444 243.559 467.272 243.559L470.254 243.559C471.082 243.559 471.754 244.23 471.754 245.059V245.059C471.754 245.887 471.082 246.559 470.254 246.559L467.272 246.559C466.444 246.559 465.772 245.887 465.772 245.059V245.059ZM453.81 245.059C453.81 244.23 454.481 243.559 455.31 243.559L458.291 243.559C459.12 243.559 459.791 244.23 459.791 245.059V245.059C459.791 245.887 459.12 246.559 458.291 246.559L455.31 246.559C454.481 246.559 453.81 245.887 453.81 245.059V245.059ZM441.847 245.059C441.847 244.23 442.519 243.559 443.347 243.559L446.329 243.559C447.157 243.559 447.829 244.23 447.829 245.059V245.059C447.829 245.887 447.157 246.559 446.329 246.559L443.347 246.559C442.519 246.559 441.847 245.887 441.847 245.059V245.059ZM429.885 245.059C429.885 244.23 430.557 243.559 431.385 243.559L434.366 243.559C435.195 243.559 435.866 244.23 435.866 245.059V245.059C435.866 245.887 435.195 246.559 434.366 246.559L431.385 246.559C430.557 246.559 429.885 245.887 429.885 245.059V245.059ZM417.923 245.059C417.923 244.23 418.594 243.559 419.423 243.559L422.404 243.559C423.232 243.559 423.904 244.23 423.904 245.059V245.059C423.904 245.887 423.232 246.559 422.404 246.559L419.423 246.559C418.594 246.559 417.923 245.887 417.923 245.059V245.059ZM405.96 245.059C405.96 244.23 406.632 243.559 407.46 243.559L410.441 243.559C411.27 243.559 411.941 244.23 411.941 245.059V245.059C411.941 245.887 411.27 246.559 410.441 246.559L407.46 246.559C406.632 246.559 405.96 245.887 405.96 245.059V245.059ZM393.998 245.059C393.998 244.23 394.669 243.559 395.498 243.559L398.479 243.559C399.307 243.559 399.979 244.23 399.979 245.059V245.059C399.979 245.887 399.307 246.559 398.479 246.559L395.498 246.559C394.669 246.559 393.998 245.887 393.998 245.059V245.059ZM382.035 245.059C382.035 244.23 382.707 243.559 383.535 243.559L386.517 243.559C387.345 243.559 388.017 244.23 388.017 245.059V245.059C388.017 245.887 387.345 246.559 386.517 246.559L383.535 246.559C382.707 246.559 382.035 245.887 382.035 245.059V245.059ZM370.073 245.059C370.073 244.23 370.744 243.559 371.573 243.559L374.554 243.559C375.382 243.559 376.054 244.23 376.054 245.059V245.059C376.054 245.887 375.382 246.559 374.554 246.559L371.573 246.559C370.744 246.559 370.073 245.887 370.073 245.059V245.059ZM358.11 245.059C358.11 244.23 358.782 243.559 359.61 243.559L362.592 243.559C363.42 243.559 364.092 244.23 364.092 245.059V245.059C364.092 245.887 363.42 246.559 362.592 246.559L359.61 246.559C358.782 246.559 358.11 245.887 358.11 245.059V245.059ZM346.148 245.059C346.148 244.23 346.82 243.559 347.648 243.559L350.629 243.559C351.458 243.559 352.129 244.23 352.129 245.059V245.059C352.129 245.887 351.458 246.559 350.629 246.559L347.648 246.559C346.82 246.559 346.148 245.887 346.148 245.059V245.059ZM334.186 245.059C334.186 244.23 334.857 243.559 335.686 243.559L338.667 243.559C339.495 243.559 340.167 244.23 340.167 245.059V245.059C340.167 245.887 339.495 246.559 338.667 246.559L335.686 246.559C334.857 246.559 334.186 245.887 334.186 245.059V245.059ZM322.223 245.059C322.223 244.23 322.895 243.559 323.723 243.559L326.704 243.559C327.533 243.559 328.204 244.23 328.204 245.059V245.059C328.204 245.887 327.533 246.559 326.704 246.559L323.723 246.559C322.895 246.559 322.223 245.887 322.223 245.059V245.059ZM310.261 245.059C310.261 244.23 310.932 243.559 311.761 243.559L314.742 243.559C315.57 243.559 316.242 244.23 316.242 245.059V245.059C316.242 245.887 315.57 246.559 314.742 246.559L311.761 246.559C310.932 246.559 310.261 245.887 310.261 245.059V245.059ZM298.298 245.059C298.298 244.23 298.97 243.559 299.798 243.559L302.779 243.559C303.608 243.559 304.279 244.23 304.279 245.059V245.059C304.279 245.887 303.608 246.559 302.779 246.559L299.798 246.559C298.97 246.559 298.298 245.887 298.298 245.059V245.059ZM286.336 245.059C286.336 244.23 287.007 243.559 287.836 243.559L290.817 243.559C291.645 243.559 292.317 244.23 292.317 245.059V245.059C292.317 245.887 291.645 246.559 290.817 246.559L287.836 246.559C287.007 246.559 286.336 245.887 286.336 245.059V245.059ZM274.373 245.059C274.373 244.23 275.045 243.559 275.873 243.559L278.855 243.559C279.683 243.559 280.355 244.23 280.355 245.059V245.059C280.355 245.887 279.683 246.559 278.855 246.559L275.873 246.559C275.045 246.559 274.373 245.887 274.373 245.059V245.059ZM262.411 245.059C262.411 244.23 263.082 243.559 263.911 243.559L266.892 243.559C267.721 243.559 268.392 244.23 268.392 245.059V245.059C268.392 245.887 267.721 246.559 266.892 246.559L263.911 246.559C263.082 246.559 262.411 245.887 262.411 245.059V245.059ZM253.439 243.559L254.93 243.559C255.758 243.559 256.43 244.23 256.43 245.059V245.059C256.43 245.887 255.758 246.559 254.93 246.559L253.439 246.559C252.611 246.559 251.939 245.887 251.939 245.059C251.939 244.23 252.611 243.559 253.439 243.559Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M539 262C539 262.828 538.328 263.5 537.5 263.5H536.042C535.213 263.5 534.542 262.828 534.542 262V262C534.542 261.172 535.213 260.5 536.042 260.5H537.5C538.328 260.5 539 261.172 539 262ZM522.708 262C522.708 261.172 523.38 260.5 524.208 260.5H527.125C527.953 260.5 528.625 261.172 528.625 262V262C528.625 262.828 527.953 263.5 527.125 263.5H524.208C523.38 263.5 522.708 262.828 522.708 262V262ZM510.875 262C510.875 261.172 511.547 260.5 512.375 260.5H515.292C516.12 260.5 516.792 261.172 516.792 262V262C516.792 262.828 516.12 263.5 515.292 263.5H512.375C511.547 263.5 510.875 262.828 510.875 262V262ZM499.042 262C499.042 261.172 499.713 260.5 500.542 260.5H503.458C504.287 260.5 504.958 261.172 504.958 262V262C504.958 262.828 504.287 263.5 503.458 263.5H500.542C499.713 263.5 499.042 262.828 499.042 262V262ZM487.208 262C487.208 261.172 487.88 260.5 488.708 260.5H491.625C492.453 260.5 493.125 261.172 493.125 262V262C493.125 262.828 492.453 263.5 491.625 263.5H488.708C487.88 263.5 487.208 262.828 487.208 262V262ZM475.375 262C475.375 261.172 476.047 260.5 476.875 260.5H479.792C480.62 260.5 481.292 261.172 481.292 262V262C481.292 262.828 480.62 263.5 479.792 263.5H476.875C476.047 263.5 475.375 262.828 475.375 262V262ZM463.542 262C463.542 261.172 464.213 260.5 465.042 260.5H467.958C468.787 260.5 469.458 261.172 469.458 262V262C469.458 262.828 468.787 263.5 467.958 263.5H465.042C464.213 263.5 463.542 262.828 463.542 262V262ZM451.708 262C451.708 261.172 452.38 260.5 453.208 260.5H456.125C456.953 260.5 457.625 261.172 457.625 262V262C457.625 262.828 456.953 263.5 456.125 263.5H453.208C452.38 263.5 451.708 262.828 451.708 262V262ZM439.875 262C439.875 261.172 440.547 260.5 441.375 260.5H444.292C445.12 260.5 445.792 261.172 445.792 262V262C445.792 262.828 445.12 263.5 444.292 263.5H441.375C440.547 263.5 439.875 262.828 439.875 262V262ZM428.042 262C428.042 261.172 428.713 260.5 429.542 260.5H432.458C433.287 260.5 433.958 261.172 433.958 262V262C433.958 262.828 433.287 263.5 432.458 263.5H429.542C428.713 263.5 428.042 262.828 428.042 262V262ZM416.208 262C416.208 261.172 416.88 260.5 417.708 260.5H420.625C421.453 260.5 422.125 261.172 422.125 262V262C422.125 262.828 421.453 263.5 420.625 263.5H417.708C416.88 263.5 416.208 262.828 416.208 262V262ZM404.375 262C404.375 261.172 405.047 260.5 405.875 260.5H408.792C409.62 260.5 410.292 261.172 410.292 262V262C410.292 262.828 409.62 263.5 408.792 263.5H405.875C405.047 263.5 404.375 262.828 404.375 262V262ZM392.542 262C392.542 261.172 393.213 260.5 394.042 260.5H396.958C397.787 260.5 398.458 261.172 398.458 262V262C398.458 262.828 397.787 263.5 396.958 263.5H394.042C393.213 263.5 392.542 262.828 392.542 262V262ZM380.708 262C380.708 261.172 381.38 260.5 382.208 260.5H385.125C385.953 260.5 386.625 261.172 386.625 262V262C386.625 262.828 385.953 263.5 385.125 263.5H382.208C381.38 263.5 380.708 262.828 380.708 262V262ZM368.875 262C368.875 261.172 369.547 260.5 370.375 260.5H373.292C374.12 260.5 374.792 261.172 374.792 262V262C374.792 262.828 374.12 263.5 373.292 263.5H370.375C369.547 263.5 368.875 262.828 368.875 262V262ZM357.042 262C357.042 261.172 357.713 260.5 358.542 260.5H361.458C362.287 260.5 362.958 261.172 362.958 262V262C362.958 262.828 362.287 263.5 361.458 263.5H358.542C357.713 263.5 357.042 262.828 357.042 262V262ZM345.208 262C345.208 261.172 345.88 260.5 346.708 260.5H349.625C350.453 260.5 351.125 261.172 351.125 262V262C351.125 262.828 350.453 263.5 349.625 263.5H346.708C345.88 263.5 345.208 262.828 345.208 262V262ZM333.375 262C333.375 261.172 334.047 260.5 334.875 260.5H337.792C338.62 260.5 339.292 261.172 339.292 262V262C339.292 262.828 338.62 263.5 337.792 263.5H334.875C334.047 263.5 333.375 262.828 333.375 262V262ZM321.542 262C321.542 261.172 322.213 260.5 323.042 260.5H325.958C326.787 260.5 327.458 261.172 327.458 262V262C327.458 262.828 326.787 263.5 325.958 263.5H323.042C322.213 263.5 321.542 262.828 321.542 262V262ZM309.708 262C309.708 261.172 310.38 260.5 311.208 260.5H314.125C314.953 260.5 315.625 261.172 315.625 262V262C315.625 262.828 314.953 263.5 314.125 263.5H311.208C310.38 263.5 309.708 262.828 309.708 262V262ZM297.875 262C297.875 261.172 298.546 260.5 299.375 260.5H302.292C303.12 260.5 303.792 261.172 303.792 262V262C303.792 262.828 303.12 263.5 302.292 263.5H299.375C298.546 263.5 297.875 262.828 297.875 262V262ZM286.042 262C286.042 261.172 286.713 260.5 287.542 260.5H290.458C291.287 260.5 291.958 261.172 291.958 262V262C291.958 262.828 291.287 263.5 290.458 263.5H287.542C286.713 263.5 286.042 262.828 286.042 262V262ZM274.208 262C274.208 261.172 274.88 260.5 275.708 260.5H278.625C279.453 260.5 280.125 261.172 280.125 262V262C280.125 262.828 279.453 263.5 278.625 263.5H275.708C274.88 263.5 274.208 262.828 274.208 262V262ZM262.375 262C262.375 261.172 263.047 260.5 263.875 260.5H266.792C267.62 260.5 268.292 261.172 268.292 262V262C268.292 262.828 267.62 263.5 266.792 263.5H263.875C263.047 263.5 262.375 262.828 262.375 262V262ZM253.5 260.5H254.958C255.787 260.5 256.458 261.172 256.458 262V262C256.458 262.828 255.787 263.5 254.958 263.5H253.5C252.672 263.5 252 262.828 252 262C252 261.172 252.672 260.5 253.5 260.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M507 300C507 300.828 506.328 301.5 505.5 301.5H503.987C503.158 301.5 502.487 300.828 502.487 300V300C502.487 299.172 503.158 298.5 503.987 298.5H505.5C506.328 298.5 507 299.172 507 300ZM490.434 300C490.434 299.172 491.106 298.5 491.934 298.5H494.961C495.789 298.5 496.461 299.172 496.461 300V300C496.461 300.828 495.789 301.5 494.961 301.5H491.934C491.106 301.5 490.434 300.828 490.434 300V300ZM478.382 300C478.382 299.172 479.053 298.5 479.882 298.5H482.908C483.736 298.5 484.408 299.172 484.408 300V300C484.408 300.828 483.736 301.5 482.908 301.5H479.882C479.053 301.5 478.382 300.828 478.382 300V300ZM466.329 300C466.329 299.172 467.001 298.5 467.829 298.5H470.855C471.684 298.5 472.355 299.172 472.355 300V300C472.355 300.828 471.684 301.5 470.855 301.5H467.829C467.001 301.5 466.329 300.828 466.329 300V300ZM454.276 300C454.276 299.172 454.948 298.5 455.776 298.5H458.803C459.631 298.5 460.303 299.172 460.303 300V300C460.303 300.828 459.631 301.5 458.803 301.5H455.776C454.948 301.5 454.276 300.828 454.276 300V300ZM442.224 300C442.224 299.172 442.895 298.5 443.724 298.5H446.75C447.578 298.5 448.25 299.172 448.25 300V300C448.25 300.828 447.578 301.5 446.75 301.5H443.724C442.895 301.5 442.224 300.828 442.224 300V300ZM430.171 300C430.171 299.172 430.843 298.5 431.671 298.5H434.697C435.526 298.5 436.197 299.172 436.197 300V300C436.197 300.828 435.526 301.5 434.697 301.5H431.671C430.843 301.5 430.171 300.828 430.171 300V300ZM418.118 300C418.118 299.172 418.79 298.5 419.618 298.5H422.645C423.473 298.5 424.145 299.172 424.145 300V300C424.145 300.828 423.473 301.5 422.645 301.5H419.618C418.79 301.5 418.118 300.828 418.118 300V300ZM406.066 300C406.066 299.172 406.737 298.5 407.566 298.5H410.592C411.421 298.5 412.092 299.172 412.092 300V300C412.092 300.828 411.421 301.5 410.592 301.5H407.566C406.737 301.5 406.066 300.828 406.066 300V300ZM394.013 300C394.013 299.172 394.685 298.5 395.513 298.5H398.539C399.368 298.5 400.039 299.172 400.039 300V300C400.039 300.828 399.368 301.5 398.539 301.5H395.513C394.685 301.5 394.013 300.828 394.013 300V300ZM381.961 300C381.961 299.172 382.632 298.5 383.461 298.5H386.487C387.315 298.5 387.987 299.172 387.987 300V300C387.987 300.828 387.315 301.5 386.487 301.5H383.461C382.632 301.5 381.961 300.828 381.961 300V300ZM369.908 300C369.908 299.172 370.579 298.5 371.408 298.5H374.434C375.263 298.5 375.934 299.172 375.934 300V300C375.934 300.828 375.263 301.5 374.434 301.5H371.408C370.579 301.5 369.908 300.828 369.908 300V300ZM357.855 300C357.855 299.172 358.527 298.5 359.355 298.5H362.382C363.21 298.5 363.882 299.172 363.882 300V300C363.882 300.828 363.21 301.5 362.382 301.5H359.355C358.527 301.5 357.855 300.828 357.855 300V300ZM345.803 300C345.803 299.172 346.474 298.5 347.303 298.5H350.329C351.157 298.5 351.829 299.172 351.829 300V300C351.829 300.828 351.157 301.5 350.329 301.5H347.303C346.474 301.5 345.803 300.828 345.803 300V300ZM333.75 300C333.75 299.172 334.422 298.5 335.25 298.5H338.276C339.105 298.5 339.776 299.172 339.776 300V300C339.776 300.828 339.105 301.5 338.276 301.5H335.25C334.422 301.5 333.75 300.828 333.75 300V300ZM321.697 300C321.697 299.172 322.369 298.5 323.197 298.5H326.224C327.052 298.5 327.724 299.172 327.724 300V300C327.724 300.828 327.052 301.5 326.224 301.5H323.197C322.369 301.5 321.697 300.828 321.697 300V300ZM309.645 300C309.645 299.172 310.316 298.5 311.145 298.5H314.171C314.999 298.5 315.671 299.172 315.671 300V300C315.671 300.828 314.999 301.5 314.171 301.5H311.145C310.316 301.5 309.645 300.828 309.645 300V300ZM297.592 300C297.592 299.172 298.264 298.5 299.092 298.5H302.118C302.947 298.5 303.618 299.172 303.618 300V300C303.618 300.828 302.947 301.5 302.118 301.5H299.092C298.264 301.5 297.592 300.828 297.592 300V300ZM285.539 300C285.539 299.172 286.211 298.5 287.039 298.5H290.066C290.894 298.5 291.566 299.172 291.566 300V300C291.566 300.828 290.894 301.5 290.066 301.5H287.039C286.211 301.5 285.539 300.828 285.539 300V300ZM276.5 298.5H278.013C278.842 298.5 279.513 299.172 279.513 300V300C279.513 300.828 278.842 301.5 278.013 301.5H276.5C275.672 301.5 275 300.828 275 300C275 299.172 275.672 298.5 276.5 298.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M559 280C559 280.828 558.328 281.5 557.5 281.5H555.99C555.161 281.5 554.49 280.828 554.49 280V280C554.49 279.172 555.161 278.5 555.99 278.5H557.5C558.328 278.5 559 279.172 559 280ZM542.448 280C542.448 279.172 543.119 278.5 543.948 278.5H546.969C547.797 278.5 548.469 279.172 548.469 280V280C548.469 280.828 547.797 281.5 546.969 281.5H543.948C543.119 281.5 542.448 280.828 542.448 280V280ZM530.406 280C530.406 279.172 531.078 278.5 531.906 278.5H534.927C535.756 278.5 536.427 279.172 536.427 280V280C536.427 280.828 535.756 281.5 534.927 281.5H531.906C531.078 281.5 530.406 280.828 530.406 280V280ZM518.365 280C518.365 279.172 519.036 278.5 519.865 278.5H522.885C523.714 278.5 524.385 279.172 524.385 280V280C524.385 280.828 523.714 281.5 522.885 281.5H519.865C519.036 281.5 518.365 280.828 518.365 280V280ZM506.323 280C506.323 279.172 506.994 278.5 507.823 278.5H510.844C511.672 278.5 512.344 279.172 512.344 280V280C512.344 280.828 511.672 281.5 510.844 281.5H507.823C506.994 281.5 506.323 280.828 506.323 280V280ZM494.281 280C494.281 279.172 494.953 278.5 495.781 278.5H498.802C499.631 278.5 500.302 279.172 500.302 280V280C500.302 280.828 499.631 281.5 498.802 281.5H495.781C494.953 281.5 494.281 280.828 494.281 280V280ZM482.24 280C482.24 279.172 482.911 278.5 483.74 278.5H486.76C487.589 278.5 488.26 279.172 488.26 280V280C488.26 280.828 487.589 281.5 486.76 281.5H483.74C482.911 281.5 482.24 280.828 482.24 280V280ZM470.198 280C470.198 279.172 470.869 278.5 471.698 278.5H474.719C475.547 278.5 476.219 279.172 476.219 280V280C476.219 280.828 475.547 281.5 474.719 281.5H471.698C470.869 281.5 470.198 280.828 470.198 280V280ZM458.156 280C458.156 279.172 458.828 278.5 459.656 278.5H462.677C463.506 278.5 464.177 279.172 464.177 280V280C464.177 280.828 463.506 281.5 462.677 281.5H459.656C458.828 281.5 458.156 280.828 458.156 280V280ZM446.115 280C446.115 279.172 446.786 278.5 447.615 278.5H450.635C451.464 278.5 452.135 279.172 452.135 280V280C452.135 280.828 451.464 281.5 450.635 281.5H447.615C446.786 281.5 446.115 280.828 446.115 280V280ZM434.073 280C434.073 279.172 434.744 278.5 435.573 278.5H438.594C439.422 278.5 440.094 279.172 440.094 280V280C440.094 280.828 439.422 281.5 438.594 281.5H435.573C434.744 281.5 434.073 280.828 434.073 280V280ZM422.031 280C422.031 279.172 422.703 278.5 423.531 278.5H426.552C427.38 278.5 428.052 279.172 428.052 280V280C428.052 280.828 427.38 281.5 426.552 281.5H423.531C422.703 281.5 422.031 280.828 422.031 280V280ZM409.99 280C409.99 279.172 410.661 278.5 411.49 278.5H414.51C415.339 278.5 416.01 279.172 416.01 280V280C416.01 280.828 415.339 281.5 414.51 281.5H411.49C410.661 281.5 409.99 280.828 409.99 280V280ZM397.948 280C397.948 279.172 398.619 278.5 399.448 278.5H402.469C403.297 278.5 403.969 279.172 403.969 280V280C403.969 280.828 403.297 281.5 402.469 281.5H399.448C398.619 281.5 397.948 280.828 397.948 280V280ZM385.906 280C385.906 279.172 386.578 278.5 387.406 278.5H390.427C391.256 278.5 391.927 279.172 391.927 280V280C391.927 280.828 391.256 281.5 390.427 281.5H387.406C386.578 281.5 385.906 280.828 385.906 280V280ZM373.865 280C373.865 279.172 374.536 278.5 375.365 278.5H378.385C379.214 278.5 379.885 279.172 379.885 280V280C379.885 280.828 379.214 281.5 378.385 281.5H375.365C374.536 281.5 373.865 280.828 373.865 280V280ZM361.823 280C361.823 279.172 362.495 278.5 363.323 278.5H366.344C367.172 278.5 367.844 279.172 367.844 280V280C367.844 280.828 367.172 281.5 366.344 281.5H363.323C362.495 281.5 361.823 280.828 361.823 280V280ZM349.781 280C349.781 279.172 350.453 278.5 351.281 278.5H354.302C355.131 278.5 355.802 279.172 355.802 280V280C355.802 280.828 355.131 281.5 354.302 281.5H351.281C350.453 281.5 349.781 280.828 349.781 280V280ZM337.74 280C337.74 279.172 338.411 278.5 339.24 278.5H342.26C343.089 278.5 343.76 279.172 343.76 280V280C343.76 280.828 343.089 281.5 342.26 281.5H339.24C338.411 281.5 337.74 280.828 337.74 280V280ZM325.698 280C325.698 279.172 326.37 278.5 327.198 278.5H330.219C331.047 278.5 331.719 279.172 331.719 280V280C331.719 280.828 331.047 281.5 330.219 281.5H327.198C326.37 281.5 325.698 280.828 325.698 280V280ZM313.656 280C313.656 279.172 314.328 278.5 315.156 278.5H318.177C319.006 278.5 319.677 279.172 319.677 280V280C319.677 280.828 319.006 281.5 318.177 281.5H315.156C314.328 281.5 313.656 280.828 313.656 280V280ZM301.615 280C301.615 279.172 302.286 278.5 303.115 278.5H306.135C306.964 278.5 307.635 279.172 307.635 280V280C307.635 280.828 306.964 281.5 306.135 281.5H303.115C302.286 281.5 301.615 280.828 301.615 280V280ZM289.573 280C289.573 279.172 290.245 278.5 291.073 278.5H294.094C294.922 278.5 295.594 279.172 295.594 280V280C295.594 280.828 294.922 281.5 294.094 281.5H291.073C290.245 281.5 289.573 280.828 289.573 280V280ZM277.531 280C277.531 279.172 278.203 278.5 279.031 278.5H282.052C282.881 278.5 283.552 279.172 283.552 280V280C283.552 280.828 282.881 281.5 282.052 281.5H279.031C278.203 281.5 277.531 280.828 277.531 280V280ZM268.5 278.5H270.01C270.839 278.5 271.51 279.172 271.51 280V280C271.51 280.828 270.839 281.5 270.01 281.5H268.5C267.672 281.5 267 280.828 267 280C267 279.172 267.672 278.5 268.5 278.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M536 320C536 320.828 535.328 321.5 534.5 321.5H532.946C532.117 321.5 531.446 320.828 531.446 320V320C531.446 319.172 532.117 318.5 532.946 318.5H534.5C535.328 318.5 536 319.172 536 320ZM519.228 320C519.228 319.172 519.9 318.5 520.728 318.5H523.837C524.665 318.5 525.337 319.172 525.337 320V320C525.337 320.828 524.665 321.5 523.837 321.5H520.728C519.9 321.5 519.228 320.828 519.228 320V320ZM507.011 320C507.011 319.172 507.682 318.5 508.511 318.5H511.62C512.448 318.5 513.12 319.172 513.12 320V320C513.12 320.828 512.448 321.5 511.62 321.5H508.511C507.682 321.5 507.011 320.828 507.011 320V320ZM494.793 320C494.793 319.172 495.465 318.5 496.293 318.5H499.402C500.231 318.5 500.902 319.172 500.902 320V320C500.902 320.828 500.231 321.5 499.402 321.5H496.293C495.465 321.5 494.793 320.828 494.793 320V320ZM482.576 320C482.576 319.172 483.248 318.5 484.076 318.5H487.185C488.013 318.5 488.685 319.172 488.685 320V320C488.685 320.828 488.013 321.5 487.185 321.5H484.076C483.248 321.5 482.576 320.828 482.576 320V320ZM470.359 320C470.359 319.172 471.03 318.5 471.859 318.5H474.967C475.796 318.5 476.467 319.172 476.467 320V320C476.467 320.828 475.796 321.5 474.967 321.5H471.859C471.03 321.5 470.359 320.828 470.359 320V320ZM458.141 320C458.141 319.172 458.813 318.5 459.641 318.5H462.75C463.578 318.5 464.25 319.172 464.25 320V320C464.25 320.828 463.578 321.5 462.75 321.5H459.641C458.813 321.5 458.141 320.828 458.141 320V320ZM445.924 320C445.924 319.172 446.595 318.5 447.424 318.5H450.533C451.361 318.5 452.033 319.172 452.033 320V320C452.033 320.828 451.361 321.5 450.533 321.5H447.424C446.595 321.5 445.924 320.828 445.924 320V320ZM433.707 320C433.707 319.172 434.378 318.5 435.207 318.5H438.315C439.144 318.5 439.815 319.172 439.815 320V320C439.815 320.828 439.144 321.5 438.315 321.5H435.207C434.378 321.5 433.707 320.828 433.707 320V320ZM421.489 320C421.489 319.172 422.161 318.5 422.989 318.5H426.098C426.926 318.5 427.598 319.172 427.598 320V320C427.598 320.828 426.926 321.5 426.098 321.5H422.989C422.161 321.5 421.489 320.828 421.489 320V320ZM409.272 320C409.272 319.172 409.943 318.5 410.772 318.5H413.88C414.709 318.5 415.38 319.172 415.38 320V320C415.38 320.828 414.709 321.5 413.88 321.5H410.772C409.943 321.5 409.272 320.828 409.272 320V320ZM397.054 320C397.054 319.172 397.726 318.5 398.554 318.5H401.663C402.491 318.5 403.163 319.172 403.163 320V320C403.163 320.828 402.491 321.5 401.663 321.5H398.554C397.726 321.5 397.054 320.828 397.054 320V320ZM384.837 320C384.837 319.172 385.509 318.5 386.337 318.5H389.446C390.274 318.5 390.946 319.172 390.946 320V320C390.946 320.828 390.274 321.5 389.446 321.5H386.337C385.509 321.5 384.837 320.828 384.837 320V320ZM372.62 320C372.62 319.172 373.291 318.5 374.12 318.5H377.228C378.057 318.5 378.728 319.172 378.728 320V320C378.728 320.828 378.057 321.5 377.228 321.5H374.12C373.291 321.5 372.62 320.828 372.62 320V320ZM360.402 320C360.402 319.172 361.074 318.5 361.902 318.5H365.011C365.839 318.5 366.511 319.172 366.511 320V320C366.511 320.828 365.839 321.5 365.011 321.5H361.902C361.074 321.5 360.402 320.828 360.402 320V320ZM348.185 320C348.185 319.172 348.856 318.5 349.685 318.5H352.794C353.622 318.5 354.294 319.172 354.294 320V320C354.294 320.828 353.622 321.5 352.794 321.5H349.685C348.856 321.5 348.185 320.828 348.185 320V320ZM335.967 320C335.967 319.172 336.639 318.5 337.467 318.5H340.576C341.405 318.5 342.076 319.172 342.076 320V320C342.076 320.828 341.405 321.5 340.576 321.5H337.467C336.639 321.5 335.967 320.828 335.967 320V320ZM323.75 320C323.75 319.172 324.422 318.5 325.25 318.5H328.359C329.187 318.5 329.859 319.172 329.859 320V320C329.859 320.828 329.187 321.5 328.359 321.5H325.25C324.422 321.5 323.75 320.828 323.75 320V320ZM311.533 320C311.533 319.172 312.204 318.5 313.033 318.5H316.141C316.97 318.5 317.641 319.172 317.641 320V320C317.641 320.828 316.97 321.5 316.141 321.5H313.033C312.204 321.5 311.533 320.828 311.533 320V320ZM299.315 320C299.315 319.172 299.987 318.5 300.815 318.5H303.924C304.752 318.5 305.424 319.172 305.424 320V320C305.424 320.828 304.752 321.5 303.924 321.5H300.815C299.987 321.5 299.315 320.828 299.315 320V320ZM287.098 320C287.098 319.172 287.77 318.5 288.598 318.5H291.707C292.535 318.5 293.207 319.172 293.207 320V320C293.207 320.828 292.535 321.5 291.707 321.5H288.598C287.77 321.5 287.098 320.828 287.098 320V320ZM274.881 320C274.881 319.172 275.552 318.5 276.381 318.5H279.489C280.318 318.5 280.989 319.172 280.989 320V320C280.989 320.828 280.318 321.5 279.489 321.5H276.381C275.552 321.5 274.881 320.828 274.881 320V320ZM262.663 320C262.663 319.172 263.335 318.5 264.163 318.5H267.272C268.1 318.5 268.772 319.172 268.772 320V320C268.772 320.828 268.1 321.5 267.272 321.5H264.163C263.335 321.5 262.663 320.828 262.663 320V320ZM253.5 318.5H255.055C255.883 318.5 256.555 319.172 256.555 320V320C256.555 320.828 255.883 321.5 255.055 321.5H253.5C252.672 321.5 252 320.828 252 320C252 319.172 252.672 318.5 253.5 318.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M567 336.562C567 337.391 566.328 338.062 565.5 338.062L563.999 338.062C563.171 338.062 562.499 337.391 562.499 336.562V336.562C562.499 335.734 563.171 335.062 563.999 335.062L565.5 335.062C566.328 335.062 567 335.734 567 336.562ZM550.497 336.562C550.497 335.734 551.169 335.062 551.997 335.062L554.998 335.062C555.827 335.062 556.498 335.734 556.498 336.562V336.562C556.498 337.391 555.827 338.062 554.998 338.062L551.997 338.062C551.169 338.062 550.497 337.391 550.497 336.562V336.562ZM538.495 336.562C538.495 335.734 539.166 335.062 539.995 335.062L542.996 335.062C543.824 335.062 544.496 335.734 544.496 336.562V336.562C544.496 337.391 543.824 338.062 542.996 338.062L539.995 338.062C539.166 338.062 538.495 337.391 538.495 336.562V336.562ZM526.492 336.562C526.492 335.734 527.164 335.062 527.992 335.062L530.994 335.062C531.822 335.062 532.494 335.734 532.494 336.562V336.562C532.494 337.391 531.822 338.062 530.994 338.062L527.992 338.062C527.164 338.062 526.492 337.391 526.492 336.562V336.562ZM514.49 336.562C514.49 335.734 515.162 335.062 515.99 335.062L518.991 335.062C519.82 335.062 520.491 335.734 520.491 336.562V336.562C520.491 337.391 519.82 338.062 518.991 338.062L515.99 338.062C515.162 338.062 514.49 337.391 514.49 336.562V336.562ZM502.488 336.562C502.488 335.734 503.159 335.062 503.988 335.062L506.989 335.062C507.817 335.062 508.489 335.734 508.489 336.562V336.562C508.489 337.391 507.817 338.062 506.989 338.062L503.988 338.062C503.159 338.062 502.488 337.391 502.488 336.562V336.562ZM490.485 336.562C490.485 335.734 491.157 335.062 491.985 335.062L494.987 335.062C495.815 335.062 496.487 335.734 496.487 336.562V336.562C496.487 337.391 495.815 338.062 494.987 338.062L491.985 338.062C491.157 338.062 490.485 337.391 490.485 336.562V336.562ZM478.483 336.562C478.483 335.734 479.155 335.062 479.983 335.062L482.984 335.062C483.813 335.062 484.484 335.734 484.484 336.562V336.562C484.484 337.391 483.813 338.062 482.984 338.062L479.983 338.062C479.155 338.062 478.483 337.391 478.483 336.562V336.562ZM466.481 336.562C466.481 335.734 467.152 335.062 467.981 335.062L470.982 335.062C471.81 335.062 472.482 335.734 472.482 336.562V336.562C472.482 337.391 471.81 338.062 470.982 338.062L467.981 338.062C467.152 338.062 466.481 337.391 466.481 336.562V336.562ZM454.478 336.562C454.478 335.734 455.15 335.062 455.978 335.062L458.979 335.062C459.808 335.062 460.479 335.734 460.479 336.562V336.562C460.479 337.391 459.808 338.062 458.979 338.062L455.978 338.062C455.15 338.062 454.478 337.391 454.478 336.562V336.562ZM442.476 336.562C442.476 335.734 443.148 335.062 443.976 335.062L446.977 335.062C447.806 335.062 448.477 335.734 448.477 336.562V336.562C448.477 337.391 447.806 338.062 446.977 338.062L443.976 338.062C443.148 338.062 442.476 337.391 442.476 336.562V336.562ZM430.474 336.562C430.474 335.734 431.145 335.062 431.974 335.062L434.975 335.062C435.803 335.062 436.475 335.734 436.475 336.562V336.562C436.475 337.391 435.803 338.062 434.975 338.062L431.974 338.062C431.145 338.062 430.474 337.391 430.474 336.562V336.562ZM418.471 336.562C418.471 335.734 419.143 335.062 419.971 335.062L422.972 335.062C423.801 335.062 424.472 335.734 424.472 336.562V336.562C424.472 337.391 423.801 338.062 422.972 338.062L419.971 338.062C419.143 338.062 418.471 337.391 418.471 336.562V336.562ZM406.469 336.562C406.469 335.734 407.14 335.062 407.969 335.062L410.97 335.062C411.799 335.062 412.47 335.734 412.47 336.562V336.562C412.47 337.391 411.799 338.062 410.97 338.062L407.969 338.062C407.14 338.062 406.469 337.391 406.469 336.562V336.562ZM394.467 336.562C394.467 335.734 395.138 335.062 395.967 335.062L398.968 335.062C399.796 335.062 400.468 335.734 400.468 336.562V336.562C400.468 337.391 399.796 338.062 398.968 338.062L395.967 338.062C395.138 338.062 394.467 337.391 394.467 336.562V336.562ZM382.464 336.562C382.464 335.734 383.136 335.062 383.964 335.062L386.965 335.062C387.794 335.062 388.465 335.734 388.465 336.562V336.562C388.465 337.391 387.794 338.062 386.965 338.062L383.964 338.062C383.136 338.062 382.464 337.391 382.464 336.562V336.562ZM370.462 336.562C370.462 335.734 371.133 335.062 371.962 335.062L374.963 335.062C375.791 335.062 376.463 335.734 376.463 336.562V336.562C376.463 337.391 375.791 338.062 374.963 338.062L371.962 338.062C371.133 338.062 370.462 337.391 370.462 336.562V336.562ZM358.46 336.562C358.46 335.734 359.131 335.062 359.96 335.062L362.961 335.062C363.789 335.062 364.461 335.734 364.461 336.562V336.562C364.461 337.391 363.789 338.062 362.961 338.062L359.96 338.062C359.131 338.062 358.46 337.391 358.46 336.562V336.562ZM346.457 336.562C346.457 335.734 347.129 335.062 347.957 335.062L350.958 335.062C351.787 335.062 352.458 335.734 352.458 336.562V336.562C352.458 337.391 351.787 338.062 350.958 338.062L347.957 338.062C347.129 338.062 346.457 337.391 346.457 336.562V336.562ZM334.455 336.562C334.455 335.734 335.126 335.062 335.955 335.062L338.956 335.062C339.784 335.062 340.456 335.734 340.456 336.562V336.562C340.456 337.391 339.784 338.062 338.956 338.062L335.955 338.062C335.126 338.062 334.455 337.391 334.455 336.562V336.562ZM322.452 336.562C322.452 335.734 323.124 335.062 323.952 335.062L326.954 335.062C327.782 335.062 328.454 335.734 328.454 336.562V336.562C328.454 337.391 327.782 338.062 326.954 338.062L323.952 338.062C323.124 338.062 322.452 337.391 322.452 336.562V336.562ZM310.45 336.562C310.45 335.734 311.122 335.062 311.95 335.062L314.951 335.062C315.78 335.062 316.451 335.734 316.451 336.562V336.562C316.451 337.391 315.78 338.062 314.951 338.062L311.95 338.062C311.122 338.062 310.45 337.391 310.45 336.562V336.562ZM298.448 336.562C298.448 335.734 299.119 335.062 299.948 335.062L302.949 335.062C303.777 335.062 304.449 335.734 304.449 336.562V336.562C304.449 337.391 303.777 338.062 302.949 338.062L299.948 338.062C299.119 338.062 298.448 337.391 298.448 336.562V336.562ZM286.445 336.562C286.445 335.734 287.117 335.062 287.945 335.062L290.947 335.062C291.775 335.062 292.447 335.734 292.447 336.562V336.562C292.447 337.391 291.775 338.062 290.947 338.062L287.945 338.062C287.117 338.062 286.445 337.391 286.445 336.562V336.562Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M548 375C548 375.828 547.328 376.5 546.5 376.5H544.948C544.119 376.5 543.448 375.828 543.448 375V375C543.448 374.172 544.119 373.5 544.948 373.5H546.5C547.328 373.5 548 374.172 548 375ZM531.24 375C531.24 374.172 531.911 373.5 532.74 373.5H535.844C536.672 373.5 537.344 374.172 537.344 375V375C537.344 375.828 536.672 376.5 535.844 376.5H532.74C531.911 376.5 531.24 375.828 531.24 375V375ZM519.031 375C519.031 374.172 519.703 373.5 520.531 373.5H523.635C524.464 373.5 525.135 374.172 525.135 375V375C525.135 375.828 524.464 376.5 523.635 376.5H520.531C519.703 376.5 519.031 375.828 519.031 375V375ZM506.823 375C506.823 374.172 507.494 373.5 508.323 373.5H511.427C512.256 373.5 512.927 374.172 512.927 375V375C512.927 375.828 512.256 376.5 511.427 376.5H508.323C507.494 376.5 506.823 375.828 506.823 375V375ZM494.615 375C494.615 374.172 495.286 373.5 496.115 373.5H499.219C500.047 373.5 500.719 374.172 500.719 375V375C500.719 375.828 500.047 376.5 499.219 376.5H496.115C495.286 376.5 494.615 375.828 494.615 375V375ZM482.406 375C482.406 374.172 483.078 373.5 483.906 373.5H487.01C487.839 373.5 488.51 374.172 488.51 375V375C488.51 375.828 487.839 376.5 487.01 376.5H483.906C483.078 376.5 482.406 375.828 482.406 375V375ZM470.198 375C470.198 374.172 470.869 373.5 471.698 373.5H474.802C475.631 373.5 476.302 374.172 476.302 375V375C476.302 375.828 475.631 376.5 474.802 376.5H471.698C470.869 376.5 470.198 375.828 470.198 375V375ZM457.99 375C457.99 374.172 458.661 373.5 459.49 373.5H462.594C463.422 373.5 464.094 374.172 464.094 375V375C464.094 375.828 463.422 376.5 462.594 376.5H459.49C458.661 376.5 457.99 375.828 457.99 375V375ZM445.781 375C445.781 374.172 446.453 373.5 447.281 373.5H450.385C451.214 373.5 451.885 374.172 451.885 375V375C451.885 375.828 451.214 376.5 450.385 376.5H447.281C446.453 376.5 445.781 375.828 445.781 375V375ZM433.573 375C433.573 374.172 434.245 373.5 435.073 373.5H438.177C439.006 373.5 439.677 374.172 439.677 375V375C439.677 375.828 439.006 376.5 438.177 376.5H435.073C434.245 376.5 433.573 375.828 433.573 375V375ZM421.365 375C421.365 374.172 422.036 373.5 422.865 373.5H425.969C426.797 373.5 427.469 374.172 427.469 375V375C427.469 375.828 426.797 376.5 425.969 376.5H422.865C422.036 376.5 421.365 375.828 421.365 375V375ZM409.156 375C409.156 374.172 409.828 373.5 410.656 373.5H413.76C414.589 373.5 415.26 374.172 415.26 375V375C415.26 375.828 414.589 376.5 413.76 376.5H410.656C409.828 376.5 409.156 375.828 409.156 375V375ZM396.948 375C396.948 374.172 397.62 373.5 398.448 373.5H401.552C402.381 373.5 403.052 374.172 403.052 375V375C403.052 375.828 402.381 376.5 401.552 376.5H398.448C397.62 376.5 396.948 375.828 396.948 375V375ZM384.74 375C384.74 374.172 385.411 373.5 386.24 373.5H389.344C390.172 373.5 390.844 374.172 390.844 375V375C390.844 375.828 390.172 376.5 389.344 376.5H386.24C385.411 376.5 384.74 375.828 384.74 375V375ZM372.531 375C372.531 374.172 373.203 373.5 374.031 373.5H377.135C377.964 373.5 378.635 374.172 378.635 375V375C378.635 375.828 377.964 376.5 377.135 376.5H374.031C373.203 376.5 372.531 375.828 372.531 375V375ZM360.323 375C360.323 374.172 360.994 373.5 361.823 373.5H364.927C365.756 373.5 366.427 374.172 366.427 375V375C366.427 375.828 365.756 376.5 364.927 376.5H361.823C360.994 376.5 360.323 375.828 360.323 375V375ZM348.115 375C348.115 374.172 348.786 373.5 349.615 373.5H352.719C353.547 373.5 354.219 374.172 354.219 375V375C354.219 375.828 353.547 376.5 352.719 376.5H349.615C348.786 376.5 348.115 375.828 348.115 375V375ZM335.906 375C335.906 374.172 336.578 373.5 337.406 373.5H340.51C341.339 373.5 342.01 374.172 342.01 375V375C342.01 375.828 341.339 376.5 340.51 376.5H337.406C336.578 376.5 335.906 375.828 335.906 375V375ZM323.698 375C323.698 374.172 324.369 373.5 325.198 373.5H328.302C329.13 373.5 329.802 374.172 329.802 375V375C329.802 375.828 329.13 376.5 328.302 376.5H325.198C324.369 376.5 323.698 375.828 323.698 375V375ZM311.49 375C311.49 374.172 312.161 373.5 312.99 373.5H316.094C316.922 373.5 317.594 374.172 317.594 375V375C317.594 375.828 316.922 376.5 316.094 376.5H312.99C312.161 376.5 311.49 375.828 311.49 375V375ZM299.281 375C299.281 374.172 299.953 373.5 300.781 373.5H303.885C304.714 373.5 305.385 374.172 305.385 375V375C305.385 375.828 304.714 376.5 303.885 376.5H300.781C299.953 376.5 299.281 375.828 299.281 375V375ZM287.073 375C287.073 374.172 287.744 373.5 288.573 373.5H291.677C292.505 373.5 293.177 374.172 293.177 375V375C293.177 375.828 292.505 376.5 291.677 376.5H288.573C287.744 376.5 287.073 375.828 287.073 375V375ZM274.865 375C274.865 374.172 275.536 373.5 276.365 373.5H279.469C280.297 373.5 280.969 374.172 280.969 375V375C280.969 375.828 280.297 376.5 279.469 376.5H276.365C275.536 376.5 274.865 375.828 274.865 375V375Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M529 356.525C529 357.354 528.328 358.025 527.5 358.025L526.021 358.025C525.193 358.025 524.521 357.354 524.521 356.525V356.525C524.521 355.697 525.193 355.025 526.021 355.025L527.5 355.025C528.328 355.025 529 355.697 529 356.525ZM512.605 356.525C512.605 355.697 513.277 355.025 514.105 355.025L517.063 355.025C517.892 355.025 518.563 355.697 518.563 356.525V356.525C518.563 357.354 517.892 358.025 517.063 358.025L514.105 358.025C513.277 358.025 512.605 357.354 512.605 356.525V356.525ZM500.69 356.525C500.69 355.697 501.361 355.025 502.19 355.025L505.148 355.025C505.976 355.025 506.648 355.697 506.648 356.525V356.525C506.648 357.354 505.976 358.025 505.148 358.025L502.19 358.025C501.361 358.025 500.69 357.354 500.69 356.525V356.525ZM488.774 356.525C488.774 355.697 489.446 355.025 490.274 355.025L493.232 355.025C494.06 355.025 494.732 355.697 494.732 356.525V356.525C494.732 357.354 494.06 358.025 493.232 358.025L490.274 358.025C489.446 358.025 488.774 357.354 488.774 356.525V356.525ZM476.858 356.525C476.858 355.697 477.53 355.025 478.358 355.025L481.316 355.025C482.145 355.025 482.816 355.697 482.816 356.525V356.525C482.816 357.354 482.145 358.025 481.316 358.025L478.358 358.025C477.53 358.025 476.858 357.354 476.858 356.525V356.525ZM464.943 356.525C464.943 355.697 465.614 355.025 466.443 355.025L469.4 355.025C470.229 355.025 470.9 355.697 470.9 356.525V356.525C470.9 357.354 470.229 358.025 469.4 358.025L466.443 358.025C465.614 358.025 464.943 357.354 464.943 356.525V356.525ZM453.027 356.525C453.027 355.697 453.698 355.025 454.527 355.025L457.485 355.025C458.313 355.025 458.985 355.697 458.985 356.525V356.525C458.985 357.354 458.313 358.025 457.485 358.025L454.527 358.025C453.698 358.025 453.027 357.354 453.027 356.525V356.525ZM441.111 356.525C441.111 355.697 441.783 355.025 442.611 355.025L445.569 355.025C446.397 355.025 447.069 355.697 447.069 356.525V356.525C447.069 357.354 446.397 358.025 445.569 358.025L442.611 358.025C441.783 358.025 441.111 357.354 441.111 356.525V356.525ZM429.196 356.525C429.196 355.697 429.867 355.025 430.696 355.025L433.653 355.025C434.482 355.025 435.153 355.697 435.153 356.525V356.525C435.153 357.354 434.482 358.025 433.653 358.025L430.696 358.025C429.867 358.025 429.196 357.354 429.196 356.525V356.525ZM417.28 356.525C417.28 355.697 417.951 355.025 418.78 355.025L421.738 355.025C422.566 355.025 423.238 355.697 423.238 356.525V356.525C423.238 357.354 422.566 358.025 421.738 358.025L418.78 358.025C417.951 358.025 417.28 357.354 417.28 356.525V356.525ZM405.364 356.525C405.364 355.697 406.036 355.025 406.864 355.025L409.822 355.025C410.65 355.025 411.322 355.697 411.322 356.525V356.525C411.322 357.354 410.65 358.025 409.822 358.025L406.864 358.025C406.036 358.025 405.364 357.354 405.364 356.525V356.525ZM393.448 356.525C393.448 355.697 394.12 355.025 394.948 355.025L397.906 355.025C398.735 355.025 399.406 355.697 399.406 356.525V356.525C399.406 357.354 398.735 358.025 397.906 358.025L394.948 358.025C394.12 358.025 393.448 357.354 393.448 356.525V356.525ZM381.533 356.525C381.533 355.697 382.204 355.025 383.033 355.025L385.991 355.025C386.819 355.025 387.491 355.697 387.491 356.525V356.525C387.491 357.354 386.819 358.025 385.991 358.025L383.033 358.025C382.204 358.025 381.533 357.354 381.533 356.525V356.525ZM369.617 356.525C369.617 355.697 370.289 355.025 371.117 355.025L374.075 355.025C374.903 355.025 375.575 355.697 375.575 356.525V356.525C375.575 357.354 374.903 358.025 374.075 358.025L371.117 358.025C370.289 358.025 369.617 357.354 369.617 356.525V356.525ZM357.701 356.525C357.701 355.697 358.373 355.025 359.201 355.025L362.159 355.025C362.988 355.025 363.659 355.697 363.659 356.525V356.525C363.659 357.354 362.988 358.025 362.159 358.025L359.201 358.025C358.373 358.025 357.701 357.354 357.701 356.525V356.525ZM345.786 356.525C345.786 355.697 346.457 355.025 347.286 355.025L350.244 355.025C351.072 355.025 351.744 355.697 351.744 356.525V356.525C351.744 357.354 351.072 358.025 350.244 358.025L347.286 358.025C346.457 358.025 345.786 357.354 345.786 356.525V356.525ZM333.87 356.525C333.87 355.697 334.542 355.025 335.37 355.025L338.328 355.025C339.156 355.025 339.828 355.697 339.828 356.525V356.525C339.828 357.354 339.156 358.025 338.328 358.025L335.37 358.025C334.542 358.025 333.87 357.354 333.87 356.525V356.525ZM321.954 356.525C321.954 355.697 322.626 355.025 323.454 355.025L326.412 355.025C327.241 355.025 327.912 355.697 327.912 356.525V356.525C327.912 357.354 327.241 358.025 326.412 358.025L323.454 358.025C322.626 358.025 321.954 357.354 321.954 356.525V356.525ZM310.039 356.525C310.039 355.697 310.71 355.025 311.539 355.025L314.497 355.025C315.325 355.025 315.997 355.697 315.997 356.525V356.525C315.997 357.354 315.325 358.025 314.497 358.025L311.539 358.025C310.71 358.025 310.039 357.354 310.039 356.525V356.525ZM298.123 356.525C298.123 355.697 298.795 355.025 299.623 355.025L302.581 355.025C303.409 355.025 304.081 355.697 304.081 356.525V356.525C304.081 357.354 303.409 358.025 302.581 358.025L299.623 358.025C298.795 358.025 298.123 357.354 298.123 356.525V356.525ZM286.207 356.525C286.207 355.697 286.879 355.025 287.707 355.025L290.665 355.025C291.494 355.025 292.165 355.697 292.165 356.525V356.525C292.165 357.354 291.494 358.025 290.665 358.025L287.707 358.025C286.879 358.025 286.207 357.354 286.207 356.525V356.525ZM274.292 356.525C274.292 355.697 274.963 355.025 275.792 355.025L278.749 355.025C279.578 355.025 280.249 355.697 280.249 356.525V356.525C280.249 357.354 279.578 358.025 278.749 358.025L275.792 358.025C274.963 358.025 274.292 357.354 274.292 356.525V356.525ZM262.376 356.525C262.376 355.697 263.048 355.025 263.876 355.025L266.834 355.025C267.662 355.025 268.334 355.697 268.334 356.525V356.525C268.334 357.354 267.662 358.025 266.834 358.025L263.876 358.025C263.048 358.025 262.376 357.354 262.376 356.525V356.525ZM253.439 355.025L254.918 355.025C255.747 355.025 256.418 355.697 256.418 356.525V356.525C256.418 357.354 255.747 358.025 254.918 358.025L253.439 358.025C252.611 358.025 251.939 357.354 251.939 356.525C251.939 355.697 252.611 355.025 253.439 355.025Z" fill="#BABABA"/>
                            <g filter="url(#filter0_f_991_5872)">
                            <path d="M331.744 394.466C331.744 401.389 262.149 407.002 176.298 407.002C90.4483 407.002 20.853 401.389 20.853 394.466C20.853 387.542 90.4483 381.93 176.298 381.93C262.149 381.93 331.744 387.542 331.744 394.466Z" fill="#D9D9D9" fill-opacity="0.5"/>
                            </g>
                            <path d="M32.9614 80.3516H331.786V327.566C331.786 332.715 327.612 336.89 322.462 336.89H42.2856C37.136 336.89 32.9614 332.715 32.9614 327.566V80.3516Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M315.003 97.1351H49.7449V320.106H315.003V97.1351ZM32.9614 80.3516V327.566C32.9614 332.715 37.136 336.89 42.2856 336.89H322.462C327.612 336.89 331.786 332.715 331.786 327.566V80.3516H32.9614Z" fill="#DCDCDC"/>
                            <path d="M73.8384 167.197C73.8384 162.048 78.0129 157.873 83.1625 157.873H281.584C286.734 157.873 290.908 162.048 290.908 167.197V286.684C290.908 291.834 286.734 296.009 281.584 296.009H83.1625C78.0129 296.009 73.8384 291.834 73.8384 286.684V167.197Z" fill="#DCDCDC"/>
                            <path d="M149.954 81.7614L157.002 0.0078125H213.384L220.431 81.7614H149.954Z" fill="#757575"/>
                            <path d="M269.768 0.0078125H213.386L220.433 81.7614H292.32L269.768 0.0078125Z" fill="#BABABA"/>
                            <path d="M102.032 0.0078125H157.004L149.956 81.7614H79.4789L102.032 0.0078125Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M55.515 0C47.0577 0 42.5472 5.07436 35.7814 19.7336C29.0155 34.3929 15.108 67.1883 9 81.7536H79.4773L102.03 0H55.515ZM9 81.7539V102.897C9 122.359 24.7769 138.136 44.2386 138.136C63.7004 138.136 79.4773 122.359 79.4773 102.897V81.7539H9Z" fill="#757575"/>
                            <path d="M149.954 111.575V81.7559H220.431V111.575C220.431 127.024 207.908 139.547 192.459 139.547H177.927C162.478 139.547 149.954 127.024 149.954 111.575Z" fill="#757575"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M316.284 0C324.741 0 329.252 5.07436 336.018 19.7336C342.784 34.3929 356.691 67.1883 362.799 81.7536H292.322L269.769 0H316.284ZM292.322 81.7539V102.897C292.322 122.359 308.098 138.136 327.56 138.136C347.022 138.136 362.799 122.359 362.799 102.897V81.7539H292.322Z" fill="#757575"/>
                            <path d="M79.4775 110.165V81.7559H149.955V110.165C149.955 125.614 137.431 138.138 121.982 138.138H107.45C92.0012 138.138 79.4775 125.614 79.4775 110.165Z" fill="#BABABA"/>
                            <path d="M220.432 111.575V81.7559H292.319V111.575C292.319 127.024 279.795 139.547 264.346 139.547H248.405C232.956 139.547 220.432 127.024 220.432 111.575Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M168.214 228.287V256.544H151.43V222.693C151.43 216.513 156.44 211.504 162.619 211.504H199.311C205.491 211.504 210.5 216.513 210.5 222.693V256.544H193.717V228.287H168.214Z" fill="black"/>
                            <path d="M133.295 250.904H228.636C229.584 250.904 230.381 251.616 230.488 252.557L240.982 344.381C241.299 347.148 239.135 349.572 236.351 349.572H125.58C122.796 349.572 120.632 347.148 120.948 344.381L131.442 252.557C131.55 251.616 132.347 250.904 133.295 250.904Z" fill="#757575"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M233.731 252.187C233.435 249.596 231.243 247.641 228.636 247.641H133.295C130.688 247.641 128.496 249.596 128.2 252.187L117.706 344.01C117.169 348.713 120.847 352.836 125.58 352.836H236.351C241.084 352.836 244.763 348.713 244.225 344.01L233.731 252.187ZM227.388 254.168L237.74 344.751C237.835 345.581 237.186 346.309 236.351 346.309H125.58C124.745 346.309 124.096 345.581 124.191 344.751L134.543 254.168H227.388Z" fill="#757575"/>
                            <defs>
                            <filter id="filter0_f_991_5872" x="0.853027" y="361.93" width="350.891" height="65.0723" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_991_5872"/>
                            </filter>
                            </defs>
                        </svg>
    
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a supplier</h2>
                        <ul>
                            <li>Attend vendor showcases and stakeholder engagements to increase visibility and reach within the public sector.</li>
                            <li>Demonstrate your strengths and capabilities to attract buyers, build connections and convert them into long-term partnerships.</li>
                            <li>Collaborate on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing some basic details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your digital offerings.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about initiatives tailored to your expertise.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Supplier sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                    </div>

                                    <fieldset>
                                        <legend>What sector do you work in? <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="hardware-products" name="checkbox" value="hardware-products" type="checkbox"><label for="hardware-products">Hardware products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="software-products" name="checkbox" value="software-products" type="checkbox"><label for="software-products">Software products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="telecomms" name="checkbox" value="telecomms" type="checkbox"><label for="telecomms">Telecommunications</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="consulting" name="checkbox" value="consulting" type="checkbox"><label for="consulting">Consulting services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="data-centers" name="checkbox" value="data-centers" type="checkbox"><label for="data-centers">Data centers </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="data" name="checkbox" value="data" type="checkbox"><label for="data">Data products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="cloud" name="checkbox" value="cloud" type="checkbox"><label for="cloud">Cloud Services </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="cyber" name="checkbox" value="cyber" type="checkbox"><label for="cyber">Cybersecurity products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="ai-services" name="checkbox" value="ai-services" type="checkbox"><label for="ai-services">AI products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="checkbox" value="other" type="checkbox" value="other"><label for="other">Other</label>
                                        </div>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value="" required="required" aria-required="true">
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="worked-with-goa" name="describe-interest" type="radio"><label for="worked-with-goa">I have worked with the Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="curently-work-goa" name="describe-interest" type="radio"><label for="curently-work-goa">I currently work with the Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="like-to-work-goa" name="describe-interest" type="radio"><label for="like-to-work-goa">I would like to work with the Government of Alberta </label>
                                        </div>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var otherCheckboxRadio = formFieldset[o].querySelector('.goa-option > input[value="other"]');
                    var otherOrgInput = formFieldset[o].querySelector('.goa-option > input[name="other-org"]');
                    var formFieldset = formFieldset[o];
                            
                    var otherDiv = document.createElement('div');
                    var otherLabel = document.createElement('label');
                    var otherInput = document.createElement('input');
                    var otherRequired = document.createElement('span');
                    var randomIdOther = Math.random();

                    otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                    otherLabel.innerText = 'If "other" is selected, please specify '
                    otherRequired.classList.add('required');
                    otherRequired.innerText = '*';
                    otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('type', 'text');
                    otherInput.setAttribute('value', '');
                    otherInput.setAttribute('required', 'required');
                    otherInput.setAttribute('aria-required', 'true');

                    otherLabel.appendChild(otherRequired);
                    otherDiv.appendChild(otherLabel);
                    otherDiv.appendChild(otherInput);
                    formFieldset.parentNode.insertBefore(otherDiv, formFieldset.nextSibling);

                    if (otherCheckboxRadio) {
                        otherCheckboxRadio.addEventListener('click', function () {
                            if (otherCheckboxRadio.checked) {
                                formFieldset.classList.add('show-other');
                            } else {
                                formFieldset.classList.remove('show-other');
                            };
                        });
                    } else if (otherOrgInput) {
                        otherOrgInput.addEventListener('click', function () {
                            if (otherOrgInput.checked) {
                                formFieldset.classList.add('show-other');
                            } else {
                                formFieldset.classList.remove('show-other');
                            };
                        });
                    }
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };

        </script>

    </body>

</html>