---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Suppliers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Suppliers | Alberta Digital Marketplace" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
        
        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/" title="Home" rel="home">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About us</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Suppliers</li>
                            </ul>
                        </div>
                        <h1>Maximize your impact in the public sector</h1>
                        <p class="lede">Be the first to know about government initiatives, community engagements, programs and events.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="559" height="476" viewBox="0 0 559 476" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.8" filter="url(#filter0_f_873_18042)">
                            <ellipse cx="211.139" cy="407.544" rx="109.683" ry="16.4561" fill="#D9D9D9"/>
                            </g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M534.032 199.5C534.032 200.605 533.136 201.5 532.032 201.5L530.082 201.5C528.977 201.5 528.082 200.605 528.082 199.5L528.082 198.5C528.082 197.395 528.977 196.5 530.082 196.5L532.032 196.5C533.136 196.5 534.032 197.395 534.032 198.5L534.032 199.5ZM522.132 199.5C522.132 200.605 521.236 201.5 520.132 201.5L518.182 201.5C517.077 201.5 516.182 200.605 516.182 199.5L516.182 198.5C516.182 197.395 517.077 196.5 518.182 196.5L520.132 196.5C521.236 196.5 522.132 197.395 522.132 198.5L522.132 199.5ZM510.232 199.5C510.232 200.605 509.336 201.5 508.232 201.5L506.282 201.5C505.177 201.5 504.282 200.605 504.282 199.5L504.282 198.5C504.282 197.395 505.177 196.5 506.282 196.5L508.232 196.5C509.336 196.5 510.232 197.395 510.232 198.5L510.232 199.5ZM498.332 199.5C498.332 200.605 497.436 201.5 496.332 201.5L494.382 201.5C493.277 201.5 492.382 200.605 492.382 199.5L492.382 198.5C492.382 197.395 493.277 196.5 494.382 196.5L496.332 196.5C497.436 196.5 498.332 197.395 498.332 198.5L498.332 199.5ZM486.432 199.5C486.432 200.605 485.536 201.5 484.432 201.5L482.482 201.5C481.377 201.5 480.482 200.605 480.482 199.5L480.482 198.5C480.482 197.395 481.377 196.5 482.482 196.5L484.432 196.5C485.536 196.5 486.432 197.395 486.432 198.5L486.432 199.5ZM474.532 199.5C474.532 200.605 473.636 201.5 472.532 201.5L470.582 201.5C469.477 201.5 468.582 200.605 468.582 199.5L468.582 198.5C468.582 197.395 469.477 196.5 470.582 196.5L472.532 196.5C473.636 196.5 474.532 197.395 474.532 198.5L474.532 199.5ZM462.632 199.5C462.632 200.605 461.736 201.5 460.632 201.5L458.682 201.5C457.577 201.5 456.682 200.605 456.682 199.5L456.682 198.5C456.682 197.395 457.577 196.5 458.682 196.5L460.632 196.5C461.736 196.5 462.632 197.395 462.632 198.5L462.632 199.5ZM450.732 199.5C450.732 200.605 449.836 201.5 448.732 201.5L446.782 201.5C445.677 201.5 444.782 200.605 444.782 199.5L444.782 198.5C444.782 197.395 445.677 196.5 446.782 196.5L448.732 196.5C449.836 196.5 450.732 197.395 450.732 198.5L450.732 199.5ZM438.832 199.5C438.832 200.605 437.936 201.5 436.832 201.5L434.882 201.5C433.777 201.5 432.882 200.605 432.882 199.5L432.882 198.5C432.882 197.395 433.777 196.5 434.882 196.5L436.832 196.5C437.936 196.5 438.832 197.395 438.832 198.5L438.832 199.5ZM426.932 199.5C426.932 200.605 426.036 201.5 424.932 201.5L422.982 201.5C421.877 201.5 420.982 200.605 420.982 199.5L420.982 198.5C420.982 197.395 421.877 196.5 422.982 196.5L424.932 196.5C426.036 196.5 426.932 197.395 426.932 198.5L426.932 199.5ZM415.032 199.5C415.032 200.605 414.136 201.5 413.032 201.5L411.082 201.5C409.977 201.5 409.082 200.605 409.082 199.5L409.082 198.5C409.082 197.395 409.977 196.5 411.082 196.5L413.032 196.5C414.136 196.5 415.032 197.395 415.032 198.5L415.032 199.5ZM403.132 199.5C403.132 200.605 402.236 201.5 401.132 201.5L399.182 201.5C398.077 201.5 397.182 200.605 397.182 199.5L397.182 198.5C397.182 197.395 398.077 196.5 399.182 196.5L401.132 196.5C402.236 196.5 403.132 197.395 403.132 198.5L403.132 199.5ZM391.232 199.5C391.232 200.605 390.336 201.5 389.232 201.5L387.282 201.5C386.177 201.5 385.282 200.605 385.282 199.5L385.282 198.5C385.282 197.395 386.177 196.5 387.282 196.5L389.232 196.5C390.336 196.5 391.232 197.395 391.232 198.5L391.232 199.5ZM379.332 199.5C379.332 200.605 378.436 201.5 377.332 201.5L375.382 201.5C374.277 201.5 373.382 200.605 373.382 199.5L373.382 198.5C373.382 197.395 374.277 196.5 375.382 196.5L377.332 196.5C378.436 196.5 379.332 197.395 379.332 198.5L379.332 199.5ZM367.432 199.5C367.432 200.605 366.536 201.5 365.432 201.5L363.482 201.5C362.377 201.5 361.482 200.605 361.482 199.5L361.482 198.5C361.482 197.395 362.377 196.5 363.482 196.5L365.432 196.5C366.536 196.5 367.432 197.395 367.432 198.5L367.432 199.5ZM355.532 199.5C355.532 200.605 354.636 201.5 353.532 201.5L351.582 201.5C350.477 201.5 349.582 200.605 349.582 199.5L349.582 198.5C349.582 197.395 350.477 196.5 351.582 196.5L353.532 196.5C354.636 196.5 355.532 197.395 355.532 198.5L355.532 199.5ZM343.632 199.5C343.632 200.605 342.736 201.5 341.632 201.5L339.682 201.5C338.577 201.5 337.682 200.605 337.682 199.5L337.682 198.5C337.682 197.395 338.577 196.5 339.682 196.5L341.632 196.5C342.736 196.5 343.632 197.395 343.632 198.5L343.632 199.5ZM331.732 199.5C331.732 200.605 330.836 201.5 329.732 201.5L327.782 201.5C326.677 201.5 325.782 200.605 325.782 199.5L325.782 198.5C325.782 197.395 326.677 196.5 327.782 196.5L329.732 196.5C330.836 196.5 331.732 197.395 331.732 198.5L331.732 199.5ZM319.832 199.5C319.832 200.605 318.936 201.5 317.832 201.5L315.882 201.5C314.777 201.5 313.882 200.605 313.882 199.5L313.882 198.5C313.882 197.395 314.777 196.5 315.882 196.5L317.832 196.5C318.936 196.5 319.832 197.395 319.832 198.5L319.832 199.5ZM307.932 200.013C307.932 200.834 307.266 201.5 306.444 201.5V201.5C305.623 201.5 304.957 200.834 304.957 200.013L304.957 197.988C304.957 197.166 305.623 196.5 306.444 196.5V196.5C307.266 196.5 307.932 197.166 307.932 197.988L307.932 200.013Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M496.736 219.5C496.736 218.395 497.632 217.5 498.736 217.5H500.824C501.929 217.5 502.824 218.395 502.824 219.5V220.5C502.824 221.605 501.929 222.5 500.824 222.5H498.736C497.632 222.5 496.736 221.605 496.736 220.5V219.5ZM484.56 219.5C484.56 218.395 485.455 217.5 486.56 217.5H488.648C489.752 217.5 490.648 218.395 490.648 219.5V220.5C490.648 221.605 489.752 222.5 488.648 222.5H486.56C485.455 222.5 484.56 221.605 484.56 220.5V219.5ZM472.383 219.5C472.383 218.395 473.279 217.5 474.383 217.5H476.471C477.576 217.5 478.471 218.395 478.471 219.5V220.5C478.471 221.605 477.576 222.5 476.471 222.5H474.383C473.279 222.5 472.383 221.605 472.383 220.5V219.5ZM460.207 219.5C460.207 218.395 461.102 217.5 462.207 217.5H464.295C465.399 217.5 466.295 218.395 466.295 219.5V220.5C466.295 221.605 465.399 222.5 464.295 222.5H462.207C461.102 222.5 460.207 221.605 460.207 220.5V219.5ZM448.03 219.5C448.03 218.395 448.926 217.5 450.03 217.5H452.118C453.223 217.5 454.118 218.395 454.118 219.5V220.5C454.118 221.605 453.223 222.5 452.118 222.5H450.03C448.926 222.5 448.03 221.605 448.03 220.5V219.5ZM435.854 219.5C435.854 218.395 436.749 217.5 437.854 217.5H439.942C441.047 217.5 441.942 218.395 441.942 219.5V220.5C441.942 221.605 441.047 222.5 439.942 222.5H437.854C436.749 222.5 435.854 221.605 435.854 220.5V219.5ZM423.677 219.5C423.677 218.395 424.573 217.5 425.677 217.5H427.766C428.87 217.5 429.766 218.395 429.766 219.5V220.5C429.766 221.605 428.87 222.5 427.766 222.5H425.677C424.573 222.5 423.677 221.605 423.677 220.5V219.5ZM411.501 219.5C411.501 218.395 412.396 217.5 413.501 217.5H415.589C416.694 217.5 417.589 218.395 417.589 219.5V220.5C417.589 221.605 416.694 222.5 415.589 222.5H413.501C412.396 222.5 411.501 221.605 411.501 220.5V219.5ZM399.324 219.5C399.324 218.395 400.22 217.5 401.324 217.5H403.413C404.517 217.5 405.413 218.395 405.413 219.5V220.5C405.413 221.605 404.517 222.5 403.413 222.5H401.324C400.22 222.5 399.324 221.605 399.324 220.5V219.5ZM387.148 219.5C387.148 218.395 388.043 217.5 389.148 217.5H391.236C392.341 217.5 393.236 218.395 393.236 219.5V220.5C393.236 221.605 392.341 222.5 391.236 222.5H389.148C388.043 222.5 387.148 221.605 387.148 220.5V219.5ZM374.971 219.5C374.971 218.395 375.867 217.5 376.971 217.5H379.06C380.164 217.5 381.06 218.395 381.06 219.5V220.5C381.06 221.605 380.164 222.5 379.06 222.5H376.971C375.867 222.5 374.971 221.605 374.971 220.5V219.5ZM362.795 219.5C362.795 218.395 363.69 217.5 364.795 217.5H366.883C367.988 217.5 368.883 218.395 368.883 219.5V220.5C368.883 221.605 367.988 222.5 366.883 222.5H364.795C363.69 222.5 362.795 221.605 362.795 220.5V219.5ZM350.618 219.5C350.618 218.395 351.514 217.5 352.618 217.5H354.707C355.811 217.5 356.707 218.395 356.707 219.5V220.5C356.707 221.605 355.811 222.5 354.707 222.5H352.618C351.514 222.5 350.618 221.605 350.618 220.5V219.5ZM338.442 219.5C338.442 218.395 339.337 217.5 340.442 217.5H342.53C343.635 217.5 344.53 218.395 344.53 219.5V220.5C344.53 221.605 343.635 222.5 342.53 222.5H340.442C339.337 222.5 338.442 221.605 338.442 220.5V219.5ZM326.265 219.5C326.265 218.395 327.161 217.5 328.265 217.5H330.354C331.458 217.5 332.354 218.395 332.354 219.5V220.5C332.354 221.605 331.458 222.5 330.354 222.5H328.265C327.161 222.5 326.265 221.605 326.265 220.5V219.5ZM314.089 219.5C314.089 218.395 314.984 217.5 316.089 217.5H318.177C319.282 217.5 320.177 218.395 320.177 219.5V220.5C320.177 221.605 319.282 222.5 318.177 222.5H316.089C314.984 222.5 314.089 221.605 314.089 220.5V219.5ZM304.957 219.022C304.957 218.181 305.638 217.5 306.479 217.5V217.5C307.319 217.5 308.001 218.181 308.001 219.022V220.978C308.001 221.819 307.319 222.5 306.479 222.5V222.5C305.638 222.5 304.957 221.819 304.957 220.978V219.022Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M544.099 263.5C544.099 264.605 543.204 265.5 542.099 265.5L540.195 265.5C539.09 265.5 538.195 264.605 538.195 263.5L538.195 262.5C538.195 261.395 539.09 260.5 540.195 260.5L542.099 260.5C543.204 260.5 544.099 261.395 544.099 262.5L544.099 263.5ZM532.29 263.5C532.29 264.605 531.395 265.5 530.29 265.5L528.385 265.5C527.281 265.5 526.385 264.605 526.385 263.5L526.385 262.5C526.385 261.395 527.281 260.5 528.385 260.5L530.29 260.5C531.395 260.5 532.29 261.395 532.29 262.5L532.29 263.5ZM520.48 263.5C520.48 264.605 519.585 265.5 518.48 265.5L516.576 265.5C515.471 265.5 514.576 264.605 514.576 263.5L514.576 262.5C514.576 261.395 515.471 260.5 516.576 260.5L518.48 260.5C519.585 260.5 520.48 261.395 520.48 262.5L520.48 263.5ZM508.671 263.5C508.671 264.605 507.776 265.5 506.671 265.5L504.766 265.5C503.662 265.5 502.766 264.605 502.766 263.5L502.766 262.5C502.766 261.395 503.662 260.5 504.766 260.5L506.671 260.5C507.776 260.5 508.671 261.395 508.671 262.5L508.671 263.5ZM496.861 263.5C496.861 264.605 495.966 265.5 494.861 265.5L492.957 265.5C491.852 265.5 490.957 264.605 490.957 263.5L490.957 262.5C490.957 261.395 491.852 260.5 492.957 260.5L494.861 260.5C495.966 260.5 496.861 261.395 496.861 262.5L496.861 263.5ZM485.052 263.5C485.052 264.605 484.157 265.5 483.052 265.5L481.147 265.5C480.043 265.5 479.147 264.605 479.147 263.5L479.147 262.5C479.147 261.395 480.043 260.5 481.147 260.5L483.052 260.5C484.157 260.5 485.052 261.395 485.052 262.5L485.052 263.5ZM473.242 263.5C473.242 264.605 472.347 265.5 471.242 265.5L469.338 265.5C468.233 265.5 467.338 264.605 467.338 263.5L467.338 262.5C467.338 261.395 468.233 260.5 469.338 260.5L471.242 260.5C472.347 260.5 473.242 261.395 473.242 262.5L473.242 263.5ZM461.433 263.5C461.433 264.605 460.537 265.5 459.433 265.5L457.528 265.5C456.424 265.5 455.528 264.605 455.528 263.5L455.528 262.5C455.528 261.395 456.424 260.5 457.528 260.5L459.433 260.5C460.537 260.5 461.433 261.395 461.433 262.5L461.433 263.5ZM449.623 263.5C449.623 264.605 448.728 265.5 447.623 265.5L445.719 265.5C444.614 265.5 443.719 264.605 443.719 263.5L443.719 262.5C443.719 261.395 444.614 260.5 445.719 260.5L447.623 260.5C448.728 260.5 449.623 261.395 449.623 262.5L449.623 263.5ZM437.814 263.5C437.814 264.605 436.918 265.5 435.814 265.5L433.909 265.5C432.805 265.5 431.909 264.605 431.909 263.5L431.909 262.5C431.909 261.395 432.805 260.5 433.909 260.5L435.814 260.5C436.918 260.5 437.814 261.395 437.814 262.5L437.814 263.5ZM426.004 263.5C426.004 264.605 425.109 265.5 424.004 265.5L422.1 265.5C420.995 265.5 420.1 264.605 420.1 263.5L420.1 262.5C420.1 261.395 420.995 260.5 422.1 260.5L424.004 260.5C425.109 260.5 426.004 261.395 426.004 262.5L426.004 263.5ZM414.195 263.5C414.195 264.605 413.299 265.5 412.195 265.5L410.29 265.5C409.186 265.5 408.29 264.605 408.29 263.5L408.29 262.5C408.29 261.395 409.186 260.5 410.29 260.5L412.195 260.5C413.299 260.5 414.195 261.395 414.195 262.5L414.195 263.5ZM402.385 263.5C402.385 264.605 401.49 265.5 400.385 265.5L398.481 265.5C397.376 265.5 396.481 264.605 396.481 263.5L396.481 262.5C396.481 261.395 397.376 260.5 398.481 260.5L400.385 260.5C401.49 260.5 402.385 261.395 402.385 262.5L402.385 263.5ZM390.576 263.5C390.576 264.605 389.68 265.5 388.576 265.5L386.671 265.5C385.566 265.5 384.671 264.605 384.671 263.5L384.671 262.5C384.671 261.395 385.566 260.5 386.671 260.5L388.576 260.5C389.68 260.5 390.576 261.395 390.576 262.5L390.576 263.5ZM378.766 263.5C378.766 264.605 377.871 265.5 376.766 265.5L374.862 265.5C373.757 265.5 372.862 264.605 372.862 263.5L372.862 262.5C372.862 261.395 373.757 260.5 374.862 260.5L376.766 260.5C377.871 260.5 378.766 261.395 378.766 262.5L378.766 263.5ZM366.957 263.5C366.957 264.605 366.061 265.5 364.957 265.5L363.052 265.5C361.947 265.5 361.052 264.605 361.052 263.5L361.052 262.5C361.052 261.395 361.947 260.5 363.052 260.5L364.957 260.5C366.061 260.5 366.957 261.395 366.957 262.5L366.957 263.5ZM355.147 263.5C355.147 264.605 354.252 265.5 353.147 265.5L351.242 265.5C350.138 265.5 349.242 264.605 349.242 263.5L349.242 262.5C349.242 261.395 350.138 260.5 351.242 260.5L353.147 260.5C354.252 260.5 355.147 261.395 355.147 262.5L355.147 263.5ZM343.338 263.5C343.338 264.605 342.442 265.5 341.338 265.5L339.433 265.5C338.328 265.5 337.433 264.605 337.433 263.5L337.433 262.5C337.433 261.395 338.328 260.5 339.433 260.5L341.338 260.5C342.442 260.5 343.338 261.395 343.338 262.5L343.338 263.5ZM331.528 263.5C331.528 264.605 330.633 265.5 329.528 265.5L327.623 265.5C326.519 265.5 325.623 264.605 325.623 263.5L325.623 262.5C325.623 261.395 326.519 260.5 327.623 260.5L329.528 260.5C330.633 260.5 331.528 261.395 331.528 262.5L331.528 263.5ZM319.719 263.5C319.719 264.605 318.823 265.5 317.719 265.5L315.814 265.5C314.709 265.5 313.814 264.605 313.814 263.5L313.814 262.5C313.814 261.395 314.709 260.5 315.814 260.5L317.719 260.5C318.823 260.5 319.719 261.395 319.719 262.5L319.719 263.5ZM307.909 264.024C307.909 264.839 307.248 265.5 306.433 265.5V265.5C305.618 265.5 304.957 264.839 304.957 264.024L304.957 261.976C304.957 261.161 305.618 260.5 306.433 260.5V260.5C307.248 260.5 307.909 261.161 307.909 261.976L307.909 264.024Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M552.07 240.5C552.07 239.395 552.966 238.5 554.07 238.5L556.025 238.5C557.129 238.5 558.025 239.395 558.025 240.5L558.025 241.5C558.025 242.605 557.129 243.5 556.025 243.5L554.07 243.5C552.966 243.5 552.07 242.605 552.07 241.5L552.07 240.5ZM540.161 240.5C540.161 239.395 541.057 238.5 542.161 238.5L544.116 238.5C545.22 238.5 546.116 239.395 546.116 240.5L546.116 241.5C546.116 242.605 545.22 243.5 544.116 243.5L542.161 243.5C541.057 243.5 540.161 242.605 540.161 241.5L540.161 240.5ZM528.252 240.5C528.252 239.395 529.148 238.5 530.252 238.5L532.207 238.5C533.311 238.5 534.207 239.395 534.207 240.5L534.207 241.5C534.207 242.605 533.311 243.5 532.207 243.5L530.252 243.5C529.148 243.5 528.252 242.605 528.252 241.5L528.252 240.5ZM516.343 240.5C516.343 239.395 517.239 238.5 518.343 238.5L520.298 238.5C521.402 238.5 522.298 239.395 522.298 240.5L522.298 241.5C522.298 242.605 521.402 243.5 520.298 243.5L518.343 243.5C517.239 243.5 516.343 242.605 516.343 241.5L516.343 240.5ZM504.434 240.5C504.434 239.395 505.329 238.5 506.434 238.5L508.389 238.5C509.493 238.5 510.389 239.395 510.389 240.5L510.389 241.5C510.389 242.605 509.493 243.5 508.389 243.5L506.434 243.5C505.329 243.5 504.434 242.605 504.434 241.5L504.434 240.5ZM492.525 240.5C492.525 239.395 493.42 238.5 494.525 238.5L496.479 238.5C497.584 238.5 498.479 239.395 498.479 240.5L498.479 241.5C498.479 242.605 497.584 243.5 496.479 243.5L494.525 243.5C493.42 243.5 492.525 242.605 492.525 241.5L492.525 240.5ZM480.616 240.5C480.616 239.395 481.511 238.5 482.616 238.5L484.57 238.5C485.675 238.5 486.57 239.395 486.57 240.5L486.57 241.5C486.57 242.605 485.675 243.5 484.57 243.5L482.616 243.5C481.511 243.5 480.616 242.605 480.616 241.5L480.616 240.5ZM468.707 240.5C468.707 239.395 469.602 238.5 470.707 238.5L472.661 238.5C473.766 238.5 474.661 239.395 474.661 240.5L474.661 241.5C474.661 242.605 473.766 243.5 472.661 243.5L470.707 243.5C469.602 243.5 468.707 242.605 468.707 241.5L468.707 240.5ZM456.798 240.5C456.798 239.395 457.693 238.5 458.798 238.5L460.752 238.5C461.857 238.5 462.752 239.395 462.752 240.5L462.752 241.5C462.752 242.605 461.857 243.5 460.752 243.5L458.798 243.5C457.693 243.5 456.798 242.605 456.798 241.5L456.798 240.5ZM444.889 240.5C444.889 239.395 445.784 238.5 446.889 238.5L448.843 238.5C449.948 238.5 450.843 239.395 450.843 240.5L450.843 241.5C450.843 242.605 449.948 243.5 448.843 243.5L446.889 243.5C445.784 243.5 444.889 242.605 444.889 241.5L444.889 240.5ZM432.979 240.5C432.979 239.395 433.875 238.5 434.979 238.5L436.934 238.5C438.039 238.5 438.934 239.395 438.934 240.5L438.934 241.5C438.934 242.605 438.039 243.5 436.934 243.5L434.979 243.5C433.875 243.5 432.979 242.605 432.979 241.5L432.979 240.5ZM421.07 240.5C421.07 239.395 421.966 238.5 423.07 238.5L425.025 238.5C426.13 238.5 427.025 239.395 427.025 240.5L427.025 241.5C427.025 242.605 426.13 243.5 425.025 243.5L423.07 243.5C421.966 243.5 421.07 242.605 421.07 241.5L421.07 240.5ZM409.161 240.5C409.161 239.395 410.057 238.5 411.161 238.5L413.116 238.5C414.22 238.5 415.116 239.395 415.116 240.5L415.116 241.5C415.116 242.605 414.22 243.5 413.116 243.5L411.161 243.5C410.057 243.5 409.161 242.605 409.161 241.5L409.161 240.5ZM397.252 240.5C397.252 239.395 398.148 238.5 399.252 238.5L401.207 238.5C402.311 238.5 403.207 239.395 403.207 240.5L403.207 241.5C403.207 242.605 402.311 243.5 401.207 243.5L399.252 243.5C398.148 243.5 397.252 242.605 397.252 241.5L397.252 240.5ZM385.343 240.5C385.343 239.395 386.239 238.5 387.343 238.5L389.298 238.5C390.402 238.5 391.298 239.395 391.298 240.5L391.298 241.5C391.298 242.605 390.402 243.5 389.298 243.5L387.343 243.5C386.239 243.5 385.343 242.605 385.343 241.5L385.343 240.5ZM373.434 240.5C373.434 239.395 374.329 238.5 375.434 238.5L377.389 238.5C378.493 238.5 379.389 239.395 379.389 240.5L379.389 241.5C379.389 242.605 378.493 243.5 377.389 243.5L375.434 243.5C374.329 243.5 373.434 242.605 373.434 241.5L373.434 240.5ZM361.525 240.5C361.525 239.395 362.42 238.5 363.525 238.5L365.479 238.5C366.584 238.5 367.479 239.395 367.479 240.5L367.479 241.5C367.479 242.605 366.584 243.5 365.479 243.5L363.525 243.5C362.42 243.5 361.525 242.605 361.525 241.5L361.525 240.5ZM349.616 240.5C349.616 239.395 350.511 238.5 351.616 238.5L353.57 238.5C354.675 238.5 355.57 239.395 355.57 240.5L355.57 241.5C355.57 242.605 354.675 243.5 353.57 243.5L351.616 243.5C350.511 243.5 349.616 242.605 349.616 241.5L349.616 240.5ZM337.707 240.5C337.707 239.395 338.602 238.5 339.707 238.5L341.661 238.5C342.766 238.5 343.661 239.395 343.661 240.5L343.661 241.5C343.661 242.605 342.766 243.5 341.661 243.5L339.707 243.5C338.602 243.5 337.707 242.605 337.707 241.5L337.707 240.5ZM325.798 240.5C325.798 239.395 326.693 238.5 327.798 238.5L329.752 238.5C330.857 238.5 331.752 239.395 331.752 240.5L331.752 241.5C331.752 242.605 330.857 243.5 329.752 243.5L327.798 243.5C326.693 243.5 325.798 242.605 325.798 241.5L325.798 240.5ZM313.889 240.5C313.889 239.395 314.784 238.5 315.889 238.5L317.843 238.5C318.948 238.5 319.843 239.395 319.843 240.5L319.843 241.5C319.843 242.605 318.948 243.5 317.843 243.5L315.889 243.5C314.784 243.5 313.889 242.605 313.889 241.5L313.889 240.5ZM304.957 239.989C304.957 239.167 305.623 238.5 306.445 238.5V238.5C307.268 238.5 307.934 239.167 307.934 239.989L307.934 242.011C307.934 242.834 307.268 243.5 306.445 243.5V243.5C305.623 243.5 304.957 242.834 304.957 242.011L304.957 239.989Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M528.082 283.5C528.082 282.395 528.977 281.5 530.082 281.5L532.032 281.5C533.136 281.5 534.032 282.395 534.032 283.5L534.032 284.5C534.032 285.605 533.136 286.5 532.032 286.5L530.082 286.5C528.977 286.5 528.082 285.605 528.082 284.5L528.082 283.5ZM516.182 283.5C516.182 282.395 517.077 281.5 518.182 281.5L520.132 281.5C521.236 281.5 522.132 282.395 522.132 283.5L522.132 284.5C522.132 285.605 521.236 286.5 520.132 286.5L518.182 286.5C517.077 286.5 516.182 285.605 516.182 284.5L516.182 283.5ZM504.282 283.5C504.282 282.395 505.177 281.5 506.282 281.5L508.232 281.5C509.336 281.5 510.232 282.395 510.232 283.5L510.232 284.5C510.232 285.605 509.336 286.5 508.232 286.5L506.282 286.5C505.177 286.5 504.282 285.605 504.282 284.5L504.282 283.5ZM492.382 283.5C492.382 282.395 493.277 281.5 494.382 281.5L496.332 281.5C497.436 281.5 498.332 282.395 498.332 283.5L498.332 284.5C498.332 285.605 497.436 286.5 496.332 286.5L494.382 286.5C493.277 286.5 492.382 285.605 492.382 284.5L492.382 283.5ZM480.482 283.5C480.482 282.395 481.377 281.5 482.482 281.5L484.432 281.5C485.536 281.5 486.432 282.395 486.432 283.5L486.432 284.5C486.432 285.605 485.536 286.5 484.432 286.5L482.482 286.5C481.377 286.5 480.482 285.605 480.482 284.5L480.482 283.5ZM468.582 283.5C468.582 282.395 469.477 281.5 470.582 281.5L472.532 281.5C473.636 281.5 474.532 282.395 474.532 283.5L474.532 284.5C474.532 285.605 473.636 286.5 472.532 286.5L470.582 286.5C469.477 286.5 468.582 285.605 468.582 284.5L468.582 283.5ZM456.682 283.5C456.682 282.395 457.577 281.5 458.682 281.5L460.632 281.5C461.736 281.5 462.632 282.395 462.632 283.5L462.632 284.5C462.632 285.605 461.736 286.5 460.632 286.5L458.682 286.5C457.577 286.5 456.682 285.605 456.682 284.5L456.682 283.5ZM444.782 283.5C444.782 282.395 445.677 281.5 446.782 281.5L448.732 281.5C449.836 281.5 450.732 282.395 450.732 283.5L450.732 284.5C450.732 285.605 449.836 286.5 448.732 286.5L446.782 286.5C445.677 286.5 444.782 285.605 444.782 284.5L444.782 283.5ZM432.882 283.5C432.882 282.395 433.777 281.5 434.882 281.5L436.832 281.5C437.936 281.5 438.832 282.395 438.832 283.5L438.832 284.5C438.832 285.605 437.936 286.5 436.832 286.5L434.882 286.5C433.777 286.5 432.882 285.605 432.882 284.5L432.882 283.5ZM420.982 283.5C420.982 282.395 421.877 281.5 422.982 281.5L424.932 281.5C426.036 281.5 426.932 282.395 426.932 283.5L426.932 284.5C426.932 285.605 426.036 286.5 424.932 286.5L422.982 286.5C421.877 286.5 420.982 285.605 420.982 284.5L420.982 283.5ZM409.082 283.5C409.082 282.395 409.977 281.5 411.082 281.5L413.032 281.5C414.136 281.5 415.032 282.395 415.032 283.5L415.032 284.5C415.032 285.605 414.136 286.5 413.032 286.5L411.082 286.5C409.977 286.5 409.082 285.605 409.082 284.5L409.082 283.5ZM397.182 283.5C397.182 282.395 398.077 281.5 399.182 281.5L401.132 281.5C402.236 281.5 403.132 282.395 403.132 283.5L403.132 284.5C403.132 285.605 402.236 286.5 401.132 286.5L399.182 286.5C398.077 286.5 397.182 285.605 397.182 284.5L397.182 283.5ZM385.282 283.5C385.282 282.395 386.177 281.5 387.282 281.5L389.232 281.5C390.336 281.5 391.232 282.395 391.232 283.5L391.232 284.5C391.232 285.605 390.336 286.5 389.232 286.5L387.282 286.5C386.177 286.5 385.282 285.605 385.282 284.5L385.282 283.5ZM373.382 283.5C373.382 282.395 374.277 281.5 375.382 281.5L377.332 281.5C378.436 281.5 379.332 282.395 379.332 283.5L379.332 284.5C379.332 285.605 378.436 286.5 377.332 286.5L375.382 286.5C374.277 286.5 373.382 285.605 373.382 284.5L373.382 283.5ZM361.482 283.5C361.482 282.395 362.377 281.5 363.482 281.5L365.432 281.5C366.536 281.5 367.432 282.395 367.432 283.5L367.432 284.5C367.432 285.605 366.536 286.5 365.432 286.5L363.482 286.5C362.377 286.5 361.482 285.605 361.482 284.5L361.482 283.5ZM349.582 283.5C349.582 282.395 350.477 281.5 351.582 281.5L353.532 281.5C354.636 281.5 355.532 282.395 355.532 283.5L355.532 284.5C355.532 285.605 354.636 286.5 353.532 286.5L351.582 286.5C350.477 286.5 349.582 285.605 349.582 284.5L349.582 283.5ZM337.682 283.5C337.682 282.395 338.577 281.5 339.682 281.5L341.632 281.5C342.736 281.5 343.632 282.395 343.632 283.5L343.632 284.5C343.632 285.605 342.736 286.5 341.632 286.5L339.682 286.5C338.577 286.5 337.682 285.605 337.682 284.5L337.682 283.5ZM325.782 283.5C325.782 282.395 326.677 281.5 327.782 281.5L329.732 281.5C330.836 281.5 331.732 282.395 331.732 283.5L331.732 284.5C331.732 285.605 330.836 286.5 329.732 286.5L327.782 286.5C326.677 286.5 325.782 285.605 325.782 284.5L325.782 283.5ZM313.882 283.5C313.882 282.395 314.777 281.5 315.882 281.5L317.832 281.5C318.936 281.5 319.832 282.395 319.832 283.5L319.832 284.5C319.832 285.605 318.936 286.5 317.832 286.5L315.882 286.5C314.777 286.5 313.882 285.605 313.882 284.5L313.882 283.5ZM304.957 282.988C304.957 282.166 305.623 281.5 306.444 281.5V281.5C307.266 281.5 307.932 282.166 307.932 282.988L307.932 285.012C307.932 285.834 307.266 286.5 306.444 286.5V286.5C305.623 286.5 304.957 285.834 304.957 285.012L304.957 282.988Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M536.195 304.5C536.195 303.395 537.09 302.5 538.195 302.5H540.1C541.204 302.5 542.1 303.395 542.1 304.5V305.5C542.1 306.605 541.204 307.5 540.1 307.5H538.195C537.09 307.5 536.195 306.605 536.195 305.5V304.5ZM524.385 304.5C524.385 303.395 525.281 302.5 526.385 302.5H528.29C529.395 302.5 530.29 303.395 530.29 304.5V305.5C530.29 306.605 529.395 307.5 528.29 307.5H526.385C525.281 307.5 524.385 306.605 524.385 305.5V304.5ZM512.576 304.5C512.576 303.395 513.471 302.5 514.576 302.5H516.481C517.585 302.5 518.481 303.395 518.481 304.5V305.5C518.481 306.605 517.585 307.5 516.481 307.5H514.576C513.471 307.5 512.576 306.605 512.576 305.5V304.5ZM500.766 304.5C500.766 303.395 501.662 302.5 502.766 302.5H504.671C505.776 302.5 506.671 303.395 506.671 304.5V305.5C506.671 306.605 505.776 307.5 504.671 307.5H502.766C501.662 307.5 500.766 306.605 500.766 305.5V304.5ZM488.957 304.5C488.957 303.395 489.852 302.5 490.957 302.5H492.862C493.966 302.5 494.862 303.395 494.862 304.5V305.5C494.862 306.605 493.966 307.5 492.862 307.5H490.957C489.852 307.5 488.957 306.605 488.957 305.5V304.5ZM477.147 304.5C477.147 303.395 478.043 302.5 479.147 302.5H481.052C482.157 302.5 483.052 303.395 483.052 304.5V305.5C483.052 306.605 482.157 307.5 481.052 307.5H479.147C478.043 307.5 477.147 306.605 477.147 305.5V304.5ZM465.338 304.5C465.338 303.395 466.233 302.5 467.338 302.5H469.242C470.347 302.5 471.242 303.395 471.242 304.5V305.5C471.242 306.605 470.347 307.5 469.242 307.5H467.338C466.233 307.5 465.338 306.605 465.338 305.5V304.5ZM453.528 304.5C453.528 303.395 454.424 302.5 455.528 302.5H457.433C458.538 302.5 459.433 303.395 459.433 304.5V305.5C459.433 306.605 458.538 307.5 457.433 307.5H455.528C454.424 307.5 453.528 306.605 453.528 305.5V304.5ZM441.719 304.5C441.719 303.395 442.614 302.5 443.719 302.5H445.623C446.728 302.5 447.623 303.395 447.623 304.5V305.5C447.623 306.605 446.728 307.5 445.623 307.5H443.719C442.614 307.5 441.719 306.605 441.719 305.5V304.5ZM429.909 304.5C429.909 303.395 430.805 302.5 431.909 302.5H433.814C434.918 302.5 435.814 303.395 435.814 304.5V305.5C435.814 306.605 434.918 307.5 433.814 307.5H431.909C430.805 307.5 429.909 306.605 429.909 305.5V304.5ZM418.1 304.5C418.1 303.395 418.995 302.5 420.1 302.5H422.004C423.109 302.5 424.004 303.395 424.004 304.5V305.5C424.004 306.605 423.109 307.5 422.004 307.5H420.1C418.995 307.5 418.1 306.605 418.1 305.5V304.5ZM406.29 304.5C406.29 303.395 407.186 302.5 408.29 302.5H410.195C411.299 302.5 412.195 303.395 412.195 304.5V305.5C412.195 306.605 411.299 307.5 410.195 307.5H408.29C407.186 307.5 406.29 306.605 406.29 305.5V304.5ZM394.481 304.5C394.481 303.395 395.376 302.5 396.481 302.5H398.385C399.49 302.5 400.385 303.395 400.385 304.5V305.5C400.385 306.605 399.49 307.5 398.385 307.5H396.481C395.376 307.5 394.481 306.605 394.481 305.5V304.5ZM382.671 304.5C382.671 303.395 383.567 302.5 384.671 302.5H386.576C387.68 302.5 388.576 303.395 388.576 304.5V305.5C388.576 306.605 387.68 307.5 386.576 307.5H384.671C383.567 307.5 382.671 306.605 382.671 305.5V304.5ZM370.862 304.5C370.862 303.395 371.757 302.5 372.862 302.5H374.766C375.871 302.5 376.766 303.395 376.766 304.5V305.5C376.766 306.605 375.871 307.5 374.766 307.5H372.862C371.757 307.5 370.862 306.605 370.862 305.5V304.5ZM359.052 304.5C359.052 303.395 359.947 302.5 361.052 302.5H362.957C364.061 302.5 364.957 303.395 364.957 304.5V305.5C364.957 306.605 364.061 307.5 362.957 307.5H361.052C359.947 307.5 359.052 306.605 359.052 305.5V304.5ZM347.243 304.5C347.243 303.395 348.138 302.5 349.243 302.5H351.147C352.252 302.5 353.147 303.395 353.147 304.5V305.5C353.147 306.605 352.252 307.5 351.147 307.5H349.243C348.138 307.5 347.243 306.605 347.243 305.5V304.5ZM335.433 304.5C335.433 303.395 336.328 302.5 337.433 302.5H339.338C340.442 302.5 341.338 303.395 341.338 304.5V305.5C341.338 306.605 340.442 307.5 339.338 307.5H337.433C336.328 307.5 335.433 306.605 335.433 305.5V304.5ZM323.624 304.5C323.624 303.395 324.519 302.5 325.624 302.5H327.528C328.633 302.5 329.528 303.395 329.528 304.5V305.5C329.528 306.605 328.633 307.5 327.528 307.5H325.624C324.519 307.5 323.624 306.605 323.624 305.5V304.5ZM311.814 304.5C311.814 303.395 312.709 302.5 313.814 302.5H315.719C316.823 302.5 317.719 303.395 317.719 304.5V305.5C317.719 306.605 316.823 307.5 315.719 307.5H313.814C312.709 307.5 311.814 306.605 311.814 305.5V304.5ZM302.957 303.976C302.957 303.161 303.618 302.5 304.433 302.5V302.5C305.248 302.5 305.909 303.161 305.909 303.976V306.024C305.909 306.839 305.248 307.5 304.433 307.5V307.5C303.618 307.5 302.957 306.839 302.957 306.024V303.976Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M525.011 346.5C525.011 345.395 525.906 344.5 527.011 344.5L529.06 344.5C530.165 344.5 531.06 345.395 531.06 346.5L531.06 347.5C531.06 348.605 530.165 349.5 529.06 349.5L527.011 349.5C525.906 349.5 525.011 348.605 525.011 347.5L525.011 346.5ZM512.912 346.5C512.912 345.395 513.807 344.5 514.912 344.5L516.961 344.5C518.066 344.5 518.961 345.395 518.961 346.5L518.961 347.5C518.961 348.605 518.066 349.5 516.961 349.5L514.912 349.5C513.807 349.5 512.912 348.605 512.912 347.5L512.912 346.5ZM500.813 346.5C500.813 345.395 501.708 344.5 502.813 344.5L504.862 344.5C505.967 344.5 506.862 345.395 506.862 346.5L506.862 347.5C506.862 348.605 505.967 349.5 504.862 349.5L502.813 349.5C501.708 349.5 500.813 348.605 500.813 347.5L500.813 346.5ZM488.714 346.5C488.714 345.395 489.609 344.5 490.714 344.5L492.763 344.5C493.868 344.5 494.763 345.395 494.763 346.5L494.763 347.5C494.763 348.605 493.868 349.5 492.763 349.5L490.714 349.5C489.609 349.5 488.714 348.605 488.714 347.5L488.714 346.5ZM476.615 346.5C476.615 345.395 477.51 344.5 478.615 344.5L480.664 344.5C481.769 344.5 482.664 345.395 482.664 346.5L482.664 347.5C482.664 348.605 481.769 349.5 480.664 349.5L478.615 349.5C477.51 349.5 476.615 348.605 476.615 347.5L476.615 346.5ZM464.516 346.5C464.516 345.395 465.411 344.5 466.516 344.5L468.565 344.5C469.67 344.5 470.565 345.395 470.565 346.5L470.565 347.5C470.565 348.605 469.67 349.5 468.565 349.5L466.516 349.5C465.411 349.5 464.516 348.605 464.516 347.5L464.516 346.5ZM452.417 346.5C452.417 345.395 453.312 344.5 454.417 344.5L456.466 344.5C457.571 344.5 458.466 345.395 458.466 346.5L458.466 347.5C458.466 348.605 457.571 349.5 456.466 349.5L454.417 349.5C453.312 349.5 452.417 348.605 452.417 347.5L452.417 346.5ZM440.318 346.5C440.318 345.395 441.213 344.5 442.318 344.5L444.367 344.5C445.472 344.5 446.367 345.395 446.367 346.5L446.367 347.5C446.367 348.605 445.472 349.5 444.367 349.5L442.318 349.5C441.213 349.5 440.318 348.605 440.318 347.5L440.318 346.5ZM428.219 346.5C428.219 345.395 429.114 344.5 430.219 344.5L432.268 344.5C433.373 344.5 434.268 345.395 434.268 346.5L434.268 347.5C434.268 348.605 433.373 349.5 432.268 349.5L430.219 349.5C429.114 349.5 428.219 348.605 428.219 347.5L428.219 346.5ZM416.12 346.5C416.12 345.395 417.015 344.5 418.12 344.5L420.169 344.5C421.274 344.5 422.169 345.395 422.169 346.5L422.169 347.5C422.169 348.605 421.274 349.5 420.169 349.5L418.12 349.5C417.015 349.5 416.12 348.605 416.12 347.5L416.12 346.5ZM404.021 346.5C404.021 345.395 404.916 344.5 406.021 344.5L408.07 344.5C409.175 344.5 410.07 345.395 410.07 346.5L410.07 347.5C410.07 348.605 409.175 349.5 408.07 349.5L406.021 349.5C404.916 349.5 404.021 348.605 404.021 347.5L404.021 346.5ZM391.922 346.5C391.922 345.395 392.817 344.5 393.922 344.5L395.971 344.5C397.076 344.5 397.971 345.395 397.971 346.5L397.971 347.5C397.971 348.605 397.076 349.5 395.971 349.5L393.922 349.5C392.817 349.5 391.922 348.605 391.922 347.5L391.922 346.5ZM379.823 346.5C379.823 345.395 380.718 344.5 381.823 344.5L383.872 344.5C384.977 344.5 385.872 345.395 385.872 346.5L385.872 347.5C385.872 348.605 384.977 349.5 383.872 349.5L381.823 349.5C380.718 349.5 379.823 348.605 379.823 347.5L379.823 346.5ZM367.724 346.5C367.724 345.395 368.619 344.5 369.724 344.5L371.773 344.5C372.878 344.5 373.773 345.395 373.773 346.5L373.773 347.5C373.773 348.605 372.878 349.5 371.773 349.5L369.724 349.5C368.619 349.5 367.724 348.605 367.724 347.5L367.724 346.5ZM355.625 346.5C355.625 345.395 356.52 344.5 357.625 344.5L359.674 344.5C360.779 344.5 361.674 345.395 361.674 346.5L361.674 347.5C361.674 348.605 360.779 349.5 359.674 349.5L357.625 349.5C356.52 349.5 355.625 348.605 355.625 347.5L355.625 346.5ZM343.526 346.5C343.526 345.395 344.421 344.5 345.526 344.5L347.575 344.5C348.68 344.5 349.575 345.395 349.575 346.5L349.575 347.5C349.575 348.605 348.68 349.5 347.575 349.5L345.526 349.5C344.421 349.5 343.526 348.605 343.526 347.5L343.526 346.5ZM331.427 346.5C331.427 345.395 332.322 344.5 333.427 344.5L335.476 344.5C336.581 344.5 337.476 345.395 337.476 346.5L337.476 347.5C337.476 348.605 336.581 349.5 335.476 349.5L333.427 349.5C332.322 349.5 331.427 348.605 331.427 347.5L331.427 346.5ZM319.328 346.5C319.328 345.395 320.223 344.5 321.328 344.5L323.377 344.5C324.482 344.5 325.377 345.395 325.377 346.5L325.377 347.5C325.377 348.605 324.482 349.5 323.377 349.5L321.328 349.5C320.223 349.5 319.328 348.605 319.328 347.5L319.328 346.5ZM307.229 346.5C307.229 345.395 308.124 344.5 309.229 344.5L311.278 344.5C312.383 344.5 313.278 345.395 313.278 346.5L313.278 347.5C313.278 348.605 312.383 349.5 311.278 349.5L309.229 349.5C308.124 349.5 307.229 348.605 307.229 347.5L307.229 346.5ZM295.13 346.5C295.13 345.395 296.025 344.5 297.13 344.5L299.179 344.5C300.284 344.5 301.179 345.395 301.179 346.5L301.179 347.5C301.179 348.605 300.284 349.5 299.179 349.5L297.13 349.5C296.025 349.5 295.13 348.605 295.13 347.5L295.13 346.5ZM283.031 346.5C283.031 345.395 283.926 344.5 285.031 344.5L287.08 344.5C288.185 344.5 289.08 345.395 289.08 346.5L289.08 347.5C289.08 348.605 288.185 349.5 287.08 349.5L285.031 349.5C283.926 349.5 283.031 348.605 283.031 347.5L283.031 346.5ZM273.957 346.012C273.957 345.177 274.634 344.5 275.469 344.5V344.5C276.304 344.5 276.981 345.177 276.981 346.012L276.981 347.988C276.981 348.823 276.304 349.5 275.469 349.5V349.5C274.634 349.5 273.957 348.823 273.957 347.988L273.957 346.012Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M503.026 325.5C503.026 324.395 503.922 323.5 505.026 323.5L506.998 323.5C508.103 323.5 508.998 324.395 508.998 325.5L508.998 326.5C508.998 327.605 508.103 328.5 506.998 328.5L505.026 328.5C503.922 328.5 503.026 327.605 503.026 326.5L503.026 325.5ZM491.082 325.5C491.082 324.395 491.977 323.5 493.082 323.5L495.054 323.5C496.159 323.5 497.054 324.395 497.054 325.5L497.054 326.5C497.054 327.605 496.159 328.5 495.054 328.5L493.082 328.5C491.977 328.5 491.082 327.605 491.082 326.5L491.082 325.5ZM479.137 325.5C479.137 324.395 480.033 323.5 481.137 323.5L483.11 323.5C484.214 323.5 485.11 324.395 485.11 325.5L485.11 326.5C485.11 327.605 484.214 328.5 483.11 328.5L481.137 328.5C480.033 328.5 479.137 327.605 479.137 326.5L479.137 325.5ZM467.193 325.5C467.193 324.395 468.088 323.5 469.193 323.5L471.165 323.5C472.27 323.5 473.165 324.395 473.165 325.5L473.165 326.5C473.165 327.605 472.27 328.5 471.165 328.5L469.193 328.5C468.088 328.5 467.193 327.605 467.193 326.5L467.193 325.5ZM455.248 325.5C455.248 324.395 456.144 323.5 457.248 323.5L459.221 323.5C460.325 323.5 461.221 324.395 461.221 325.5L461.221 326.5C461.221 327.605 460.325 328.5 459.221 328.5L457.248 328.5C456.144 328.5 455.248 327.605 455.248 326.5L455.248 325.5ZM443.304 325.5C443.304 324.395 444.199 323.5 445.304 323.5L447.276 323.5C448.381 323.5 449.276 324.395 449.276 325.5L449.276 326.5C449.276 327.605 448.381 328.5 447.276 328.5L445.304 328.5C444.199 328.5 443.304 327.605 443.304 326.5L443.304 325.5ZM431.36 325.5C431.36 324.395 432.255 323.5 433.36 323.5L435.332 323.5C436.436 323.5 437.332 324.395 437.332 325.5L437.332 326.5C437.332 327.605 436.436 328.5 435.332 328.5L433.36 328.5C432.255 328.5 431.36 327.605 431.36 326.5L431.36 325.5ZM419.415 325.5C419.415 324.395 420.311 323.5 421.415 323.5L423.387 323.5C424.492 323.5 425.387 324.395 425.387 325.5L425.387 326.5C425.387 327.605 424.492 328.5 423.387 328.5L421.415 328.5C420.311 328.5 419.415 327.605 419.415 326.5L419.415 325.5ZM407.471 325.5C407.471 324.395 408.366 323.5 409.471 323.5L411.443 323.5C412.547 323.5 413.443 324.395 413.443 325.5L413.443 326.5C413.443 327.605 412.547 328.5 411.443 328.5L409.471 328.5C408.366 328.5 407.471 327.605 407.471 326.5L407.471 325.5ZM395.526 325.5C395.526 324.395 396.422 323.5 397.526 323.5L399.498 323.5C400.603 323.5 401.498 324.395 401.498 325.5L401.498 326.5C401.498 327.605 400.603 328.5 399.498 328.5L397.526 328.5C396.422 328.5 395.526 327.605 395.526 326.5L395.526 325.5ZM383.582 325.5C383.582 324.395 384.477 323.5 385.582 323.5L387.554 323.5C388.659 323.5 389.554 324.395 389.554 325.5L389.554 326.5C389.554 327.605 388.659 328.5 387.554 328.5L385.582 328.5C384.477 328.5 383.582 327.605 383.582 326.5L383.582 325.5ZM371.637 325.5C371.637 324.395 372.533 323.5 373.637 323.5L375.61 323.5C376.714 323.5 377.61 324.395 377.61 325.5L377.61 326.5C377.61 327.605 376.714 328.5 375.61 328.5L373.637 328.5C372.533 328.5 371.637 327.605 371.637 326.5L371.637 325.5ZM359.693 325.5C359.693 324.395 360.588 323.5 361.693 323.5L363.665 323.5C364.77 323.5 365.665 324.395 365.665 325.5L365.665 326.5C365.665 327.605 364.77 328.5 363.665 328.5L361.693 328.5C360.588 328.5 359.693 327.605 359.693 326.5L359.693 325.5ZM347.748 325.5C347.748 324.395 348.644 323.5 349.748 323.5L351.721 323.5C352.825 323.5 353.721 324.395 353.721 325.5L353.721 326.5C353.721 327.605 352.825 328.5 351.721 328.5L349.748 328.5C348.644 328.5 347.748 327.605 347.748 326.5L347.748 325.5ZM335.804 325.5C335.804 324.395 336.699 323.5 337.804 323.5L339.776 323.5C340.881 323.5 341.776 324.395 341.776 325.5L341.776 326.5C341.776 327.605 340.881 328.5 339.776 328.5L337.804 328.5C336.699 328.5 335.804 327.605 335.804 326.5L335.804 325.5ZM323.859 325.5C323.859 324.395 324.755 323.5 325.859 323.5L327.832 323.5C328.936 323.5 329.832 324.395 329.832 325.5L329.832 326.5C329.832 327.605 328.936 328.5 327.832 328.5L325.859 328.5C324.755 328.5 323.859 327.605 323.859 326.5L323.859 325.5ZM311.915 325.5C311.915 324.395 312.81 323.5 313.915 323.5L315.887 323.5C316.992 323.5 317.887 324.395 317.887 325.5L317.887 326.5C317.887 327.605 316.992 328.5 315.887 328.5L313.915 328.5C312.81 328.5 311.915 327.605 311.915 326.5L311.915 325.5ZM302.957 324.993C302.957 324.168 303.625 323.5 304.45 323.5V323.5C305.274 323.5 305.943 324.168 305.943 324.993L305.943 327.007C305.943 327.832 305.274 328.5 304.45 328.5V328.5C303.625 328.5 302.957 327.832 302.957 327.007L302.957 324.993Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M292.972 119.366H47.9229V322.325C47.9229 326.869 51.6059 330.553 56.1492 330.553H284.746C289.289 330.553 292.972 326.869 292.972 322.325V119.366ZM28.7285 100.167V322.325C28.7285 337.472 41.0051 349.752 56.1492 349.752H284.746C299.89 349.752 312.167 337.472 312.167 322.325V100.167H28.7285Z" fill="#005072"/>
                            <path d="M67.5007 189.304C67.5007 181.73 73.6391 175.591 81.2111 175.591H259.684C267.256 175.591 273.394 181.73 273.394 189.304V296.269C273.394 303.843 267.256 309.982 259.684 309.982H81.2111C73.6391 309.982 67.5007 303.843 67.5007 296.269V189.304Z" fill="#00B6ED"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M86.6952 194.789V290.784H254.2V194.789H86.6952ZM81.2111 175.591C73.6391 175.591 67.5007 181.73 67.5007 189.304V296.269C67.5007 303.843 73.6391 309.982 81.2111 309.982H259.684C267.256 309.982 273.394 303.843 273.394 296.269V189.304C273.394 181.73 267.256 175.591 259.684 175.591H81.2111Z" fill="#00B6ED"/>
                            <path d="M31.4025 41.1988C37.8199 26.9368 42.0983 22 50.1201 22H94.2402L72.8486 101.538L38.9567 122L6 118.5V101.735C6 101.605 6.02288 101.482 6.072 101.362C11.9021 87.1048 25.0115 55.402 31.4025 41.1988Z" fill="#0081A2"/>
                            <path d="M316.177 41.1988C309.76 26.9368 305.482 22 297.46 22H253.34L274.731 101.538H341.58C335.786 87.3674 322.595 55.4608 316.177 41.1988Z" fill="#0081A2"/>
                            <path d="M139.697 101.538L146.382 22H199.861L206.546 101.538H139.697Z" fill="#0081A2"/>
                            <path d="M6 122.96V102.538C6 101.986 6.44771 101.538 7 101.538H72.8486V122.96C72.8486 141.424 57.884 156.392 39.4243 156.392C20.9646 156.392 6 141.424 6 122.96Z" fill="#0081A2"/>
                            <path d="M139.697 124.331V101.538L142.957 62.5L203.957 70.7029L206.546 101.538V124.331C206.546 142.795 191.581 157.763 173.122 157.763C154.662 157.763 139.697 142.795 139.697 124.331Z" fill="#0081A2"/>
                            <path d="M274.731 122.96V88.5L332.457 79.5L341.58 101.538V122.96C341.58 141.424 326.615 156.392 308.156 156.392C289.696 156.392 274.731 141.424 274.731 122.96Z" fill="#0081A2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M94.2401 22H146.382L139.697 101.538H139.697V122.96C139.697 141.424 124.732 156.392 106.273 156.392C87.8129 156.392 72.8483 141.424 72.8483 122.96V101.538L82.4567 65.5L82.5317 65.5341L94.2401 22ZM253.34 22H199.861L206.546 101.534V123.663C206.546 142.496 221.809 157.763 240.638 157.763C259.467 157.763 274.731 142.496 274.731 123.663V101.538L274.731 101.538L274.718 101.487L268.957 79.5L268.816 79.5439L253.34 22Z" fill="#40CE97"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M158.653 245.529V271.585H139.459V244.158C139.459 234.312 147.439 226.33 157.282 226.33H180.939C190.783 226.33 198.763 234.312 198.763 244.158V271.585H179.568V245.529H158.653Z" fill="#005072"/>
                            <path d="M127.223 266.099H210.998C213.791 266.099 216.139 268.2 216.448 270.977L224.903 346.861C225.808 354.986 219.45 362.094 211.277 362.094H126.944C118.771 362.094 112.413 354.986 113.318 346.861L121.773 270.977C122.082 268.2 124.43 266.099 127.223 266.099Z" fill="#1EA9A1"/>
                            <g opacity="0.8" filter="url(#filter1_f_873_18042)">
                            <ellipse cx="164.096" cy="429.544" rx="109.683" ry="16.4561" fill="#D9D9D9"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_873_18042" x="71.4566" y="361.088" width="279.366" height="92.9121" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_873_18042"/>
                            </filter>
                            <filter id="filter1_f_873_18042" x="24.4133" y="383.088" width="279.366" height="92.9121" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_873_18042"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a supplier</h2>
                        <ul>
                            <li>Attend vendor showcases and stakeholder engagements to increase visibility and reach within the public sector.</li>
                            <li>Demonstrate your strengths and capabilities to attract buyers, build connections and convert them into long-term partnerships.</li>
                            <li>Collaborate on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing some basic details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your digital offerings.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about initiatives tailored to your expertise.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Supplier sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter your organization name</strong>
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">State your role within organization</strong>
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                            <strong class="error form-item--error-message">Enter your full name</strong>
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter in a valid email</strong>
                                    </div>

                                    <fieldset>
                                        <legend>What sector do you work in? <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="hardware-products" name="checkbox" value="hardware-products" type="checkbox"><label for="hardware-products">Hardware products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="software-products" name="checkbox" value="software-products" type="checkbox"><label for="software-products">Software products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="telecomms" name="checkbox" value="telecomms" type="checkbox"><label for="telecomms">Telecommunications</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="consulting" name="checkbox" value="consulting" type="checkbox"><label for="consulting">Consulting services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="data-centers" name="checkbox" value="data-centers" type="checkbox"><label for="data-centers">Data centers </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="data" name="checkbox" value="data" type="checkbox"><label for="data">Data products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="cloud" name="checkbox" value="cloud" type="checkbox"><label for="cloud">Cloud Services </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="cyber" name="checkbox" value="cyber" type="checkbox"><label for="cyber">Cybersecurity products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="ai-services" name="checkbox" value="ai-services" type="checkbox"><label for="ai-services">AI products and services</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="checkbox" value="other" type="checkbox" value="other"><label for="other">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select the sector you work in</strong>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value=""  aria-required="false">
                                        <strong class="error form-item--error-message">Enter a valid website URL</strong>
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter the location of your head office</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="worked-with-goa" name="describe-interest" type="radio"><label for="worked-with-goa">I have worked with the Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="curently-work-goa" name="describe-interest" type="radio"><label for="curently-work-goa">I currently work with the Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="like-to-work-goa" name="describe-interest" type="radio"><label for="like-to-work-goa">I would like to work with the Government of Alberta </label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an option</strong>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>