---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Buyers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Page title" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About us</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Buyers</li>
                            </ul>
                        </div>
                        <h1>Stay on top of what's ongoing and upcoming</h1>
                        <p class="lede">Be in the right place at the right time to meet qualified IT businesses and make powerful connections for future collaboration.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="663" height="435" viewBox="0 0 663 435" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M634.681 212.053C634.681 211.224 635.353 210.553 636.181 210.553L639.219 210.553C640.047 210.553 640.719 211.224 640.719 212.053C640.719 212.881 640.047 213.553 639.219 213.553L636.181 213.553C635.353 213.553 634.681 212.881 634.681 212.053ZM622.606 212.053C622.606 211.224 623.278 210.553 624.106 210.553L627.143 210.553C627.972 210.553 628.643 211.224 628.643 212.053C628.643 212.881 627.972 213.553 627.143 213.553L624.106 213.553C623.278 213.553 622.606 212.881 622.606 212.053ZM610.531 212.053C610.531 211.224 611.202 210.553 612.031 210.553L615.068 210.553C615.897 210.553 616.568 211.224 616.568 212.053C616.568 212.881 615.897 213.553 615.068 213.553L612.031 213.553C611.202 213.553 610.531 212.881 610.531 212.053ZM598.456 212.053C598.456 211.224 599.127 210.553 599.956 210.553L602.993 210.553C603.822 210.553 604.493 211.224 604.493 212.053C604.493 212.881 603.822 213.553 602.993 213.553L599.956 213.553C599.127 213.553 598.456 212.881 598.456 212.053ZM586.381 212.053C586.381 211.224 587.052 210.553 587.881 210.553L590.918 210.553C591.747 210.553 592.418 211.224 592.418 212.053C592.418 212.881 591.747 213.553 590.918 213.553L587.881 213.553C587.052 213.553 586.381 212.881 586.381 212.053ZM574.306 212.053C574.306 211.224 574.977 210.553 575.806 210.553L578.843 210.553C579.672 210.553 580.343 211.224 580.343 212.053C580.343 212.881 579.672 213.553 578.843 213.553L575.806 213.553C574.977 213.553 574.306 212.881 574.306 212.053ZM562.231 212.053C562.231 211.224 562.902 210.553 563.731 210.553L566.768 210.553C567.597 210.553 568.268 211.224 568.268 212.053C568.268 212.881 567.597 213.553 566.768 213.553L563.731 213.553C562.902 213.553 562.231 212.881 562.231 212.053ZM550.156 212.053C550.156 211.224 550.827 210.553 551.656 210.553L554.693 210.553C555.522 210.553 556.193 211.224 556.193 212.053C556.193 212.881 555.522 213.553 554.693 213.553L551.656 213.553C550.827 213.553 550.156 212.881 550.156 212.053ZM538.081 212.053C538.081 211.224 538.752 210.553 539.581 210.553L542.618 210.553C543.447 210.553 544.118 211.224 544.118 212.053C544.118 212.881 543.447 213.553 542.618 213.553L539.581 213.553C538.752 213.553 538.081 212.881 538.081 212.053ZM526.006 212.053C526.006 211.224 526.677 210.553 527.506 210.553L530.543 210.553C531.372 210.553 532.043 211.224 532.043 212.053C532.043 212.881 531.372 213.553 530.543 213.553L527.506 213.553C526.677 213.553 526.006 212.881 526.006 212.053ZM513.931 212.053C513.931 211.224 514.602 210.553 515.431 210.553L518.468 210.553C519.297 210.553 519.968 211.224 519.968 212.053C519.968 212.881 519.297 213.553 518.468 213.553L515.431 213.553C514.602 213.553 513.931 212.881 513.931 212.053ZM501.856 212.053C501.856 211.224 502.527 210.553 503.356 210.553L506.393 210.553C507.221 210.553 507.893 211.224 507.893 212.053C507.893 212.881 507.221 213.553 506.393 213.553L503.356 213.553C502.527 213.553 501.856 212.881 501.856 212.053ZM489.78 212.053C489.78 211.224 490.452 210.553 491.28 210.553L494.318 210.553C495.146 210.553 495.818 211.224 495.818 212.053C495.818 212.881 495.146 213.553 494.318 213.553L491.28 213.553C490.452 213.553 489.78 212.881 489.78 212.053ZM477.705 212.053C477.705 211.224 478.377 210.553 479.205 210.553L482.243 210.553C483.071 210.553 483.743 211.224 483.743 212.053C483.743 212.881 483.071 213.553 482.243 213.553L479.205 213.553C478.377 213.553 477.705 212.881 477.705 212.053ZM465.63 212.053C465.63 211.224 466.302 210.553 467.13 210.553L470.168 210.553C470.996 210.553 471.668 211.224 471.668 212.053C471.668 212.881 470.996 213.553 470.168 213.553L467.13 213.553C466.302 213.553 465.63 212.881 465.63 212.053ZM453.555 212.053C453.555 211.224 454.227 210.553 455.055 210.553L458.093 210.553C458.921 210.553 459.593 211.224 459.593 212.053C459.593 212.881 458.921 213.553 458.093 213.553L455.055 213.553C454.227 213.553 453.555 212.881 453.555 212.053ZM441.48 212.053C441.48 211.224 442.152 210.553 442.98 210.553L446.018 210.553C446.846 210.553 447.518 211.224 447.518 212.053C447.518 212.881 446.846 213.553 446.018 213.553L442.98 213.553C442.152 213.553 441.48 212.881 441.48 212.053ZM429.405 212.053C429.405 211.224 430.077 210.553 430.905 210.553L433.943 210.553C434.771 210.553 435.443 211.224 435.443 212.053C435.443 212.881 434.771 213.553 433.943 213.553L430.905 213.553C430.077 213.553 429.405 212.881 429.405 212.053ZM417.33 212.053C417.33 211.224 418.002 210.553 418.83 210.553L421.868 210.553C422.696 210.553 423.368 211.224 423.368 212.053C423.368 212.881 422.696 213.553 421.868 213.553L418.83 213.553C418.002 213.553 417.33 212.881 417.33 212.053ZM405.255 212.053C405.255 211.224 405.927 210.553 406.755 210.553L409.793 210.553C410.621 210.553 411.293 211.224 411.293 212.053C411.293 212.881 410.621 213.553 409.793 213.553L406.755 213.553C405.927 213.553 405.255 212.881 405.255 212.053ZM393.18 212.053C393.18 211.224 393.852 210.553 394.68 210.553L397.718 210.553C398.546 210.553 399.218 211.224 399.218 212.053C399.218 212.881 398.546 213.553 397.718 213.553L394.68 213.553C393.852 213.553 393.18 212.881 393.18 212.053ZM381.105 212.053C381.105 211.224 381.777 210.553 382.605 210.553L385.643 210.553C386.471 210.553 387.143 211.224 387.143 212.053C387.143 212.881 386.471 213.553 385.643 213.553L382.605 213.553C381.777 213.553 381.105 212.881 381.105 212.053ZM369.03 212.053C369.03 211.224 369.702 210.553 370.53 210.553L373.568 210.553C374.396 210.553 375.068 211.224 375.068 212.053C375.068 212.881 374.396 213.553 373.568 213.553L370.53 213.553C369.702 213.553 369.03 212.881 369.03 212.053ZM356.955 212.053C356.955 211.224 357.627 210.553 358.455 210.553L361.493 210.553C362.321 210.553 362.993 211.224 362.993 212.053C362.993 212.881 362.321 213.553 361.493 213.553L358.455 213.553C357.627 213.553 356.955 212.881 356.955 212.053ZM344.88 212.053C344.88 211.224 345.552 210.553 346.38 210.553L349.418 210.553C350.246 210.553 350.918 211.224 350.918 212.053C350.918 212.881 350.246 213.553 349.418 213.553L346.38 213.553C345.552 213.553 344.88 212.881 344.88 212.053ZM332.805 212.053C332.805 211.224 333.477 210.553 334.305 210.553L337.343 210.553C338.171 210.553 338.843 211.224 338.843 212.053C338.843 212.881 338.171 213.553 337.343 213.553L334.305 213.553C333.477 213.553 332.805 212.881 332.805 212.053ZM320.73 212.053C320.73 211.224 321.402 210.553 322.23 210.553L325.268 210.553C326.096 210.553 326.768 211.224 326.768 212.053C326.768 212.881 326.096 213.553 325.268 213.553L322.23 213.553C321.402 213.553 320.73 212.881 320.73 212.053ZM308.655 212.053C308.655 211.224 309.327 210.553 310.155 210.553L313.193 210.553C314.021 210.553 314.693 211.224 314.693 212.053C314.693 212.881 314.021 213.553 313.193 213.553L310.155 213.553C309.327 213.553 308.655 212.881 308.655 212.053ZM299.599 210.553L301.118 210.553C301.946 210.553 302.618 211.224 302.618 212.053C302.618 212.881 301.946 213.553 301.118 213.553L299.599 213.553C298.77 213.553 298.099 212.881 298.099 212.053C298.099 211.224 298.77 210.553 299.599 210.553Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M617.911 229C617.911 228.172 618.583 227.5 619.411 227.5H622.363C623.191 227.5 623.863 228.172 623.863 229C623.863 229.828 623.191 230.5 622.363 230.5H619.411C618.583 230.5 617.911 229.828 617.911 229ZM606.008 229C606.008 228.172 606.68 227.5 607.508 227.5H610.46C611.288 227.5 611.96 228.172 611.96 229C611.96 229.828 611.288 230.5 610.46 230.5H607.508C606.68 230.5 606.008 229.828 606.008 229ZM594.105 229C594.105 228.172 594.776 227.5 595.605 227.5H598.556C599.385 227.5 600.056 228.172 600.056 229C600.056 229.828 599.385 230.5 598.556 230.5H595.605C594.776 230.5 594.105 229.828 594.105 229ZM582.201 229C582.201 228.172 582.873 227.5 583.701 227.5H586.653C587.482 227.5 588.153 228.172 588.153 229C588.153 229.828 587.482 230.5 586.653 230.5H583.701C582.873 230.5 582.201 229.828 582.201 229ZM570.298 229C570.298 228.172 570.97 227.5 571.798 227.5H574.75C575.578 227.5 576.25 228.172 576.25 229C576.25 229.828 575.578 230.5 574.75 230.5H571.798C570.97 230.5 570.298 229.828 570.298 229ZM558.395 229C558.395 228.172 559.067 227.5 559.895 227.5H562.847C563.675 227.5 564.347 228.172 564.347 229C564.347 229.828 563.675 230.5 562.847 230.5H559.895C559.067 230.5 558.395 229.828 558.395 229ZM546.492 229C546.492 228.172 547.163 227.5 547.992 227.5H550.943C551.772 227.5 552.443 228.172 552.443 229C552.443 229.828 551.772 230.5 550.943 230.5H547.992C547.163 230.5 546.492 229.828 546.492 229ZM534.589 229C534.589 228.172 535.26 227.5 536.089 227.5H539.04C539.869 227.5 540.54 228.172 540.54 229C540.54 229.828 539.869 230.5 539.04 230.5H536.089C535.26 230.5 534.589 229.828 534.589 229ZM522.685 229C522.685 228.172 523.357 227.5 524.185 227.5H527.137C527.965 227.5 528.637 228.172 528.637 229C528.637 229.828 527.965 230.5 527.137 230.5H524.185C523.357 230.5 522.685 229.828 522.685 229ZM510.782 229C510.782 228.172 511.454 227.5 512.282 227.5H515.234C516.062 227.5 516.734 228.172 516.734 229C516.734 229.828 516.062 230.5 515.234 230.5H512.282C511.454 230.5 510.782 229.828 510.782 229ZM498.879 229C498.879 228.172 499.55 227.5 500.379 227.5H503.331C504.159 227.5 504.831 228.172 504.831 229C504.831 229.828 504.159 230.5 503.331 230.5H500.379C499.55 230.5 498.879 229.828 498.879 229ZM486.976 229C486.976 228.172 487.647 227.5 488.476 227.5H491.427C492.256 227.5 492.927 228.172 492.927 229C492.927 229.828 492.256 230.5 491.427 230.5H488.476C487.647 230.5 486.976 229.828 486.976 229ZM475.072 229C475.072 228.172 475.744 227.5 476.572 227.5H479.524C480.352 227.5 481.024 228.172 481.024 229C481.024 229.828 480.352 230.5 479.524 230.5H476.572C475.744 230.5 475.072 229.828 475.072 229ZM463.169 229C463.169 228.172 463.841 227.5 464.669 227.5H467.621C468.449 227.5 469.121 228.172 469.121 229C469.121 229.828 468.449 230.5 467.621 230.5H464.669C463.841 230.5 463.169 229.828 463.169 229ZM451.266 229C451.266 228.172 451.938 227.5 452.766 227.5H455.718C456.546 227.5 457.218 228.172 457.218 229C457.218 229.828 456.546 230.5 455.718 230.5H452.766C451.938 230.5 451.266 229.828 451.266 229ZM439.363 229C439.363 228.172 440.034 227.5 440.863 227.5H443.814C444.643 227.5 445.314 228.172 445.314 229C445.314 229.828 444.643 230.5 443.814 230.5H440.863C440.034 230.5 439.363 229.828 439.363 229ZM427.46 229C427.46 228.172 428.131 227.5 428.96 227.5H431.911C432.74 227.5 433.411 228.172 433.411 229C433.411 229.828 432.74 230.5 431.911 230.5H428.96C428.131 230.5 427.46 229.828 427.46 229ZM415.556 229C415.556 228.172 416.228 227.5 417.056 227.5H420.008C420.836 227.5 421.508 228.172 421.508 229C421.508 229.828 420.836 230.5 420.008 230.5H417.056C416.228 230.5 415.556 229.828 415.556 229ZM403.653 229C403.653 228.172 404.325 227.5 405.153 227.5H408.105C408.933 227.5 409.605 228.172 409.605 229C409.605 229.828 408.933 230.5 408.105 230.5H405.153C404.325 230.5 403.653 229.828 403.653 229ZM391.75 229C391.75 228.172 392.421 227.5 393.25 227.5H396.201C397.03 227.5 397.701 228.172 397.701 229C397.701 229.828 397.03 230.5 396.201 230.5H393.25C392.421 230.5 391.75 229.828 391.75 229ZM379.847 229C379.847 228.172 380.518 227.5 381.347 227.5H384.298C385.127 227.5 385.798 228.172 385.798 229C385.798 229.828 385.127 230.5 384.298 230.5H381.347C380.518 230.5 379.847 229.828 379.847 229ZM367.943 229C367.943 228.172 368.615 227.5 369.443 227.5H372.395C373.224 227.5 373.895 228.172 373.895 229C373.895 229.828 373.224 230.5 372.395 230.5H369.443C368.615 230.5 367.943 229.828 367.943 229ZM356.04 229C356.04 228.172 356.712 227.5 357.54 227.5H360.492C361.32 227.5 361.992 228.172 361.992 229C361.992 229.828 361.32 230.5 360.492 230.5H357.54C356.712 230.5 356.04 229.828 356.04 229ZM344.137 229C344.137 228.172 344.809 227.5 345.637 227.5H348.589C349.417 227.5 350.089 228.172 350.089 229C350.089 229.828 349.417 230.5 348.589 230.5H345.637C344.809 230.5 344.137 229.828 344.137 229ZM332.234 229C332.234 228.172 332.905 227.5 333.734 227.5H336.685C337.514 227.5 338.185 228.172 338.185 229C338.185 229.828 337.514 230.5 336.685 230.5H333.734C332.905 230.5 332.234 229.828 332.234 229ZM320.331 229C320.331 228.172 321.002 227.5 321.831 227.5H324.782C325.611 227.5 326.282 228.172 326.282 229C326.282 229.828 325.611 230.5 324.782 230.5H321.831C321.002 230.5 320.331 229.828 320.331 229ZM308.427 229C308.427 228.172 309.099 227.5 309.927 227.5H312.879C313.708 227.5 314.379 228.172 314.379 229C314.379 229.828 313.708 230.5 312.879 230.5H309.927C309.099 230.5 308.427 229.828 308.427 229ZM299.5 227.5H300.976C301.804 227.5 302.476 228.172 302.476 229C302.476 229.828 301.804 230.5 300.976 230.5H299.5C298.671 230.5 298 229.828 298 229C298 228.172 298.671 227.5 299.5 227.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M595.647 267C595.647 266.172 596.318 265.5 597.147 265.5H600.129C600.958 265.5 601.629 266.172 601.629 267C601.629 267.828 600.958 268.5 600.129 268.5H597.147C596.318 268.5 595.647 267.828 595.647 267ZM583.681 267C583.681 266.172 584.353 265.5 585.181 265.5H588.164C588.992 265.5 589.664 266.172 589.664 267C589.664 267.828 588.992 268.5 588.164 268.5H585.181C584.353 268.5 583.681 267.828 583.681 267ZM571.716 267C571.716 266.172 572.387 265.5 573.216 265.5H576.198C577.027 265.5 577.698 266.172 577.698 267C577.698 267.828 577.027 268.5 576.198 268.5H573.216C572.387 268.5 571.716 267.828 571.716 267ZM559.75 267C559.75 266.172 560.422 265.5 561.25 265.5H564.233C565.061 265.5 565.733 266.172 565.733 267C565.733 267.828 565.061 268.5 564.233 268.5H561.25C560.422 268.5 559.75 267.828 559.75 267ZM547.785 267C547.785 266.172 548.456 265.5 549.285 265.5H552.267C553.096 265.5 553.767 266.172 553.767 267C553.767 267.828 553.096 268.5 552.267 268.5H549.285C548.456 268.5 547.785 267.828 547.785 267ZM535.819 267C535.819 266.172 536.491 265.5 537.319 265.5H540.302C541.13 265.5 541.802 266.172 541.802 267C541.802 267.828 541.13 268.5 540.302 268.5H537.319C536.491 268.5 535.819 267.828 535.819 267ZM523.854 267C523.854 266.172 524.525 265.5 525.354 265.5H528.336C529.165 265.5 529.836 266.172 529.836 267C529.836 267.828 529.165 268.5 528.336 268.5H525.354C524.525 268.5 523.854 267.828 523.854 267ZM511.888 267C511.888 266.172 512.56 265.5 513.388 265.5H516.371C517.199 265.5 517.871 266.172 517.871 267C517.871 267.828 517.199 268.5 516.371 268.5H513.388C512.56 268.5 511.888 267.828 511.888 267ZM499.923 267C499.923 266.172 500.594 265.5 501.423 265.5H504.405C505.234 265.5 505.905 266.172 505.905 267C505.905 267.828 505.234 268.5 504.405 268.5H501.423C500.594 268.5 499.923 267.828 499.923 267ZM487.957 267C487.957 266.172 488.629 265.5 489.457 265.5H492.44C493.268 265.5 493.94 266.172 493.94 267C493.94 267.828 493.268 268.5 492.44 268.5H489.457C488.629 268.5 487.957 267.828 487.957 267ZM475.991 267C475.991 266.172 476.663 265.5 477.491 265.5H480.474C481.303 265.5 481.974 266.172 481.974 267C481.974 267.828 481.303 268.5 480.474 268.5H477.491C476.663 268.5 475.991 267.828 475.991 267ZM464.026 267C464.026 266.172 464.698 265.5 465.526 265.5H468.509C469.337 265.5 470.009 266.172 470.009 267C470.009 267.828 469.337 268.5 468.509 268.5H465.526C464.698 268.5 464.026 267.828 464.026 267ZM452.06 267C452.06 266.172 452.732 265.5 453.56 265.5H456.543C457.372 265.5 458.043 266.172 458.043 267C458.043 267.828 457.372 268.5 456.543 268.5H453.56C452.732 268.5 452.06 267.828 452.06 267ZM440.095 267C440.095 266.172 440.767 265.5 441.595 265.5H444.578C445.406 265.5 446.078 266.172 446.078 267C446.078 267.828 445.406 268.5 444.578 268.5H441.595C440.767 268.5 440.095 267.828 440.095 267ZM428.129 267C428.129 266.172 428.801 265.5 429.629 265.5H432.612C433.441 265.5 434.112 266.172 434.112 267C434.112 267.828 433.441 268.5 432.612 268.5H429.629C428.801 268.5 428.129 267.828 428.129 267ZM416.164 267C416.164 266.172 416.835 265.5 417.664 265.5H420.647C421.475 265.5 422.147 266.172 422.147 267C422.147 267.828 421.475 268.5 420.647 268.5H417.664C416.835 268.5 416.164 267.828 416.164 267ZM404.198 267C404.198 266.172 404.87 265.5 405.698 265.5H408.681C409.51 265.5 410.181 266.172 410.181 267C410.181 267.828 409.51 268.5 408.681 268.5H405.698C404.87 268.5 404.198 267.828 404.198 267ZM392.233 267C392.233 266.172 392.904 265.5 393.733 265.5H396.716C397.544 265.5 398.216 266.172 398.216 267C398.216 267.828 397.544 268.5 396.716 268.5H393.733C392.904 268.5 392.233 267.828 392.233 267ZM380.267 267C380.267 266.172 380.939 265.5 381.767 265.5H384.75C385.579 265.5 386.25 266.172 386.25 267C386.25 267.828 385.579 268.5 384.75 268.5H381.767C380.939 268.5 380.267 267.828 380.267 267ZM368.302 267C368.302 266.172 368.973 265.5 369.802 265.5H372.785C373.613 265.5 374.285 266.172 374.285 267C374.285 267.828 373.613 268.5 372.785 268.5H369.802C368.973 268.5 368.302 267.828 368.302 267ZM356.336 267C356.336 266.172 357.008 265.5 357.836 265.5H360.819C361.648 265.5 362.319 266.172 362.319 267C362.319 267.828 361.648 268.5 360.819 268.5H357.836C357.008 268.5 356.336 267.828 356.336 267ZM344.371 267C344.371 266.172 345.042 265.5 345.871 265.5H348.854C349.682 265.5 350.354 266.172 350.354 267C350.354 267.828 349.682 268.5 348.854 268.5H345.871C345.042 268.5 344.371 267.828 344.371 267ZM332.405 267C332.405 266.172 333.077 265.5 333.905 265.5H336.888C337.716 265.5 338.388 266.172 338.388 267C338.388 267.828 337.716 268.5 336.888 268.5H333.905C333.077 268.5 332.405 267.828 332.405 267ZM320.44 267C320.44 266.172 321.111 265.5 321.94 265.5H324.923C325.751 265.5 326.423 266.172 326.423 267C326.423 267.828 325.751 268.5 324.923 268.5H321.94C321.111 268.5 320.44 267.828 320.44 267ZM308.474 267C308.474 266.172 309.146 265.5 309.974 265.5H312.957C313.785 265.5 314.457 266.172 314.457 267C314.457 267.828 313.785 268.5 312.957 268.5H309.974C309.146 268.5 308.474 267.828 308.474 267ZM299.5 265.5H300.992C301.82 265.5 302.492 266.172 302.492 267C302.492 267.828 301.82 268.5 300.992 268.5H299.5C298.672 268.5 298 267.828 298 267C298 266.172 298.672 265.5 299.5 265.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M641.015 247C641.015 246.172 641.687 245.5 642.515 245.5H645.455C646.283 245.5 646.955 246.172 646.955 247C646.955 247.828 646.283 248.5 645.455 248.5H642.515C641.687 248.5 641.015 247.828 641.015 247ZM629.136 247C629.136 246.172 629.808 245.5 630.636 245.5H633.576C634.404 245.5 635.076 246.172 635.076 247C635.076 247.828 634.404 248.5 633.576 248.5H630.636C629.808 248.5 629.136 247.828 629.136 247ZM617.258 247C617.258 246.172 617.929 245.5 618.758 245.5H621.697C622.525 245.5 623.197 246.172 623.197 247C623.197 247.828 622.525 248.5 621.697 248.5H618.758C617.929 248.5 617.258 247.828 617.258 247ZM605.379 247C605.379 246.172 606.05 245.5 606.879 245.5H609.818C610.647 245.5 611.318 246.172 611.318 247C611.318 247.828 610.647 248.5 609.818 248.5H606.879C606.05 248.5 605.379 247.828 605.379 247ZM593.5 247C593.5 246.172 594.172 245.5 595 245.5H597.939C598.768 245.5 599.439 246.172 599.439 247C599.439 247.828 598.768 248.5 597.939 248.5H595C594.172 248.5 593.5 247.828 593.5 247ZM581.621 247C581.621 246.172 582.293 245.5 583.121 245.5H586.061C586.889 245.5 587.561 246.172 587.561 247C587.561 247.828 586.889 248.5 586.061 248.5H583.121C582.293 248.5 581.621 247.828 581.621 247ZM569.742 247C569.742 246.172 570.414 245.5 571.242 245.5H574.182C575.01 245.5 575.682 246.172 575.682 247C575.682 247.828 575.01 248.5 574.182 248.5H571.242C570.414 248.5 569.742 247.828 569.742 247ZM557.864 247C557.864 246.172 558.535 245.5 559.364 245.5H562.303C563.132 245.5 563.803 246.172 563.803 247C563.803 247.828 563.132 248.5 562.303 248.5H559.364C558.535 248.5 557.864 247.828 557.864 247ZM545.985 247C545.985 246.172 546.656 245.5 547.485 245.5H550.424C551.253 245.5 551.924 246.172 551.924 247C551.924 247.828 551.253 248.5 550.424 248.5H547.485C546.656 248.5 545.985 247.828 545.985 247ZM534.106 247C534.106 246.172 534.778 245.5 535.606 245.5H538.546C539.374 245.5 540.046 246.172 540.046 247C540.046 247.828 539.374 248.5 538.546 248.5H535.606C534.778 248.5 534.106 247.828 534.106 247ZM522.227 247C522.227 246.172 522.899 245.5 523.727 245.5H526.667C527.495 245.5 528.167 246.172 528.167 247C528.167 247.828 527.495 248.5 526.667 248.5H523.727C522.899 248.5 522.227 247.828 522.227 247ZM510.349 247C510.349 246.172 511.02 245.5 511.849 245.5H514.788C515.616 245.5 516.288 246.172 516.288 247C516.288 247.828 515.616 248.5 514.788 248.5H511.849C511.02 248.5 510.349 247.828 510.349 247ZM498.47 247C498.47 246.172 499.141 245.5 499.97 245.5H502.909C503.738 245.5 504.409 246.172 504.409 247C504.409 247.828 503.738 248.5 502.909 248.5H499.97C499.141 248.5 498.47 247.828 498.47 247ZM486.591 247C486.591 246.172 487.263 245.5 488.091 245.5H491.03C491.859 245.5 492.53 246.172 492.53 247C492.53 247.828 491.859 248.5 491.03 248.5H488.091C487.263 248.5 486.591 247.828 486.591 247ZM474.712 247C474.712 246.172 475.384 245.5 476.212 245.5H479.152C479.98 245.5 480.652 246.172 480.652 247C480.652 247.828 479.98 248.5 479.152 248.5H476.212C475.384 248.5 474.712 247.828 474.712 247ZM462.833 247C462.833 246.172 463.505 245.5 464.333 245.5H467.273C468.101 245.5 468.773 246.172 468.773 247C468.773 247.828 468.101 248.5 467.273 248.5H464.333C463.505 248.5 462.833 247.828 462.833 247ZM450.955 247C450.955 246.172 451.626 245.5 452.455 245.5H455.394C456.222 245.5 456.894 246.172 456.894 247C456.894 247.828 456.222 248.5 455.394 248.5H452.455C451.626 248.5 450.955 247.828 450.955 247ZM439.076 247C439.076 246.172 439.747 245.5 440.576 245.5H443.515C444.344 245.5 445.015 246.172 445.015 247C445.015 247.828 444.344 248.5 443.515 248.5H440.576C439.747 248.5 439.076 247.828 439.076 247ZM427.197 247C427.197 246.172 427.869 245.5 428.697 245.5H431.636C432.465 245.5 433.136 246.172 433.136 247C433.136 247.828 432.465 248.5 431.636 248.5H428.697C427.869 248.5 427.197 247.828 427.197 247ZM415.318 247C415.318 246.172 415.99 245.5 416.818 245.5H419.758C420.586 245.5 421.258 246.172 421.258 247C421.258 247.828 420.586 248.5 419.758 248.5H416.818C415.99 248.5 415.318 247.828 415.318 247ZM403.439 247C403.439 246.172 404.111 245.5 404.939 245.5H407.879C408.707 245.5 409.379 246.172 409.379 247C409.379 247.828 408.707 248.5 407.879 248.5H404.939C404.111 248.5 403.439 247.828 403.439 247ZM391.561 247C391.561 246.172 392.232 245.5 393.061 245.5H396C396.829 245.5 397.5 246.172 397.5 247C397.5 247.828 396.829 248.5 396 248.5H393.061C392.232 248.5 391.561 247.828 391.561 247ZM379.682 247C379.682 246.172 380.354 245.5 381.182 245.5H384.121C384.95 245.5 385.621 246.172 385.621 247C385.621 247.828 384.95 248.5 384.121 248.5H381.182C380.354 248.5 379.682 247.828 379.682 247ZM367.803 247C367.803 246.172 368.475 245.5 369.303 245.5H372.243C373.071 245.5 373.743 246.172 373.743 247C373.743 247.828 373.071 248.5 372.243 248.5H369.303C368.475 248.5 367.803 247.828 367.803 247ZM355.924 247C355.924 246.172 356.596 245.5 357.424 245.5H360.364C361.192 245.5 361.864 246.172 361.864 247C361.864 247.828 361.192 248.5 360.364 248.5H357.424C356.596 248.5 355.924 247.828 355.924 247ZM344.046 247C344.046 246.172 344.717 245.5 345.546 245.5H348.485C349.313 245.5 349.985 246.172 349.985 247C349.985 247.828 349.313 248.5 348.485 248.5H345.546C344.717 248.5 344.046 247.828 344.046 247ZM332.167 247C332.167 246.172 332.838 245.5 333.667 245.5H336.606C337.435 245.5 338.106 246.172 338.106 247C338.106 247.828 337.435 248.5 336.606 248.5H333.667C332.838 248.5 332.167 247.828 332.167 247Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M616.185 287C616.185 286.172 616.857 285.5 617.685 285.5H620.605C621.433 285.5 622.105 286.172 622.105 287C622.105 287.828 621.433 288.5 620.605 288.5H617.685C616.857 288.5 616.185 287.828 616.185 287ZM604.347 287C604.347 286.172 605.018 285.5 605.847 285.5H608.766C609.594 285.5 610.266 286.172 610.266 287C610.266 287.828 609.594 288.5 608.766 288.5H605.847C605.018 288.5 604.347 287.828 604.347 287ZM592.508 287C592.508 286.172 593.18 285.5 594.008 285.5H596.927C597.756 285.5 598.427 286.172 598.427 287C598.427 287.828 597.756 288.5 596.927 288.5H594.008C593.18 288.5 592.508 287.828 592.508 287ZM580.669 287C580.669 286.172 581.341 285.5 582.169 285.5H585.089C585.917 285.5 586.589 286.172 586.589 287C586.589 287.828 585.917 288.5 585.089 288.5H582.169C581.341 288.5 580.669 287.828 580.669 287ZM568.831 287C568.831 286.172 569.502 285.5 570.331 285.5H573.25C574.078 285.5 574.75 286.172 574.75 287C574.75 287.828 574.078 288.5 573.25 288.5H570.331C569.502 288.5 568.831 287.828 568.831 287ZM556.992 287C556.992 286.172 557.663 285.5 558.492 285.5H561.411C562.24 285.5 562.911 286.172 562.911 287C562.911 287.828 562.24 288.5 561.411 288.5H558.492C557.663 288.5 556.992 287.828 556.992 287ZM545.153 287C545.153 286.172 545.825 285.5 546.653 285.5H549.572C550.401 285.5 551.072 286.172 551.072 287C551.072 287.828 550.401 288.5 549.572 288.5H546.653C545.825 288.5 545.153 287.828 545.153 287ZM533.314 287C533.314 286.172 533.986 285.5 534.814 285.5H537.734C538.562 285.5 539.234 286.172 539.234 287C539.234 287.828 538.562 288.5 537.734 288.5H534.814C533.986 288.5 533.314 287.828 533.314 287ZM521.476 287C521.476 286.172 522.147 285.5 522.976 285.5H525.895C526.723 285.5 527.395 286.172 527.395 287C527.395 287.828 526.723 288.5 525.895 288.5H522.976C522.147 288.5 521.476 287.828 521.476 287ZM509.637 287C509.637 286.172 510.309 285.5 511.137 285.5H514.056C514.885 285.5 515.556 286.172 515.556 287C515.556 287.828 514.885 288.5 514.056 288.5H511.137C510.309 288.5 509.637 287.828 509.637 287ZM497.798 287C497.798 286.172 498.47 285.5 499.298 285.5H502.218C503.046 285.5 503.718 286.172 503.718 287C503.718 287.828 503.046 288.5 502.218 288.5H499.298C498.47 288.5 497.798 287.828 497.798 287ZM485.96 287C485.96 286.172 486.631 285.5 487.46 285.5H490.379C491.207 285.5 491.879 286.172 491.879 287C491.879 287.828 491.207 288.5 490.379 288.5H487.46C486.631 288.5 485.96 287.828 485.96 287ZM474.121 287C474.121 286.172 474.792 285.5 475.621 285.5H478.54C479.369 285.5 480.04 286.172 480.04 287C480.04 287.828 479.369 288.5 478.54 288.5H475.621C474.792 288.5 474.121 287.828 474.121 287ZM462.282 287C462.282 286.172 462.954 285.5 463.782 285.5H466.701C467.53 285.5 468.201 286.172 468.201 287C468.201 287.828 467.53 288.5 466.701 288.5H463.782C462.954 288.5 462.282 287.828 462.282 287ZM450.443 287C450.443 286.172 451.115 285.5 451.943 285.5H454.863C455.691 285.5 456.363 286.172 456.363 287C456.363 287.828 455.691 288.5 454.863 288.5H451.943C451.115 288.5 450.443 287.828 450.443 287ZM438.605 287C438.605 286.172 439.276 285.5 440.105 285.5H443.024C443.852 285.5 444.524 286.172 444.524 287C444.524 287.828 443.852 288.5 443.024 288.5H440.105C439.276 288.5 438.605 287.828 438.605 287ZM426.766 287C426.766 286.172 427.438 285.5 428.266 285.5H431.185C432.014 285.5 432.685 286.172 432.685 287C432.685 287.828 432.014 288.5 431.185 288.5H428.266C427.438 288.5 426.766 287.828 426.766 287ZM414.927 287C414.927 286.172 415.599 285.5 416.427 285.5H419.347C420.175 285.5 420.847 286.172 420.847 287C420.847 287.828 420.175 288.5 419.347 288.5H416.427C415.599 288.5 414.927 287.828 414.927 287ZM403.089 287C403.089 286.172 403.76 285.5 404.589 285.5H407.508C408.336 285.5 409.008 286.172 409.008 287C409.008 287.828 408.336 288.5 407.508 288.5H404.589C403.76 288.5 403.089 287.828 403.089 287ZM391.25 287C391.25 286.172 391.921 285.5 392.75 285.5H395.669C396.498 285.5 397.169 286.172 397.169 287C397.169 287.828 396.498 288.5 395.669 288.5H392.75C391.921 288.5 391.25 287.828 391.25 287ZM379.411 287C379.411 286.172 380.083 285.5 380.911 285.5H383.831C384.659 285.5 385.331 286.172 385.331 287C385.331 287.828 384.659 288.5 383.831 288.5H380.911C380.083 288.5 379.411 287.828 379.411 287ZM367.572 287C367.572 286.172 368.244 285.5 369.072 285.5H371.992C372.82 285.5 373.492 286.172 373.492 287C373.492 287.828 372.82 288.5 371.992 288.5H369.072C368.244 288.5 367.572 287.828 367.572 287ZM355.734 287C355.734 286.172 356.405 285.5 357.234 285.5H360.153C360.982 285.5 361.653 286.172 361.653 287C361.653 287.828 360.982 288.5 360.153 288.5H357.234C356.405 288.5 355.734 287.828 355.734 287ZM343.895 287C343.895 286.172 344.567 285.5 345.395 285.5H348.314C349.143 285.5 349.814 286.172 349.814 287C349.814 287.828 349.143 288.5 348.314 288.5H345.395C344.567 288.5 343.895 287.828 343.895 287ZM332.056 287C332.056 286.172 332.728 285.5 333.556 285.5H336.476C337.304 285.5 337.976 286.172 337.976 287C337.976 287.828 337.304 288.5 336.476 288.5H333.556C332.728 288.5 332.056 287.828 332.056 287Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M647.985 304C647.985 303.172 648.656 302.5 649.485 302.5H652.545C653.374 302.5 654.045 303.172 654.045 304C654.045 304.828 653.374 305.5 652.545 305.5H649.485C648.656 305.5 647.985 304.828 647.985 304ZM635.864 304C635.864 303.172 636.535 302.5 637.364 302.5H640.424C641.253 302.5 641.924 303.172 641.924 304C641.924 304.828 641.253 305.5 640.424 305.5H637.364C636.535 305.5 635.864 304.828 635.864 304ZM623.742 304C623.742 303.172 624.414 302.5 625.242 302.5H628.303C629.131 302.5 629.803 303.172 629.803 304C629.803 304.828 629.131 305.5 628.303 305.5H625.242C624.414 305.5 623.742 304.828 623.742 304ZM611.621 304C611.621 303.172 612.293 302.5 613.121 302.5H616.182C617.01 302.5 617.682 303.172 617.682 304C617.682 304.828 617.01 305.5 616.182 305.5H613.121C612.293 305.5 611.621 304.828 611.621 304ZM599.5 304C599.5 303.172 600.172 302.5 601 302.5H604.061C604.889 302.5 605.561 303.172 605.561 304C605.561 304.828 604.889 305.5 604.061 305.5H601C600.172 305.5 599.5 304.828 599.5 304ZM587.379 304C587.379 303.172 588.05 302.5 588.879 302.5H591.939C592.768 302.5 593.439 303.172 593.439 304C593.439 304.828 592.768 305.5 591.939 305.5H588.879C588.05 305.5 587.379 304.828 587.379 304ZM575.258 304C575.258 303.172 575.929 302.5 576.758 302.5H579.818C580.647 302.5 581.318 303.172 581.318 304C581.318 304.828 580.647 305.5 579.818 305.5H576.758C575.929 305.5 575.258 304.828 575.258 304ZM563.136 304C563.136 303.172 563.808 302.5 564.636 302.5H567.697C568.525 302.5 569.197 303.172 569.197 304C569.197 304.828 568.525 305.5 567.697 305.5H564.636C563.808 305.5 563.136 304.828 563.136 304ZM551.015 304C551.015 303.172 551.687 302.5 552.515 302.5H555.576C556.404 302.5 557.076 303.172 557.076 304C557.076 304.828 556.404 305.5 555.576 305.5H552.515C551.687 305.5 551.015 304.828 551.015 304ZM538.894 304C538.894 303.172 539.565 302.5 540.394 302.5H543.454C544.283 302.5 544.954 303.172 544.954 304C544.954 304.828 544.283 305.5 543.454 305.5H540.394C539.565 305.5 538.894 304.828 538.894 304ZM526.773 304C526.773 303.172 527.444 302.5 528.273 302.5H531.333C532.162 302.5 532.833 303.172 532.833 304C532.833 304.828 532.162 305.5 531.333 305.5H528.273C527.444 305.5 526.773 304.828 526.773 304ZM514.651 304C514.651 303.172 515.323 302.5 516.151 302.5H519.212C520.04 302.5 520.712 303.172 520.712 304C520.712 304.828 520.04 305.5 519.212 305.5H516.151C515.323 305.5 514.651 304.828 514.651 304ZM502.53 304C502.53 303.172 503.202 302.5 504.03 302.5H507.091C507.919 302.5 508.591 303.172 508.591 304C508.591 304.828 507.919 305.5 507.091 305.5H504.03C503.202 305.5 502.53 304.828 502.53 304ZM490.409 304C490.409 303.172 491.081 302.5 491.909 302.5H494.97C495.798 302.5 496.47 303.172 496.47 304C496.47 304.828 495.798 305.5 494.97 305.5H491.909C491.081 305.5 490.409 304.828 490.409 304ZM478.288 304C478.288 303.172 478.959 302.5 479.788 302.5H482.848C483.677 302.5 484.348 303.172 484.348 304C484.348 304.828 483.677 305.5 482.848 305.5H479.788C478.959 305.5 478.288 304.828 478.288 304ZM466.167 304C466.167 303.172 466.838 302.5 467.667 302.5H470.727C471.556 302.5 472.227 303.172 472.227 304C472.227 304.828 471.556 305.5 470.727 305.5H467.667C466.838 305.5 466.167 304.828 466.167 304ZM454.045 304C454.045 303.172 454.717 302.5 455.545 302.5H458.606C459.434 302.5 460.106 303.172 460.106 304C460.106 304.828 459.434 305.5 458.606 305.5H455.545C454.717 305.5 454.045 304.828 454.045 304ZM441.924 304C441.924 303.172 442.596 302.5 443.424 302.5H446.485C447.313 302.5 447.985 303.172 447.985 304C447.985 304.828 447.313 305.5 446.485 305.5H443.424C442.596 305.5 441.924 304.828 441.924 304ZM429.803 304C429.803 303.172 430.475 302.5 431.303 302.5H434.364C435.192 302.5 435.864 303.172 435.864 304C435.864 304.828 435.192 305.5 434.364 305.5H431.303C430.475 305.5 429.803 304.828 429.803 304ZM417.682 304C417.682 303.172 418.353 302.5 419.182 302.5H422.242C423.071 302.5 423.742 303.172 423.742 304C423.742 304.828 423.071 305.5 422.242 305.5H419.182C418.353 305.5 417.682 304.828 417.682 304ZM405.561 304C405.561 303.172 406.232 302.5 407.061 302.5H410.121C410.95 302.5 411.621 303.172 411.621 304C411.621 304.828 410.95 305.5 410.121 305.5H407.061C406.232 305.5 405.561 304.828 405.561 304ZM393.439 304C393.439 303.172 394.111 302.5 394.939 302.5H398C398.828 302.5 399.5 303.172 399.5 304C399.5 304.828 398.828 305.5 398 305.5H394.939C394.111 305.5 393.439 304.828 393.439 304ZM381.318 304C381.318 303.172 381.99 302.5 382.818 302.5H385.879C386.707 302.5 387.379 303.172 387.379 304C387.379 304.828 386.707 305.5 385.879 305.5H382.818C381.99 305.5 381.318 304.828 381.318 304ZM369.197 304C369.197 303.172 369.868 302.5 370.697 302.5H373.757C374.586 302.5 375.257 303.172 375.257 304C375.257 304.828 374.586 305.5 373.757 305.5H370.697C369.868 305.5 369.197 304.828 369.197 304ZM357.076 304C357.076 303.172 357.747 302.5 358.576 302.5H361.636C362.465 302.5 363.136 303.172 363.136 304C363.136 304.828 362.465 305.5 361.636 305.5H358.576C357.747 305.5 357.076 304.828 357.076 304ZM344.954 304C344.954 303.172 345.626 302.5 346.454 302.5H349.515C350.343 302.5 351.015 303.172 351.015 304C351.015 304.828 350.343 305.5 349.515 305.5H346.454C345.626 305.5 344.954 304.828 344.954 304ZM332.833 304C332.833 303.172 333.505 302.5 334.333 302.5H337.394C338.222 302.5 338.894 303.172 338.894 304C338.894 304.828 338.222 305.5 337.394 305.5H334.333C333.505 305.5 332.833 304.828 332.833 304ZM320.712 304C320.712 303.172 321.384 302.5 322.212 302.5H325.273C326.101 302.5 326.773 303.172 326.773 304C326.773 304.828 326.101 305.5 325.273 305.5H322.212C321.384 305.5 320.712 304.828 320.712 304ZM308.591 304C308.591 303.172 309.262 302.5 310.091 302.5H313.151C313.98 302.5 314.651 303.172 314.651 304C314.651 304.828 313.98 305.5 313.151 305.5H310.091C309.262 305.5 308.591 304.828 308.591 304ZM299.5 302.5H301.03C301.859 302.5 302.53 303.172 302.53 304C302.53 304.828 301.859 305.5 301.03 305.5H299.5C298.672 305.5 298 304.828 298 304C298 303.172 298.672 302.5 299.5 302.5Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M627.743 341.82C627.743 340.992 628.415 340.32 629.243 340.32L632.156 340.32C632.984 340.32 633.656 340.992 633.656 341.82C633.656 342.649 632.984 343.32 632.156 343.32L629.243 343.32C628.415 343.32 627.743 342.649 627.743 341.82ZM615.918 341.82C615.918 340.992 616.59 340.32 617.418 340.32L620.331 340.32C621.159 340.32 621.831 340.992 621.831 341.82C621.831 342.649 621.159 343.32 620.331 343.32L617.418 343.32C616.59 343.32 615.918 342.649 615.918 341.82ZM604.093 341.82C604.093 340.992 604.765 340.32 605.593 340.32L608.506 340.32C609.334 340.32 610.006 340.992 610.006 341.82C610.006 342.649 609.334 343.32 608.506 343.32L605.593 343.32C604.765 343.32 604.093 342.649 604.093 341.82ZM592.268 341.82C592.268 340.992 592.94 340.32 593.768 340.32L596.681 340.32C597.509 340.32 598.181 340.992 598.181 341.82C598.181 342.649 597.509 343.32 596.681 343.32L593.768 343.32C592.94 343.32 592.268 342.649 592.268 341.82ZM580.443 341.82C580.443 340.992 581.115 340.32 581.943 340.32L584.856 340.32C585.684 340.32 586.356 340.992 586.356 341.82C586.356 342.649 585.684 343.32 584.856 343.32L581.943 343.32C581.115 343.32 580.443 342.649 580.443 341.82ZM568.618 341.82C568.618 340.992 569.29 340.32 570.118 340.32L573.031 340.32C573.859 340.32 574.531 340.992 574.531 341.82C574.531 342.649 573.859 343.32 573.031 343.32L570.118 343.32C569.29 343.32 568.618 342.649 568.618 341.82ZM556.793 341.82C556.793 340.992 557.465 340.32 558.293 340.32L561.206 340.32C562.034 340.32 562.706 340.992 562.706 341.82C562.706 342.649 562.034 343.32 561.206 343.32L558.293 343.32C557.465 343.32 556.793 342.649 556.793 341.82ZM544.968 341.82C544.968 340.992 545.64 340.32 546.468 340.32L549.381 340.32C550.209 340.32 550.881 340.992 550.881 341.82C550.881 342.649 550.209 343.32 549.381 343.32L546.468 343.32C545.64 343.32 544.968 342.649 544.968 341.82ZM533.143 341.82C533.143 340.992 533.815 340.32 534.643 340.32L537.556 340.32C538.384 340.32 539.056 340.992 539.056 341.82C539.056 342.649 538.384 343.32 537.556 343.32L534.643 343.32C533.815 343.32 533.143 342.649 533.143 341.82ZM521.318 341.82C521.318 340.992 521.99 340.32 522.818 340.32L525.731 340.32C526.559 340.32 527.231 340.992 527.231 341.82C527.231 342.649 526.559 343.32 525.731 343.32L522.818 343.32C521.99 343.32 521.318 342.649 521.318 341.82ZM509.493 341.82C509.493 340.992 510.165 340.32 510.993 340.32L513.906 340.32C514.734 340.32 515.406 340.992 515.406 341.82C515.406 342.649 514.734 343.32 513.906 343.32L510.993 343.32C510.165 343.32 509.493 342.649 509.493 341.82ZM497.668 341.82C497.668 340.992 498.34 340.32 499.168 340.32L502.081 340.32C502.909 340.32 503.581 340.992 503.581 341.82C503.581 342.649 502.909 343.32 502.081 343.32L499.168 343.32C498.34 343.32 497.668 342.649 497.668 341.82ZM485.843 341.82C485.843 340.992 486.515 340.32 487.343 340.32L490.255 340.32C491.084 340.32 491.755 340.992 491.755 341.82C491.755 342.649 491.084 343.32 490.255 343.32L487.343 343.32C486.515 343.32 485.843 342.649 485.843 341.82ZM474.018 341.82C474.018 340.992 474.69 340.32 475.518 340.32L478.43 340.32C479.259 340.32 479.93 340.992 479.93 341.82C479.93 342.649 479.259 343.32 478.43 343.32L475.518 343.32C474.69 343.32 474.018 342.649 474.018 341.82ZM462.193 341.82C462.193 340.992 462.864 340.32 463.693 340.32L466.605 340.32C467.434 340.32 468.105 340.992 468.105 341.82C468.105 342.649 467.434 343.32 466.605 343.32L463.693 343.32C462.864 343.32 462.193 342.649 462.193 341.82ZM450.368 341.82C450.368 340.992 451.039 340.32 451.868 340.32L454.78 340.32C455.609 340.32 456.28 340.992 456.28 341.82C456.28 342.649 455.609 343.32 454.78 343.32L451.868 343.32C451.039 343.32 450.368 342.649 450.368 341.82ZM438.543 341.82C438.543 340.992 439.214 340.32 440.043 340.32L442.955 340.32C443.784 340.32 444.455 340.992 444.455 341.82C444.455 342.649 443.784 343.32 442.955 343.32L440.043 343.32C439.214 343.32 438.543 342.649 438.543 341.82ZM426.718 341.82C426.718 340.992 427.389 340.32 428.218 340.32L431.13 340.32C431.959 340.32 432.63 340.992 432.63 341.82C432.63 342.649 431.959 343.32 431.13 343.32L428.218 343.32C427.389 343.32 426.718 342.649 426.718 341.82ZM414.893 341.82C414.893 340.992 415.564 340.32 416.393 340.32L419.305 340.32C420.134 340.32 420.805 340.992 420.805 341.82C420.805 342.649 420.134 343.32 419.305 343.32L416.393 343.32C415.564 343.32 414.893 342.649 414.893 341.82ZM403.068 341.82C403.068 340.992 403.739 340.32 404.568 340.32L407.48 340.32C408.309 340.32 408.98 340.992 408.98 341.82C408.98 342.649 408.309 343.32 407.48 343.32L404.568 343.32C403.739 343.32 403.068 342.649 403.068 341.82ZM391.243 341.82C391.243 340.992 391.914 340.32 392.743 340.32L395.655 340.32C396.484 340.32 397.155 340.992 397.155 341.82C397.155 342.649 396.484 343.32 395.655 343.32L392.743 343.32C391.914 343.32 391.243 342.649 391.243 341.82ZM379.418 341.82C379.418 340.992 380.089 340.32 380.918 340.32L383.83 340.32C384.659 340.32 385.33 340.992 385.33 341.82C385.33 342.649 384.659 343.32 383.83 343.32L380.918 343.32C380.089 343.32 379.418 342.649 379.418 341.82ZM367.593 341.82C367.593 340.992 368.264 340.32 369.093 340.32L372.005 340.32C372.834 340.32 373.505 340.992 373.505 341.82C373.505 342.649 372.834 343.32 372.005 343.32L369.093 343.32C368.264 343.32 367.593 342.649 367.593 341.82ZM355.768 341.82C355.768 340.992 356.439 340.32 357.268 340.32L360.18 340.32C361.009 340.32 361.68 340.992 361.68 341.82C361.68 342.649 361.009 343.32 360.18 343.32L357.268 343.32C356.439 343.32 355.768 342.649 355.768 341.82ZM343.943 341.82C343.943 340.992 344.614 340.32 345.443 340.32L348.355 340.32C349.184 340.32 349.855 340.992 349.855 341.82C349.855 342.649 349.184 343.32 348.355 343.32L345.443 343.32C344.614 343.32 343.943 342.649 343.943 341.82ZM332.118 341.82C332.118 340.992 332.789 340.32 333.618 340.32L336.53 340.32C337.359 340.32 338.03 340.992 338.03 341.82C338.03 342.649 337.359 343.32 336.53 343.32L333.618 343.32C332.789 343.32 332.118 342.649 332.118 341.82ZM320.293 341.821C320.293 340.992 320.964 340.321 321.793 340.321L324.705 340.321C325.534 340.321 326.205 340.992 326.205 341.821C326.205 342.649 325.534 343.321 324.705 343.321L321.793 343.321C320.964 343.321 320.293 342.649 320.293 341.821ZM308.468 341.821C308.468 340.992 309.139 340.321 309.968 340.321L312.88 340.321C313.709 340.321 314.38 340.992 314.38 341.821C314.38 342.649 313.709 343.321 312.88 343.321L309.968 343.321C309.139 343.321 308.468 342.649 308.468 341.821Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M663 324C663 324.828 662.328 325.5 661.5 325.5H659.983C659.155 325.5 658.483 324.828 658.483 324C658.483 323.172 659.155 322.5 659.983 322.5H661.5C662.328 322.5 663 323.172 663 324ZM646.417 324C646.417 323.172 647.088 322.5 647.917 322.5H650.95C651.778 322.5 652.45 323.172 652.45 324C652.45 324.828 651.778 325.5 650.95 325.5H647.917C647.088 325.5 646.417 324.828 646.417 324ZM634.35 324C634.35 323.172 635.022 322.5 635.85 322.5H638.883C639.712 322.5 640.383 323.172 640.383 324C640.383 324.828 639.712 325.5 638.883 325.5H635.85C635.022 325.5 634.35 324.828 634.35 324ZM622.283 324C622.283 323.172 622.955 322.5 623.783 322.5H626.817C627.645 322.5 628.317 323.172 628.317 324C628.317 324.828 627.645 325.5 626.817 325.5H623.783C622.955 325.5 622.283 324.828 622.283 324ZM610.217 324C610.217 323.172 610.888 322.5 611.717 322.5H614.75C615.578 322.5 616.25 323.172 616.25 324C616.25 324.828 615.578 325.5 614.75 325.5H611.717C610.888 325.5 610.217 324.828 610.217 324ZM598.15 324C598.15 323.172 598.822 322.5 599.65 322.5H602.683C603.512 322.5 604.183 323.172 604.183 324C604.183 324.828 603.512 325.5 602.683 325.5H599.65C598.822 325.5 598.15 324.828 598.15 324ZM586.083 324C586.083 323.172 586.755 322.5 587.583 322.5H590.617C591.445 322.5 592.117 323.172 592.117 324C592.117 324.828 591.445 325.5 590.617 325.5H587.583C586.755 325.5 586.083 324.828 586.083 324ZM574.017 324C574.017 323.172 574.688 322.5 575.517 322.5H578.55C579.378 322.5 580.05 323.172 580.05 324C580.05 324.828 579.378 325.5 578.55 325.5H575.517C574.688 325.5 574.017 324.828 574.017 324ZM561.95 324C561.95 323.172 562.622 322.5 563.45 322.5H566.483C567.312 322.5 567.983 323.172 567.983 324C567.983 324.828 567.312 325.5 566.483 325.5H563.45C562.622 325.5 561.95 324.828 561.95 324ZM549.883 324C549.883 323.172 550.555 322.5 551.383 322.5H554.417C555.245 322.5 555.917 323.172 555.917 324C555.917 324.828 555.245 325.5 554.417 325.5H551.383C550.555 325.5 549.883 324.828 549.883 324ZM537.817 324C537.817 323.172 538.488 322.5 539.317 322.5H542.35C543.178 322.5 543.85 323.172 543.85 324C543.85 324.828 543.178 325.5 542.35 325.5H539.317C538.488 325.5 537.817 324.828 537.817 324ZM525.75 324C525.75 323.172 526.422 322.5 527.25 322.5H530.283C531.112 322.5 531.783 323.172 531.783 324C531.783 324.828 531.112 325.5 530.283 325.5H527.25C526.422 325.5 525.75 324.828 525.75 324ZM513.683 324C513.683 323.172 514.355 322.5 515.183 322.5H518.217C519.045 322.5 519.717 323.172 519.717 324C519.717 324.828 519.045 325.5 518.217 325.5H515.183C514.355 325.5 513.683 324.828 513.683 324ZM501.617 324C501.617 323.172 502.288 322.5 503.117 322.5H506.15C506.978 322.5 507.65 323.172 507.65 324C507.65 324.828 506.978 325.5 506.15 325.5H503.117C502.288 325.5 501.617 324.828 501.617 324ZM489.55 324C489.55 323.172 490.222 322.5 491.05 322.5H494.083C494.912 322.5 495.583 323.172 495.583 324C495.583 324.828 494.912 325.5 494.083 325.5H491.05C490.222 325.5 489.55 324.828 489.55 324ZM477.483 324C477.483 323.172 478.155 322.5 478.983 322.5H482.017C482.845 322.5 483.517 323.172 483.517 324C483.517 324.828 482.845 325.5 482.017 325.5H478.983C478.155 325.5 477.483 324.828 477.483 324ZM465.417 324C465.417 323.172 466.088 322.5 466.917 322.5H469.95C470.778 322.5 471.45 323.172 471.45 324C471.45 324.828 470.778 325.5 469.95 325.5H466.917C466.088 325.5 465.417 324.828 465.417 324ZM453.35 324C453.35 323.172 454.022 322.5 454.85 322.5H457.883C458.712 322.5 459.383 323.172 459.383 324C459.383 324.828 458.712 325.5 457.883 325.5H454.85C454.022 325.5 453.35 324.828 453.35 324ZM441.283 324C441.283 323.172 441.955 322.5 442.783 322.5H445.817C446.645 322.5 447.317 323.172 447.317 324C447.317 324.828 446.645 325.5 445.817 325.5H442.783C441.955 325.5 441.283 324.828 441.283 324ZM429.217 324C429.217 323.172 429.888 322.5 430.717 322.5H433.75C434.578 322.5 435.25 323.172 435.25 324C435.25 324.828 434.578 325.5 433.75 325.5H430.717C429.888 325.5 429.217 324.828 429.217 324ZM417.15 324C417.15 323.172 417.821 322.5 418.65 322.5H421.683C422.512 322.5 423.183 323.172 423.183 324C423.183 324.828 422.512 325.5 421.683 325.5H418.65C417.821 325.5 417.15 324.828 417.15 324ZM405.083 324C405.083 323.172 405.755 322.5 406.583 322.5H409.617C410.445 322.5 411.117 323.172 411.117 324C411.117 324.828 410.445 325.5 409.617 325.5H406.583C405.755 325.5 405.083 324.828 405.083 324ZM393.017 324C393.017 323.172 393.688 322.5 394.517 322.5H397.55C398.378 322.5 399.05 323.172 399.05 324C399.05 324.828 398.378 325.5 397.55 325.5H394.517C393.688 325.5 393.017 324.828 393.017 324ZM380.95 324C380.95 323.172 381.621 322.5 382.45 322.5H385.483C386.312 322.5 386.983 323.172 386.983 324C386.983 324.828 386.312 325.5 385.483 325.5H382.45C381.621 325.5 380.95 324.828 380.95 324ZM368.883 324C368.883 323.172 369.555 322.5 370.383 322.5H373.417C374.245 322.5 374.917 323.172 374.917 324C374.917 324.828 374.245 325.5 373.417 325.5H370.383C369.555 325.5 368.883 324.828 368.883 324ZM356.817 324C356.817 323.172 357.488 322.5 358.317 322.5H361.35C362.178 322.5 362.85 323.172 362.85 324C362.85 324.828 362.178 325.5 361.35 325.5H358.317C357.488 325.5 356.817 324.828 356.817 324ZM344.75 324C344.75 323.172 345.422 322.5 346.25 322.5H349.283C350.112 322.5 350.783 323.172 350.783 324C350.783 324.828 350.112 325.5 349.283 325.5H346.25C345.422 325.5 344.75 324.828 344.75 324ZM332.683 324C332.683 323.172 333.355 322.5 334.183 322.5H337.217C338.045 322.5 338.717 323.172 338.717 324C338.717 324.828 338.045 325.5 337.217 325.5H334.183C333.355 325.5 332.683 324.828 332.683 324ZM320.617 324C320.617 323.172 321.288 322.5 322.117 322.5H325.15C325.978 322.5 326.65 323.172 326.65 324C326.65 324.828 325.978 325.5 325.15 325.5H322.117C321.288 325.5 320.617 324.828 320.617 324Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M172.077 37.19L173.643 63.6422L154.132 64.7969L152.484 36.9524C151.893 26.9567 159.524 18.3735 169.53 17.7813L194.221 16.3201C204.227 15.7279 212.818 23.351 213.409 33.3468L215.057 61.1912L195.546 62.3459L193.981 35.8937L172.077 37.19Z" fill="black"/>
                            <path d="M120.133 66.1396C119.763 59.8892 124.542 54.5217 130.807 54.151L251.943 46.9819C258.208 46.6111 263.586 51.3775 263.956 57.6279L266.991 108.902C267.361 115.153 262.582 120.52 256.317 120.891L135.181 128.06C128.916 128.431 123.538 123.664 123.168 117.414L120.133 66.1396Z" fill="#757575"/>
                            <path d="M327.398 18.4623C333.681 18.0905 339.076 22.8895 339.448 29.1813L346.73 152.217C347.102 158.509 342.311 163.911 336.028 164.283L246.918 169.556C240.635 169.928 235.24 165.129 234.868 158.837L227.586 35.8015C227.214 29.5097 232.005 24.1078 238.288 23.736L327.398 18.4623Z" fill="black"/>
                            <path d="M199.789 329.285C200.817 346.661 188.012 361.554 171.188 362.549C154.364 363.545 139.892 350.266 138.864 332.891C137.836 315.515 150.64 300.623 167.464 299.627C184.288 298.631 198.76 311.91 199.789 329.285Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M169.713 344.279C175.526 343.935 180.264 338.718 179.881 332.249C179.498 325.78 174.178 321.158 168.365 321.503C162.552 321.847 157.814 327.063 158.197 333.532C158.58 340.002 163.9 344.623 169.713 344.279ZM170.901 364.352C187.725 363.356 200.53 348.464 199.502 331.088C198.473 313.712 184.001 300.434 167.177 301.43C150.353 302.425 137.548 317.318 138.577 334.694C139.605 352.069 154.077 365.348 170.901 364.352Z" fill="black"/>
                            <path d="M348.423 321.451C349.451 338.826 336.422 353.732 319.323 354.744C302.223 355.756 287.527 342.491 286.499 325.116C285.471 307.74 298.499 292.834 315.599 291.822C332.699 290.81 347.394 304.075 348.423 321.451Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M318.392 334.503C324.301 334.154 329.121 328.932 328.738 322.463C328.355 315.994 322.953 311.377 317.044 311.727C311.136 312.077 306.316 317.298 306.699 323.767C307.081 330.236 312.484 334.853 318.392 334.503ZM319.58 354.576C336.68 353.564 349.708 338.658 348.68 321.283C347.652 303.907 332.956 290.642 315.856 291.654C298.757 292.666 285.728 307.572 286.756 324.948C287.785 342.323 302.48 355.588 319.58 354.576Z" fill="black"/>
                            <path d="M372.376 86.961L101.828 102.973C96.2258 103.304 92.4529 108.849 94.1986 114.186L142.726 262.535C144.003 266.439 147.871 268.887 151.944 268.368L357.085 242.216C360.971 241.721 364.025 238.649 364.5 234.759L381.379 96.5502C382.027 91.2431 377.711 86.6453 372.376 86.961Z" fill="#BABABA"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M179.42 136.468C184.936 136.141 189.67 140.306 189.993 145.77L193.315 201.889C193.638 207.353 189.428 212.047 183.912 212.374C178.396 212.7 173.663 208.536 173.339 203.071L170.018 146.952C169.695 141.488 173.904 136.794 179.42 136.468Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M247.836 132.418C253.628 132.076 258.585 136.227 258.908 141.691L262.23 197.811C262.553 203.275 258.12 207.982 252.328 208.325C246.536 208.668 241.579 204.516 241.255 199.052L237.934 142.933C237.611 137.469 242.044 132.761 247.836 132.418Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M312.256 128.606C317.773 128.28 322.506 132.445 322.83 137.909L326.151 194.028C326.474 199.492 322.265 204.186 316.749 204.513C311.233 204.839 306.499 200.674 306.176 195.21L302.854 139.091C302.531 133.627 306.74 128.933 312.256 128.606Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.59001 27.4069C6.26416 21.901 10.4659 17.1732 15.9749 16.8472L55.189 14.5264C63.5208 14.0333 71.1565 19.1602 73.8494 27.0557L158.359 274.834L140.312 275.902C133.074 276.33 127.555 282.541 127.983 289.774C128.411 297.007 134.625 302.524 141.862 302.096L317.899 291.677L319.079 311.616L143.042 322.034C124.787 323.115 109.113 309.2 108.033 290.955C107.114 275.43 117.059 261.772 131.292 257.379L55.2842 34.5295L17.1549 36.786C11.6459 37.1121 6.91586 32.9129 6.59001 27.4069Z" fill="black"/>
                            <g filter="url(#filter0_f_1015_5872)">
                            <ellipse cx="201.5" cy="400.5" rx="181.5" ry="14.5" fill="#D9D9D9" fill-opacity="0.5"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_1015_5872" x="0" y="366" width="403" height="69" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_1015_5872"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a buyer</h2>
                        <ul>
                            <li>Attend vendor showcases, stakeholder engagements and specialized programs for buyers to explore digital capabilities and strengths of various technology sellers.</li>
                            <li>Get exposure to potential suppliers in the industry and build genuine relationships.</li>
                            <li>Collaborate with us on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                            <li>Know what to invest in ahead of timeto make informed procurement decisions in the future.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your outsourcing needs.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about events and specialized programs.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Buyer sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                    </div>

                                    <fieldset>
                                        <legend>Organization type <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="goa" name="radio" value="goa" type="radio"><label for="goa">Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="muni-aca-school" name="radio" value="muni-aca-school" type="radio"><label for="muni-aca-school">Municipalities, Academic Institutions, School Boards and Health Organization  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="abcs" name="radio" value="abcs" type="radio"><label for="abcs">Agencies, Boards and Commissions  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="crown" name="radio" value="crown" type="radio"><label for="crown">CROWN (Provincial Corporations)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="indig" name="radio" value="indig" type="radio"><label for="indig">INDIG (Indigenous Communities)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other-org" name="radio" value="other-org" type="radio"><label for="other-org">Other</label>
                                        </div>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value="" required="required" aria-required="true">
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="tech-buyer" name="radio-2" type="radio"><label for="tech-buyer">I am a tech buyer </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="work-with-start-ups" name="radio-2" type="radio"><label for="work-with-start-ups">I work with tech start-ups or other vendors </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="radio-2" value="other" type="radio"><label for="other">Other</label>
                                        </div>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formFieldset = formFieldset[o];
                    var otherCheckboxRadio = formFieldset.querySelector('.goa-option > input[value="other"]');
                    var otherOrgInput = formFieldset.querySelector('.goa-option > input[value="other-org"]');
                    console.log(formFieldset);
                    
                    var otherDiv = document.createElement('div');
                    var otherLabel = document.createElement('label');
                    var otherInput = document.createElement('input');
                    var otherRequired = document.createElement('span');
                    var randomIdOther = Math.random();

                    otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                    otherLabel.innerText = 'If "other" is selected, please specify '
                    otherRequired.classList.add('required');
                    otherRequired.innerText = '*';
                    otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                    otherInput.setAttribute('type', 'text');
                    otherInput.setAttribute('value', '');
                    otherInput.setAttribute('required', 'required');
                    otherInput.setAttribute('aria-required', 'true');

                    otherLabel.appendChild(otherRequired);
                    otherDiv.appendChild(otherLabel);
                    otherDiv.appendChild(otherInput);
                    formFieldset.parentNode.insertBefore(otherDiv, formFieldset.nextSibling);

                    if (otherOrgInput) {
                        otherOrgInput.addEventListener('change', function () {
                            if (otherOrgInput.checked) {
                                formFieldset.classList.add('show-other');
                            } else if (!otherOrgInput.checked) {
                                formFieldset.classList.remove('show-other');
                            };
                        });
                    };
                    if (otherCheckboxRadio) {
                        otherCheckboxRadio.addEventListener('change', function () {
                            if (otherCheckboxRadio.checked) {
                                formFieldset.classList.add('show-other');
                            } else {
                                formFieldset.classList.remove('show-other');
                            };
                        });
                    }; 
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };

        </script>

    </body>

</html>