---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Partners | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Partners | Alberta Digital Marketplace" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
        
        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/" title="Home" rel="home">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About us</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-buyers/">Buyers</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>

            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Partners and stakeholders</li>
                            </ul>
                        </div>
                        <h1>Government tech initiatives delivered right to your inbox </h1>
                        <p class="lede">Discover unique ways of staying connected to the government.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="523" height="432" viewBox="0 0 523 432" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M495.329 186.5C495.329 187.605 494.433 188.5 493.329 188.5L491.429 188.5C490.325 188.5 489.429 187.605 489.429 186.5L489.429 185.5C489.429 184.395 490.325 183.5 491.429 183.5L493.329 183.5C494.433 183.5 495.329 184.395 495.329 185.5L495.329 186.5ZM483.53 186.5C483.53 187.605 482.634 188.5 481.53 188.5L479.63 188.5C478.526 188.5 477.63 187.605 477.63 186.5L477.63 185.5C477.63 184.395 478.526 183.5 479.63 183.5L481.53 183.5C482.634 183.5 483.53 184.395 483.53 185.5L483.53 186.5ZM471.731 186.5C471.731 187.605 470.836 188.5 469.731 188.5L467.832 188.5C466.727 188.5 465.832 187.605 465.832 186.5L465.832 185.5C465.832 184.395 466.727 183.5 467.832 183.5L469.731 183.5C470.836 183.5 471.731 184.395 471.731 185.5L471.731 186.5ZM459.932 186.5C459.932 187.605 459.037 188.5 457.932 188.5L456.033 188.5C454.928 188.5 454.033 187.605 454.033 186.5L454.033 185.5C454.033 184.395 454.928 183.5 456.033 183.5L457.932 183.5C459.037 183.5 459.932 184.395 459.932 185.5L459.932 186.5ZM448.133 186.5C448.133 187.605 447.238 188.5 446.133 188.5L444.234 188.5C443.129 188.5 442.234 187.605 442.234 186.5L442.234 185.5C442.234 184.395 443.129 183.5 444.234 183.5L446.133 183.5C447.238 183.5 448.133 184.395 448.133 185.5L448.133 186.5ZM436.334 186.5C436.334 187.605 435.439 188.5 434.334 188.5L432.435 188.5C431.33 188.5 430.435 187.605 430.435 186.5L430.435 185.5C430.435 184.395 431.33 183.5 432.435 183.5L434.334 183.5C435.439 183.5 436.334 184.395 436.334 185.5L436.334 186.5ZM424.536 186.5C424.536 187.605 423.64 188.5 422.536 188.5L420.636 188.5C419.532 188.5 418.636 187.605 418.636 186.5L418.636 185.5C418.636 184.395 419.532 183.5 420.636 183.5L422.536 183.5C423.64 183.5 424.536 184.395 424.536 185.5L424.536 186.5ZM412.737 186.5C412.737 187.605 411.841 188.5 410.737 188.5L408.837 188.5C407.733 188.5 406.837 187.605 406.837 186.5L406.837 185.5C406.837 184.395 407.733 183.5 408.837 183.5L410.737 183.5C411.841 183.5 412.737 184.395 412.737 185.5L412.737 186.5ZM400.938 186.5C400.938 187.605 400.043 188.5 398.938 188.5L397.039 188.5C395.934 188.5 395.039 187.605 395.039 186.5L395.039 185.5C395.039 184.395 395.934 183.5 397.039 183.5L398.938 183.5C400.043 183.5 400.938 184.395 400.938 185.5L400.938 186.5ZM389.139 186.5C389.139 187.605 388.244 188.5 387.139 188.5L385.24 188.5C384.135 188.5 383.24 187.605 383.24 186.5L383.24 185.5C383.24 184.395 384.135 183.5 385.24 183.5L387.139 183.5C388.244 183.5 389.139 184.395 389.139 185.5L389.139 186.5ZM377.34 186.5C377.34 187.605 376.445 188.5 375.34 188.5L373.441 188.5C372.336 188.5 371.441 187.605 371.441 186.5L371.441 185.5C371.441 184.395 372.336 183.5 373.441 183.5L375.34 183.5C376.445 183.5 377.34 184.395 377.34 185.5L377.34 186.5ZM365.542 186.5C365.542 187.605 364.646 188.5 363.542 188.5L361.642 188.5C360.538 188.5 359.642 187.605 359.642 186.5L359.642 185.5C359.642 184.395 360.538 183.5 361.642 183.5L363.542 183.5C364.646 183.5 365.542 184.395 365.542 185.5L365.542 186.5ZM353.743 186.5C353.743 187.605 352.847 188.5 351.743 188.5L349.843 188.5C348.739 188.5 347.843 187.605 347.843 186.5L347.843 185.5C347.843 184.395 348.739 183.5 349.843 183.5L351.743 183.5C352.847 183.5 353.743 184.395 353.743 185.5L353.743 186.5ZM341.944 186.5C341.944 187.605 341.048 188.5 339.944 188.5L338.045 188.5C336.94 188.5 336.045 187.605 336.045 186.5L336.045 185.5C336.045 184.395 336.94 183.5 338.045 183.5L339.944 183.5C341.048 183.5 341.944 184.395 341.944 185.5L341.944 186.5ZM330.145 186.5C330.145 187.605 329.25 188.5 328.145 188.5L326.246 188.5C325.141 188.5 324.246 187.605 324.246 186.5L324.246 185.5C324.246 184.395 325.141 183.5 326.246 183.5L328.145 183.5C329.25 183.5 330.145 184.395 330.145 185.5L330.145 186.5ZM318.346 186.5C318.346 187.605 317.451 188.5 316.346 188.5L314.447 188.5C313.342 188.5 312.447 187.605 312.447 186.5L312.447 185.5C312.447 184.395 313.342 183.5 314.447 183.5L316.346 183.5C317.451 183.5 318.346 184.395 318.346 185.5L318.346 186.5ZM306.547 186.5C306.547 187.605 305.652 188.5 304.547 188.5L302.648 188.5C301.544 188.5 300.648 187.605 300.648 186.5L300.648 185.5C300.648 184.395 301.544 183.5 302.648 183.5L304.547 183.5C305.652 183.5 306.547 184.395 306.547 185.5L306.547 186.5ZM294.749 186.5C294.749 187.605 293.853 188.5 292.749 188.5L290.849 188.5C289.745 188.5 288.849 187.605 288.849 186.5L288.849 185.5C288.849 184.395 289.745 183.5 290.849 183.5L292.749 183.5C293.853 183.5 294.749 184.395 294.749 185.5L294.749 186.5ZM282.95 187.025C282.95 187.84 282.29 188.5 281.475 188.5V188.5C280.66 188.5 280 187.84 280 187.025L280 184.975C280 184.16 280.66 183.5 281.475 183.5V183.5C282.29 183.5 282.95 184.16 282.95 184.975L282.95 187.025Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M454.385 207.482C454.385 206.378 455.281 205.482 456.385 205.482H458.302C459.407 205.482 460.302 206.378 460.302 207.482V208.482C460.302 209.587 459.407 210.482 458.302 210.482H456.385C455.281 210.482 454.385 209.587 454.385 208.482V207.482ZM442.551 207.482C442.551 206.378 443.447 205.482 444.551 205.482H446.468C447.573 205.482 448.468 206.378 448.468 207.482V208.482C448.468 209.587 447.573 210.482 446.468 210.482H444.551C443.447 210.482 442.551 209.587 442.551 208.482V207.482ZM430.717 207.482C430.717 206.378 431.613 205.482 432.717 205.482H434.634C435.739 205.482 436.634 206.378 436.634 207.482V208.482C436.634 209.587 435.739 210.482 434.634 210.482H432.717C431.613 210.482 430.717 209.587 430.717 208.482V207.482ZM418.883 207.482C418.883 206.378 419.779 205.482 420.883 205.482H422.8C423.905 205.482 424.8 206.378 424.8 207.482V208.482C424.8 209.587 423.905 210.482 422.8 210.482H420.883C419.779 210.482 418.883 209.587 418.883 208.482V207.482ZM407.049 207.482C407.049 206.378 407.945 205.482 409.049 205.482H410.966C412.071 205.482 412.966 206.378 412.966 207.482V208.482C412.966 209.587 412.071 210.482 410.966 210.482H409.049C407.945 210.482 407.049 209.587 407.049 208.482V207.482ZM395.215 207.482C395.215 206.378 396.111 205.482 397.215 205.482H399.132C400.237 205.482 401.132 206.378 401.132 207.482V208.482C401.132 209.587 400.237 210.482 399.132 210.482H397.215C396.111 210.482 395.215 209.587 395.215 208.482V207.482ZM383.381 207.482C383.381 206.378 384.277 205.482 385.381 205.482H387.298C388.403 205.482 389.298 206.378 389.298 207.482V208.482C389.298 209.587 388.403 210.482 387.298 210.482H385.381C384.277 210.482 383.381 209.587 383.381 208.482V207.482ZM371.547 207.482C371.547 206.378 372.443 205.482 373.547 205.482H375.464C376.569 205.482 377.464 206.378 377.464 207.482V208.482C377.464 209.587 376.569 210.482 375.464 210.482H373.547C372.443 210.482 371.547 209.587 371.547 208.482V207.482ZM359.713 207.482C359.713 206.378 360.609 205.482 361.713 205.482H363.63C364.735 205.482 365.63 206.378 365.63 207.482V208.482C365.63 209.587 364.735 210.482 363.63 210.482H361.713C360.609 210.482 359.713 209.587 359.713 208.482V207.482ZM347.879 207.482C347.879 206.378 348.775 205.482 349.879 205.482H351.796C352.901 205.482 353.796 206.378 353.796 207.482V208.482C353.796 209.587 352.901 210.482 351.796 210.482H349.879C348.775 210.482 347.879 209.587 347.879 208.482V207.482ZM336.045 207.482C336.045 206.378 336.941 205.482 338.045 205.482H339.962C341.067 205.482 341.962 206.378 341.962 207.482V208.482C341.962 209.587 341.067 210.482 339.962 210.482H338.045C336.941 210.482 336.045 209.587 336.045 208.482V207.482ZM324.211 207.482C324.211 206.378 325.107 205.482 326.211 205.482H328.128C329.233 205.482 330.128 206.378 330.128 207.482V208.482C330.128 209.587 329.233 210.482 328.128 210.482H326.211C325.107 210.482 324.211 209.587 324.211 208.482V207.482ZM312.377 207.482C312.377 206.378 313.273 205.482 314.377 205.482H316.294C317.399 205.482 318.294 206.378 318.294 207.482V208.482C318.294 209.587 317.399 210.482 316.294 210.482H314.377C313.273 210.482 312.377 209.587 312.377 208.482V207.482ZM300.543 207.482C300.543 206.378 301.439 205.482 302.543 205.482H304.46C305.565 205.482 306.46 206.378 306.46 207.482V208.482C306.46 209.587 305.565 210.482 304.46 210.482H302.543C301.439 210.482 300.543 209.587 300.543 208.482V207.482ZM288.709 207.482C288.709 206.378 289.605 205.482 290.709 205.482H292.626C293.731 205.482 294.626 206.378 294.626 207.482V208.482C294.626 209.587 293.731 210.482 292.626 210.482H290.709C289.605 210.482 288.709 209.587 288.709 208.482V207.482ZM276.875 207.482C276.875 206.378 277.771 205.482 278.875 205.482H280.792C281.897 205.482 282.792 206.378 282.792 207.482V208.482C282.792 209.587 281.897 210.482 280.792 210.482H278.875C277.771 210.482 276.875 209.587 276.875 208.482V207.482ZM268 206.962C268 206.145 268.662 205.482 269.479 205.482V205.482C270.296 205.482 270.958 206.145 270.958 206.962V209.003C270.958 209.82 270.296 210.482 269.479 210.482V210.482C268.662 210.482 268 209.82 268 209.003V206.962Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M506.139 253.565C506.139 254.67 505.244 255.565 504.139 255.565L502.114 255.565C501.009 255.565 500.114 254.67 500.114 253.565L500.114 252.565C500.114 251.461 501.009 250.565 502.114 250.565L504.139 250.565C505.244 250.565 506.139 251.461 506.139 252.565L506.139 253.565ZM494.088 253.565C494.088 254.67 493.193 255.565 492.088 255.565L490.063 255.565C488.958 255.565 488.063 254.67 488.063 253.565L488.063 252.565C488.063 251.461 488.958 250.565 490.063 250.565L492.088 250.565C493.193 250.565 494.088 251.461 494.088 252.565L494.088 253.565ZM482.037 253.565C482.037 254.67 481.142 255.565 480.037 255.565L478.011 255.565C476.907 255.565 476.011 254.67 476.011 253.565L476.011 252.565C476.011 251.461 476.907 250.565 478.011 250.565L480.037 250.565C481.142 250.565 482.037 251.461 482.037 252.565L482.037 253.565ZM469.986 253.565C469.986 254.67 469.09 255.565 467.986 255.565L465.96 255.565C464.856 255.565 463.96 254.67 463.96 253.565L463.96 252.565C463.96 251.461 464.856 250.565 465.96 250.565L467.986 250.565C469.09 250.565 469.986 251.461 469.986 252.565L469.986 253.565ZM457.935 253.565C457.935 254.67 457.039 255.565 455.935 255.565L453.909 255.565C452.804 255.565 451.909 254.67 451.909 253.565L451.909 252.565C451.909 251.461 452.804 250.565 453.909 250.565L455.935 250.565C457.039 250.565 457.935 251.461 457.935 252.565L457.935 253.565ZM445.883 253.565C445.883 254.67 444.988 255.565 443.883 255.565L441.858 255.565C440.753 255.565 439.858 254.67 439.858 253.565L439.858 252.565C439.858 251.461 440.753 250.565 441.858 250.565L443.883 250.565C444.988 250.565 445.883 251.461 445.883 252.565L445.883 253.565ZM433.832 253.565C433.832 254.67 432.937 255.565 431.832 255.565L429.807 255.565C428.702 255.565 427.807 254.67 427.807 253.565L427.807 252.565C427.807 251.461 428.702 250.565 429.807 250.565L431.832 250.565C432.937 250.565 433.832 251.461 433.832 252.565L433.832 253.565ZM421.781 253.565C421.781 254.67 420.886 255.565 419.781 255.565L417.755 255.565C416.651 255.565 415.755 254.67 415.755 253.565L415.755 252.565C415.755 251.461 416.651 250.565 417.755 250.565L419.781 250.565C420.886 250.565 421.781 251.461 421.781 252.565L421.781 253.565ZM409.73 253.565C409.73 254.67 408.834 255.565 407.73 255.565L405.704 255.565C404.6 255.565 403.704 254.67 403.704 253.565L403.704 252.565C403.704 251.461 404.6 250.565 405.704 250.565L407.73 250.565C408.834 250.565 409.73 251.461 409.73 252.565L409.73 253.565ZM397.679 253.565C397.679 254.67 396.783 255.565 395.679 255.565L393.653 255.565C392.548 255.565 391.653 254.67 391.653 253.565L391.653 252.565C391.653 251.461 392.548 250.565 393.653 250.565L395.679 250.565C396.783 250.565 397.679 251.461 397.679 252.565L397.679 253.565ZM385.627 253.565C385.627 254.67 384.732 255.565 383.627 255.565L381.602 255.565C380.497 255.565 379.602 254.67 379.602 253.565L379.602 252.565C379.602 251.461 380.497 250.565 381.602 250.565L383.627 250.565C384.732 250.565 385.627 251.461 385.627 252.565L385.627 253.565ZM373.576 253.565C373.576 254.67 372.681 255.565 371.576 255.565L369.551 255.565C368.446 255.565 367.551 254.67 367.551 253.565L367.551 252.565C367.551 251.461 368.446 250.565 369.551 250.565L371.576 250.565C372.681 250.565 373.576 251.461 373.576 252.565L373.576 253.565ZM361.525 253.565C361.525 254.67 360.629 255.565 359.525 255.565L357.499 255.565C356.395 255.565 355.499 254.67 355.499 253.565L355.499 252.565C355.499 251.461 356.395 250.565 357.499 250.565L359.525 250.565C360.629 250.565 361.525 251.461 361.525 252.565L361.525 253.565ZM349.474 253.565C349.474 254.67 348.578 255.565 347.474 255.565L345.448 255.565C344.344 255.565 343.448 254.67 343.448 253.565L343.448 252.565C343.448 251.461 344.344 250.565 345.448 250.565L347.474 250.565C348.578 250.565 349.474 251.461 349.474 252.565L349.474 253.565ZM337.423 253.565C337.423 254.67 336.527 255.565 335.423 255.565L333.397 255.565C332.292 255.565 331.397 254.67 331.397 253.565L331.397 252.565C331.397 251.461 332.292 250.565 333.397 250.565L335.423 250.565C336.527 250.565 337.423 251.461 337.423 252.565L337.423 253.565ZM325.371 253.565C325.371 254.67 324.476 255.565 323.371 255.565L321.346 255.565C320.241 255.565 319.346 254.67 319.346 253.565L319.346 252.565C319.346 251.461 320.241 250.565 321.346 250.565L323.371 250.565C324.476 250.565 325.371 251.461 325.371 252.565L325.371 253.565ZM313.32 253.565C313.32 254.67 312.425 255.565 311.32 255.565L309.294 255.565C308.19 255.565 307.294 254.67 307.294 253.565L307.294 252.565C307.294 251.461 308.19 250.565 309.294 250.565L311.32 250.565C312.425 250.565 313.32 251.461 313.32 252.565L313.32 253.565ZM301.269 253.565C301.269 254.67 300.373 255.565 299.269 255.565L297.243 255.565C296.139 255.565 295.243 254.67 295.243 253.565L295.243 252.565C295.243 251.461 296.139 250.565 297.243 250.565L299.269 250.565C300.373 250.565 301.269 251.461 301.269 252.565L301.269 253.565ZM289.218 253.565C289.218 254.67 288.322 255.565 287.218 255.565L285.192 255.565C284.088 255.565 283.192 254.67 283.192 253.565L283.192 252.565C283.192 251.461 284.088 250.565 285.192 250.565L287.218 250.565C288.322 250.565 289.218 251.461 289.218 252.565L289.218 253.565ZM277.166 253.565C277.166 254.67 276.271 255.565 275.166 255.565L273.141 255.565C272.036 255.565 271.141 254.67 271.141 253.565L271.141 252.565C271.141 251.461 272.036 250.565 273.141 250.565L275.166 250.565C276.271 250.565 277.166 251.461 277.166 252.565L277.166 253.565ZM265.115 253.565C265.115 254.67 264.22 255.565 263.115 255.565L261.09 255.565C259.985 255.565 259.09 254.67 259.09 253.565L259.09 252.565C259.09 251.461 259.985 250.565 261.09 250.565L263.115 250.565C264.22 250.565 265.115 251.461 265.115 252.565L265.115 253.565ZM253.064 253.565C253.064 254.67 252.169 255.565 251.064 255.565L249.038 255.565C247.934 255.565 247.038 254.67 247.038 253.565L247.038 252.565C247.038 251.461 247.934 250.565 249.038 250.565L251.064 250.565C252.169 250.565 253.064 251.461 253.064 252.565L253.064 253.565ZM241.013 254.059C241.013 254.891 240.338 255.565 239.506 255.565V255.565C238.674 255.565 238 254.891 238 254.059L238 252.072C238 251.24 238.674 250.565 239.506 250.565V250.565C240.338 250.565 241.013 251.24 241.013 252.072L241.013 254.059Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M522.139 230.998C522.139 232.102 521.244 232.998 520.139 232.998L518.114 232.998C517.009 232.998 516.114 232.102 516.114 230.998L516.114 229.998C516.114 228.893 517.009 227.998 518.114 227.998L520.139 227.998C521.244 227.998 522.139 228.893 522.139 229.998L522.139 230.998ZM510.088 230.998C510.088 232.102 509.193 232.998 508.088 232.998L506.063 232.998C504.958 232.998 504.063 232.102 504.063 230.998L504.063 229.998C504.063 228.893 504.958 227.998 506.063 227.998L508.088 227.998C509.193 227.998 510.088 228.893 510.088 229.998L510.088 230.998ZM498.037 230.998C498.037 232.102 497.142 232.998 496.037 232.998L494.011 232.998C492.907 232.998 492.011 232.102 492.011 230.998L492.011 229.998C492.011 228.893 492.907 227.998 494.011 227.998L496.037 227.998C497.142 227.998 498.037 228.893 498.037 229.998L498.037 230.998ZM485.986 230.998C485.986 232.102 485.09 232.998 483.986 232.998L481.96 232.998C480.856 232.998 479.96 232.102 479.96 230.998L479.96 229.998C479.96 228.893 480.856 227.998 481.96 227.998L483.986 227.998C485.09 227.998 485.986 228.893 485.986 229.998L485.986 230.998ZM473.935 230.998C473.935 232.102 473.039 232.998 471.935 232.998L469.909 232.998C468.804 232.998 467.909 232.102 467.909 230.998L467.909 229.998C467.909 228.893 468.804 227.998 469.909 227.998L471.935 227.998C473.039 227.998 473.935 228.893 473.935 229.998L473.935 230.998ZM461.883 230.998C461.883 232.102 460.988 232.998 459.883 232.998L457.858 232.998C456.753 232.998 455.858 232.102 455.858 230.998L455.858 229.998C455.858 228.893 456.753 227.998 457.858 227.998L459.883 227.998C460.988 227.998 461.883 228.893 461.883 229.998L461.883 230.998ZM449.832 230.998C449.832 232.102 448.937 232.998 447.832 232.998L445.807 232.998C444.702 232.998 443.807 232.102 443.807 230.998L443.807 229.998C443.807 228.893 444.702 227.998 445.807 227.998L447.832 227.998C448.937 227.998 449.832 228.893 449.832 229.998L449.832 230.998ZM437.781 230.998C437.781 232.102 436.886 232.998 435.781 232.998L433.755 232.998C432.651 232.998 431.755 232.102 431.755 230.998L431.755 229.998C431.755 228.893 432.651 227.998 433.755 227.998L435.781 227.998C436.886 227.998 437.781 228.893 437.781 229.998L437.781 230.998ZM425.73 230.998C425.73 232.102 424.834 232.998 423.73 232.998L421.704 232.998C420.6 232.998 419.704 232.102 419.704 230.998L419.704 229.998C419.704 228.893 420.6 227.998 421.704 227.998L423.73 227.998C424.834 227.998 425.73 228.893 425.73 229.998L425.73 230.998ZM413.679 230.998C413.679 232.102 412.783 232.998 411.679 232.998L409.653 232.998C408.548 232.998 407.653 232.102 407.653 230.998L407.653 229.998C407.653 228.893 408.548 227.998 409.653 227.998L411.679 227.998C412.783 227.998 413.679 228.893 413.679 229.998L413.679 230.998ZM401.627 230.998C401.627 232.102 400.732 232.998 399.627 232.998L397.602 232.998C396.497 232.998 395.602 232.102 395.602 230.998L395.602 229.998C395.602 228.893 396.497 227.998 397.602 227.998L399.627 227.998C400.732 227.998 401.627 228.893 401.627 229.998L401.627 230.998ZM389.576 230.998C389.576 232.102 388.681 232.998 387.576 232.998L385.551 232.998C384.446 232.998 383.551 232.102 383.551 230.998L383.551 229.998C383.551 228.893 384.446 227.998 385.551 227.998L387.576 227.998C388.681 227.998 389.576 228.893 389.576 229.998L389.576 230.998ZM377.525 230.998C377.525 232.102 376.629 232.998 375.525 232.998L373.499 232.998C372.395 232.998 371.499 232.102 371.499 230.998L371.499 229.998C371.499 228.893 372.395 227.998 373.499 227.998L375.525 227.998C376.629 227.998 377.525 228.893 377.525 229.998L377.525 230.998ZM365.474 230.998C365.474 232.102 364.578 232.998 363.474 232.998L361.448 232.998C360.344 232.998 359.448 232.102 359.448 230.998L359.448 229.998C359.448 228.893 360.344 227.998 361.448 227.998L363.474 227.998C364.578 227.998 365.474 228.893 365.474 229.998L365.474 230.998ZM353.422 230.998C353.422 232.102 352.527 232.998 351.422 232.998L349.397 232.998C348.292 232.998 347.397 232.102 347.397 230.998L347.397 229.998C347.397 228.893 348.292 227.998 349.397 227.998L351.422 227.998C352.527 227.998 353.422 228.893 353.422 229.998L353.422 230.998ZM341.371 230.998C341.371 232.102 340.476 232.998 339.371 232.998L337.346 232.998C336.241 232.998 335.346 232.102 335.346 230.998L335.346 229.998C335.346 228.893 336.241 227.998 337.346 227.998L339.371 227.998C340.476 227.998 341.371 228.893 341.371 229.998L341.371 230.998ZM329.32 230.998C329.32 232.102 328.425 232.998 327.32 232.998L325.294 232.998C324.19 232.998 323.294 232.102 323.294 230.998L323.294 229.998C323.294 228.893 324.19 227.998 325.294 227.998L327.32 227.998C328.425 227.998 329.32 228.893 329.32 229.998L329.32 230.998ZM317.269 230.998C317.269 232.102 316.373 232.998 315.269 232.998L313.243 232.998C312.139 232.998 311.243 232.102 311.243 230.998L311.243 229.998C311.243 228.893 312.139 227.998 313.243 227.998L315.269 227.998C316.373 227.998 317.269 228.893 317.269 229.998L317.269 230.998ZM305.218 230.998C305.218 232.102 304.322 232.998 303.218 232.998L301.192 232.998C300.087 232.998 299.192 232.102 299.192 230.998L299.192 229.998C299.192 228.893 300.087 227.998 301.192 227.998L303.218 227.998C304.322 227.998 305.218 228.893 305.218 229.998L305.218 230.998ZM293.166 230.998C293.166 232.102 292.271 232.998 291.166 232.998L289.141 232.998C288.036 232.998 287.141 232.102 287.141 230.998L287.141 229.998C287.141 228.893 288.036 227.998 289.141 227.998L291.166 227.998C292.271 227.998 293.166 228.893 293.166 229.998L293.166 230.998ZM281.115 230.998C281.115 232.102 280.22 232.998 279.115 232.998L277.09 232.998C275.985 232.998 275.09 232.102 275.09 230.998L275.09 229.998C275.09 228.893 275.985 227.998 277.09 227.998L279.115 227.998C280.22 227.998 281.115 228.893 281.115 229.998L281.115 230.998ZM269.064 230.998C269.064 232.102 268.169 232.998 267.064 232.998L265.038 232.998C263.934 232.998 263.038 232.102 263.038 230.998L263.038 229.998C263.038 228.893 263.934 227.998 265.038 227.998L267.064 227.998C268.169 227.998 269.064 228.893 269.064 229.998L269.064 230.998ZM257.013 231.491C257.013 232.323 256.338 232.998 255.506 232.998V232.998C254.674 232.998 254 232.323 254 231.491L254 229.504C254 228.672 254.674 227.998 255.506 227.998V227.998C256.338 227.998 257.013 228.672 257.013 229.504L257.013 231.491Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M489.054 275.138C489.054 274.034 489.949 273.138 491.054 273.138L493.104 273.138C494.208 273.138 495.104 274.034 495.104 275.138L495.104 276.138C495.104 277.243 494.208 278.138 493.104 278.138L491.054 278.138C489.949 278.138 489.054 277.243 489.054 276.138L489.054 275.138ZM476.955 275.138C476.955 274.034 477.85 273.138 478.955 273.138L481.005 273.138C482.109 273.138 483.005 274.034 483.005 275.138L483.005 276.138C483.005 277.243 482.109 278.138 481.005 278.138L478.955 278.138C477.85 278.138 476.955 277.243 476.955 276.138L476.955 275.138ZM464.856 275.138C464.856 274.034 465.751 273.138 466.856 273.138L468.906 273.138C470.01 273.138 470.906 274.034 470.906 275.138L470.906 276.138C470.906 277.243 470.01 278.138 468.906 278.138L466.856 278.138C465.751 278.138 464.856 277.243 464.856 276.138L464.856 275.138ZM452.757 275.138C452.757 274.034 453.652 273.138 454.757 273.138L456.807 273.138C457.911 273.138 458.807 274.034 458.807 275.138L458.807 276.138C458.807 277.243 457.911 278.138 456.807 278.138L454.757 278.138C453.652 278.138 452.757 277.243 452.757 276.138L452.757 275.138ZM440.658 275.138C440.658 274.034 441.554 273.138 442.658 273.138L444.708 273.138C445.812 273.138 446.708 274.034 446.708 275.138L446.708 276.138C446.708 277.243 445.812 278.138 444.708 278.138L442.658 278.138C441.554 278.138 440.658 277.243 440.658 276.138L440.658 275.138ZM428.559 275.138C428.559 274.034 429.455 273.138 430.559 273.138L432.609 273.138C433.713 273.138 434.609 274.034 434.609 275.138L434.609 276.138C434.609 277.243 433.713 278.138 432.609 278.138L430.559 278.138C429.455 278.138 428.559 277.243 428.559 276.138L428.559 275.138ZM416.46 275.138C416.46 274.034 417.356 273.138 418.46 273.138L420.51 273.138C421.614 273.138 422.51 274.034 422.51 275.138L422.51 276.138C422.51 277.243 421.614 278.138 420.51 278.138L418.46 278.138C417.356 278.138 416.46 277.243 416.46 276.138L416.46 275.138ZM404.361 275.138C404.361 274.034 405.257 273.138 406.361 273.138L408.411 273.138C409.515 273.138 410.411 274.034 410.411 275.138L410.411 276.138C410.411 277.243 409.515 278.138 408.411 278.138L406.361 278.138C405.257 278.138 404.361 277.243 404.361 276.138L404.361 275.138ZM392.262 275.138C392.262 274.034 393.158 273.138 394.262 273.138L396.312 273.138C397.416 273.138 398.312 274.034 398.312 275.138L398.312 276.138C398.312 277.243 397.416 278.138 396.312 278.138L394.262 278.138C393.158 278.138 392.262 277.243 392.262 276.138L392.262 275.138ZM380.163 275.138C380.163 274.034 381.059 273.138 382.163 273.138L384.213 273.138C385.317 273.138 386.213 274.034 386.213 275.138L386.213 276.138C386.213 277.243 385.317 278.138 384.213 278.138L382.163 278.138C381.059 278.138 380.163 277.243 380.163 276.138L380.163 275.138ZM368.064 275.138C368.064 274.034 368.96 273.138 370.064 273.138L372.114 273.138C373.218 273.138 374.114 274.034 374.114 275.138L374.114 276.138C374.114 277.243 373.218 278.138 372.114 278.138L370.064 278.138C368.96 278.138 368.064 277.243 368.064 276.138L368.064 275.138ZM355.965 275.138C355.965 274.034 356.861 273.138 357.965 273.138L360.015 273.138C361.119 273.138 362.015 274.034 362.015 275.138L362.015 276.138C362.015 277.243 361.119 278.138 360.015 278.138L357.965 278.138C356.861 278.138 355.965 277.243 355.965 276.138L355.965 275.138ZM343.866 275.138C343.866 274.034 344.762 273.138 345.866 273.138L347.916 273.138C349.02 273.138 349.916 274.034 349.916 275.138L349.916 276.138C349.916 277.243 349.02 278.138 347.916 278.138L345.866 278.138C344.762 278.138 343.866 277.243 343.866 276.138L343.866 275.138ZM331.767 275.138C331.767 274.034 332.663 273.138 333.767 273.138L335.817 273.138C336.921 273.138 337.817 274.034 337.817 275.138L337.817 276.138C337.817 277.243 336.921 278.138 335.817 278.138L333.767 278.138C332.663 278.138 331.767 277.243 331.767 276.138L331.767 275.138ZM319.668 275.138C319.668 274.034 320.564 273.138 321.668 273.138L323.718 273.138C324.822 273.138 325.718 274.034 325.718 275.138L325.718 276.138C325.718 277.243 324.822 278.138 323.718 278.138L321.668 278.138C320.564 278.138 319.668 277.243 319.668 276.138L319.668 275.138ZM307.569 275.138C307.569 274.034 308.465 273.138 309.569 273.138L311.619 273.138C312.723 273.138 313.619 274.034 313.619 275.138L313.619 276.138C313.619 277.243 312.723 278.138 311.619 278.138L309.569 278.138C308.465 278.138 307.569 277.243 307.569 276.138L307.569 275.138ZM295.47 275.138C295.47 274.034 296.366 273.138 297.47 273.138L299.52 273.138C300.624 273.138 301.52 274.034 301.52 275.138L301.52 276.138C301.52 277.243 300.624 278.138 299.52 278.138L297.47 278.138C296.366 278.138 295.47 277.243 295.47 276.138L295.47 275.138ZM283.371 275.138C283.371 274.034 284.267 273.138 285.371 273.138L287.421 273.138C288.525 273.138 289.421 274.034 289.421 275.138L289.421 276.138C289.421 277.243 288.525 278.138 287.421 278.138L285.371 278.138C284.267 278.138 283.371 277.243 283.371 276.138L283.371 275.138ZM271.272 275.138C271.272 274.034 272.168 273.138 273.272 273.138L275.322 273.138C276.426 273.138 277.322 274.034 277.322 275.138L277.322 276.138C277.322 277.243 276.426 278.138 275.322 278.138L273.272 278.138C272.168 278.138 271.272 277.243 271.272 276.138L271.272 275.138ZM259.173 275.138C259.173 274.034 260.069 273.138 261.173 273.138L263.223 273.138C264.327 273.138 265.223 274.034 265.223 275.138L265.223 276.138C265.223 277.243 264.327 278.138 263.223 278.138L261.173 278.138C260.069 278.138 259.173 277.243 259.173 276.138L259.173 275.138ZM247.074 275.138C247.074 274.034 247.97 273.138 249.074 273.138L251.124 273.138C252.228 273.138 253.124 274.034 253.124 275.138L253.124 276.138C253.124 277.243 252.228 278.138 251.124 278.138L249.074 278.138C247.97 278.138 247.074 277.243 247.074 276.138L247.074 275.138ZM238 274.65C238 273.815 238.677 273.138 239.512 273.138V273.138C240.348 273.138 241.025 273.815 241.025 274.65L241.025 276.626C241.025 277.461 240.348 278.138 239.512 278.138V278.138C238.677 278.138 238 277.461 238 276.626L238 274.65Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M498.232 298.482C498.232 297.378 499.128 296.482 500.232 296.482H502.21C503.315 296.482 504.21 297.378 504.21 298.482V299.482C504.21 300.587 503.315 301.482 502.21 301.482H500.232C499.128 301.482 498.232 300.587 498.232 299.482V298.482ZM486.276 298.482C486.276 297.378 487.171 296.482 488.276 296.482H490.254C491.358 296.482 492.254 297.378 492.254 298.482V299.482C492.254 300.587 491.358 301.482 490.254 301.482H488.276C487.171 301.482 486.276 300.587 486.276 299.482V298.482ZM474.319 298.482C474.319 297.378 475.215 296.482 476.319 296.482H478.297C479.402 296.482 480.297 297.378 480.297 298.482V299.482C480.297 300.587 479.402 301.482 478.297 301.482H476.319C475.215 301.482 474.319 300.587 474.319 299.482V298.482ZM462.363 298.482C462.363 297.378 463.258 296.482 464.363 296.482H466.341C467.445 296.482 468.341 297.378 468.341 298.482V299.482C468.341 300.587 467.445 301.482 466.341 301.482H464.363C463.258 301.482 462.363 300.587 462.363 299.482V298.482ZM450.406 298.482C450.406 297.378 451.302 296.482 452.406 296.482H454.384C455.489 296.482 456.384 297.378 456.384 298.482V299.482C456.384 300.587 455.489 301.482 454.384 301.482H452.406C451.302 301.482 450.406 300.587 450.406 299.482V298.482ZM438.45 298.482C438.45 297.378 439.345 296.482 440.45 296.482H442.428C443.532 296.482 444.428 297.378 444.428 298.482V299.482C444.428 300.587 443.532 301.482 442.428 301.482H440.45C439.345 301.482 438.45 300.587 438.45 299.482V298.482ZM426.493 298.482C426.493 297.378 427.388 296.482 428.493 296.482H430.471C431.576 296.482 432.471 297.378 432.471 298.482V299.482C432.471 300.587 431.576 301.482 430.471 301.482H428.493C427.388 301.482 426.493 300.587 426.493 299.482V298.482ZM414.537 298.482C414.537 297.378 415.432 296.482 416.537 296.482H418.515C419.619 296.482 420.515 297.378 420.515 298.482V299.482C420.515 300.587 419.619 301.482 418.515 301.482H416.537C415.432 301.482 414.537 300.587 414.537 299.482V298.482ZM402.58 298.482C402.58 297.378 403.475 296.482 404.58 296.482H406.558C407.663 296.482 408.558 297.378 408.558 298.482V299.482C408.558 300.587 407.663 301.482 406.558 301.482H404.58C403.475 301.482 402.58 300.587 402.58 299.482V298.482ZM390.623 298.482C390.623 297.378 391.519 296.482 392.623 296.482H394.602C395.706 296.482 396.602 297.378 396.602 298.482V299.482C396.602 300.587 395.706 301.482 394.602 301.482H392.623C391.519 301.482 390.623 300.587 390.623 299.482V298.482ZM378.667 298.482C378.667 297.378 379.562 296.482 380.667 296.482H382.645C383.75 296.482 384.645 297.378 384.645 298.482V299.482C384.645 300.587 383.75 301.482 382.645 301.482H380.667C379.562 301.482 378.667 300.587 378.667 299.482V298.482ZM366.71 298.482C366.71 297.378 367.606 296.482 368.71 296.482H370.689C371.793 296.482 372.689 297.378 372.689 298.482V299.482C372.689 300.587 371.793 301.482 370.689 301.482H368.71C367.606 301.482 366.71 300.587 366.71 299.482V298.482ZM354.754 298.482C354.754 297.378 355.649 296.482 356.754 296.482H358.732C359.837 296.482 360.732 297.378 360.732 298.482V299.482C360.732 300.587 359.837 301.482 358.732 301.482H356.754C355.649 301.482 354.754 300.587 354.754 299.482V298.482ZM342.797 298.482C342.797 297.378 343.693 296.482 344.797 296.482H346.776C347.88 296.482 348.776 297.378 348.776 298.482V299.482C348.776 300.587 347.88 301.482 346.776 301.482H344.797C343.693 301.482 342.797 300.587 342.797 299.482V298.482ZM330.841 298.482C330.841 297.378 331.736 296.482 332.841 296.482H334.819C335.924 296.482 336.819 297.378 336.819 298.482V299.482C336.819 300.587 335.924 301.482 334.819 301.482H332.841C331.736 301.482 330.841 300.587 330.841 299.482V298.482ZM318.884 298.482C318.884 297.378 319.78 296.482 320.884 296.482H322.863C323.967 296.482 324.863 297.378 324.863 298.482V299.482C324.863 300.587 323.967 301.482 322.863 301.482H320.884C319.78 301.482 318.884 300.587 318.884 299.482V298.482ZM306.928 298.482C306.928 297.378 307.823 296.482 308.928 296.482H310.906C312.011 296.482 312.906 297.378 312.906 298.482V299.482C312.906 300.587 312.011 301.482 310.906 301.482H308.928C307.823 301.482 306.928 300.587 306.928 299.482V298.482ZM294.971 298.482C294.971 297.378 295.867 296.482 296.971 296.482H298.95C300.054 296.482 300.95 297.378 300.95 298.482V299.482C300.95 300.587 300.054 301.482 298.95 301.482H296.971C295.867 301.482 294.971 300.587 294.971 299.482V298.482ZM283.015 298.482C283.015 297.378 283.91 296.482 285.015 296.482H286.993C288.098 296.482 288.993 297.378 288.993 298.482V299.482C288.993 300.587 288.098 301.482 286.993 301.482H285.015C283.91 301.482 283.015 300.587 283.015 299.482V298.482ZM271.058 298.482C271.058 297.378 271.954 296.482 273.058 296.482H275.037C276.141 296.482 277.037 297.378 277.037 298.482V299.482C277.037 300.587 276.141 301.482 275.037 301.482H273.058C271.954 301.482 271.058 300.587 271.058 299.482V298.482ZM259.102 298.482C259.102 297.378 259.997 296.482 261.102 296.482H263.08C264.185 296.482 265.08 297.378 265.08 298.482V299.482C265.08 300.587 264.185 301.482 263.08 301.482H261.102C259.997 301.482 259.102 300.587 259.102 299.482V298.482ZM247.145 298.482C247.145 297.378 248.041 296.482 249.145 296.482H251.124C252.228 296.482 253.124 297.378 253.124 298.482V299.482C253.124 300.587 252.228 301.482 251.124 301.482H249.145C248.041 301.482 247.145 300.587 247.145 299.482V298.482ZM238.178 297.977C238.178 297.152 238.847 296.482 239.672 296.482V296.482C240.498 296.482 241.167 297.152 241.167 297.977V299.988C241.167 300.813 240.498 301.482 239.672 301.482V301.482C238.847 301.482 238.178 300.813 238.178 299.988V297.977Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M489.093 344.5C489.093 343.395 489.988 342.5 491.093 342.5L493.056 342.5C494.16 342.5 495.056 343.395 495.056 344.5L495.056 345.5C495.056 346.605 494.16 347.5 493.056 347.5L491.093 347.5C489.988 347.5 489.093 346.605 489.093 345.5L489.093 344.5ZM477.167 344.5C477.167 343.395 478.062 342.5 479.167 342.5L481.13 342.5C482.234 342.5 483.13 343.395 483.13 344.5L483.13 345.5C483.13 346.605 482.234 347.5 481.13 347.5L479.167 347.5C478.062 347.5 477.167 346.605 477.167 345.5L477.167 344.5ZM465.241 344.5C465.241 343.395 466.136 342.5 467.241 342.5L469.204 342.5C470.308 342.5 471.204 343.395 471.204 344.5L471.204 345.5C471.204 346.605 470.308 347.5 469.204 347.5L467.241 347.5C466.136 347.5 465.241 346.605 465.241 345.5L465.241 344.5ZM453.315 344.5C453.315 343.395 454.21 342.5 455.315 342.5L457.278 342.5C458.382 342.5 459.278 343.395 459.278 344.5L459.278 345.5C459.278 346.605 458.382 347.5 457.278 347.5L455.315 347.5C454.21 347.5 453.315 346.605 453.315 345.5L453.315 344.5ZM441.389 344.5C441.389 343.395 442.284 342.5 443.389 342.5L445.352 342.5C446.457 342.5 447.352 343.395 447.352 344.5L447.352 345.5C447.352 346.605 446.457 347.5 445.352 347.5L443.389 347.5C442.284 347.5 441.389 346.605 441.389 345.5L441.389 344.5ZM429.463 344.5C429.463 343.395 430.359 342.5 431.463 342.5L433.426 342.5C434.531 342.5 435.426 343.395 435.426 344.5L435.426 345.5C435.426 346.605 434.531 347.5 433.426 347.5L431.463 347.5C430.359 347.5 429.463 346.605 429.463 345.5L429.463 344.5ZM417.537 344.5C417.537 343.395 418.433 342.5 419.537 342.5L421.5 342.5C422.605 342.5 423.5 343.395 423.5 344.5L423.5 345.5C423.5 346.605 422.605 347.5 421.5 347.5L419.537 347.5C418.433 347.5 417.537 346.605 417.537 345.5L417.537 344.5ZM405.611 344.5C405.611 343.395 406.507 342.5 407.611 342.5L409.574 342.5C410.679 342.5 411.574 343.395 411.574 344.5L411.574 345.5C411.574 346.605 410.679 347.5 409.574 347.5L407.611 347.5C406.507 347.5 405.611 346.605 405.611 345.5L405.611 344.5ZM393.685 344.5C393.685 343.395 394.581 342.5 395.685 342.5L397.648 342.5C398.753 342.5 399.648 343.395 399.648 344.5L399.648 345.5C399.648 346.605 398.753 347.5 397.648 347.5L395.685 347.5C394.581 347.5 393.685 346.605 393.685 345.5L393.685 344.5ZM381.759 344.5C381.759 343.395 382.655 342.5 383.759 342.5L385.722 342.5C386.827 342.5 387.722 343.395 387.722 344.5L387.722 345.5C387.722 346.605 386.827 347.5 385.722 347.5L383.759 347.5C382.655 347.5 381.759 346.605 381.759 345.5L381.759 344.5ZM369.833 344.5C369.833 343.395 370.729 342.5 371.833 342.5L373.796 342.5C374.901 342.5 375.796 343.395 375.796 344.5L375.796 345.5C375.796 346.605 374.901 347.5 373.796 347.5L371.833 347.5C370.729 347.5 369.833 346.605 369.833 345.5L369.833 344.5ZM357.907 344.5C357.907 343.395 358.803 342.5 359.907 342.5L361.87 342.5C362.975 342.5 363.87 343.395 363.87 344.5L363.87 345.5C363.87 346.605 362.975 347.5 361.87 347.5L359.907 347.5C358.803 347.5 357.907 346.605 357.907 345.5L357.907 344.5ZM345.982 344.5C345.982 343.395 346.877 342.5 347.982 342.5L349.945 342.5C351.049 342.5 351.945 343.395 351.945 344.5L351.945 345.5C351.945 346.605 351.049 347.5 349.945 347.5L347.982 347.5C346.877 347.5 345.982 346.605 345.982 345.5L345.982 344.5ZM334.056 344.5C334.056 343.395 334.951 342.5 336.056 342.5L338.019 342.5C339.123 342.5 340.019 343.395 340.019 344.5L340.019 345.5C340.019 346.605 339.123 347.5 338.019 347.5L336.056 347.5C334.951 347.5 334.056 346.605 334.056 345.5L334.056 344.5ZM322.13 344.5C322.13 343.395 323.025 342.5 324.13 342.5L326.093 342.5C327.197 342.5 328.093 343.395 328.093 344.5L328.093 345.5C328.093 346.605 327.197 347.5 326.093 347.5L324.13 347.5C323.025 347.5 322.13 346.605 322.13 345.5L322.13 344.5ZM310.204 344.5C310.204 343.395 311.099 342.5 312.204 342.5L314.167 342.5C315.271 342.5 316.167 343.395 316.167 344.5L316.167 345.5C316.167 346.605 315.271 347.5 314.167 347.5L312.204 347.5C311.099 347.5 310.204 346.605 310.204 345.5L310.204 344.5ZM298.278 344.5C298.278 343.395 299.173 342.5 300.278 342.5L302.241 342.5C303.345 342.5 304.241 343.395 304.241 344.5L304.241 345.5C304.241 346.605 303.345 347.5 302.241 347.5L300.278 347.5C299.173 347.5 298.278 346.605 298.278 345.5L298.278 344.5ZM286.352 344.5C286.352 343.395 287.247 342.5 288.352 342.5L290.315 342.5C291.419 342.5 292.315 343.395 292.315 344.5L292.315 345.5C292.315 346.605 291.419 347.5 290.315 347.5L288.352 347.5C287.247 347.5 286.352 346.605 286.352 345.5L286.352 344.5ZM274.426 344.5C274.426 343.395 275.321 342.5 276.426 342.5L278.389 342.5C279.493 342.5 280.389 343.395 280.389 344.5L280.389 345.5C280.389 346.605 279.493 347.5 278.389 347.5L276.426 347.5C275.321 347.5 274.426 346.605 274.426 345.5L274.426 344.5ZM262.5 344.5C262.5 343.395 263.395 342.5 264.5 342.5L266.463 342.5C267.568 342.5 268.463 343.395 268.463 344.5L268.463 345.5C268.463 346.605 267.568 347.5 266.463 347.5L264.5 347.5C263.395 347.5 262.5 346.605 262.5 345.5L262.5 344.5ZM250.574 344.5C250.574 343.395 251.47 342.5 252.574 342.5L254.537 342.5C255.642 342.5 256.537 343.395 256.537 344.5L256.537 345.5C256.537 346.605 255.642 347.5 254.537 347.5L252.574 347.5C251.47 347.5 250.574 346.605 250.574 345.5L250.574 344.5ZM238.648 344.5C238.648 343.395 239.544 342.5 240.648 342.5L242.611 342.5C243.716 342.5 244.611 343.395 244.611 344.5L244.611 345.5C244.611 346.605 243.716 347.5 242.611 347.5L240.648 347.5C239.544 347.5 238.648 346.605 238.648 345.5L238.648 344.5ZM226.722 344.5C226.722 343.395 227.618 342.5 228.722 342.5L230.685 342.5C231.79 342.5 232.685 343.395 232.685 344.5L232.685 345.5C232.685 346.605 231.79 347.5 230.685 347.5L228.722 347.5C227.618 347.5 226.722 346.605 226.722 345.5L226.722 344.5ZM214.796 344.5C214.796 343.395 215.692 342.5 216.796 342.5L218.759 342.5C219.864 342.5 220.759 343.395 220.759 344.5L220.759 345.5C220.759 346.605 219.864 347.5 218.759 347.5L216.796 347.5C215.692 347.5 214.796 346.605 214.796 345.5L214.796 344.5ZM202.87 344.5C202.87 343.395 203.766 342.5 204.87 342.5L206.833 342.5C207.938 342.5 208.833 343.395 208.833 344.5L208.833 345.5C208.833 346.605 207.938 347.5 206.833 347.5L204.87 347.5C203.766 347.5 202.87 346.605 202.87 345.5L202.87 344.5ZM190.945 344.5C190.945 343.395 191.84 342.5 192.945 342.5L194.908 342.5C196.012 342.5 196.908 343.395 196.908 344.5L196.908 345.5C196.908 346.605 196.012 347.5 194.908 347.5L192.945 347.5C191.84 347.5 190.945 346.605 190.945 345.5L190.945 344.5ZM182 343.991C182 343.167 182.668 342.5 183.491 342.5V342.5C184.314 342.5 184.982 343.167 184.982 343.991L184.982 346.009C184.982 346.833 184.314 347.5 183.491 347.5V347.5C182.668 347.5 182 346.833 182 346.009L182 343.991Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M463.2 321.5C463.2 320.395 464.096 319.5 465.2 319.5L467.12 319.5C468.225 319.5 469.12 320.395 469.12 321.5L469.12 322.5C469.12 323.605 468.225 324.5 467.12 324.5L465.2 324.5C464.096 324.5 463.2 323.605 463.2 322.5L463.2 321.5ZM451.36 321.5C451.36 320.395 452.256 319.5 453.36 319.5L455.28 319.5C456.385 319.5 457.28 320.395 457.28 321.5L457.28 322.5C457.28 323.605 456.385 324.5 455.28 324.5L453.36 324.5C452.256 324.5 451.36 323.605 451.36 322.5L451.36 321.5ZM439.52 321.5C439.52 320.395 440.416 319.5 441.52 319.5L443.44 319.5C444.545 319.5 445.44 320.395 445.44 321.5L445.44 322.5C445.44 323.605 444.545 324.5 443.44 324.5L441.52 324.5C440.416 324.5 439.52 323.605 439.52 322.5L439.52 321.5ZM427.68 321.5C427.68 320.395 428.576 319.5 429.68 319.5L431.6 319.5C432.705 319.5 433.6 320.395 433.6 321.5L433.6 322.5C433.6 323.605 432.705 324.5 431.6 324.5L429.68 324.5C428.576 324.5 427.68 323.605 427.68 322.5L427.68 321.5ZM415.84 321.5C415.84 320.395 416.736 319.5 417.84 319.5L419.76 319.5C420.865 319.5 421.76 320.395 421.76 321.5L421.76 322.5C421.76 323.605 420.865 324.5 419.76 324.5L417.84 324.5C416.736 324.5 415.84 323.605 415.84 322.5L415.84 321.5ZM404 321.5C404 320.395 404.896 319.5 406 319.5L407.92 319.5C409.025 319.5 409.92 320.395 409.92 321.5L409.92 322.5C409.92 323.605 409.025 324.5 407.92 324.5L406 324.5C404.896 324.5 404 323.605 404 322.5L404 321.5ZM392.16 321.5C392.16 320.395 393.056 319.5 394.16 319.5L396.08 319.5C397.185 319.5 398.08 320.395 398.08 321.5L398.08 322.5C398.08 323.605 397.185 324.5 396.08 324.5L394.16 324.5C393.056 324.5 392.16 323.605 392.16 322.5L392.16 321.5ZM380.32 321.5C380.32 320.395 381.216 319.5 382.32 319.5L384.24 319.5C385.345 319.5 386.24 320.395 386.24 321.5L386.24 322.5C386.24 323.605 385.345 324.5 384.24 324.5L382.32 324.5C381.216 324.5 380.32 323.605 380.32 322.5L380.32 321.5ZM368.48 321.5C368.48 320.395 369.376 319.5 370.48 319.5L372.4 319.5C373.505 319.5 374.4 320.395 374.4 321.5L374.4 322.5C374.4 323.605 373.505 324.5 372.4 324.5L370.48 324.5C369.376 324.5 368.48 323.605 368.48 322.5L368.48 321.5ZM356.64 321.5C356.64 320.395 357.536 319.5 358.64 319.5L360.56 319.5C361.665 319.5 362.56 320.395 362.56 321.5L362.56 322.5C362.56 323.605 361.665 324.5 360.56 324.5L358.64 324.5C357.536 324.5 356.64 323.605 356.64 322.5L356.64 321.5ZM344.8 321.5C344.8 320.395 345.696 319.5 346.8 319.5L348.72 319.5C349.825 319.5 350.72 320.395 350.72 321.5L350.72 322.5C350.72 323.605 349.825 324.5 348.72 324.5L346.8 324.5C345.696 324.5 344.8 323.605 344.8 322.5L344.8 321.5ZM332.96 321.5C332.96 320.395 333.856 319.5 334.96 319.5L336.88 319.5C337.985 319.5 338.88 320.395 338.88 321.5L338.88 322.5C338.88 323.605 337.985 324.5 336.88 324.5L334.96 324.5C333.856 324.5 332.96 323.605 332.96 322.5L332.96 321.5ZM321.12 321.5C321.12 320.395 322.016 319.5 323.12 319.5L325.04 319.5C326.145 319.5 327.04 320.395 327.04 321.5L327.04 322.5C327.04 323.605 326.145 324.5 325.04 324.5L323.12 324.5C322.016 324.5 321.12 323.605 321.12 322.5L321.12 321.5ZM309.28 321.5C309.28 320.395 310.176 319.5 311.28 319.5L313.2 319.5C314.305 319.5 315.2 320.395 315.2 321.5L315.2 322.5C315.2 323.605 314.305 324.5 313.2 324.5L311.28 324.5C310.176 324.5 309.28 323.605 309.28 322.5L309.28 321.5ZM297.44 321.5C297.44 320.395 298.336 319.5 299.44 319.5L301.36 319.5C302.465 319.5 303.36 320.395 303.36 321.5L303.36 322.5C303.36 323.605 302.465 324.5 301.36 324.5L299.44 324.5C298.336 324.5 297.44 323.605 297.44 322.5L297.44 321.5ZM285.6 321.5C285.6 320.395 286.496 319.5 287.6 319.5L289.52 319.5C290.625 319.5 291.52 320.395 291.52 321.5L291.52 322.5C291.52 323.605 290.625 324.5 289.52 324.5L287.6 324.5C286.496 324.5 285.6 323.605 285.6 322.5L285.6 321.5ZM273.76 321.5C273.76 320.395 274.656 319.5 275.76 319.5L277.68 319.5C278.785 319.5 279.68 320.395 279.68 321.5L279.68 322.5C279.68 323.605 278.785 324.5 277.68 324.5L275.76 324.5C274.656 324.5 273.76 323.605 273.76 322.5L273.76 321.5ZM261.92 321.5C261.92 320.395 262.816 319.5 263.92 319.5L265.84 319.5C266.945 319.5 267.84 320.395 267.84 321.5L267.84 322.5C267.84 323.605 266.945 324.5 265.84 324.5L263.92 324.5C262.816 324.5 261.92 323.605 261.92 322.5L261.92 321.5ZM250.08 321.5C250.08 320.395 250.976 319.5 252.08 319.5L254 319.5C255.105 319.5 256 320.395 256 321.5L256 322.5C256 323.605 255.105 324.5 254 324.5L252.08 324.5C250.976 324.5 250.08 323.605 250.08 322.5L250.08 321.5ZM238.24 321.5C238.24 320.395 239.136 319.5 240.24 319.5L242.16 319.5C243.265 319.5 244.16 320.395 244.16 321.5L244.16 322.5C244.16 323.605 243.265 324.5 242.16 324.5L240.24 324.5C239.136 324.5 238.24 323.605 238.24 322.5L238.24 321.5ZM226.4 321.5C226.4 320.395 227.296 319.5 228.4 319.5L230.32 319.5C231.425 319.5 232.32 320.395 232.32 321.5L232.32 322.5C232.32 323.605 231.425 324.5 230.32 324.5L228.4 324.5C227.296 324.5 226.4 323.605 226.4 322.5L226.4 321.5ZM214.56 321.5C214.56 320.395 215.456 319.5 216.56 319.5L218.48 319.5C219.585 319.5 220.48 320.395 220.48 321.5L220.48 322.5C220.48 323.605 219.585 324.5 218.48 324.5L216.56 324.5C215.456 324.5 214.56 323.605 214.56 322.5L214.56 321.5ZM202.72 321.5C202.72 320.395 203.616 319.5 204.72 319.5L206.64 319.5C207.745 319.5 208.64 320.395 208.64 321.5L208.64 322.5C208.64 323.605 207.745 324.5 206.64 324.5L204.72 324.5C203.616 324.5 202.72 323.605 202.72 322.5L202.72 321.5ZM190.88 321.5C190.88 320.395 191.776 319.5 192.88 319.5L194.8 319.5C195.905 319.5 196.8 320.395 196.8 321.5L196.8 322.5C196.8 323.605 195.905 324.5 194.8 324.5L192.88 324.5C191.776 324.5 190.88 323.605 190.88 322.5L190.88 321.5ZM182 320.98C182 320.163 182.663 319.5 183.48 319.5V319.5C184.297 319.5 184.96 320.163 184.96 320.98L184.96 323.02C184.96 323.837 184.297 324.5 183.48 324.5V324.5C182.663 324.5 182 323.837 182 323.02L182 320.98Z" fill="#D9D9D9"/>
                            <path d="M97.9565 143.334L97.9565 157.694L84.3563 154.116C71.013 150.606 56.7984 154.018 46.503 163.203L43.3116 166.051C35.8434 172.713 29.3222 180.366 23.9295 188.797L11.8832 207.63L1.37587 152.446C-4.34007 122.426 18.6754 94.6171 49.2363 94.6171C76.1438 94.6171 97.9565 116.428 97.9565 143.334Z" fill="#00B6ED"/>
                            <path d="M242.387 97.244L243.818 97.244C270.593 97.244 291.34 120.087 289.336 146.29C289.157 148.637 288.55 150.929 287.789 153.156L279.518 177.404L273 194.5L242.387 159.5C234.304 150.404 221.225 148.224 210.27 153.375C209.708 153.639 209.184 153.977 208.693 154.356L197.5 163L195.867 149.823C192.436 121.884 214.236 97.244 242.387 97.244Z" fill="#40CE97"/>
                            <path d="M197.479 112.015L197.479 162.951L162.875 158.287C159.966 157.895 157.011 158.025 154.148 158.67L122.5 166.5L97.9567 157.694L94.5201 116.279C92.0259 86.2223 115.749 60.4506 145.911 60.4506C174.391 60.4506 197.479 83.5368 197.479 112.015Z" fill="#0081A2"/>
                            <path d="M178.65 36.7949C178.65 57.1161 162.393 73.5897 142.338 73.5897C122.284 73.5897 106.026 57.1161 106.026 36.7949C106.026 16.4736 122.284 0 142.338 0C162.393 0 178.65 16.4736 178.65 36.7949Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.339 54.3934C151.551 54.3934 159.453 46.7552 159.453 36.7949C159.453 26.8345 151.551 19.1963 142.339 19.1963C133.126 19.1963 125.224 26.8345 125.224 36.7949C125.224 46.7552 133.126 54.3934 142.339 54.3934ZM142.339 73.5897C162.393 73.5897 178.651 57.1161 178.651 36.7949C178.651 16.4736 162.393 0 142.339 0C122.284 0 106.026 16.4736 106.026 36.7949C106.026 57.1161 122.284 73.5897 142.339 73.5897Z" fill="#005072"/>
                            <path d="M280.862 70.9616C280.862 91.2829 264.003 107.756 243.205 107.756C222.408 107.756 205.548 91.2829 205.548 70.9616C205.548 50.6404 222.408 34.1667 243.205 34.1667C264.003 34.1667 280.862 50.6404 280.862 70.9616Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M243.205 88.5602C253.821 88.5602 261.665 80.2654 261.665 70.9616C261.665 61.6578 253.821 53.3631 243.205 53.3631C232.59 53.3631 224.746 61.6578 224.746 70.9616C224.746 80.2654 232.59 88.5602 243.205 88.5602ZM243.205 107.756C264.003 107.756 280.862 91.2829 280.862 70.9616C280.862 50.6404 264.003 34.1667 243.205 34.1667C222.408 34.1667 205.548 50.6404 205.548 70.9616C205.548 91.2829 222.408 107.756 243.205 107.756Z" fill="#005072"/>
                            <path d="M81.8181 70.9616C81.8181 91.2829 64.9584 107.756 44.161 107.756C23.3636 107.756 6.50391 91.2829 6.50391 70.9616C6.50391 50.6404 23.3636 34.1667 44.161 34.1667C64.9584 34.1667 81.8181 50.6404 81.8181 70.9616Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M44.161 88.5602C54.7764 88.5602 62.6205 80.2654 62.6205 70.9616C62.6205 61.6578 54.7764 53.3631 44.161 53.3631C33.5456 53.3631 25.7014 61.6578 25.7014 70.9616C25.7014 80.2654 33.5456 88.5602 44.161 88.5602ZM44.161 107.756C64.9584 107.756 81.8181 91.2829 81.8181 70.9616C81.8181 50.6404 64.9584 34.1667 44.161 34.1667C23.3636 34.1667 6.50391 50.6404 6.50391 70.9616C6.50391 91.2829 23.3636 107.756 44.161 107.756Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M208.908 163.827C218.23 157.816 230.571 159.707 237.665 168.233L261.949 197.42C269.939 207.023 268.309 221.349 258.367 228.912L246.157 238.2L233.062 268.438C235.755 273.069 236.54 278.659 235.079 283.971C232.947 291.727 226.422 297.484 218.46 298.633L217.252 298.807C215.509 306.611 209.177 312.777 201.321 314.306C198.95 323.813 190.73 330.759 181.129 331.685L181.094 331.797C179.246 337.831 174.817 342.735 169.001 345.187C163.042 347.7 156.263 347.37 150.576 344.291L141.7 339.485C137.704 337.321 136.219 332.328 138.382 328.333C140.546 324.337 145.539 322.852 149.535 325.016L158.411 329.822C159.706 330.523 161.25 330.598 162.607 330.026C163.932 329.468 164.94 328.351 165.361 326.977L165.849 325.386L152.201 311.684C148.995 308.465 149.005 303.256 152.225 300.049C155.444 296.843 160.654 296.854 163.86 300.073L179.053 315.327C182.288 315.253 185.093 312.803 185.502 309.498L159.977 286.541C156.598 283.503 156.323 278.301 159.361 274.923C162.4 271.544 167.602 271.269 170.981 274.307L197.548 298.201C199.286 298.159 200.763 296.916 201.157 295.274L165.611 259.633C162.403 256.415 162.41 251.206 165.627 247.998C168.845 244.789 174.054 244.797 177.263 248.014L212.084 282.929L216.109 282.348C217.596 282.133 218.815 281.058 219.213 279.609C219.579 278.276 219.189 276.85 218.194 275.889L217.947 275.651L165.059 227.587C160.823 223.738 155.44 221.388 149.737 220.9L145.091 220.503C141.561 220.201 138.149 221.854 136.199 224.811L127.454 238.066C122.713 245.252 114.042 248.784 105.63 246.955L105.209 246.864C100.969 245.942 97.1551 243.639 94.3664 240.315C88.9977 233.916 88.2793 224.817 92.5774 217.655L108.331 191.405L98.2589 188.304L57.9213 236.318L78.8275 262.703C81.6493 266.264 81.0496 271.438 77.4881 274.26C73.9266 277.082 68.7518 276.482 65.93 272.921L41.4258 241.995L40.4783 241.232C24.9851 228.748 22.7093 205.999 35.4224 190.694L47.5013 176.152C58.338 163.106 76.866 159.499 91.8056 167.528L98.6556 171.209L121.183 178.145L153.485 171.382C156.095 170.836 158.766 170.638 161.428 170.794L195.055 172.759L208.908 163.827ZM193.163 189.131L160.467 187.22C159.257 187.149 158.043 187.239 156.857 187.487L125.996 193.949L106.687 226.122C106.001 227.265 106.115 228.718 106.972 229.74C107.418 230.27 108.027 230.638 108.704 230.785L109.125 230.877C110.895 231.262 112.72 230.518 113.718 229.006L122.463 215.75C127.735 207.76 136.955 203.293 146.493 204.109L151.139 204.506C160.439 205.302 169.219 209.133 176.126 215.41L220.594 255.822L229.925 234.274L193.163 189.131ZM240.816 221.589L248.404 215.817C250.89 213.926 251.297 210.344 249.3 207.944L225.015 178.756C223.242 176.625 220.156 176.152 217.826 177.655L209.441 183.062L240.816 221.589ZM82.6176 181.341C74.8437 177.937 65.6609 180.042 60.1595 186.665L48.0806 201.207C42.5523 207.863 42.2878 217.132 46.7846 223.993L82.6176 181.341Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M92.4921 261.217C95.5722 264.557 95.361 269.762 92.0203 272.842L78.3891 285.409C75.0484 288.489 69.8433 288.278 66.7632 284.937C63.6831 281.597 63.8943 276.392 67.235 273.312L80.8662 260.745C84.2069 257.665 89.412 257.876 92.4921 261.217Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M143.609 309.39C146.689 312.73 146.478 317.935 143.137 321.015L127.234 335.677C123.894 338.757 118.689 338.545 115.608 335.205C112.528 331.864 112.74 326.66 116.08 323.58L131.983 308.918C135.324 305.838 140.529 306.049 143.609 309.39Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M132.25 288.447C135.33 291.788 135.119 296.992 131.778 300.072L106.788 323.112C103.447 326.192 98.2418 325.981 95.1616 322.641C92.0815 319.3 92.2927 314.095 95.6334 311.015L120.624 287.975C123.965 284.896 129.17 285.107 132.25 288.447Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M116.347 271.688C119.427 275.028 119.215 280.233 115.875 283.313L90.8842 306.353C87.5435 309.433 82.3384 309.222 79.2583 305.881C76.1782 302.541 76.3894 297.336 79.7301 294.256L104.721 271.216C108.061 268.136 113.266 268.347 116.347 271.688Z" fill="#005072"/>
                            <g opacity="0.8" filter="url(#filter0_f_873_18044)">
                            <ellipse cx="153.945" cy="385.546" rx="109.7" ry="16.454" fill="#D9D9D9"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_873_18044" x="14.2451" y="339.092" width="279.4" height="92.9082" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_873_18044"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a community partner</h2>
                        <ul>
                            <li>Stay informed about the digital transformation initiatives in the public sector.</li>
                            <li>Gain visibility and traction in the public sector and technology industry by attending events.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing details about your organization.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Stay updated</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about new programs, vendor events, stakeholder engagements and more.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Community partner and stakeholder sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter your organization name</strong>
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">State your role within organization</strong>
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                            <strong class="error form-item--error-message">Enter your full name</strong>
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter in a valid email</strong>
                                    </div>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value=""  aria-required="false">
                                        <strong class="error form-item--error-message">Enter a valid website URL</strong>
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter the location of your head office</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace  <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="comms-org" name="radio" value="comms-org" type="radio"><label for="comms-org">I work for a community organization</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="start-ups" name="radio" value="start-ups" type="radio"><label for="start-ups">I am connected to start-up's</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="investor" name="radio" value="investor" type="radio"><label for="investor">I am an investor</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="curious-digital-transform" name="radio" value="curious-digital-transform" type="radio"><label for="curious-digital-transform">I am curious about Alberta's digital transformation </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="radio" value="other" type="radio"><label for="other">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an option</strong>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                © <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>