---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Buyers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Buyers | Alberta Digital Marketplace" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
        
        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/" title="Home" rel="home">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Buyers</li>
                            </ul>
                        </div>
                        <h1>Stay on top of what's ongoing and upcoming</h1>
                        <p class="lede">Be in the right place at the right time to meet qualified IT businesses and make powerful connections for future collaboration.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="567" height="453" viewBox="0 0 567 453" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M533.054 185.5C533.054 184.395 533.949 183.5 535.054 183.5L537.104 183.5C538.208 183.5 539.104 184.395 539.104 185.5L539.104 186.5C539.104 187.605 538.208 188.5 537.104 188.5L535.054 188.5C533.949 188.5 533.054 187.605 533.054 186.5L533.054 185.5ZM520.955 185.5C520.955 184.395 521.85 183.5 522.955 183.5L525.005 183.5C526.109 183.5 527.005 184.395 527.005 185.5L527.005 186.5C527.005 187.605 526.109 188.5 525.005 188.5L522.955 188.5C521.85 188.5 520.955 187.605 520.955 186.5L520.955 185.5ZM508.856 185.5C508.856 184.395 509.751 183.5 510.856 183.5L512.906 183.5C514.01 183.5 514.906 184.395 514.906 185.5L514.906 186.5C514.906 187.605 514.01 188.5 512.906 188.5L510.856 188.5C509.751 188.5 508.856 187.605 508.856 186.5L508.856 185.5ZM496.757 185.5C496.757 184.395 497.652 183.5 498.757 183.5L500.807 183.5C501.911 183.5 502.807 184.395 502.807 185.5L502.807 186.5C502.807 187.605 501.911 188.5 500.807 188.5L498.757 188.5C497.652 188.5 496.757 187.605 496.757 186.5L496.757 185.5ZM484.658 185.5C484.658 184.395 485.554 183.5 486.658 183.5L488.708 183.5C489.812 183.5 490.708 184.395 490.708 185.5L490.708 186.5C490.708 187.605 489.812 188.5 488.708 188.5L486.658 188.5C485.554 188.5 484.658 187.605 484.658 186.5L484.658 185.5ZM472.559 185.5C472.559 184.395 473.455 183.5 474.559 183.5L476.609 183.5C477.713 183.5 478.609 184.395 478.609 185.5L478.609 186.5C478.609 187.605 477.713 188.5 476.609 188.5L474.559 188.5C473.455 188.5 472.559 187.605 472.559 186.5L472.559 185.5ZM460.46 185.5C460.46 184.395 461.356 183.5 462.46 183.5L464.51 183.5C465.614 183.5 466.51 184.395 466.51 185.5L466.51 186.5C466.51 187.605 465.614 188.5 464.51 188.5L462.46 188.5C461.356 188.5 460.46 187.605 460.46 186.5L460.46 185.5ZM448.361 185.5C448.361 184.395 449.257 183.5 450.361 183.5L452.411 183.5C453.515 183.5 454.411 184.395 454.411 185.5L454.411 186.5C454.411 187.605 453.515 188.5 452.411 188.5L450.361 188.5C449.257 188.5 448.361 187.605 448.361 186.5L448.361 185.5ZM436.262 185.5C436.262 184.395 437.158 183.5 438.262 183.5L440.312 183.5C441.416 183.5 442.312 184.395 442.312 185.5L442.312 186.5C442.312 187.605 441.416 188.5 440.312 188.5L438.262 188.5C437.158 188.5 436.262 187.605 436.262 186.5L436.262 185.5ZM424.163 185.5C424.163 184.395 425.059 183.5 426.163 183.5L428.213 183.5C429.317 183.5 430.213 184.395 430.213 185.5L430.213 186.5C430.213 187.605 429.317 188.5 428.213 188.5L426.163 188.5C425.059 188.5 424.163 187.605 424.163 186.5L424.163 185.5ZM412.064 185.5C412.064 184.395 412.96 183.5 414.064 183.5L416.114 183.5C417.218 183.5 418.114 184.395 418.114 185.5L418.114 186.5C418.114 187.605 417.218 188.5 416.114 188.5L414.064 188.5C412.96 188.5 412.064 187.605 412.064 186.5L412.064 185.5ZM399.965 185.5C399.965 184.395 400.861 183.5 401.965 183.5L404.015 183.5C405.119 183.5 406.015 184.395 406.015 185.5L406.015 186.5C406.015 187.605 405.119 188.5 404.015 188.5L401.965 188.5C400.861 188.5 399.965 187.605 399.965 186.5L399.965 185.5ZM387.866 185.5C387.866 184.395 388.762 183.5 389.866 183.5L391.916 183.5C393.02 183.5 393.916 184.395 393.916 185.5L393.916 186.5C393.916 187.605 393.02 188.5 391.916 188.5L389.866 188.5C388.762 188.5 387.866 187.605 387.866 186.5L387.866 185.5ZM375.767 185.5C375.767 184.395 376.663 183.5 377.767 183.5L379.817 183.5C380.921 183.5 381.817 184.395 381.817 185.5L381.817 186.5C381.817 187.605 380.921 188.5 379.817 188.5L377.767 188.5C376.663 188.5 375.767 187.605 375.767 186.5L375.767 185.5ZM363.668 185.5C363.668 184.395 364.564 183.5 365.668 183.5L367.718 183.5C368.822 183.5 369.718 184.395 369.718 185.5L369.718 186.5C369.718 187.605 368.822 188.5 367.718 188.5L365.668 188.5C364.564 188.5 363.668 187.605 363.668 186.5L363.668 185.5ZM351.569 185.5C351.569 184.395 352.465 183.5 353.569 183.5L355.619 183.5C356.723 183.5 357.619 184.395 357.619 185.5L357.619 186.5C357.619 187.605 356.723 188.5 355.619 188.5L353.569 188.5C352.465 188.5 351.569 187.605 351.569 186.5L351.569 185.5ZM339.47 185.5C339.47 184.395 340.366 183.5 341.47 183.5L343.52 183.5C344.624 183.5 345.52 184.395 345.52 185.5L345.52 186.5C345.52 187.605 344.624 188.5 343.52 188.5L341.47 188.5C340.366 188.5 339.47 187.605 339.47 186.5L339.47 185.5ZM327.371 185.5C327.371 184.395 328.267 183.5 329.371 183.5L331.421 183.5C332.525 183.5 333.421 184.395 333.421 185.5L333.421 186.5C333.421 187.605 332.525 188.5 331.421 188.5L329.371 188.5C328.267 188.5 327.371 187.605 327.371 186.5L327.371 185.5ZM315.272 185.5C315.272 184.395 316.168 183.5 317.272 183.5L319.322 183.5C320.426 183.5 321.322 184.395 321.322 185.5L321.322 186.5C321.322 187.605 320.426 188.5 319.322 188.5L317.272 188.5C316.168 188.5 315.272 187.605 315.272 186.5L315.272 185.5ZM303.173 185.5C303.173 184.395 304.069 183.5 305.173 183.5L307.223 183.5C308.327 183.5 309.223 184.395 309.223 185.5L309.223 186.5C309.223 187.605 308.327 188.5 307.223 188.5L305.173 188.5C304.069 188.5 303.173 187.605 303.173 186.5L303.173 185.5ZM291.074 185.5C291.074 184.395 291.97 183.5 293.074 183.5L295.124 183.5C296.228 183.5 297.124 184.395 297.124 185.5L297.124 186.5C297.124 187.605 296.228 188.5 295.124 188.5L293.074 188.5C291.97 188.5 291.074 187.605 291.074 186.5L291.074 185.5ZM282 185.012C282 184.177 282.677 183.5 283.512 183.5V183.5C284.348 183.5 285.025 184.177 285.025 185.012L285.025 186.988C285.025 187.823 284.348 188.5 283.512 188.5V188.5C282.677 188.5 282 187.823 282 186.988L282 185.012Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M497.981 205.482C497.981 204.378 498.876 203.482 499.981 203.482H502.06C503.164 203.482 504.06 204.378 504.06 205.482V206.482C504.06 207.587 503.164 208.482 502.06 208.482H499.981C498.876 208.482 497.981 207.587 497.981 206.482V205.482ZM485.823 205.482C485.823 204.378 486.718 203.482 487.823 203.482H489.902C491.006 203.482 491.902 204.378 491.902 205.482V206.482C491.902 207.587 491.006 208.482 489.902 208.482H487.823C486.718 208.482 485.823 207.587 485.823 206.482V205.482ZM473.665 205.482C473.665 204.378 474.56 203.482 475.665 203.482H477.744C478.848 203.482 479.744 204.378 479.744 205.482V206.482C479.744 207.587 478.848 208.482 477.744 208.482H475.665C474.56 208.482 473.665 207.587 473.665 206.482V205.482ZM461.507 205.482C461.507 204.378 462.402 203.482 463.507 203.482H465.586C466.69 203.482 467.586 204.378 467.586 205.482V206.482C467.586 207.587 466.69 208.482 465.586 208.482H463.507C462.402 208.482 461.507 207.587 461.507 206.482V205.482ZM449.349 205.482C449.349 204.378 450.244 203.482 451.349 203.482H453.428C454.533 203.482 455.428 204.378 455.428 205.482V206.482C455.428 207.587 454.533 208.482 453.428 208.482H451.349C450.244 208.482 449.349 207.587 449.349 206.482V205.482ZM437.191 205.482C437.191 204.378 438.087 203.482 439.191 203.482H441.27C442.375 203.482 443.27 204.378 443.27 205.482V206.482C443.27 207.587 442.375 208.482 441.27 208.482H439.191C438.087 208.482 437.191 207.587 437.191 206.482V205.482ZM425.033 205.482C425.033 204.378 425.929 203.482 427.033 203.482H429.112C430.217 203.482 431.112 204.378 431.112 205.482V206.482C431.112 207.587 430.217 208.482 429.112 208.482H427.033C425.929 208.482 425.033 207.587 425.033 206.482V205.482ZM412.875 205.482C412.875 204.378 413.771 203.482 414.875 203.482H416.954C418.059 203.482 418.954 204.378 418.954 205.482V206.482C418.954 207.587 418.059 208.482 416.954 208.482H414.875C413.771 208.482 412.875 207.587 412.875 206.482V205.482ZM400.717 205.482C400.717 204.378 401.613 203.482 402.717 203.482H404.796C405.901 203.482 406.796 204.378 406.796 205.482V206.482C406.796 207.587 405.901 208.482 404.796 208.482H402.717C401.613 208.482 400.717 207.587 400.717 206.482V205.482ZM388.56 205.482C388.56 204.378 389.455 203.482 390.56 203.482H392.638C393.743 203.482 394.638 204.378 394.638 205.482V206.482C394.638 207.587 393.743 208.482 392.638 208.482H390.56C389.455 208.482 388.56 207.587 388.56 206.482V205.482ZM376.402 205.482C376.402 204.378 377.297 203.482 378.402 203.482H380.481C381.585 203.482 382.481 204.378 382.481 205.482V206.482C382.481 207.587 381.585 208.482 380.481 208.482H378.402C377.297 208.482 376.402 207.587 376.402 206.482V205.482ZM364.244 205.482C364.244 204.378 365.139 203.482 366.244 203.482H368.323C369.427 203.482 370.323 204.378 370.323 205.482V206.482C370.323 207.587 369.427 208.482 368.323 208.482H366.244C365.139 208.482 364.244 207.587 364.244 206.482V205.482ZM352.086 205.482C352.086 204.378 352.981 203.482 354.086 203.482H356.165C357.269 203.482 358.165 204.378 358.165 205.482V206.482C358.165 207.587 357.269 208.482 356.165 208.482H354.086C352.981 208.482 352.086 207.587 352.086 206.482V205.482ZM339.928 205.482C339.928 204.378 340.823 203.482 341.928 203.482H344.007C345.111 203.482 346.007 204.378 346.007 205.482V206.482C346.007 207.587 345.111 208.482 344.007 208.482H341.928C340.823 208.482 339.928 207.587 339.928 206.482V205.482ZM327.77 205.482C327.77 204.378 328.665 203.482 329.77 203.482H331.849C332.954 203.482 333.849 204.378 333.849 205.482V206.482C333.849 207.587 332.954 208.482 331.849 208.482H329.77C328.665 208.482 327.77 207.587 327.77 206.482V205.482ZM315.612 205.482C315.612 204.378 316.508 203.482 317.612 203.482H319.691C320.796 203.482 321.691 204.378 321.691 205.482V206.482C321.691 207.587 320.796 208.482 319.691 208.482H317.612C316.508 208.482 315.612 207.587 315.612 206.482V205.482ZM303.454 205.482C303.454 204.378 304.35 203.482 305.454 203.482H307.533C308.638 203.482 309.533 204.378 309.533 205.482V206.482C309.533 207.587 308.638 208.482 307.533 208.482H305.454C304.35 208.482 303.454 207.587 303.454 206.482V205.482ZM291.296 205.482C291.296 204.378 292.192 203.482 293.296 203.482H295.375C296.48 203.482 297.375 204.378 297.375 205.482V206.482C297.375 207.587 296.48 208.482 295.375 208.482H293.296C292.192 208.482 291.296 207.587 291.296 206.482V205.482ZM282.178 205.002C282.178 204.163 282.858 203.482 283.698 203.482V203.482C284.537 203.482 285.217 204.163 285.217 205.002V206.963C285.217 207.802 284.537 208.482 283.698 208.482V208.482C282.858 208.482 282.178 207.802 282.178 206.963V205.002Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M550.14 248.565C550.14 249.67 549.244 250.565 548.14 250.565L546.114 250.565C545.009 250.565 544.114 249.67 544.114 248.565L544.114 247.565C544.114 246.461 545.009 245.565 546.114 245.565L548.14 245.565C549.244 245.565 550.14 246.461 550.14 247.565L550.14 248.565ZM538.088 248.565C538.088 249.67 537.193 250.565 536.088 250.565L534.063 250.565C532.958 250.565 532.063 249.67 532.063 248.565L532.063 247.565C532.063 246.461 532.958 245.565 534.063 245.565L536.088 245.565C537.193 245.565 538.088 246.461 538.088 247.565L538.088 248.565ZM526.037 248.565C526.037 249.67 525.142 250.565 524.037 250.565L522.012 250.565C520.907 250.565 520.012 249.67 520.012 248.565L520.012 247.565C520.012 246.461 520.907 245.565 522.012 245.565L524.037 245.565C525.142 245.565 526.037 246.461 526.037 247.565L526.037 248.565ZM513.986 248.565C513.986 249.67 513.091 250.565 511.986 250.565L509.96 250.565C508.856 250.565 507.96 249.67 507.96 248.565L507.96 247.565C507.96 246.461 508.856 245.565 509.96 245.565L511.986 245.565C513.091 245.565 513.986 246.461 513.986 247.565L513.986 248.565ZM501.935 248.565C501.935 249.67 501.039 250.565 499.935 250.565L497.909 250.565C496.805 250.565 495.909 249.67 495.909 248.565L495.909 247.565C495.909 246.461 496.805 245.565 497.909 245.565L499.935 245.565C501.039 245.565 501.935 246.461 501.935 247.565L501.935 248.565ZM489.884 248.565C489.884 249.67 488.988 250.565 487.884 250.565L485.858 250.565C484.753 250.565 483.858 249.67 483.858 248.565L483.858 247.565C483.858 246.461 484.753 245.565 485.858 245.565L487.884 245.565C488.988 245.565 489.884 246.461 489.884 247.565L489.884 248.565ZM477.832 248.565C477.832 249.67 476.937 250.565 475.832 250.565L473.807 250.565C472.702 250.565 471.807 249.67 471.807 248.565L471.807 247.565C471.807 246.461 472.702 245.565 473.807 245.565L475.832 245.565C476.937 245.565 477.832 246.461 477.832 247.565L477.832 248.565ZM465.781 248.565C465.781 249.67 464.886 250.565 463.781 250.565L461.756 250.565C460.651 250.565 459.756 249.67 459.756 248.565L459.756 247.565C459.756 246.461 460.651 245.565 461.756 245.565L463.781 245.565C464.886 245.565 465.781 246.461 465.781 247.565L465.781 248.565ZM453.73 248.565C453.73 249.67 452.835 250.565 451.73 250.565L449.704 250.565C448.6 250.565 447.704 249.67 447.704 248.565L447.704 247.565C447.704 246.461 448.6 245.565 449.704 245.565L451.73 245.565C452.835 245.565 453.73 246.461 453.73 247.565L453.73 248.565ZM441.679 248.565C441.679 249.67 440.783 250.565 439.679 250.565L437.653 250.565C436.549 250.565 435.653 249.67 435.653 248.565L435.653 247.565C435.653 246.461 436.549 245.565 437.653 245.565L439.679 245.565C440.783 245.565 441.679 246.461 441.679 247.565L441.679 248.565ZM429.628 248.565C429.628 249.67 428.732 250.565 427.628 250.565L425.602 250.565C424.497 250.565 423.602 249.67 423.602 248.565L423.602 247.565C423.602 246.461 424.497 245.565 425.602 245.565L427.628 245.565C428.732 245.565 429.628 246.461 429.628 247.565L429.628 248.565ZM417.576 248.565C417.576 249.67 416.681 250.565 415.576 250.565L413.551 250.565C412.446 250.565 411.551 249.67 411.551 248.565L411.551 247.565C411.551 246.461 412.446 245.565 413.551 245.565L415.576 245.565C416.681 245.565 417.576 246.461 417.576 247.565L417.576 248.565ZM405.525 248.565C405.525 249.67 404.63 250.565 403.525 250.565L401.5 250.565C400.395 250.565 399.5 249.67 399.5 248.565L399.5 247.565C399.5 246.461 400.395 245.565 401.5 245.565L403.525 245.565C404.63 245.565 405.525 246.461 405.525 247.565L405.525 248.565ZM393.474 248.565C393.474 249.67 392.579 250.565 391.474 250.565L389.448 250.565C388.344 250.565 387.448 249.67 387.448 248.565L387.448 247.565C387.448 246.461 388.344 245.565 389.448 245.565L391.474 245.565C392.579 245.565 393.474 246.461 393.474 247.565L393.474 248.565ZM381.423 248.565C381.423 249.67 380.527 250.565 379.423 250.565L377.397 250.565C376.293 250.565 375.397 249.67 375.397 248.565L375.397 247.565C375.397 246.461 376.293 245.565 377.397 245.565L379.423 245.565C380.527 245.565 381.423 246.461 381.423 247.565L381.423 248.565ZM369.372 248.565C369.372 249.67 368.476 250.565 367.372 250.565L365.346 250.565C364.241 250.565 363.346 249.67 363.346 248.565L363.346 247.565C363.346 246.461 364.241 245.565 365.346 245.565L367.372 245.565C368.476 245.565 369.372 246.461 369.372 247.565L369.372 248.565ZM357.32 248.565C357.32 249.67 356.425 250.565 355.32 250.565L353.295 250.565C352.19 250.565 351.295 249.67 351.295 248.565L351.295 247.565C351.295 246.461 352.19 245.565 353.295 245.565L355.32 245.565C356.425 245.565 357.32 246.461 357.32 247.565L357.32 248.565ZM345.269 248.565C345.269 249.67 344.374 250.565 343.269 250.565L341.244 250.565C340.139 250.565 339.244 249.67 339.244 248.565L339.244 247.565C339.244 246.461 340.139 245.565 341.244 245.565L343.269 245.565C344.374 245.565 345.269 246.461 345.269 247.565L345.269 248.565ZM333.218 248.565C333.218 249.67 332.322 250.565 331.218 250.565L329.192 250.565C328.088 250.565 327.192 249.67 327.192 248.565L327.192 247.565C327.192 246.461 328.088 245.565 329.192 245.565L331.218 245.565C332.322 245.565 333.218 246.461 333.218 247.565L333.218 248.565ZM321.167 248.565C321.167 249.67 320.271 250.565 319.167 250.565L317.141 250.565C316.037 250.565 315.141 249.67 315.141 248.565L315.141 247.565C315.141 246.461 316.037 245.565 317.141 245.565L319.167 245.565C320.271 245.565 321.167 246.461 321.167 247.565L321.167 248.565ZM309.116 248.565C309.116 249.67 308.22 250.565 307.116 250.565L305.09 250.565C303.985 250.565 303.09 249.67 303.09 248.565L303.09 247.565C303.09 246.461 303.985 245.565 305.09 245.565L307.116 245.565C308.22 245.565 309.116 246.461 309.116 247.565L309.116 248.565ZM297.064 248.565C297.064 249.67 296.169 250.565 295.064 250.565L293.039 250.565C291.934 250.565 291.039 249.67 291.039 248.565L291.039 247.565C291.039 246.461 291.934 245.565 293.039 245.565L295.064 245.565C296.169 245.565 297.064 246.461 297.064 247.565L297.064 248.565ZM285.013 249.059C285.013 249.891 284.339 250.565 283.507 250.565V250.565C282.675 250.565 282 249.891 282 249.059L282 247.072C282 246.24 282.675 245.565 283.507 245.565V245.565C284.339 245.565 285.013 246.24 285.013 247.072L285.013 249.059Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M566.016 226.998C566.016 228.102 565.121 228.998 564.016 228.998L561.908 228.998C560.804 228.998 559.908 228.102 559.908 226.998L559.908 225.998C559.908 224.893 560.804 223.998 561.908 223.998L564.016 223.998C565.121 223.998 566.016 224.893 566.016 225.998L566.016 226.998ZM553.8 226.998C553.8 228.102 552.905 228.998 551.8 228.998L549.692 228.998C548.588 228.998 547.692 228.102 547.692 226.998L547.692 225.998C547.692 224.893 548.588 223.998 549.692 223.998L551.8 223.998C552.905 223.998 553.8 224.893 553.8 225.998L553.8 226.998ZM541.585 226.998C541.585 228.102 540.689 228.998 539.585 228.998L537.477 228.998C536.372 228.998 535.477 228.102 535.477 226.998L535.477 225.998C535.477 224.893 536.372 223.998 537.477 223.998L539.585 223.998C540.689 223.998 541.585 224.893 541.585 225.998L541.585 226.998ZM529.369 226.998C529.369 228.102 528.473 228.998 527.369 228.998L525.261 228.998C524.156 228.998 523.261 228.102 523.261 226.998L523.261 225.998C523.261 224.893 524.156 223.998 525.261 223.998L527.369 223.998C528.473 223.998 529.369 224.893 529.369 225.998L529.369 226.998ZM517.153 226.998C517.153 228.102 516.258 228.998 515.153 228.998L513.045 228.998C511.941 228.998 511.045 228.102 511.045 226.998L511.045 225.998C511.045 224.893 511.941 223.998 513.045 223.998L515.153 223.998C516.258 223.998 517.153 224.893 517.153 225.998L517.153 226.998ZM504.937 226.998C504.937 228.102 504.042 228.998 502.937 228.998L500.83 228.998C499.725 228.998 498.83 228.102 498.83 226.998L498.83 225.998C498.83 224.893 499.725 223.998 500.83 223.998L502.937 223.998C504.042 223.998 504.937 224.893 504.937 225.998L504.937 226.998ZM492.722 226.998C492.722 228.102 491.826 228.998 490.722 228.998L488.614 228.998C487.509 228.998 486.614 228.102 486.614 226.998L486.614 225.998C486.614 224.893 487.509 223.998 488.614 223.998L490.722 223.998C491.826 223.998 492.722 224.893 492.722 225.998L492.722 226.998ZM480.506 226.998C480.506 228.102 479.611 228.998 478.506 228.998L476.398 228.998C475.294 228.998 474.398 228.102 474.398 226.998L474.398 225.998C474.398 224.893 475.294 223.998 476.398 223.998L478.506 223.998C479.611 223.998 480.506 224.893 480.506 225.998L480.506 226.998ZM468.29 226.998C468.29 228.102 467.395 228.998 466.29 228.998L464.182 228.998C463.078 228.998 462.182 228.102 462.182 226.998L462.182 225.998C462.182 224.893 463.078 223.998 464.182 223.998L466.29 223.998C467.395 223.998 468.29 224.893 468.29 225.998L468.29 226.998ZM456.074 226.998C456.074 228.102 455.179 228.998 454.074 228.998L451.967 228.998C450.862 228.998 449.967 228.102 449.967 226.998L449.967 225.998C449.967 224.893 450.862 223.998 451.967 223.998L454.074 223.998C455.179 223.998 456.074 224.893 456.074 225.998L456.074 226.998ZM443.859 226.998C443.859 228.102 442.963 228.998 441.859 228.998L439.751 228.998C438.646 228.998 437.751 228.102 437.751 226.998L437.751 225.998C437.751 224.893 438.646 223.998 439.751 223.998L441.859 223.998C442.963 223.998 443.859 224.893 443.859 225.998L443.859 226.998ZM431.643 226.998C431.643 228.102 430.748 228.998 429.643 228.998L427.535 228.998C426.431 228.998 425.535 228.102 425.535 226.998L425.535 225.998C425.535 224.893 426.431 223.998 427.535 223.998L429.643 223.998C430.748 223.998 431.643 224.893 431.643 225.998L431.643 226.998ZM419.427 226.998C419.427 228.102 418.532 228.998 417.427 228.998L415.319 228.998C414.215 228.998 413.319 228.102 413.319 226.998L413.319 225.998C413.319 224.893 414.215 223.998 415.319 223.998L417.427 223.998C418.532 223.998 419.427 224.893 419.427 225.998L419.427 226.998ZM407.212 226.998C407.212 228.102 406.316 228.998 405.212 228.998L403.104 228.998C401.999 228.998 401.104 228.102 401.104 226.998L401.104 225.998C401.104 224.893 401.999 223.998 403.104 223.998L405.212 223.998C406.316 223.998 407.212 224.893 407.212 225.998L407.212 226.998ZM394.996 226.998C394.996 228.102 394.1 228.998 392.996 228.998L390.888 228.998C389.783 228.998 388.888 228.102 388.888 226.998L388.888 225.998C388.888 224.893 389.783 223.998 390.888 223.998L392.996 223.998C394.1 223.998 394.996 224.893 394.996 225.998L394.996 226.998ZM382.78 226.998C382.78 228.102 381.885 228.998 380.78 228.998L378.672 228.998C377.568 228.998 376.672 228.102 376.672 226.998L376.672 225.998C376.672 224.893 377.568 223.998 378.672 223.998L380.78 223.998C381.885 223.998 382.78 224.893 382.78 225.998L382.78 226.998ZM370.564 226.998C370.564 228.102 369.669 228.998 368.564 228.998L366.457 228.998C365.352 228.998 364.457 228.102 364.457 226.998L364.457 225.998C364.457 224.893 365.352 223.998 366.457 223.998L368.564 223.998C369.669 223.998 370.564 224.893 370.564 225.998L370.564 226.998ZM358.349 226.998C358.349 228.102 357.453 228.998 356.349 228.998L354.241 228.998C353.136 228.998 352.241 228.102 352.241 226.998L352.241 225.998C352.241 224.893 353.136 223.998 354.241 223.998L356.349 223.998C357.453 223.998 358.349 224.893 358.349 225.998L358.349 226.998ZM346.133 226.998C346.133 228.102 345.237 228.998 344.133 228.998L342.025 228.998C340.92 228.998 340.025 228.102 340.025 226.998L340.025 225.998C340.025 224.893 340.92 223.998 342.025 223.998L344.133 223.998C345.237 223.998 346.133 224.893 346.133 225.998L346.133 226.998ZM333.917 226.998C333.917 228.102 333.022 228.998 331.917 228.998L329.809 228.998C328.705 228.998 327.809 228.102 327.809 226.998L327.809 225.998C327.809 224.893 328.705 223.998 329.809 223.998L331.917 223.998C333.022 223.998 333.917 224.893 333.917 225.998L333.917 226.998ZM321.701 226.998C321.701 228.102 320.806 228.998 319.701 228.998L317.594 228.998C316.489 228.998 315.594 228.102 315.594 226.998L315.594 225.998C315.594 224.893 316.489 223.998 317.594 223.998L319.701 223.998C320.806 223.998 321.701 224.893 321.701 225.998L321.701 226.998ZM309.486 226.998C309.486 228.102 308.59 228.998 307.486 228.998L305.378 228.998C304.273 228.998 303.378 228.102 303.378 226.998L303.378 225.998C303.378 224.893 304.273 223.998 305.378 223.998L307.486 223.998C308.59 223.998 309.486 224.893 309.486 225.998L309.486 226.998ZM297.27 226.998C297.27 228.102 296.375 228.998 295.27 228.998L293.162 228.998C292.058 228.998 291.162 228.102 291.162 226.998L291.162 225.998C291.162 224.893 292.058 223.998 293.162 223.998L295.27 223.998C296.375 223.998 297.27 224.893 297.27 225.998L297.27 226.998ZM285.054 227.471C285.054 228.314 284.371 228.998 283.527 228.998V228.998C282.684 228.998 282 228.314 282 227.471L282 225.525C282 224.681 282.684 223.998 283.527 223.998V223.998C284.371 223.998 285.054 224.681 285.054 225.525L285.054 227.471Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M533.054 270.138C533.054 269.034 533.95 268.138 535.054 268.138L537.104 268.138C538.208 268.138 539.104 269.034 539.104 270.138L539.104 271.138C539.104 272.243 538.208 273.138 537.104 273.138L535.054 273.138C533.95 273.138 533.054 272.243 533.054 271.138L533.054 270.138ZM520.955 270.138C520.955 269.034 521.851 268.138 522.955 268.138L525.005 268.138C526.109 268.138 527.005 269.034 527.005 270.138L527.005 271.138C527.005 272.243 526.109 273.138 525.005 273.138L522.955 273.138C521.851 273.138 520.955 272.243 520.955 271.138L520.955 270.138ZM508.856 270.138C508.856 269.034 509.752 268.138 510.856 268.138L512.906 268.138C514.01 268.138 514.906 269.034 514.906 270.138L514.906 271.138C514.906 272.243 514.01 273.138 512.906 273.138L510.856 273.138C509.752 273.138 508.856 272.243 508.856 271.138L508.856 270.138ZM496.757 270.138C496.757 269.034 497.653 268.138 498.757 268.138L500.807 268.138C501.911 268.138 502.807 269.034 502.807 270.138L502.807 271.138C502.807 272.243 501.911 273.138 500.807 273.138L498.757 273.138C497.653 273.138 496.757 272.243 496.757 271.138L496.757 270.138ZM484.658 270.138C484.658 269.034 485.554 268.138 486.658 268.138L488.708 268.138C489.812 268.138 490.708 269.034 490.708 270.138L490.708 271.138C490.708 272.243 489.812 273.138 488.708 273.138L486.658 273.138C485.554 273.138 484.658 272.243 484.658 271.138L484.658 270.138ZM472.559 270.138C472.559 269.034 473.455 268.138 474.559 268.138L476.609 268.138C477.713 268.138 478.609 269.034 478.609 270.138L478.609 271.138C478.609 272.243 477.713 273.138 476.609 273.138L474.559 273.138C473.455 273.138 472.559 272.243 472.559 271.138L472.559 270.138ZM460.46 270.138C460.46 269.034 461.356 268.138 462.46 268.138L464.51 268.138C465.614 268.138 466.51 269.034 466.51 270.138L466.51 271.138C466.51 272.243 465.614 273.138 464.51 273.138L462.46 273.138C461.356 273.138 460.46 272.243 460.46 271.138L460.46 270.138ZM448.361 270.138C448.361 269.034 449.257 268.138 450.361 268.138L452.411 268.138C453.515 268.138 454.411 269.034 454.411 270.138L454.411 271.138C454.411 272.243 453.515 273.138 452.411 273.138L450.361 273.138C449.257 273.138 448.361 272.243 448.361 271.138L448.361 270.138ZM436.262 270.138C436.262 269.034 437.158 268.138 438.262 268.138L440.312 268.138C441.416 268.138 442.312 269.034 442.312 270.138L442.312 271.138C442.312 272.243 441.416 273.138 440.312 273.138L438.262 273.138C437.158 273.138 436.262 272.243 436.262 271.138L436.262 270.138ZM424.163 270.138C424.163 269.034 425.059 268.138 426.163 268.138L428.213 268.138C429.317 268.138 430.213 269.034 430.213 270.138L430.213 271.138C430.213 272.243 429.317 273.138 428.213 273.138L426.163 273.138C425.059 273.138 424.163 272.243 424.163 271.138L424.163 270.138ZM412.064 270.138C412.064 269.034 412.96 268.138 414.064 268.138L416.114 268.138C417.218 268.138 418.114 269.034 418.114 270.138L418.114 271.138C418.114 272.243 417.218 273.138 416.114 273.138L414.064 273.138C412.96 273.138 412.064 272.243 412.064 271.138L412.064 270.138ZM399.965 270.138C399.965 269.034 400.861 268.138 401.965 268.138L404.015 268.138C405.119 268.138 406.015 269.034 406.015 270.138L406.015 271.138C406.015 272.243 405.119 273.138 404.015 273.138L401.965 273.138C400.861 273.138 399.965 272.243 399.965 271.138L399.965 270.138ZM387.866 270.138C387.866 269.034 388.762 268.138 389.866 268.138L391.916 268.138C393.02 268.138 393.916 269.034 393.916 270.138L393.916 271.138C393.916 272.243 393.02 273.138 391.916 273.138L389.866 273.138C388.762 273.138 387.866 272.243 387.866 271.138L387.866 270.138ZM375.767 270.138C375.767 269.034 376.663 268.138 377.767 268.138L379.817 268.138C380.921 268.138 381.817 269.034 381.817 270.138L381.817 271.138C381.817 272.243 380.921 273.138 379.817 273.138L377.767 273.138C376.663 273.138 375.767 272.243 375.767 271.138L375.767 270.138ZM363.668 270.138C363.668 269.034 364.564 268.138 365.668 268.138L367.718 268.138C368.822 268.138 369.718 269.034 369.718 270.138L369.718 271.138C369.718 272.243 368.822 273.138 367.718 273.138L365.668 273.138C364.564 273.138 363.668 272.243 363.668 271.138L363.668 270.138ZM351.569 270.138C351.569 269.034 352.465 268.138 353.569 268.138L355.619 268.138C356.723 268.138 357.619 269.034 357.619 270.138L357.619 271.138C357.619 272.243 356.723 273.138 355.619 273.138L353.569 273.138C352.465 273.138 351.569 272.243 351.569 271.138L351.569 270.138ZM339.47 270.138C339.47 269.034 340.366 268.138 341.47 268.138L343.52 268.138C344.624 268.138 345.52 269.034 345.52 270.138L345.52 271.138C345.52 272.243 344.624 273.138 343.52 273.138L341.47 273.138C340.366 273.138 339.47 272.243 339.47 271.138L339.47 270.138ZM327.371 270.138C327.371 269.034 328.267 268.138 329.371 268.138L331.421 268.138C332.525 268.138 333.421 269.034 333.421 270.138L333.421 271.138C333.421 272.243 332.525 273.138 331.421 273.138L329.371 273.138C328.267 273.138 327.371 272.243 327.371 271.138L327.371 270.138ZM315.272 270.138C315.272 269.034 316.168 268.138 317.272 268.138L319.322 268.138C320.426 268.138 321.322 269.034 321.322 270.138L321.322 271.138C321.322 272.243 320.426 273.138 319.322 273.138L317.272 273.138C316.168 273.138 315.272 272.243 315.272 271.138L315.272 270.138ZM303.173 270.138C303.173 269.034 304.069 268.138 305.173 268.138L307.223 268.138C308.328 268.138 309.223 269.034 309.223 270.138L309.223 271.138C309.223 272.243 308.327 273.138 307.223 273.138L305.173 273.138C304.069 273.138 303.173 272.243 303.173 271.138L303.173 270.138ZM291.074 270.138C291.074 269.034 291.97 268.138 293.074 268.138L295.124 268.138C296.228 268.138 297.124 269.034 297.124 270.138L297.124 271.138C297.124 272.243 296.228 273.138 295.124 273.138L293.074 273.138C291.97 273.138 291.074 272.243 291.074 271.138L291.074 270.138ZM282 269.65C282 268.815 282.677 268.138 283.513 268.138V268.138C284.348 268.138 285.025 268.815 285.025 269.65L285.025 271.626C285.025 272.461 284.348 273.138 283.513 273.138V273.138C282.677 273.138 282 272.461 282 271.626L282 269.65Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M542.232 291.482C542.232 290.378 543.128 289.482 544.232 289.482H546.211C547.315 289.482 548.211 290.378 548.211 291.482V292.482C548.211 293.587 547.315 294.482 546.211 294.482H544.232C543.128 294.482 542.232 293.587 542.232 292.482V291.482ZM530.276 291.482C530.276 290.378 531.171 289.482 532.276 289.482H534.254C535.359 289.482 536.254 290.378 536.254 291.482V292.482C536.254 293.587 535.359 294.482 534.254 294.482H532.276C531.171 294.482 530.276 293.587 530.276 292.482V291.482ZM518.319 291.482C518.319 290.378 519.215 289.482 520.319 289.482H522.298C523.402 289.482 524.298 290.378 524.298 291.482V292.482C524.298 293.587 523.402 294.482 522.298 294.482H520.319C519.215 294.482 518.319 293.587 518.319 292.482V291.482ZM506.363 291.482C506.363 290.378 507.258 289.482 508.363 289.482H510.341C511.446 289.482 512.341 290.378 512.341 291.482V292.482C512.341 293.587 511.446 294.482 510.341 294.482H508.363C507.258 294.482 506.363 293.587 506.363 292.482V291.482ZM494.406 291.482C494.406 290.378 495.302 289.482 496.406 289.482H498.385C499.489 289.482 500.385 290.378 500.385 291.482V292.482C500.385 293.587 499.489 294.482 498.385 294.482H496.406C495.302 294.482 494.406 293.587 494.406 292.482V291.482ZM482.45 291.482C482.45 290.378 483.345 289.482 484.45 289.482H486.428C487.533 289.482 488.428 290.378 488.428 291.482V292.482C488.428 293.587 487.533 294.482 486.428 294.482H484.45C483.345 294.482 482.45 293.587 482.45 292.482V291.482ZM470.493 291.482C470.493 290.378 471.389 289.482 472.493 289.482H474.472C475.576 289.482 476.472 290.378 476.472 291.482V292.482C476.472 293.587 475.576 294.482 474.472 294.482H472.493C471.389 294.482 470.493 293.587 470.493 292.482V291.482ZM458.537 291.482C458.537 290.378 459.432 289.482 460.537 289.482H462.515C463.62 289.482 464.515 290.378 464.515 291.482V292.482C464.515 293.587 463.62 294.482 462.515 294.482H460.537C459.432 294.482 458.537 293.587 458.537 292.482V291.482ZM446.58 291.482C446.58 290.378 447.476 289.482 448.58 289.482H450.559C451.663 289.482 452.559 290.378 452.559 291.482V292.482C452.559 293.587 451.663 294.482 450.559 294.482H448.58C447.476 294.482 446.58 293.587 446.58 292.482V291.482ZM434.624 291.482C434.624 290.378 435.519 289.482 436.624 289.482H438.602C439.707 289.482 440.602 290.378 440.602 291.482V292.482C440.602 293.587 439.707 294.482 438.602 294.482H436.624C435.519 294.482 434.624 293.587 434.624 292.482V291.482ZM422.667 291.482C422.667 290.378 423.563 289.482 424.667 289.482H426.645C427.75 289.482 428.645 290.378 428.645 291.482V292.482C428.645 293.587 427.75 294.482 426.645 294.482H424.667C423.563 294.482 422.667 293.587 422.667 292.482V291.482ZM410.711 291.482C410.711 290.378 411.606 289.482 412.711 289.482H414.689C415.794 289.482 416.689 290.378 416.689 291.482V292.482C416.689 293.587 415.794 294.482 414.689 294.482H412.711C411.606 294.482 410.711 293.587 410.711 292.482V291.482ZM398.754 291.482C398.754 290.378 399.65 289.482 400.754 289.482H402.732C403.837 289.482 404.732 290.378 404.732 291.482V292.482C404.732 293.587 403.837 294.482 402.732 294.482H400.754C399.65 294.482 398.754 293.587 398.754 292.482V291.482ZM386.798 291.482C386.798 290.378 387.693 289.482 388.798 289.482H390.776C391.88 289.482 392.776 290.378 392.776 291.482V292.482C392.776 293.587 391.88 294.482 390.776 294.482H388.798C387.693 294.482 386.798 293.587 386.798 292.482V291.482ZM374.841 291.482C374.841 290.378 375.737 289.482 376.841 289.482H378.819C379.924 289.482 380.819 290.378 380.819 291.482V292.482C380.819 293.587 379.924 294.482 378.819 294.482H376.841C375.737 294.482 374.841 293.587 374.841 292.482V291.482ZM362.885 291.482C362.885 290.378 363.78 289.482 364.885 289.482H366.863C367.967 289.482 368.863 290.378 368.863 291.482V292.482C368.863 293.587 367.967 294.482 366.863 294.482H364.885C363.78 294.482 362.885 293.587 362.885 292.482V291.482ZM350.928 291.482C350.928 290.378 351.824 289.482 352.928 289.482H354.906C356.011 289.482 356.906 290.378 356.906 291.482V292.482C356.906 293.587 356.011 294.482 354.906 294.482H352.928C351.824 294.482 350.928 293.587 350.928 292.482V291.482ZM338.972 291.482C338.972 290.378 339.867 289.482 340.972 289.482H342.95C344.054 289.482 344.95 290.378 344.95 291.482V292.482C344.95 293.587 344.054 294.482 342.95 294.482H340.972C339.867 294.482 338.972 293.587 338.972 292.482V291.482ZM327.015 291.482C327.015 290.378 327.911 289.482 329.015 289.482H330.993C332.098 289.482 332.993 290.378 332.993 291.482V292.482C332.993 293.587 332.098 294.482 330.993 294.482H329.015C327.911 294.482 327.015 293.587 327.015 292.482V291.482ZM315.059 291.482C315.059 290.378 315.954 289.482 317.059 289.482H319.037C320.141 289.482 321.037 290.378 321.037 291.482V292.482C321.037 293.587 320.141 294.482 319.037 294.482H317.059C315.954 294.482 315.059 293.587 315.059 292.482V291.482ZM303.102 291.482C303.102 290.378 303.997 289.482 305.102 289.482H307.08C308.185 289.482 309.08 290.378 309.08 291.482V292.482C309.08 293.587 308.185 294.482 307.08 294.482H305.102C303.997 294.482 303.102 293.587 303.102 292.482V291.482ZM291.146 291.482C291.146 290.378 292.041 289.482 293.146 289.482H295.124C296.228 289.482 297.124 290.378 297.124 291.482V292.482C297.124 293.587 296.228 294.482 295.124 294.482H293.146C292.041 294.482 291.146 293.587 291.146 292.482V291.482ZM282.178 290.977C282.178 290.152 282.847 289.482 283.673 289.482V289.482C284.498 289.482 285.167 290.152 285.167 290.977V292.988C285.167 293.813 284.498 294.482 283.673 294.482V294.482C282.847 294.482 282.178 293.813 282.178 292.988V290.977Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M532.054 338C532.054 336.895 532.949 336 534.054 336L536.104 336C537.208 336 538.104 336.895 538.104 338L538.104 339C538.104 340.105 537.208 341 536.104 341L534.054 341C532.949 341 532.054 340.105 532.054 339L532.054 338ZM519.955 338C519.955 336.895 520.85 336 521.955 336L524.005 336C525.109 336 526.005 336.895 526.005 338L526.005 339C526.005 340.105 525.109 341 524.005 341L521.955 341C520.85 341 519.955 340.105 519.955 339L519.955 338ZM507.856 338C507.856 336.895 508.751 336 509.856 336L511.906 336C513.01 336 513.906 336.895 513.906 338L513.906 339C513.906 340.105 513.01 341 511.906 341L509.856 341C508.751 341 507.856 340.105 507.856 339L507.856 338ZM495.757 338C495.757 336.895 496.652 336 497.757 336L499.807 336C500.911 336 501.807 336.895 501.807 338L501.807 339C501.807 340.105 500.911 341 499.807 341L497.757 341C496.652 341 495.757 340.105 495.757 339L495.757 338ZM483.658 338C483.658 336.895 484.554 336 485.658 336L487.708 336C488.812 336 489.708 336.895 489.708 338L489.708 339C489.708 340.105 488.812 341 487.708 341L485.658 341C484.554 341 483.658 340.105 483.658 339L483.658 338ZM471.559 338C471.559 336.895 472.455 336 473.559 336L475.609 336C476.713 336 477.609 336.895 477.609 338L477.609 339C477.609 340.105 476.713 341 475.609 341L473.559 341C472.455 341 471.559 340.105 471.559 339L471.559 338ZM459.46 338C459.46 336.895 460.356 336 461.46 336L463.51 336C464.614 336 465.51 336.895 465.51 338L465.51 339C465.51 340.105 464.614 341 463.51 341L461.46 341C460.356 341 459.46 340.105 459.46 339L459.46 338ZM447.361 338C447.361 336.895 448.257 336 449.361 336L451.411 336C452.515 336 453.411 336.895 453.411 338L453.411 339C453.411 340.105 452.515 341 451.411 341L449.361 341C448.257 341 447.361 340.105 447.361 339L447.361 338ZM435.262 338C435.262 336.895 436.158 336 437.262 336L439.312 336C440.416 336 441.312 336.895 441.312 338L441.312 339C441.312 340.105 440.416 341 439.312 341L437.262 341C436.158 341 435.262 340.105 435.262 339L435.262 338ZM423.163 338C423.163 336.895 424.059 336 425.163 336L427.213 336C428.317 336 429.213 336.895 429.213 338L429.213 339C429.213 340.105 428.317 341 427.213 341L425.163 341C424.059 341 423.163 340.105 423.163 339L423.163 338ZM411.064 338C411.064 336.895 411.96 336 413.064 336L415.114 336C416.218 336 417.114 336.895 417.114 338L417.114 339C417.114 340.105 416.218 341 415.114 341L413.064 341C411.96 341 411.064 340.105 411.064 339L411.064 338ZM398.965 338C398.965 336.895 399.861 336 400.965 336L403.015 336C404.119 336 405.015 336.895 405.015 338L405.015 339C405.015 340.105 404.119 341 403.015 341L400.965 341C399.861 341 398.965 340.105 398.965 339L398.965 338ZM386.866 338C386.866 336.895 387.762 336 388.866 336L390.916 336C392.02 336 392.916 336.895 392.916 338L392.916 339C392.916 340.105 392.02 341 390.916 341L388.866 341C387.762 341 386.866 340.105 386.866 339L386.866 338ZM374.767 338C374.767 336.895 375.663 336 376.767 336L378.817 336C379.921 336 380.817 336.895 380.817 338L380.817 339C380.817 340.105 379.921 341 378.817 341L376.767 341C375.663 341 374.767 340.105 374.767 339L374.767 338ZM362.668 338C362.668 336.895 363.564 336 364.668 336L366.718 336C367.822 336 368.718 336.895 368.718 338L368.718 339C368.718 340.105 367.822 341 366.718 341L364.668 341C363.564 341 362.668 340.105 362.668 339L362.668 338ZM350.569 338C350.569 336.895 351.465 336 352.569 336L354.619 336C355.723 336 356.619 336.895 356.619 338L356.619 339C356.619 340.105 355.723 341 354.619 341L352.569 341C351.465 341 350.569 340.105 350.569 339L350.569 338ZM338.47 338C338.47 336.895 339.366 336 340.47 336L342.52 336C343.624 336 344.52 336.895 344.52 338L344.52 339C344.52 340.105 343.624 341 342.52 341L340.47 341C339.366 341 338.47 340.105 338.47 339L338.47 338ZM326.371 338C326.371 336.895 327.267 336 328.371 336L330.421 336C331.525 336 332.421 336.895 332.421 338L332.421 339C332.421 340.105 331.525 341 330.421 341L328.371 341C327.267 341 326.371 340.105 326.371 339L326.371 338ZM314.272 338C314.272 336.895 315.168 336 316.272 336L318.322 336C319.426 336 320.322 336.895 320.322 338L320.322 339C320.322 340.105 319.426 341 318.322 341L316.272 341C315.168 341 314.272 340.105 314.272 339L314.272 338ZM302.173 338C302.173 336.895 303.069 336 304.173 336L306.223 336C307.327 336 308.223 336.895 308.223 338L308.223 339C308.223 340.105 307.327 341 306.223 341L304.173 341C303.069 341 302.173 340.105 302.173 339L302.173 338ZM290.074 338C290.074 336.895 290.97 336 292.074 336L294.124 336C295.228 336 296.124 336.895 296.124 338L296.124 339C296.124 340.105 295.228 341 294.124 341L292.074 341C290.97 341 290.074 340.105 290.074 339L290.074 338ZM281 337.512C281 336.677 281.677 336 282.512 336V336C283.348 336 284.025 336.677 284.025 337.512L284.025 339.488C284.025 340.323 283.348 341 282.512 341V341C281.677 341 281 340.323 281 339.488L281 337.512Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M517.021 316.515C517.021 317.62 516.126 318.515 515.021 318.515L512.917 318.515C511.812 318.515 510.917 317.62 510.917 316.515L510.917 315.515C510.917 314.411 511.812 313.515 512.917 313.515L515.021 313.515C516.126 313.515 517.021 314.411 517.021 315.515L517.021 316.515ZM504.813 316.515C504.813 317.62 503.917 318.515 502.813 318.515L500.708 318.515C499.604 318.515 498.708 317.62 498.708 316.515L498.708 315.515C498.708 314.411 499.604 313.515 500.708 313.515L502.813 313.515C503.917 313.515 504.813 314.411 504.813 315.515L504.813 316.515ZM492.604 316.515C492.604 317.62 491.708 318.515 490.604 318.515L488.499 318.515C487.395 318.515 486.499 317.62 486.499 316.515L486.499 315.515C486.499 314.411 487.395 313.515 488.499 313.515L490.604 313.515C491.708 313.515 492.604 314.411 492.604 315.515L492.604 316.515ZM480.395 316.515C480.395 317.62 479.499 318.515 478.395 318.515L476.29 318.515C475.186 318.515 474.29 317.62 474.29 316.515L474.29 315.515C474.29 314.411 475.186 313.515 476.29 313.515L478.395 313.515C479.499 313.515 480.395 314.411 480.395 315.515L480.395 316.515ZM468.186 316.515C468.186 317.62 467.29 318.515 466.186 318.515L464.081 318.515C462.977 318.515 462.081 317.62 462.081 316.515L462.081 315.515C462.081 314.411 462.977 313.515 464.081 313.515L466.186 313.515C467.29 313.515 468.186 314.411 468.186 315.515L468.186 316.515ZM455.977 316.515C455.977 317.62 455.082 318.515 453.977 318.515L451.873 318.515C450.768 318.515 449.873 317.62 449.873 316.515L449.873 315.515C449.873 314.411 450.768 313.515 451.873 313.515L453.977 313.515C455.082 313.515 455.977 314.411 455.977 315.515L455.977 316.515ZM443.768 316.515C443.768 317.62 442.873 318.515 441.768 318.515L439.664 318.515C438.559 318.515 437.664 317.62 437.664 316.515L437.664 315.515C437.664 314.411 438.559 313.515 439.664 313.515L441.768 313.515C442.873 313.515 443.768 314.411 443.768 315.515L443.768 316.515ZM431.559 316.515C431.559 317.62 430.664 318.515 429.559 318.515L427.455 318.515C426.35 318.515 425.455 317.62 425.455 316.515L425.455 315.515C425.455 314.411 426.35 313.515 427.455 313.515L429.559 313.515C430.664 313.515 431.559 314.411 431.559 315.515L431.559 316.515ZM419.35 316.515C419.35 317.62 418.455 318.515 417.35 318.515L415.246 318.515C414.141 318.515 413.246 317.62 413.246 316.515L413.246 315.515C413.246 314.411 414.141 313.515 415.246 313.515L417.35 313.515C418.455 313.515 419.35 314.411 419.35 315.515L419.35 316.515ZM407.141 316.515C407.141 317.62 406.246 318.515 405.141 318.515L403.037 318.515C401.932 318.515 401.037 317.62 401.037 316.515L401.037 315.515C401.037 314.411 401.932 313.515 403.037 313.515L405.141 313.515C406.246 313.515 407.141 314.411 407.141 315.515L407.141 316.515ZM394.933 316.515C394.933 317.62 394.037 318.515 392.933 318.515L390.828 318.515C389.724 318.515 388.828 317.62 388.828 316.515L388.828 315.515C388.828 314.411 389.724 313.515 390.828 313.515L392.933 313.515C394.037 313.515 394.933 314.411 394.933 315.515L394.933 316.515ZM382.724 316.515C382.724 317.62 381.828 318.515 380.724 318.515L378.619 318.515C377.515 318.515 376.619 317.62 376.619 316.515L376.619 315.515C376.619 314.411 377.515 313.515 378.619 313.515L380.724 313.515C381.828 313.515 382.724 314.411 382.724 315.515L382.724 316.515ZM370.515 316.515C370.515 317.62 369.619 318.515 368.515 318.515L366.41 318.515C365.306 318.515 364.41 317.62 364.41 316.515L364.41 315.515C364.41 314.411 365.306 313.515 366.41 313.515L368.515 313.515C369.619 313.515 370.515 314.411 370.515 315.515L370.515 316.515ZM358.306 316.515C358.306 317.62 357.411 318.515 356.306 318.515L354.202 318.515C353.097 318.515 352.202 317.62 352.202 316.515L352.202 315.515C352.202 314.411 353.097 313.515 354.202 313.515L356.306 313.515C357.411 313.515 358.306 314.411 358.306 315.515L358.306 316.515ZM346.097 316.515C346.097 317.62 345.202 318.515 344.097 318.515L341.993 318.515C340.888 318.515 339.993 317.62 339.993 316.515L339.993 315.515C339.993 314.411 340.888 313.515 341.993 313.515L344.097 313.515C345.202 313.515 346.097 314.411 346.097 315.515L346.097 316.515ZM333.888 316.515C333.888 317.62 332.993 318.515 331.888 318.515L329.784 318.515C328.679 318.515 327.784 317.62 327.784 316.515L327.784 315.515C327.784 314.411 328.679 313.515 329.784 313.515L331.888 313.515C332.993 313.515 333.888 314.411 333.888 315.515L333.888 316.515ZM321.679 316.515C321.679 317.62 320.784 318.515 319.679 318.515L317.575 318.515C316.47 318.515 315.575 317.62 315.575 316.515L315.575 315.515C315.575 314.411 316.47 313.515 317.575 313.515L319.679 313.515C320.784 313.515 321.679 314.411 321.679 315.515L321.679 316.515ZM309.47 316.515C309.47 317.62 308.575 318.515 307.47 318.515L305.366 318.515C304.261 318.515 303.366 317.62 303.366 316.515L303.366 315.515C303.366 314.411 304.261 313.515 305.366 313.515L307.47 313.515C308.575 313.515 309.47 314.411 309.47 315.515L309.47 316.515ZM297.262 316.515C297.262 317.62 296.366 318.515 295.262 318.515L293.157 318.515C292.053 318.515 291.157 317.62 291.157 316.515L291.157 315.515C291.157 314.411 292.053 313.515 293.157 313.515L295.262 313.515C296.366 313.515 297.262 314.411 297.262 315.515L297.262 316.515ZM285.053 316.989C285.053 317.832 284.369 318.515 283.527 318.515V318.515C282.684 318.515 282 317.832 282 316.989L282 315.041C282 314.198 282.684 313.515 283.527 313.515V313.515C284.369 313.515 285.053 314.198 285.053 315.041L285.053 316.989Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M157.305 44.4814L159.225 70.5276L140.078 71.9438L138.056 44.529C137.331 34.7028 144.704 26.1483 154.524 25.422L178.123 23.6766C187.942 22.9503 196.49 30.3272 197.215 40.1535L199.236 67.5682L180.089 68.9844L178.168 42.9383L157.305 44.4814Z" fill="#005072"/>
                            <path d="M108.278 72.9522C107.832 66.9055 112.369 61.6414 118.412 61.1944L233.098 52.712C239.141 52.2651 244.401 56.8046 244.847 62.8514L248.511 112.541C248.957 118.587 244.42 123.852 238.378 124.298L123.691 132.781C117.648 133.228 112.388 128.688 111.942 122.642L108.278 72.9522Z" fill="#0081A2"/>
                            <path d="M303.874 24.4458C309.917 23.9988 315.177 28.5386 315.623 34.5857L324.356 153.004C324.802 159.052 320.265 164.316 314.222 164.763L230.19 170.978C224.147 171.425 218.887 166.885 218.441 160.838L209.708 42.4194C209.262 36.3724 213.799 31.1079 219.842 30.661L303.874 24.4458Z" fill="#40CE97"/>
                            <path d="M188.546 325.222C189.771 341.828 177.661 356.259 161.498 357.455C145.335 358.65 131.24 346.157 130.015 329.552C128.791 312.946 140.901 298.515 157.063 297.319C173.226 296.124 187.322 308.616 188.546 325.222Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M160.085 338.294C165.201 337.915 169.878 333.141 169.399 326.639C168.919 320.136 163.592 316.102 158.477 316.48C153.361 316.859 148.683 321.633 149.163 328.135C149.643 334.638 154.97 338.672 160.085 338.294ZM161.498 357.455C177.661 356.259 189.771 341.828 188.546 325.222C187.322 308.616 173.226 296.124 157.063 297.319C140.901 298.515 128.791 312.946 130.015 329.552C131.24 346.157 145.335 358.65 161.498 357.455Z" fill="#005072"/>
                            <path d="M330.686 314.717C331.911 331.322 319.801 345.753 303.638 346.949C287.475 348.144 273.38 335.652 272.155 319.046C270.93 302.44 283.04 288.009 299.203 286.813C315.366 285.618 329.461 298.111 330.686 314.717Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M302.225 327.788C307.34 327.409 312.018 322.635 311.538 316.133C311.059 309.63 305.732 305.596 300.616 305.974C295.501 306.353 290.823 311.127 291.303 317.629C291.782 324.132 297.109 328.166 302.225 327.788ZM303.638 346.949C319.801 345.753 331.911 331.322 330.686 314.717C329.461 298.111 315.366 285.618 299.203 286.813C283.04 288.009 270.93 302.44 272.155 319.046C273.38 335.652 287.475 348.144 303.638 346.949Z" fill="#005072"/>
                            <path d="M348.107 95.7937L92.5898 114.692C87.2239 115.089 83.6756 120.448 85.4023 125.547L133.536 267.692C134.808 271.448 138.575 273.762 142.498 273.199L335.967 245.408C339.7 244.872 342.591 241.865 342.983 238.112L356.896 104.86C357.429 99.7575 353.22 95.4156 348.107 95.7937Z" fill="#00B6ED"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M166.482 140.144C171.77 139.753 176.373 143.725 176.763 149.017L180.776 203.427C181.166 208.718 177.196 213.325 171.908 213.716C166.619 214.107 162.016 210.134 161.626 204.843L157.613 150.433C157.223 145.142 161.193 140.535 166.482 140.144Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M230.584 135.406C235.872 135.015 240.475 138.987 240.865 144.279L244.878 198.689C245.268 203.98 241.298 208.587 236.01 208.978C230.722 209.369 226.118 205.396 225.728 200.105L221.715 145.695C221.325 140.403 225.296 135.797 230.584 135.406Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M291.899 130.874C297.187 130.483 301.79 134.455 302.18 139.747L306.193 194.157C306.584 199.448 302.613 204.055 297.325 204.446C292.037 204.837 287.433 200.864 287.043 195.573L283.03 141.163C282.64 135.872 286.611 131.265 291.899 130.874Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.706526 36.7919C0.316322 31.5007 4.28639 26.8944 9.57392 26.5033L46.5006 23.7721C54.5259 23.1785 61.9531 28.0382 64.6277 35.6328L148.237 273.048L131.416 274.292C124.455 274.807 119.229 280.871 119.742 287.836C120.256 294.802 126.315 300.031 133.276 299.516L299.235 287.242L300.648 306.403L134.689 318.677C117.153 319.974 101.889 306.8 100.595 289.253C99.503 274.451 108.7 261.265 122.13 256.722L46.8678 43.0104L10.987 45.6642C5.69944 46.0553 1.09673 42.083 0.706526 36.7919Z" fill="#005072"/>
                            <g opacity="0.8" filter="url(#filter0_f_873_18043)">
                            <ellipse cx="219.416" cy="406.531" rx="109.708" ry="16.4692" fill="#D9D9D9"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_873_18043" x="79.7079" y="360.062" width="279.416" height="92.9385" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="15" result="effect1_foregroundBlur_873_18043"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a buyer</h2>
                        <ul>
                            <li>Attend vendor showcases, stakeholder engagements and specialized programs for buyers to explore digital capabilities and strengths of various technology sellers.</li>
                            <li>Get exposure to potential suppliers in the industry and build genuine relationships.</li>
                            <li>Collaborate with us on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                            <li>Know what to invest in ahead of time to make informed procurement decisions in the future.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your outsourcing needs.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about events and specialized programs.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form">
                        <h2>Buyer sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <fieldset>
                                    
                                    <div class="goa-field goa-org goa--required">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter your organization name</strong>
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">State your role within organization</strong>
                                    </div>

                                    <div class="goa-field goa-name goa--required">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                            <strong class="error form-item--error-message">Enter your full name</strong>
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter in a valid email</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Organization type <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="goa" name="radio" value="goa" type="radio"><label for="goa">Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="muni-aca-school" name="radio" value="muni-aca-school" type="radio"><label for="muni-aca-school">Municipalities, Academic Institutions, School Boards and Health Organization  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="abcs" name="radio" value="abcs" type="radio"><label for="abcs">Agencies, Boards and Commissions  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="crown" name="radio" value="crown" type="radio"><label for="crown">CROWN (Provincial Corporations)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="indig" name="radio" value="indig" type="radio"><label for="indig">INDIG (Indigenous Communities)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other-org" name="radio" value="other-org" type="radio"><label for="other-org">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an organization type</strong>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value=""  aria-required="false">
                                        <strong class="error form-item--error-message">Enter a valid website URL</strong>
                                    </div>

                                    <div class="goa-field goa-head-office goa--required">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter the location of your head office</strong>
                                    </div>

                                    <fieldset>
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="tech-buyer" name="radio-2" type="radio"><label for="tech-buyer">I am a tech buyer </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="work-with-start-ups" name="radio-2" type="radio"><label for="work-with-start-ups">I work with tech start-ups or other vendors </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="radio-2" value="other" type="radio"><label for="other">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an option</strong>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>