---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Buyers | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Page title" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
        
        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body>

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li class="goa-adm-nav-active-item"><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <div class="goa-adm-breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="goa-adm-breadcrumbs-active">Buyers</li>
                            </ul>
                        </div>
                        <h1>Stay on top of what's ongoing and upcoming</h1>
                        <p class="lede">Be in the right place at the right time to meet qualified IT businesses and make powerful connections for future collaboration.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <svg width="663" height="435" viewBox="0 0 663 435" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M634.681 212.053C634.681 211.224 635.352 210.553 636.181 210.553L639.218 210.553C640.047 210.553 640.718 211.224 640.718 212.053C640.718 212.881 640.047 213.553 639.218 213.553L636.181 213.553C635.352 213.553 634.681 212.881 634.681 212.053ZM622.606 212.053C622.606 211.224 623.277 210.553 624.106 210.553L627.143 210.553C627.972 210.553 628.643 211.224 628.643 212.053C628.643 212.881 627.972 213.553 627.143 213.553L624.106 213.553C623.277 213.553 622.606 212.881 622.606 212.053ZM610.531 212.053C610.531 211.224 611.202 210.553 612.031 210.553L615.068 210.553C615.897 210.553 616.568 211.224 616.568 212.053C616.568 212.881 615.897 213.553 615.068 213.553L612.031 213.553C611.202 213.553 610.531 212.881 610.531 212.053ZM598.456 212.053C598.456 211.224 599.127 210.553 599.956 210.553L602.993 210.553C603.822 210.553 604.493 211.224 604.493 212.053C604.493 212.881 603.822 213.553 602.993 213.553L599.956 213.553C599.127 213.553 598.456 212.881 598.456 212.053ZM586.381 212.053C586.381 211.224 587.052 210.553 587.881 210.553L590.918 210.553C591.747 210.553 592.418 211.224 592.418 212.053C592.418 212.881 591.747 213.553 590.918 213.553L587.881 213.553C587.052 213.553 586.381 212.881 586.381 212.053ZM574.306 212.053C574.306 211.224 574.977 210.553 575.806 210.553L578.843 210.553C579.671 210.553 580.343 211.224 580.343 212.053C580.343 212.881 579.671 213.553 578.843 213.553L575.806 213.553C574.977 213.553 574.306 212.881 574.306 212.053ZM562.23 212.053C562.23 211.224 562.902 210.553 563.73 210.553L566.768 210.553C567.596 210.553 568.268 211.224 568.268 212.053C568.268 212.881 567.596 213.553 566.768 213.553L563.73 213.553C562.902 213.553 562.23 212.881 562.23 212.053ZM550.155 212.053C550.155 211.224 550.827 210.553 551.655 210.553L554.693 210.553C555.521 210.553 556.193 211.224 556.193 212.053C556.193 212.881 555.521 213.553 554.693 213.553L551.655 213.553C550.827 213.553 550.155 212.881 550.155 212.053ZM538.08 212.053C538.08 211.224 538.752 210.553 539.58 210.553L542.618 210.553C543.446 210.553 544.118 211.224 544.118 212.053C544.118 212.881 543.446 213.553 542.618 213.553L539.58 213.553C538.752 213.553 538.08 212.881 538.08 212.053ZM526.005 212.053C526.005 211.224 526.677 210.553 527.505 210.553L530.543 210.553C531.371 210.553 532.043 211.224 532.043 212.053C532.043 212.881 531.371 213.553 530.543 213.553L527.505 213.553C526.677 213.553 526.005 212.881 526.005 212.053ZM513.93 212.053C513.93 211.224 514.602 210.553 515.43 210.553L518.468 210.553C519.296 210.553 519.968 211.224 519.968 212.053C519.968 212.881 519.296 213.553 518.468 213.553L515.43 213.553C514.602 213.553 513.93 212.881 513.93 212.053ZM501.855 212.053C501.855 211.224 502.527 210.553 503.355 210.553L506.393 210.553C507.221 210.553 507.893 211.224 507.893 212.053C507.893 212.881 507.221 213.553 506.393 213.553L503.355 213.553C502.527 213.553 501.855 212.881 501.855 212.053ZM489.78 212.053C489.78 211.224 490.452 210.553 491.28 210.553L494.318 210.553C495.146 210.553 495.818 211.224 495.818 212.053C495.818 212.881 495.146 213.553 494.318 213.553L491.28 213.553C490.452 213.553 489.78 212.881 489.78 212.053ZM477.705 212.053C477.705 211.224 478.377 210.553 479.205 210.553L482.243 210.553C483.071 210.553 483.743 211.224 483.743 212.053C483.743 212.881 483.071 213.553 482.243 213.553L479.205 213.553C478.377 213.553 477.705 212.881 477.705 212.053ZM465.63 212.053C465.63 211.224 466.302 210.553 467.13 210.553L470.168 210.553C470.996 210.553 471.668 211.224 471.668 212.053C471.668 212.881 470.996 213.553 470.168 213.553L467.13 213.553C466.302 213.553 465.63 212.881 465.63 212.053ZM453.555 212.053C453.555 211.224 454.227 210.553 455.055 210.553L458.093 210.553C458.921 210.553 459.593 211.224 459.593 212.053C459.593 212.881 458.921 213.553 458.093 213.553L455.055 213.553C454.227 213.553 453.555 212.881 453.555 212.053ZM441.48 212.053C441.48 211.224 442.152 210.553 442.98 210.553L446.018 210.553C446.846 210.553 447.518 211.224 447.518 212.053C447.518 212.881 446.846 213.553 446.018 213.553L442.98 213.553C442.152 213.553 441.48 212.881 441.48 212.053ZM429.405 212.053C429.405 211.224 430.077 210.553 430.905 210.553L433.943 210.553C434.771 210.553 435.443 211.224 435.443 212.053C435.443 212.881 434.771 213.553 433.943 213.553L430.905 213.553C430.077 213.553 429.405 212.881 429.405 212.053ZM417.33 212.053C417.33 211.224 418.002 210.553 418.83 210.553L421.868 210.553C422.696 210.553 423.368 211.224 423.368 212.053C423.368 212.881 422.696 213.553 421.868 213.553L418.83 213.553C418.002 213.553 417.33 212.881 417.33 212.053ZM405.255 212.053C405.255 211.224 405.927 210.553 406.755 210.553L409.793 210.553C410.621 210.553 411.293 211.224 411.293 212.053C411.293 212.881 410.621 213.553 409.793 213.553L406.755 213.553C405.927 213.553 405.255 212.881 405.255 212.053ZM393.18 212.053C393.18 211.224 393.852 210.553 394.68 210.553L397.717 210.553C398.546 210.553 399.217 211.224 399.217 212.053C399.217 212.881 398.546 213.553 397.717 213.553L394.68 213.553C393.852 213.553 393.18 212.881 393.18 212.053ZM381.105 212.053C381.105 211.224 381.777 210.553 382.605 210.553L385.642 210.553C386.471 210.553 387.142 211.224 387.142 212.053C387.142 212.881 386.471 213.553 385.642 213.553L382.605 213.553C381.777 213.553 381.105 212.881 381.105 212.053ZM369.03 212.053C369.03 211.224 369.702 210.553 370.53 210.553L373.567 210.553C374.396 210.553 375.067 211.224 375.067 212.053C375.067 212.881 374.396 213.553 373.567 213.553L370.53 213.553C369.702 213.553 369.03 212.881 369.03 212.053ZM356.955 212.053C356.955 211.224 357.627 210.553 358.455 210.553L361.492 210.553C362.321 210.553 362.992 211.224 362.992 212.053C362.992 212.881 362.321 213.553 361.492 213.553L358.455 213.553C357.627 213.553 356.955 212.881 356.955 212.053ZM344.88 212.053C344.88 211.224 345.552 210.553 346.38 210.553L349.417 210.553C350.246 210.553 350.917 211.224 350.917 212.053C350.917 212.881 350.246 213.553 349.417 213.553L346.38 213.553C345.552 213.553 344.88 212.881 344.88 212.053ZM332.805 212.053C332.805 211.224 333.477 210.553 334.305 210.553L337.342 210.553C338.171 210.553 338.842 211.224 338.842 212.053C338.842 212.881 338.171 213.553 337.342 213.553L334.305 213.553C333.477 213.553 332.805 212.881 332.805 212.053ZM320.73 212.053C320.73 211.224 321.401 210.553 322.23 210.553L325.267 210.553C326.096 210.553 326.767 211.224 326.767 212.053C326.767 212.881 326.096 213.553 325.267 213.553L322.23 213.553C321.401 213.553 320.73 212.881 320.73 212.053ZM308.655 212.053C308.655 211.224 309.326 210.553 310.155 210.553L313.192 210.553C314.021 210.553 314.692 211.224 314.692 212.053C314.692 212.881 314.021 213.553 313.192 213.553L310.155 213.553C309.326 213.553 308.655 212.881 308.655 212.053ZM299.598 210.553L301.117 210.553C301.946 210.553 302.617 211.224 302.617 212.053C302.617 212.881 301.946 213.553 301.117 213.553L299.598 213.553C298.77 213.553 298.098 212.881 298.098 212.053C298.098 211.224 298.77 210.553 299.598 210.553Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M617.911 230C617.911 229.172 618.583 228.5 619.411 228.5H622.363C623.191 228.5 623.863 229.172 623.863 230C623.863 230.828 623.191 231.5 622.363 231.5H619.411C618.583 231.5 617.911 230.828 617.911 230ZM606.008 230C606.008 229.172 606.68 228.5 607.508 228.5H610.46C611.288 228.5 611.96 229.172 611.96 230C611.96 230.828 611.288 231.5 610.46 231.5H607.508C606.68 231.5 606.008 230.828 606.008 230ZM594.105 230C594.105 229.172 594.776 228.5 595.605 228.5H598.556C599.385 228.5 600.056 229.172 600.056 230C600.056 230.828 599.385 231.5 598.556 231.5H595.605C594.776 231.5 594.105 230.828 594.105 230ZM582.201 230C582.201 229.172 582.873 228.5 583.701 228.5H586.653C587.482 228.5 588.153 229.172 588.153 230C588.153 230.828 587.482 231.5 586.653 231.5H583.701C582.873 231.5 582.201 230.828 582.201 230ZM570.298 230C570.298 229.172 570.97 228.5 571.798 228.5H574.75C575.578 228.5 576.25 229.172 576.25 230C576.25 230.828 575.578 231.5 574.75 231.5H571.798C570.97 231.5 570.298 230.828 570.298 230ZM558.395 230C558.395 229.172 559.067 228.5 559.895 228.5H562.847C563.675 228.5 564.347 229.172 564.347 230C564.347 230.828 563.675 231.5 562.847 231.5H559.895C559.067 231.5 558.395 230.828 558.395 230ZM546.492 230C546.492 229.172 547.163 228.5 547.992 228.5H550.943C551.772 228.5 552.443 229.172 552.443 230C552.443 230.828 551.772 231.5 550.943 231.5H547.992C547.163 231.5 546.492 230.828 546.492 230ZM534.589 230C534.589 229.172 535.26 228.5 536.089 228.5H539.04C539.869 228.5 540.54 229.172 540.54 230C540.54 230.828 539.869 231.5 539.04 231.5H536.089C535.26 231.5 534.589 230.828 534.589 230ZM522.685 230C522.685 229.172 523.357 228.5 524.185 228.5H527.137C527.965 228.5 528.637 229.172 528.637 230C528.637 230.828 527.965 231.5 527.137 231.5H524.185C523.357 231.5 522.685 230.828 522.685 230ZM510.782 230C510.782 229.172 511.454 228.5 512.282 228.5H515.234C516.062 228.5 516.734 229.172 516.734 230C516.734 230.828 516.062 231.5 515.234 231.5H512.282C511.454 231.5 510.782 230.828 510.782 230ZM498.879 230C498.879 229.172 499.55 228.5 500.379 228.5H503.331C504.159 228.5 504.831 229.172 504.831 230C504.831 230.828 504.159 231.5 503.331 231.5H500.379C499.55 231.5 498.879 230.828 498.879 230ZM486.976 230C486.976 229.172 487.647 228.5 488.476 228.5H491.427C492.256 228.5 492.927 229.172 492.927 230C492.927 230.828 492.256 231.5 491.427 231.5H488.476C487.647 231.5 486.976 230.828 486.976 230ZM475.072 230C475.072 229.172 475.744 228.5 476.572 228.5H479.524C480.352 228.5 481.024 229.172 481.024 230C481.024 230.828 480.352 231.5 479.524 231.5H476.572C475.744 231.5 475.072 230.828 475.072 230ZM463.169 230C463.169 229.172 463.841 228.5 464.669 228.5H467.621C468.449 228.5 469.121 229.172 469.121 230C469.121 230.828 468.449 231.5 467.621 231.5H464.669C463.841 231.5 463.169 230.828 463.169 230ZM451.266 230C451.266 229.172 451.938 228.5 452.766 228.5H455.718C456.546 228.5 457.218 229.172 457.218 230C457.218 230.828 456.546 231.5 455.718 231.5H452.766C451.938 231.5 451.266 230.828 451.266 230ZM439.363 230C439.363 229.172 440.034 228.5 440.863 228.5H443.814C444.643 228.5 445.314 229.172 445.314 230C445.314 230.828 444.643 231.5 443.814 231.5H440.863C440.034 231.5 439.363 230.828 439.363 230ZM427.46 230C427.46 229.172 428.131 228.5 428.96 228.5H431.911C432.74 228.5 433.411 229.172 433.411 230C433.411 230.828 432.74 231.5 431.911 231.5H428.96C428.131 231.5 427.46 230.828 427.46 230ZM415.556 230C415.556 229.172 416.228 228.5 417.056 228.5H420.008C420.836 228.5 421.508 229.172 421.508 230C421.508 230.828 420.836 231.5 420.008 231.5H417.056C416.228 231.5 415.556 230.828 415.556 230ZM403.653 230C403.653 229.172 404.325 228.5 405.153 228.5H408.105C408.933 228.5 409.605 229.172 409.605 230C409.605 230.828 408.933 231.5 408.105 231.5H405.153C404.325 231.5 403.653 230.828 403.653 230ZM391.75 230C391.75 229.172 392.421 228.5 393.25 228.5H396.201C397.03 228.5 397.701 229.172 397.701 230C397.701 230.828 397.03 231.5 396.201 231.5H393.25C392.421 231.5 391.75 230.828 391.75 230ZM379.847 230C379.847 229.172 380.518 228.5 381.347 228.5H384.298C385.127 228.5 385.798 229.172 385.798 230C385.798 230.828 385.127 231.5 384.298 231.5H381.347C380.518 231.5 379.847 230.828 379.847 230ZM367.943 230C367.943 229.172 368.615 228.5 369.443 228.5H372.395C373.224 228.5 373.895 229.172 373.895 230C373.895 230.828 373.224 231.5 372.395 231.5H369.443C368.615 231.5 367.943 230.828 367.943 230ZM356.04 230C356.04 229.172 356.712 228.5 357.54 228.5H360.492C361.32 228.5 361.992 229.172 361.992 230C361.992 230.828 361.32 231.5 360.492 231.5H357.54C356.712 231.5 356.04 230.828 356.04 230ZM344.137 230C344.137 229.172 344.809 228.5 345.637 228.5H348.589C349.417 228.5 350.089 229.172 350.089 230C350.089 230.828 349.417 231.5 348.589 231.5H345.637C344.809 231.5 344.137 230.828 344.137 230ZM332.234 230C332.234 229.172 332.905 228.5 333.734 228.5H336.685C337.514 228.5 338.185 229.172 338.185 230C338.185 230.828 337.514 231.5 336.685 231.5H333.734C332.905 231.5 332.234 230.828 332.234 230ZM320.331 230C320.331 229.172 321.002 228.5 321.831 228.5H324.782C325.611 228.5 326.282 229.172 326.282 230C326.282 230.828 325.611 231.5 324.782 231.5H321.831C321.002 231.5 320.331 230.828 320.331 230ZM308.427 230C308.427 229.172 309.099 228.5 309.927 228.5H312.879C313.708 228.5 314.379 229.172 314.379 230C314.379 230.828 313.708 231.5 312.879 231.5H309.927C309.099 231.5 308.427 230.828 308.427 230ZM299.5 228.5H300.976C301.804 228.5 302.476 229.172 302.476 230C302.476 230.828 301.804 231.5 300.976 231.5H299.5C298.671 231.5 298 230.828 298 230C298 229.172 298.671 228.5 299.5 228.5Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M595.647 266C595.647 265.172 596.318 264.5 597.147 264.5H600.129C600.958 264.5 601.629 265.172 601.629 266C601.629 266.828 600.958 267.5 600.129 267.5H597.147C596.318 267.5 595.647 266.828 595.647 266ZM583.681 266C583.681 265.172 584.353 264.5 585.181 264.5H588.164C588.992 264.5 589.664 265.172 589.664 266C589.664 266.828 588.992 267.5 588.164 267.5H585.181C584.353 267.5 583.681 266.828 583.681 266ZM571.716 266C571.716 265.172 572.387 264.5 573.216 264.5H576.198C577.027 264.5 577.698 265.172 577.698 266C577.698 266.828 577.027 267.5 576.198 267.5H573.216C572.387 267.5 571.716 266.828 571.716 266ZM559.75 266C559.75 265.172 560.422 264.5 561.25 264.5H564.233C565.061 264.5 565.733 265.172 565.733 266C565.733 266.828 565.061 267.5 564.233 267.5H561.25C560.422 267.5 559.75 266.828 559.75 266ZM547.785 266C547.785 265.172 548.456 264.5 549.285 264.5H552.267C553.096 264.5 553.767 265.172 553.767 266C553.767 266.828 553.096 267.5 552.267 267.5H549.285C548.456 267.5 547.785 266.828 547.785 266ZM535.819 266C535.819 265.172 536.491 264.5 537.319 264.5H540.302C541.13 264.5 541.802 265.172 541.802 266C541.802 266.828 541.13 267.5 540.302 267.5H537.319C536.491 267.5 535.819 266.828 535.819 266ZM523.854 266C523.854 265.172 524.525 264.5 525.354 264.5H528.336C529.165 264.5 529.836 265.172 529.836 266C529.836 266.828 529.165 267.5 528.336 267.5H525.354C524.525 267.5 523.854 266.828 523.854 266ZM511.888 266C511.888 265.172 512.56 264.5 513.388 264.5H516.371C517.199 264.5 517.871 265.172 517.871 266C517.871 266.828 517.199 267.5 516.371 267.5H513.388C512.56 267.5 511.888 266.828 511.888 266ZM499.923 266C499.923 265.172 500.594 264.5 501.423 264.5H504.405C505.234 264.5 505.905 265.172 505.905 266C505.905 266.828 505.234 267.5 504.405 267.5H501.423C500.594 267.5 499.923 266.828 499.923 266ZM487.957 266C487.957 265.172 488.629 264.5 489.457 264.5H492.44C493.268 264.5 493.94 265.172 493.94 266C493.94 266.828 493.268 267.5 492.44 267.5H489.457C488.629 267.5 487.957 266.828 487.957 266ZM475.991 266C475.991 265.172 476.663 264.5 477.491 264.5H480.474C481.303 264.5 481.974 265.172 481.974 266C481.974 266.828 481.303 267.5 480.474 267.5H477.491C476.663 267.5 475.991 266.828 475.991 266ZM464.026 266C464.026 265.172 464.698 264.5 465.526 264.5H468.509C469.337 264.5 470.009 265.172 470.009 266C470.009 266.828 469.337 267.5 468.509 267.5H465.526C464.698 267.5 464.026 266.828 464.026 266ZM452.06 266C452.06 265.172 452.732 264.5 453.56 264.5H456.543C457.372 264.5 458.043 265.172 458.043 266C458.043 266.828 457.372 267.5 456.543 267.5H453.56C452.732 267.5 452.06 266.828 452.06 266ZM440.095 266C440.095 265.172 440.767 264.5 441.595 264.5H444.578C445.406 264.5 446.078 265.172 446.078 266C446.078 266.828 445.406 267.5 444.578 267.5H441.595C440.767 267.5 440.095 266.828 440.095 266ZM428.129 266C428.129 265.172 428.801 264.5 429.629 264.5H432.612C433.441 264.5 434.112 265.172 434.112 266C434.112 266.828 433.441 267.5 432.612 267.5H429.629C428.801 267.5 428.129 266.828 428.129 266ZM416.164 266C416.164 265.172 416.835 264.5 417.664 264.5H420.647C421.475 264.5 422.147 265.172 422.147 266C422.147 266.828 421.475 267.5 420.647 267.5H417.664C416.835 267.5 416.164 266.828 416.164 266ZM404.198 266C404.198 265.172 404.87 264.5 405.698 264.5H408.681C409.51 264.5 410.181 265.172 410.181 266C410.181 266.828 409.51 267.5 408.681 267.5H405.698C404.87 267.5 404.198 266.828 404.198 266ZM392.233 266C392.233 265.172 392.904 264.5 393.733 264.5H396.716C397.544 264.5 398.216 265.172 398.216 266C398.216 266.828 397.544 267.5 396.716 267.5H393.733C392.904 267.5 392.233 266.828 392.233 266ZM380.267 266C380.267 265.172 380.939 264.5 381.767 264.5H384.75C385.579 264.5 386.25 265.172 386.25 266C386.25 266.828 385.579 267.5 384.75 267.5H381.767C380.939 267.5 380.267 266.828 380.267 266ZM368.302 266C368.302 265.172 368.973 264.5 369.802 264.5H372.785C373.613 264.5 374.285 265.172 374.285 266C374.285 266.828 373.613 267.5 372.785 267.5H369.802C368.973 267.5 368.302 266.828 368.302 266ZM356.336 266C356.336 265.172 357.008 264.5 357.836 264.5H360.819C361.648 264.5 362.319 265.172 362.319 266C362.319 266.828 361.648 267.5 360.819 267.5H357.836C357.008 267.5 356.336 266.828 356.336 266ZM344.371 266C344.371 265.172 345.042 264.5 345.871 264.5H348.854C349.682 264.5 350.354 265.172 350.354 266C350.354 266.828 349.682 267.5 348.854 267.5H345.871C345.042 267.5 344.371 266.828 344.371 266ZM332.405 266C332.405 265.172 333.077 264.5 333.905 264.5H336.888C337.716 264.5 338.388 265.172 338.388 266C338.388 266.828 337.716 267.5 336.888 267.5H333.905C333.077 267.5 332.405 266.828 332.405 266ZM320.44 266C320.44 265.172 321.111 264.5 321.94 264.5H324.923C325.751 264.5 326.423 265.172 326.423 266C326.423 266.828 325.751 267.5 324.923 267.5H321.94C321.111 267.5 320.44 266.828 320.44 266ZM308.474 266C308.474 265.172 309.146 264.5 309.974 264.5H312.957C313.785 264.5 314.457 265.172 314.457 266C314.457 266.828 313.785 267.5 312.957 267.5H309.974C309.146 267.5 308.474 266.828 308.474 266ZM299.5 264.5H300.992C301.82 264.5 302.492 265.172 302.492 266C302.492 266.828 301.82 267.5 300.992 267.5H299.5C298.672 267.5 298 266.828 298 266C298 265.172 298.672 264.5 299.5 264.5Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M641.015 248C641.015 247.172 641.687 246.5 642.515 246.5H645.455C646.283 246.5 646.955 247.172 646.955 248C646.955 248.828 646.283 249.5 645.455 249.5H642.515C641.687 249.5 641.015 248.828 641.015 248ZM629.136 248C629.136 247.172 629.808 246.5 630.636 246.5H633.576C634.404 246.5 635.076 247.172 635.076 248C635.076 248.828 634.404 249.5 633.576 249.5H630.636C629.808 249.5 629.136 248.828 629.136 248ZM617.258 248C617.258 247.172 617.929 246.5 618.758 246.5H621.697C622.525 246.5 623.197 247.172 623.197 248C623.197 248.828 622.525 249.5 621.697 249.5H618.758C617.929 249.5 617.258 248.828 617.258 248ZM605.379 248C605.379 247.172 606.05 246.5 606.879 246.5H609.818C610.647 246.5 611.318 247.172 611.318 248C611.318 248.828 610.647 249.5 609.818 249.5H606.879C606.05 249.5 605.379 248.828 605.379 248ZM593.5 248C593.5 247.172 594.172 246.5 595 246.5H597.939C598.768 246.5 599.439 247.172 599.439 248C599.439 248.828 598.768 249.5 597.939 249.5H595C594.172 249.5 593.5 248.828 593.5 248ZM581.621 248C581.621 247.172 582.293 246.5 583.121 246.5H586.061C586.889 246.5 587.561 247.172 587.561 248C587.561 248.828 586.889 249.5 586.061 249.5H583.121C582.293 249.5 581.621 248.828 581.621 248ZM569.742 248C569.742 247.172 570.414 246.5 571.242 246.5H574.182C575.01 246.5 575.682 247.172 575.682 248C575.682 248.828 575.01 249.5 574.182 249.5H571.242C570.414 249.5 569.742 248.828 569.742 248ZM557.864 248C557.864 247.172 558.535 246.5 559.364 246.5H562.303C563.132 246.5 563.803 247.172 563.803 248C563.803 248.828 563.132 249.5 562.303 249.5H559.364C558.535 249.5 557.864 248.828 557.864 248ZM545.985 248C545.985 247.172 546.656 246.5 547.485 246.5H550.424C551.253 246.5 551.924 247.172 551.924 248C551.924 248.828 551.253 249.5 550.424 249.5H547.485C546.656 249.5 545.985 248.828 545.985 248ZM534.106 248C534.106 247.172 534.778 246.5 535.606 246.5H538.546C539.374 246.5 540.046 247.172 540.046 248C540.046 248.828 539.374 249.5 538.546 249.5H535.606C534.778 249.5 534.106 248.828 534.106 248ZM522.227 248C522.227 247.172 522.899 246.5 523.727 246.5H526.667C527.495 246.5 528.167 247.172 528.167 248C528.167 248.828 527.495 249.5 526.667 249.5H523.727C522.899 249.5 522.227 248.828 522.227 248ZM510.349 248C510.349 247.172 511.02 246.5 511.849 246.5H514.788C515.616 246.5 516.288 247.172 516.288 248C516.288 248.828 515.616 249.5 514.788 249.5H511.849C511.02 249.5 510.349 248.828 510.349 248ZM498.47 248C498.47 247.172 499.141 246.5 499.97 246.5H502.909C503.738 246.5 504.409 247.172 504.409 248C504.409 248.828 503.738 249.5 502.909 249.5H499.97C499.141 249.5 498.47 248.828 498.47 248ZM486.591 248C486.591 247.172 487.263 246.5 488.091 246.5H491.03C491.859 246.5 492.53 247.172 492.53 248C492.53 248.828 491.859 249.5 491.03 249.5H488.091C487.263 249.5 486.591 248.828 486.591 248ZM474.712 248C474.712 247.172 475.384 246.5 476.212 246.5H479.152C479.98 246.5 480.652 247.172 480.652 248C480.652 248.828 479.98 249.5 479.152 249.5H476.212C475.384 249.5 474.712 248.828 474.712 248ZM462.833 248C462.833 247.172 463.505 246.5 464.333 246.5H467.273C468.101 246.5 468.773 247.172 468.773 248C468.773 248.828 468.101 249.5 467.273 249.5H464.333C463.505 249.5 462.833 248.828 462.833 248ZM450.955 248C450.955 247.172 451.626 246.5 452.455 246.5H455.394C456.222 246.5 456.894 247.172 456.894 248C456.894 248.828 456.222 249.5 455.394 249.5H452.455C451.626 249.5 450.955 248.828 450.955 248ZM439.076 248C439.076 247.172 439.747 246.5 440.576 246.5H443.515C444.344 246.5 445.015 247.172 445.015 248C445.015 248.828 444.344 249.5 443.515 249.5H440.576C439.747 249.5 439.076 248.828 439.076 248ZM427.197 248C427.197 247.172 427.869 246.5 428.697 246.5H431.636C432.465 246.5 433.136 247.172 433.136 248C433.136 248.828 432.465 249.5 431.636 249.5H428.697C427.869 249.5 427.197 248.828 427.197 248ZM415.318 248C415.318 247.172 415.99 246.5 416.818 246.5H419.758C420.586 246.5 421.258 247.172 421.258 248C421.258 248.828 420.586 249.5 419.758 249.5H416.818C415.99 249.5 415.318 248.828 415.318 248ZM403.439 248C403.439 247.172 404.111 246.5 404.939 246.5H407.879C408.707 246.5 409.379 247.172 409.379 248C409.379 248.828 408.707 249.5 407.879 249.5H404.939C404.111 249.5 403.439 248.828 403.439 248ZM391.561 248C391.561 247.172 392.232 246.5 393.061 246.5H396C396.829 246.5 397.5 247.172 397.5 248C397.5 248.828 396.829 249.5 396 249.5H393.061C392.232 249.5 391.561 248.828 391.561 248ZM379.682 248C379.682 247.172 380.354 246.5 381.182 246.5H384.121C384.95 246.5 385.621 247.172 385.621 248C385.621 248.828 384.95 249.5 384.121 249.5H381.182C380.354 249.5 379.682 248.828 379.682 248ZM367.803 248C367.803 247.172 368.475 246.5 369.303 246.5H372.243C373.071 246.5 373.743 247.172 373.743 248C373.743 248.828 373.071 249.5 372.243 249.5H369.303C368.475 249.5 367.803 248.828 367.803 248ZM355.924 248C355.924 247.172 356.596 246.5 357.424 246.5H360.364C361.192 246.5 361.864 247.172 361.864 248C361.864 248.828 361.192 249.5 360.364 249.5H357.424C356.596 249.5 355.924 248.828 355.924 248ZM344.046 248C344.046 247.172 344.717 246.5 345.546 246.5H348.485C349.313 246.5 349.985 247.172 349.985 248C349.985 248.828 349.313 249.5 348.485 249.5H345.546C344.717 249.5 344.046 248.828 344.046 248ZM332.167 248C332.167 247.172 332.838 246.5 333.667 246.5H336.606C337.435 246.5 338.106 247.172 338.106 248C338.106 248.828 337.435 249.5 336.606 249.5H333.667C332.838 249.5 332.167 248.828 332.167 248Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M616.186 284C616.186 283.172 616.857 282.5 617.686 282.5H620.605C621.433 282.5 622.105 283.172 622.105 284C622.105 284.828 621.433 285.5 620.605 285.5H617.686C616.857 285.5 616.186 284.828 616.186 284ZM604.347 284C604.347 283.172 605.018 282.5 605.847 282.5H608.766C609.595 282.5 610.266 283.172 610.266 284C610.266 284.828 609.595 285.5 608.766 285.5H605.847C605.018 285.5 604.347 284.828 604.347 284ZM592.508 284C592.508 283.172 593.18 282.5 594.008 282.5H596.928C597.756 282.5 598.428 283.172 598.428 284C598.428 284.828 597.756 285.5 596.928 285.5H594.008C593.18 285.5 592.508 284.828 592.508 284ZM580.669 284C580.669 283.172 581.341 282.5 582.169 282.5H585.089C585.917 282.5 586.589 283.172 586.589 284C586.589 284.828 585.917 285.5 585.089 285.5H582.169C581.341 285.5 580.669 284.828 580.669 284ZM568.831 284C568.831 283.172 569.502 282.5 570.331 282.5H573.25C574.079 282.5 574.75 283.172 574.75 284C574.75 284.828 574.079 285.5 573.25 285.5H570.331C569.502 285.5 568.831 284.828 568.831 284ZM556.992 284C556.992 283.172 557.664 282.5 558.492 282.5H561.411C562.24 282.5 562.911 283.172 562.911 284C562.911 284.828 562.24 285.5 561.411 285.5H558.492C557.664 285.5 556.992 284.828 556.992 284ZM545.153 284C545.153 283.172 545.825 282.5 546.653 282.5H549.573C550.401 282.5 551.073 283.172 551.073 284C551.073 284.828 550.401 285.5 549.573 285.5H546.653C545.825 285.5 545.153 284.828 545.153 284ZM533.315 284C533.315 283.172 533.986 282.5 534.815 282.5H537.734C538.562 282.5 539.234 283.172 539.234 284C539.234 284.828 538.562 285.5 537.734 285.5H534.815C533.986 285.5 533.315 284.828 533.315 284ZM521.476 284C521.476 283.172 522.147 282.5 522.976 282.5H525.895C526.724 282.5 527.395 283.172 527.395 284C527.395 284.828 526.724 285.5 525.895 285.5H522.976C522.147 285.5 521.476 284.828 521.476 284ZM509.637 284C509.637 283.172 510.309 282.5 511.137 282.5H514.057C514.885 282.5 515.557 283.172 515.557 284C515.557 284.828 514.885 285.5 514.057 285.5H511.137C510.309 285.5 509.637 284.828 509.637 284ZM497.798 284C497.798 283.172 498.47 282.5 499.298 282.5H502.218C503.046 282.5 503.718 283.172 503.718 284C503.718 284.828 503.046 285.5 502.218 285.5H499.298C498.47 285.5 497.798 284.828 497.798 284ZM485.96 284C485.96 283.172 486.631 282.5 487.46 282.5H490.379C491.208 282.5 491.879 283.172 491.879 284C491.879 284.828 491.208 285.5 490.379 285.5H487.46C486.631 285.5 485.96 284.828 485.96 284ZM474.121 284C474.121 283.172 474.793 282.5 475.621 282.5H478.54C479.369 282.5 480.04 283.172 480.04 284C480.04 284.828 479.369 285.5 478.54 285.5H475.621C474.793 285.5 474.121 284.828 474.121 284ZM462.282 284C462.282 283.172 462.954 282.5 463.782 282.5H466.702C467.53 282.5 468.202 283.172 468.202 284C468.202 284.828 467.53 285.5 466.702 285.5H463.782C462.954 285.5 462.282 284.828 462.282 284ZM450.444 284C450.444 283.172 451.115 282.5 451.944 282.5H454.863C455.691 282.5 456.363 283.172 456.363 284C456.363 284.828 455.691 285.5 454.863 285.5H451.944C451.115 285.5 450.444 284.828 450.444 284ZM438.605 284C438.605 283.172 439.276 282.5 440.105 282.5H443.024C443.853 282.5 444.524 283.172 444.524 284C444.524 284.828 443.853 285.5 443.024 285.5H440.105C439.276 285.5 438.605 284.828 438.605 284ZM426.766 284C426.766 283.172 427.438 282.5 428.266 282.5H431.186C432.014 282.5 432.686 283.172 432.686 284C432.686 284.828 432.014 285.5 431.186 285.5H428.266C427.438 285.5 426.766 284.828 426.766 284ZM414.927 284C414.927 283.172 415.599 282.5 416.427 282.5H419.347C420.175 282.5 420.847 283.172 420.847 284C420.847 284.828 420.175 285.5 419.347 285.5H416.427C415.599 285.5 414.927 284.828 414.927 284ZM403.089 284C403.089 283.172 403.76 282.5 404.589 282.5H407.508C408.337 282.5 409.008 283.172 409.008 284C409.008 284.828 408.337 285.5 407.508 285.5H404.589C403.76 285.5 403.089 284.828 403.089 284ZM391.25 284C391.25 283.172 391.922 282.5 392.75 282.5H395.669C396.498 282.5 397.169 283.172 397.169 284C397.169 284.828 396.498 285.5 395.669 285.5H392.75C391.922 285.5 391.25 284.828 391.25 284ZM379.411 284C379.411 283.172 380.083 282.5 380.911 282.5H383.831C384.659 282.5 385.331 283.172 385.331 284C385.331 284.828 384.659 285.5 383.831 285.5H380.911C380.083 285.5 379.411 284.828 379.411 284ZM367.573 284C367.573 283.172 368.244 282.5 369.073 282.5H371.992C372.821 282.5 373.492 283.172 373.492 284C373.492 284.828 372.821 285.5 371.992 285.5H369.073C368.244 285.5 367.573 284.828 367.573 284ZM355.734 284C355.734 283.172 356.406 282.5 357.234 282.5H360.153C360.982 282.5 361.653 283.172 361.653 284C361.653 284.828 360.982 285.5 360.153 285.5H357.234C356.406 285.5 355.734 284.828 355.734 284ZM343.895 284C343.895 283.172 344.567 282.5 345.395 282.5H348.315C349.143 282.5 349.815 283.172 349.815 284C349.815 284.828 349.143 285.5 348.315 285.5H345.395C344.567 285.5 343.895 284.828 343.895 284ZM332.057 284C332.057 283.172 332.728 282.5 333.557 282.5H336.476C337.304 282.5 337.976 283.172 337.976 284C337.976 284.828 337.304 285.5 336.476 285.5H333.557C332.728 285.5 332.057 284.828 332.057 284Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M647.985 302C647.985 301.172 648.656 300.5 649.485 300.5H652.545C653.374 300.5 654.045 301.172 654.045 302C654.045 302.828 653.374 303.5 652.545 303.5H649.485C648.656 303.5 647.985 302.828 647.985 302ZM635.864 302C635.864 301.172 636.535 300.5 637.364 300.5H640.424C641.253 300.5 641.924 301.172 641.924 302C641.924 302.828 641.253 303.5 640.424 303.5H637.364C636.535 303.5 635.864 302.828 635.864 302ZM623.742 302C623.742 301.172 624.414 300.5 625.242 300.5H628.303C629.131 300.5 629.803 301.172 629.803 302C629.803 302.828 629.131 303.5 628.303 303.5H625.242C624.414 303.5 623.742 302.828 623.742 302ZM611.621 302C611.621 301.172 612.293 300.5 613.121 300.5H616.182C617.01 300.5 617.682 301.172 617.682 302C617.682 302.828 617.01 303.5 616.182 303.5H613.121C612.293 303.5 611.621 302.828 611.621 302ZM599.5 302C599.5 301.172 600.172 300.5 601 300.5H604.061C604.889 300.5 605.561 301.172 605.561 302C605.561 302.828 604.889 303.5 604.061 303.5H601C600.172 303.5 599.5 302.828 599.5 302ZM587.379 302C587.379 301.172 588.05 300.5 588.879 300.5H591.939C592.768 300.5 593.439 301.172 593.439 302C593.439 302.828 592.768 303.5 591.939 303.5H588.879C588.05 303.5 587.379 302.828 587.379 302ZM575.258 302C575.258 301.172 575.929 300.5 576.758 300.5H579.818C580.647 300.5 581.318 301.172 581.318 302C581.318 302.828 580.647 303.5 579.818 303.5H576.758C575.929 303.5 575.258 302.828 575.258 302ZM563.136 302C563.136 301.172 563.808 300.5 564.636 300.5H567.697C568.525 300.5 569.197 301.172 569.197 302C569.197 302.828 568.525 303.5 567.697 303.5H564.636C563.808 303.5 563.136 302.828 563.136 302ZM551.015 302C551.015 301.172 551.687 300.5 552.515 300.5H555.576C556.404 300.5 557.076 301.172 557.076 302C557.076 302.828 556.404 303.5 555.576 303.5H552.515C551.687 303.5 551.015 302.828 551.015 302ZM538.894 302C538.894 301.172 539.565 300.5 540.394 300.5H543.454C544.283 300.5 544.954 301.172 544.954 302C544.954 302.828 544.283 303.5 543.454 303.5H540.394C539.565 303.5 538.894 302.828 538.894 302ZM526.773 302C526.773 301.172 527.444 300.5 528.273 300.5H531.333C532.162 300.5 532.833 301.172 532.833 302C532.833 302.828 532.162 303.5 531.333 303.5H528.273C527.444 303.5 526.773 302.828 526.773 302ZM514.651 302C514.651 301.172 515.323 300.5 516.151 300.5H519.212C520.04 300.5 520.712 301.172 520.712 302C520.712 302.828 520.04 303.5 519.212 303.5H516.151C515.323 303.5 514.651 302.828 514.651 302ZM502.53 302C502.53 301.172 503.202 300.5 504.03 300.5H507.091C507.919 300.5 508.591 301.172 508.591 302C508.591 302.828 507.919 303.5 507.091 303.5H504.03C503.202 303.5 502.53 302.828 502.53 302ZM490.409 302C490.409 301.172 491.081 300.5 491.909 300.5H494.97C495.798 300.5 496.47 301.172 496.47 302C496.47 302.828 495.798 303.5 494.97 303.5H491.909C491.081 303.5 490.409 302.828 490.409 302ZM478.288 302C478.288 301.172 478.959 300.5 479.788 300.5H482.848C483.677 300.5 484.348 301.172 484.348 302C484.348 302.828 483.677 303.5 482.848 303.5H479.788C478.959 303.5 478.288 302.828 478.288 302ZM466.167 302C466.167 301.172 466.838 300.5 467.667 300.5H470.727C471.556 300.5 472.227 301.172 472.227 302C472.227 302.828 471.556 303.5 470.727 303.5H467.667C466.838 303.5 466.167 302.828 466.167 302ZM454.045 302C454.045 301.172 454.717 300.5 455.545 300.5H458.606C459.434 300.5 460.106 301.172 460.106 302C460.106 302.828 459.434 303.5 458.606 303.5H455.545C454.717 303.5 454.045 302.828 454.045 302ZM441.924 302C441.924 301.172 442.596 300.5 443.424 300.5H446.485C447.313 300.5 447.985 301.172 447.985 302C447.985 302.828 447.313 303.5 446.485 303.5H443.424C442.596 303.5 441.924 302.828 441.924 302ZM429.803 302C429.803 301.172 430.475 300.5 431.303 300.5H434.364C435.192 300.5 435.864 301.172 435.864 302C435.864 302.828 435.192 303.5 434.364 303.5H431.303C430.475 303.5 429.803 302.828 429.803 302ZM417.682 302C417.682 301.172 418.353 300.5 419.182 300.5H422.242C423.071 300.5 423.742 301.172 423.742 302C423.742 302.828 423.071 303.5 422.242 303.5H419.182C418.353 303.5 417.682 302.828 417.682 302ZM405.561 302C405.561 301.172 406.232 300.5 407.061 300.5H410.121C410.95 300.5 411.621 301.172 411.621 302C411.621 302.828 410.95 303.5 410.121 303.5H407.061C406.232 303.5 405.561 302.828 405.561 302ZM393.439 302C393.439 301.172 394.111 300.5 394.939 300.5H398C398.828 300.5 399.5 301.172 399.5 302C399.5 302.828 398.828 303.5 398 303.5H394.939C394.111 303.5 393.439 302.828 393.439 302ZM381.318 302C381.318 301.172 381.99 300.5 382.818 300.5H385.879C386.707 300.5 387.379 301.172 387.379 302C387.379 302.828 386.707 303.5 385.879 303.5H382.818C381.99 303.5 381.318 302.828 381.318 302ZM369.197 302C369.197 301.172 369.868 300.5 370.697 300.5H373.757C374.586 300.5 375.257 301.172 375.257 302C375.257 302.828 374.586 303.5 373.757 303.5H370.697C369.868 303.5 369.197 302.828 369.197 302ZM357.076 302C357.076 301.172 357.747 300.5 358.576 300.5H361.636C362.465 300.5 363.136 301.172 363.136 302C363.136 302.828 362.465 303.5 361.636 303.5H358.576C357.747 303.5 357.076 302.828 357.076 302ZM344.954 302C344.954 301.172 345.626 300.5 346.454 300.5H349.515C350.343 300.5 351.015 301.172 351.015 302C351.015 302.828 350.343 303.5 349.515 303.5H346.454C345.626 303.5 344.954 302.828 344.954 302ZM332.833 302C332.833 301.172 333.505 300.5 334.333 300.5H337.394C338.222 300.5 338.894 301.172 338.894 302C338.894 302.828 338.222 303.5 337.394 303.5H334.333C333.505 303.5 332.833 302.828 332.833 302ZM320.712 302C320.712 301.172 321.384 300.5 322.212 300.5H325.273C326.101 300.5 326.773 301.172 326.773 302C326.773 302.828 326.101 303.5 325.273 303.5H322.212C321.384 303.5 320.712 302.828 320.712 302ZM308.591 302C308.591 301.172 309.262 300.5 310.091 300.5H313.151C313.98 300.5 314.651 301.172 314.651 302C314.651 302.828 313.98 303.5 313.151 303.5H310.091C309.262 303.5 308.591 302.828 308.591 302ZM299.5 300.5H301.03C301.859 300.5 302.53 301.172 302.53 302C302.53 302.828 301.859 303.5 301.03 303.5H299.5C298.672 303.5 298 302.828 298 302C298 301.172 298.672 300.5 299.5 300.5Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M627.744 338.5C627.744 337.672 628.415 337 629.244 337L632.156 337C632.985 337 633.656 337.672 633.656 338.5C633.656 339.328 632.985 340 632.156 340L629.244 340C628.415 340 627.744 339.328 627.744 338.5ZM615.919 338.5C615.919 337.672 616.59 337 617.419 337L620.331 337C621.16 337 621.831 337.672 621.831 338.5C621.831 339.328 621.16 340 620.331 340L617.419 340C616.59 340 615.919 339.328 615.919 338.5ZM604.094 338.5C604.094 337.672 604.765 337 605.594 337L608.506 337C609.335 337 610.006 337.672 610.006 338.5C610.006 339.328 609.335 340 608.506 340L605.594 340C604.765 340 604.094 339.328 604.094 338.5ZM592.269 338.5C592.269 337.672 592.94 337 593.769 337L596.681 337C597.51 337 598.181 337.672 598.181 338.5C598.181 339.328 597.51 340 596.681 340L593.769 340C592.94 340 592.269 339.328 592.269 338.5ZM580.444 338.5C580.444 337.672 581.115 337 581.944 337L584.856 337C585.685 337 586.356 337.672 586.356 338.5C586.356 339.328 585.685 340 584.856 340L581.944 340C581.115 340 580.444 339.328 580.444 338.5ZM568.619 338.5C568.619 337.672 569.29 337 570.119 337L573.031 337C573.859 337 574.531 337.672 574.531 338.5C574.531 339.328 573.859 340 573.031 340L570.119 340C569.29 340 568.619 339.328 568.619 338.5ZM556.793 338.5C556.793 337.672 557.465 337 558.293 337L561.206 337C562.034 337 562.706 337.672 562.706 338.5C562.706 339.328 562.034 340 561.206 340L558.293 340C557.465 340 556.793 339.328 556.793 338.5ZM544.968 338.5C544.968 337.672 545.64 337 546.468 337L549.381 337C550.209 337 550.881 337.672 550.881 338.5C550.881 339.328 550.209 340 549.381 340L546.468 340C545.64 340 544.968 339.328 544.968 338.5ZM533.143 338.5C533.143 337.672 533.815 337 534.643 337L537.556 337C538.384 337 539.056 337.672 539.056 338.5C539.056 339.328 538.384 340 537.556 340L534.643 340C533.815 340 533.143 339.328 533.143 338.5ZM521.318 338.5C521.318 337.672 521.99 337 522.818 337L525.731 337C526.559 337 527.231 337.672 527.231 338.5C527.231 339.328 526.559 340 525.731 340L522.818 340C521.99 340 521.318 339.328 521.318 338.5ZM509.493 338.5C509.493 337.672 510.165 337 510.993 337L513.906 337C514.734 337 515.406 337.672 515.406 338.5C515.406 339.328 514.734 340 513.906 340L510.993 340C510.165 340 509.493 339.329 509.493 338.5ZM497.668 338.5C497.668 337.672 498.34 337 499.168 337L502.081 337C502.909 337 503.581 337.672 503.581 338.5C503.581 339.329 502.909 340 502.081 340L499.168 340C498.34 340 497.668 339.329 497.668 338.5ZM485.843 338.5C485.843 337.672 486.515 337 487.343 337L490.256 337C491.084 337 491.756 337.672 491.756 338.5C491.756 339.329 491.084 340 490.256 340L487.343 340C486.515 340 485.843 339.329 485.843 338.5ZM474.018 338.5C474.018 337.672 474.69 337 475.518 337L478.431 337C479.259 337 479.931 337.672 479.931 338.5C479.931 339.329 479.259 340 478.431 340L475.518 340C474.69 340 474.018 339.329 474.018 338.5ZM462.193 338.5C462.193 337.672 462.865 337 463.693 337L466.606 337C467.434 337 468.106 337.672 468.106 338.5C468.106 339.329 467.434 340 466.606 340L463.693 340C462.865 340 462.193 339.329 462.193 338.5ZM450.368 338.5C450.368 337.672 451.04 337 451.868 337L454.781 337C455.609 337 456.281 337.672 456.281 338.5C456.281 339.329 455.609 340 454.781 340L451.868 340C451.04 340 450.368 339.329 450.368 338.5ZM438.543 338.5C438.543 337.672 439.215 337 440.043 337L442.956 337C443.784 337 444.456 337.672 444.456 338.5C444.456 339.329 443.784 340 442.956 340L440.043 340C439.215 340 438.543 339.329 438.543 338.5ZM426.718 338.5C426.718 337.672 427.39 337 428.218 337L431.131 337C431.959 337 432.631 337.672 432.631 338.5C432.631 339.329 431.959 340 431.131 340L428.218 340C427.39 340 426.718 339.329 426.718 338.5ZM414.893 338.5C414.893 337.672 415.565 337 416.393 337L419.305 337C420.134 337 420.805 337.672 420.805 338.5C420.805 339.329 420.134 340 419.305 340L416.393 340C415.565 340 414.893 339.329 414.893 338.5ZM403.068 338.5C403.068 337.672 403.74 337 404.568 337L407.48 337C408.309 337 408.98 337.672 408.98 338.5C408.98 339.329 408.309 340 407.48 340L404.568 340C403.74 340 403.068 339.329 403.068 338.5ZM391.243 338.5C391.243 337.672 391.915 337 392.743 337L395.655 337C396.484 337 397.155 337.672 397.155 338.5C397.155 339.329 396.484 340 395.655 340L392.743 340C391.915 340 391.243 339.329 391.243 338.5ZM379.418 338.5C379.418 337.672 380.09 337 380.918 337L383.83 337C384.659 337 385.33 337.672 385.33 338.5C385.33 339.329 384.659 340 383.83 340L380.918 340C380.09 340 379.418 339.329 379.418 338.5ZM367.593 338.5C367.593 337.672 368.264 337 369.093 337L372.005 337C372.834 337 373.505 337.672 373.505 338.5C373.505 339.329 372.834 340 372.005 340L369.093 340C368.264 340 367.593 339.329 367.593 338.5ZM355.768 338.5C355.768 337.672 356.439 337 357.268 337L360.18 337C361.009 337 361.68 337.672 361.68 338.5C361.68 339.329 361.009 340 360.18 340L357.268 340C356.439 340 355.768 339.329 355.768 338.5ZM343.943 338.5C343.943 337.672 344.614 337 345.443 337L348.355 337C349.184 337 349.855 337.672 349.855 338.5C349.855 339.329 349.184 340 348.355 340L345.443 340C344.614 340 343.943 339.329 343.943 338.5ZM332.118 338.5C332.118 337.672 332.789 337 333.618 337L336.53 337C337.359 337 338.03 337.672 338.03 338.5C338.03 339.329 337.359 340 336.53 340L333.618 340C332.789 340 332.118 339.329 332.118 338.5ZM320.293 338.5C320.293 337.672 320.964 337 321.793 337L324.705 337C325.534 337 326.205 337.672 326.205 338.5C326.205 339.329 325.534 340 324.705 340L321.793 340C320.964 340 320.293 339.329 320.293 338.5ZM308.468 338.5C308.468 337.672 309.139 337 309.968 337L312.88 337C313.709 337 314.38 337.672 314.38 338.5C314.38 339.329 313.709 340 312.88 340L309.968 340C309.139 340 308.468 339.329 308.468 338.5Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M663 320C663 320.828 662.328 321.5 661.5 321.5H659.983C659.155 321.5 658.483 320.828 658.483 320C658.483 319.172 659.155 318.5 659.983 318.5H661.5C662.328 318.5 663 319.172 663 320ZM646.417 320C646.417 319.172 647.088 318.5 647.917 318.5H650.95C651.778 318.5 652.45 319.172 652.45 320C652.45 320.828 651.778 321.5 650.95 321.5H647.917C647.088 321.5 646.417 320.828 646.417 320ZM634.35 320C634.35 319.172 635.022 318.5 635.85 318.5H638.883C639.712 318.5 640.383 319.172 640.383 320C640.383 320.828 639.712 321.5 638.883 321.5H635.85C635.022 321.5 634.35 320.828 634.35 320ZM622.283 320C622.283 319.172 622.955 318.5 623.783 318.5H626.817C627.645 318.5 628.317 319.172 628.317 320C628.317 320.828 627.645 321.5 626.817 321.5H623.783C622.955 321.5 622.283 320.828 622.283 320ZM610.217 320C610.217 319.172 610.888 318.5 611.717 318.5H614.75C615.578 318.5 616.25 319.172 616.25 320C616.25 320.828 615.578 321.5 614.75 321.5H611.717C610.888 321.5 610.217 320.828 610.217 320ZM598.15 320C598.15 319.172 598.822 318.5 599.65 318.5H602.683C603.512 318.5 604.183 319.172 604.183 320C604.183 320.828 603.512 321.5 602.683 321.5H599.65C598.822 321.5 598.15 320.828 598.15 320ZM586.083 320C586.083 319.172 586.755 318.5 587.583 318.5H590.617C591.445 318.5 592.117 319.172 592.117 320C592.117 320.828 591.445 321.5 590.617 321.5H587.583C586.755 321.5 586.083 320.828 586.083 320ZM574.017 320C574.017 319.172 574.688 318.5 575.517 318.5H578.55C579.378 318.5 580.05 319.172 580.05 320C580.05 320.828 579.378 321.5 578.55 321.5H575.517C574.688 321.5 574.017 320.828 574.017 320ZM561.95 320C561.95 319.172 562.622 318.5 563.45 318.5H566.483C567.312 318.5 567.983 319.172 567.983 320C567.983 320.828 567.312 321.5 566.483 321.5H563.45C562.622 321.5 561.95 320.828 561.95 320ZM549.883 320C549.883 319.172 550.555 318.5 551.383 318.5H554.417C555.245 318.5 555.917 319.172 555.917 320C555.917 320.828 555.245 321.5 554.417 321.5H551.383C550.555 321.5 549.883 320.828 549.883 320ZM537.817 320C537.817 319.172 538.488 318.5 539.317 318.5H542.35C543.178 318.5 543.85 319.172 543.85 320C543.85 320.828 543.178 321.5 542.35 321.5H539.317C538.488 321.5 537.817 320.828 537.817 320ZM525.75 320C525.75 319.172 526.422 318.5 527.25 318.5H530.283C531.112 318.5 531.783 319.172 531.783 320C531.783 320.828 531.112 321.5 530.283 321.5H527.25C526.422 321.5 525.75 320.828 525.75 320ZM513.683 320C513.683 319.172 514.355 318.5 515.183 318.5H518.217C519.045 318.5 519.717 319.172 519.717 320C519.717 320.828 519.045 321.5 518.217 321.5H515.183C514.355 321.5 513.683 320.828 513.683 320ZM501.617 320C501.617 319.172 502.288 318.5 503.117 318.5H506.15C506.978 318.5 507.65 319.172 507.65 320C507.65 320.828 506.978 321.5 506.15 321.5H503.117C502.288 321.5 501.617 320.828 501.617 320ZM489.55 320C489.55 319.172 490.222 318.5 491.05 318.5H494.083C494.912 318.5 495.583 319.172 495.583 320C495.583 320.828 494.912 321.5 494.083 321.5H491.05C490.222 321.5 489.55 320.828 489.55 320ZM477.483 320C477.483 319.172 478.155 318.5 478.983 318.5H482.017C482.845 318.5 483.517 319.172 483.517 320C483.517 320.828 482.845 321.5 482.017 321.5H478.983C478.155 321.5 477.483 320.828 477.483 320ZM465.417 320C465.417 319.172 466.088 318.5 466.917 318.5H469.95C470.778 318.5 471.45 319.172 471.45 320C471.45 320.828 470.778 321.5 469.95 321.5H466.917C466.088 321.5 465.417 320.828 465.417 320ZM453.35 320C453.35 319.172 454.022 318.5 454.85 318.5H457.883C458.712 318.5 459.383 319.172 459.383 320C459.383 320.828 458.712 321.5 457.883 321.5H454.85C454.022 321.5 453.35 320.828 453.35 320ZM441.283 320C441.283 319.172 441.955 318.5 442.783 318.5H445.817C446.645 318.5 447.317 319.172 447.317 320C447.317 320.828 446.645 321.5 445.817 321.5H442.783C441.955 321.5 441.283 320.828 441.283 320ZM429.217 320C429.217 319.172 429.888 318.5 430.717 318.5H433.75C434.578 318.5 435.25 319.172 435.25 320C435.25 320.828 434.578 321.5 433.75 321.5H430.717C429.888 321.5 429.217 320.828 429.217 320ZM417.15 320C417.15 319.172 417.821 318.5 418.65 318.5H421.683C422.512 318.5 423.183 319.172 423.183 320C423.183 320.828 422.512 321.5 421.683 321.5H418.65C417.821 321.5 417.15 320.828 417.15 320ZM405.083 320C405.083 319.172 405.755 318.5 406.583 318.5H409.617C410.445 318.5 411.117 319.172 411.117 320C411.117 320.828 410.445 321.5 409.617 321.5H406.583C405.755 321.5 405.083 320.828 405.083 320ZM393.017 320C393.017 319.172 393.688 318.5 394.517 318.5H397.55C398.378 318.5 399.05 319.172 399.05 320C399.05 320.828 398.378 321.5 397.55 321.5H394.517C393.688 321.5 393.017 320.828 393.017 320ZM380.95 320C380.95 319.172 381.621 318.5 382.45 318.5H385.483C386.312 318.5 386.983 319.172 386.983 320C386.983 320.828 386.312 321.5 385.483 321.5H382.45C381.621 321.5 380.95 320.828 380.95 320ZM368.883 320C368.883 319.172 369.555 318.5 370.383 318.5H373.417C374.245 318.5 374.917 319.172 374.917 320C374.917 320.828 374.245 321.5 373.417 321.5H370.383C369.555 321.5 368.883 320.828 368.883 320ZM356.817 320C356.817 319.172 357.488 318.5 358.317 318.5H361.35C362.178 318.5 362.85 319.172 362.85 320C362.85 320.828 362.178 321.5 361.35 321.5H358.317C357.488 321.5 356.817 320.828 356.817 320ZM344.75 320C344.75 319.172 345.422 318.5 346.25 318.5H349.283C350.112 318.5 350.783 319.172 350.783 320C350.783 320.828 350.112 321.5 349.283 321.5H346.25C345.422 321.5 344.75 320.828 344.75 320ZM332.683 320C332.683 319.172 333.355 318.5 334.183 318.5H337.217C338.045 318.5 338.717 319.172 338.717 320C338.717 320.828 338.045 321.5 337.217 321.5H334.183C333.355 321.5 332.683 320.828 332.683 320ZM320.617 320C320.617 319.172 321.288 318.5 322.117 318.5H325.15C325.978 318.5 326.65 319.172 326.65 320C326.65 320.828 325.978 321.5 325.15 321.5H322.117C321.288 321.5 320.617 320.828 320.617 320Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M172.077 37.1908L173.643 63.6431L154.132 64.7977L152.484 36.9533C151.893 26.9575 159.524 18.3743 169.53 17.7822L194.221 16.3209C204.227 15.7288 212.818 23.3519 213.409 33.3476L215.057 61.1921L195.546 62.3468L193.981 35.8945L172.077 37.1908Z" fill="#005072"/>
                            <path d="M120.133 66.1398C119.763 59.8894 124.542 54.522 130.806 54.1512L251.943 46.9821C258.208 46.6114 263.586 51.3778 263.956 57.6281L266.99 108.902C267.36 115.153 262.582 120.52 256.317 120.891L135.18 128.06C128.916 128.431 123.538 123.664 123.168 117.414L120.133 66.1398Z" fill="#0081A2"/>
                            <path d="M327.398 18.4616C333.681 18.0898 339.076 22.8888 339.449 29.1805L346.73 152.216C347.102 158.508 342.311 163.91 336.028 164.282L246.918 169.556C240.635 169.927 235.24 165.128 234.868 158.837L227.587 35.8007C227.214 29.509 232.006 24.1071 238.288 23.7353L327.398 18.4616Z" fill="#40CE97"/>
                            <path d="M199.789 329.286C200.817 346.661 188.012 361.554 171.188 362.55C154.364 363.546 139.892 350.267 138.864 332.892C137.836 315.516 150.64 300.623 167.464 299.627C184.288 298.632 198.76 311.91 199.789 329.286Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M169.713 344.279C175.526 343.935 180.264 338.719 179.881 332.25C179.498 325.78 174.178 321.159 168.365 321.503C162.552 321.847 157.814 327.064 158.197 333.533C158.58 340.002 163.9 344.624 169.713 344.279ZM170.901 364.352C187.725 363.357 200.53 348.464 199.502 331.088C198.473 313.713 184.001 300.434 167.177 301.43C150.353 302.426 137.548 317.318 138.577 334.694C139.605 352.07 154.077 365.348 170.901 364.352Z" fill="#005072"/>
                            <path d="M348.422 321.451C349.451 338.827 336.422 353.733 319.322 354.745C302.223 355.757 287.527 342.491 286.499 325.116C285.47 307.74 298.499 292.834 315.599 291.822C332.698 290.81 347.394 304.075 348.422 321.451Z" fill="#D9D9D9"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M318.392 334.503C324.301 334.154 329.121 328.932 328.738 322.463C328.355 315.994 322.953 311.377 317.044 311.727C311.136 312.077 306.316 317.298 306.699 323.767C307.081 330.236 312.484 334.853 318.392 334.503ZM319.58 354.576C336.68 353.564 349.708 338.658 348.68 321.283C347.652 303.907 332.956 290.642 315.856 291.654C298.757 292.666 285.728 307.572 286.756 324.948C287.785 342.323 302.48 355.588 319.58 354.576Z" fill="#005072"/>
                            <path d="M372.376 86.9605L101.828 102.972C96.2258 103.304 92.4529 108.849 94.1986 114.185L142.726 262.535C144.003 266.439 147.871 268.886 151.944 268.367L357.085 242.215C360.971 241.72 364.025 238.649 364.5 234.759L381.379 96.5497C382.027 91.2426 377.711 86.6448 372.376 86.9605Z" fill="#00B6ED"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M179.42 136.467C184.936 136.141 189.67 140.306 189.993 145.77L193.314 201.889C193.638 207.353 189.428 212.047 183.912 212.374C178.396 212.7 173.662 208.535 173.339 203.071L170.018 146.952C169.694 141.488 173.904 136.794 179.42 136.467Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M247.836 132.418C253.628 132.075 258.585 136.227 258.908 141.691L262.23 197.81C262.553 203.274 258.12 207.982 252.328 208.324C246.536 208.667 241.579 204.516 241.255 199.051L237.934 142.932C237.611 137.468 242.044 132.761 247.836 132.418Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M312.256 128.606C317.772 128.28 322.506 132.445 322.829 137.909L326.151 194.028C326.474 199.492 322.265 204.186 316.749 204.513C311.232 204.839 306.499 200.674 306.175 195.21L302.854 139.091C302.531 133.627 306.74 128.933 312.256 128.606Z" fill="#005072"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.59001 27.4066C6.26416 21.9006 10.4659 17.1728 15.9749 16.8468L55.189 14.526C63.5208 14.033 71.1565 19.1598 73.8494 27.0554L158.359 274.833L140.312 275.901C133.074 276.33 127.555 282.541 127.983 289.774C128.411 297.007 134.625 302.524 141.862 302.095L317.899 291.677L319.079 311.616L143.042 322.034C124.787 323.114 109.113 309.2 108.033 290.955C107.114 275.429 117.059 261.771 131.292 257.378L55.2842 34.5291L17.1549 36.7857C11.6459 37.1117 6.91586 32.9125 6.59001 27.4066Z" fill="#005072"/>
                            <g filter="url(#filter0_f_1186_18646)">
                            <ellipse cx="201.5" cy="400.5" rx="181.5" ry="14.5" fill="#D9D9D9" fill-opacity="0.5"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_1186_18646" x="0" y="366" width="403" height="69" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_1186_18646"/>
                            </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-benefits"><!-- CUSTOMIZABLE -->
                        <h2>Benefits for a buyer</h2>
                        <ul>
                            <li>Attend vendor showcases, stakeholder engagements and specialized programs for buyers to explore digital capabilities and strengths of various technology sellers.</li>
                            <li>Get exposure to potential suppliers in the industry and build genuine relationships.</li>
                            <li>Collaborate with us on pilot programs to experience our services first-hand and help us deliver programs that meet user needs.</li>
                            <li>Know what to invest in ahead of timeto make informed procurement decisions in the future.</li>
                        </ul>
                    </section>
                    
                    <section class="goa-adm-expect"><!-- CUSTOMIZABLE -->
                        <h2>What to expect</h2>
                        <div class="goa-adm-timeline">
                            <ul class="progressbar">
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Sign up</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Join our mailing list by sharing details about your organization.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Connect</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>After you sign up, we will reach out to learn more about your outsourcing needs.</p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="goa-adm-timeline-label">
                                        <h3>Engage</h3>
                                    </div>
                                    
                                    <div class="goa-adm-timeline-desc">
                                        <p>Start receiving updates about events and specialized programs.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </section>
                    
                    <section class="goa-adm-sign-up-form goa-adm-form-success">
                        <h2>Buyer sign-up form</h2>
                        <div class="goa-adm-form-container">
                            <form>
                                <h3>Thank you for signing up!</h3>
                                <p>Visit Alberta Purchasing Connection to explore digital opportunities.</p>
                                <a class="goa-adm-button-link" href="https://purchasing.alberta.ca/search" target="_blank">Explore opportunities</a>
                                <!--fieldset>
                                    
                                    <div class="goa-field goa-org goa--required goa-error">
                                        <label for="org">Organization name <span class="required">*</span></label>
                                        <input id="org" name="org" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter your organization name</strong>
                                    </div>
                                    
                                    <div class="goa-field goa-role goa--required goa-error">
                                        <label for="role">Role within organization <span class="required">*</span></label>
                                        <input id="role" name="role" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">State your role within organization</strong>
                                    </div>

                                    <div class="goa-field goa-name goa--required goa-error">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <div class="goa-field-name-container">
                                            <input id="first-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="First name">
                                            <input id="last-name" name="name" type="text" value="" required="required" aria-required="true" placeholder="Last name">
                                            <strong class="error form-item--error-message">Enter your full name</strong>
                                        </div>
                                    </div>

                                    <div class="goa-field goa-email goa--required goa-error">
                                        <label for="email">Work email <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter in a valid email</strong>
                                    </div>

                                    <fieldset class="goa-error">
                                        <legend>Organization type <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="goa" name="radio" value="goa" type="radio"><label for="goa">Government of Alberta </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="muni-aca-school" name="radio" value="muni-aca-school" type="radio"><label for="muni-aca-school">Municipalities, Academic Institutions, School Boards and Health Organization  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="abcs" name="radio" value="abcs" type="radio"><label for="abcs">Agencies, Boards and Commissions  </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="crown" name="radio" value="crown" type="radio"><label for="crown">CROWN (Provincial Corporations)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="indig" name="radio" value="indig" type="radio"><label for="indig">INDIG (Indigenous Communities)</label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other-org" name="radio" value="other-org" type="radio"><label for="other-org">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an organization type</strong>
                                    </fieldset>

                                    <div class="goa-field goa-website goa--optional goa-error">
                                        <label for="website">Website <span class="optional">[optional]</span></label>
                                        <input id="website" name="website" type="url" value="" aria-required="false">
                                        <strong class="error form-item--error-message">Enter a valid website URL</strong>
                                    </div>

                                    <div class="goa-field goa-head-office goa--required goa-error">
                                        <label for="head-office">Where is your head office? <span class="required">*</span></label>
                                        <input id="head-office" name="head-office" type="text" value="" required="required" aria-required="true">
                                        <strong class="error form-item--error-message">Enter the location of your head office</strong>
                                    </div>

                                    <fieldset class="goa-error">
                                        <legend>Describe your interest in the Alberta Digital Marketplace <span class="required">*</span></legend>
                                        <div class="goa-option">
                                            <input id="tech-buyer" name="radio-2" type="radio"><label for="tech-buyer">I am a tech buyer </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="work-with-start-ups" name="radio-2" type="radio"><label for="work-with-start-ups">I work with tech start-ups or other vendors </label>
                                        </div>
                                        <div class="goa-option">
                                            <input id="other" name="radio-2" value="other" type="radio"><label for="other">Other</label>
                                        </div>
                                        <strong class="error form-item--error-message">Select an option</strong>
                                    </fieldset>

                                    <div class="goa-field goa-agreement goa--required">
                                        <div class="goa-option">
                                            <input id="agreement" name="agreement" type="checkbox"><label for="agreement">I would like to be contacted for future engagements, surveys, and events.</label>
                                        </div>
                                    </div>

                                    <div class="goa-adm-buttons">
                                        <button name="buttonSubmit" class="goa-adm-button">Submit form</button>
                                    </div>
                                </fieldset-->
                            </form>
                            <div class="goa-adm-disclaimer">
                                <p>The information you provide is being collected under section 33(c) of the <a href="https://open.alberta.ca/publications/f25"><em>Freedom of Information and Protection of Privacy (FOIP) Act</em></a> and will be protected under the provisions of the Act. Questions regarding the collection, use and disclosure may be directed to [program area contact info here].</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                 <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>