---
import BaseLayout from '../layouts/layout.astro';
import FundedChallengePage from './funded-challenges/index';
---

<BaseLayout title="Funded Challenges | Alberta Digital Marketplace" page="Funded Challenges">  
    <main>
    <FundedChallengePage client:load />
    </main>
</BaseLayout>