---
import BaseLayout from '../layouts/layout.astro';
import FundedTechDebtPage from './funded-technology-debt-challenge/index';
---

<BaseLayout title="Funded Technology Debt Challenge | Alberta Digital Marketplace" page="Funded Technology Debt Challenge">  
    <main>
    <FundedTechDebtPage client:load />
    </main>
</BaseLayout>