---
import "../css/core.css"
import hero_mobile from '../img/hero-mobile-tablet.svg';
import suppliers_thumb from '../img/supplier-icon-home.svg';
import buyers_thumb from '../img/buyers-icon-home.svg';
import partners_thumb from '../img/stakeholder-icon-home.svg';
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Welcome | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Welcome to the Alberta Digital Marketplace" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />

        <script is:inline src="https://feedback-service.adsp-uat.alberta.ca/feedback/v1/script/adspFeedback.js"></script>
	
    </head>

    <body class="adm-home-page">

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/" title="Home" rel="home">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header goa-adm-body-full">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <h1>Introducing the Alberta Digital Marketplace</h1>
						<p class="lede">Streamlining digital procurement for suppliers and public sector buyers.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        <div class="goa-adm-home-tablet-graphic">
                            <img src={hero_mobile} alt="Illustration of Alberta's landscape">
                        </div>
                        <div class="goa-adm-body-full-side-one">
                            <div class="goa-adm-body-full-side-one-img">
                                <svg width="162" height="719" viewBox="0 0 162 719" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1289_15906)">
                                    <path d="M113.417 298.085L41.4413 298.085C38.6799 298.085 36.4413 300.293 36.4413 303.055L36.4413 538.59L127 538.59L127 607L2.544e-05 607L0 73L117.814 290.705C119.617 294.037 117.205 298.085 113.417 298.085Z" fill="white"/>
                                    <path d="M36.4413 539C36.4413 535.304 36.4413 399.243 36.4413 303.464C36.4413 300.703 38.6799 298.495 41.4413 298.495L113.417 298.495C117.205 298.495 119.617 294.446 117.814 291.115L0 73.4095" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <rect x="76.7432" y="519" width="83.9143" height="89.0057" rx="14" fill="white" stroke="#004070" stroke-width="2"/>
                                    <path d="M36.5 539.51H159.136" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <ellipse cx="91.0002" cy="530.371" rx="3.34397" ry="3.58507" fill="#00B6ED"/>
                                    <ellipse cx="102.833" cy="530.371" rx="3.34397" ry="3.58507" fill="#00B6ED"/>
                                    <ellipse cx="114.665" cy="530.371" rx="3.34397" ry="3.58507" fill="#00B6ED"/>
                                    <path d="M106.822 555.505V555.505C103.045 553.475 98.3319 554.37 95.5929 557.668L94.3214 559.199C91.8072 562.226 92.2573 566.725 95.3213 569.194V569.194M106.822 555.505L95.3213 569.194M106.822 555.505L112.868 557.366M95.3213 569.194L101.309 576.751M112.868 557.366L107.816 565.785C107.221 566.777 107.32 568.036 108.064 568.922V568.922C108.45 569.383 108.978 569.702 109.565 569.829L109.665 569.851C110.881 570.115 112.134 569.605 112.819 568.566L114.907 565.401C115.769 564.094 117.278 563.363 118.838 563.497L119.947 563.592C121.738 563.745 123.429 564.483 124.759 565.692L137.41 577.189M112.868 557.366L120.717 555.723C121.409 555.578 122.118 555.525 122.824 555.567L131.126 556.052M137.41 577.189L141.204 568.428M137.41 577.189L137.49 577.267C138.245 577.995 138.541 579.078 138.263 580.089V580.089C137.961 581.188 137.036 582.004 135.908 582.166L133.972 582.446M141.204 568.428L143.093 566.99C145.359 565.266 145.731 562.001 143.91 559.813L140.242 555.404C138.625 553.461 135.813 553.03 133.688 554.4L131.126 556.052M141.204 568.428L131.126 556.052M118.796 592.138L120.915 593.286C121.749 593.737 122.743 593.786 123.616 593.417V593.417C124.469 593.058 125.118 592.339 125.389 591.454L125.85 589.948M125.85 589.948L121.76 585.841M125.85 589.948V589.948C128.101 590.53 130.296 588.831 130.296 586.506V585.841M130.296 585.841L123.538 579.763M130.296 585.841L130.462 585.883C132.55 586.413 134.458 584.544 133.972 582.446V582.446M133.972 582.446L124.961 573.411" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M102.412 579.509L105.667 576.508" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M114.075 591.512L117.872 588.011" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M109.192 588.512L115.159 583.01" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M105.396 584.51L111.363 579.008" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1289_15906">
                                    <rect width="162" height="719" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="goa-adm-body-full-side-two">
                            <div class="goa-adm-body-full-side-two-img">
                                <div class="sun-cloud">
                                    <svg width="113" height="118" viewBox="0 0 113 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="62.4381" cy="57.9333" rx="46.4381" ry="45.9333" fill="#E0B701"/>
                                    </svg>

                                    <svg width="133" height="53" viewBox="0 0 133 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00007 52.833V52.7192C1.00002 52.7382 1 52.7571 1 52.7761C1 52.7951 1.00002 52.814 1.00007 52.833ZM3.41897 42.1895C7.35522 34.0615 15.6829 28.4563 25.3198 28.4563C26.946 28.4563 28.535 28.6159 30.0718 28.9203C34.5015 22.9297 41.6167 19.0452 49.6391 19.0452C55.8488 19.0452 61.515 21.3726 65.8129 25.2026C69.7861 11.2316 82.6414 1 97.8865 1C116.301 1 131.228 15.9276 131.228 34.3417C131.228 37.0448 130.906 39.6728 130.299 42.1895H3.41897Z" fill="white"/>
                                        <path d="M1.00007 52.833L6.77247e-05 52.8353L2.00007 52.833H1.00007ZM1.00007 52.7192H2.00007L6.77247e-05 52.7169L1.00007 52.7192ZM3.41897 42.1895L2.51896 41.7536L1.8236 43.1895H3.41897V42.1895ZM30.0718 28.9203L29.8775 29.9013L30.4991 30.0244L30.8758 29.5149L30.0718 28.9203ZM65.8129 25.2026L65.1476 25.9492L66.3384 27.0104L66.7747 25.4762L65.8129 25.2026ZM130.299 42.1895V43.1895H131.087L131.271 42.424L130.299 42.1895ZM2.00007 52.833V52.7192H6.51042e-05V52.833H2.00007ZM6.77247e-05 52.7169C2.25828e-05 52.7367 0 52.7564 0 52.7761H2C2 52.7579 2.00002 52.7397 2.00006 52.7215L6.77247e-05 52.7169ZM0 52.7761C0 52.7958 2.25828e-05 52.8156 6.77247e-05 52.8353L2.00006 52.8307C2.00002 52.8125 2 52.7943 2 52.7761H0ZM25.3198 27.4563C15.2852 27.4563 6.61591 33.2937 2.51896 41.7536L4.31899 42.6253C8.09453 34.8292 16.0807 29.4563 25.3198 29.4563V27.4563ZM30.2661 27.9394C28.6656 27.6224 27.0116 27.4563 25.3198 27.4563V29.4563C26.8804 29.4563 28.4043 29.6094 29.8775 29.9013L30.2661 27.9394ZM49.6391 18.0452C41.2861 18.0452 33.8779 22.0911 29.2677 28.3258L30.8758 29.5149C35.1251 23.7683 41.9472 20.0452 49.6391 20.0452V18.0452ZM66.4782 24.456C62.0042 20.4691 56.1035 18.0452 49.6391 18.0452V20.0452C55.5941 20.0452 61.0258 22.2761 65.1476 25.9492L66.4782 24.456ZM97.8865 0C82.1827 0 68.9433 10.5396 64.851 24.9291L66.7747 25.4762C70.629 11.9237 83.1001 2 97.8865 2V0ZM132.228 34.3417C132.228 15.3753 116.853 0 97.8865 0V2C115.748 2 130.228 16.4799 130.228 34.3417H132.228ZM131.271 42.424C131.897 39.8311 132.228 37.1244 132.228 34.3417H130.228C130.228 36.9652 129.916 39.5145 129.327 41.9549L131.271 42.424ZM3.41897 43.1895H130.299V41.1895H3.41897V43.1895Z" fill="#004070"/>
                                    </svg>
                                            
                                </div>
                                <svg width="879" height="719" viewBox="0 0 879 719" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1289_15504)">
                                    <path d="M170.616 283.394L172.704 276.323L186 260.5L195.668 276.323L188.152 270.868L182.933 279.353L181.889 272.888L170.616 283.394Z" fill="#AAC9E7"/>
                                    <path d="M575 227.5L569 214L598.5 175L618 199L607 218L595.5 204.5L575 227.5Z" fill="#AAC9E7"/>
                                    <path d="M344.554 218.753L335 207L359.5 175.5L401.5 226L375.927 211.936L366.973 223.791L355.942 204.823L344.554 218.753Z" fill="#AAC9E7"/>
                                    <path d="M486.13 321.938L424.649 253.491L472.74 193.555L532.681 260.802L515.645 283.072L486.13 321.938Z" fill="#AAC9E7"/>
                                    <path d="M83 385.857L185.688 260.802L235.821 330.232M193 385.857L359.113 175.215L424.649 253.491M486.473 322.319L424.649 253.491M424.649 253.491L472.74 193.555L532.681 260.802M437.591 385.857L515.645 283.072L598.154 175.215L773.257 385.352" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M233.719 370.247V383.941" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M379 499L379 568C379 573.523 374.523 578 369 578L-425.634 578L-682 578" stroke="#005072" stroke-width="2"/>
                                    <path d="M757.774 135.361V218.554" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M770.348 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M799.27 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M784.181 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M814.358 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M826.934 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M855.853 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M842.022 135.361V226" stroke="#00B6ED" stroke-width="2" stroke-dasharray="6 6"/>
                                    <path d="M730.445 71.5934L730.445 367.658" stroke="#005072" stroke-width="2"/>
                                    <ellipse cx="729.305" cy="100.632" rx="21.6355" ry="22.2048" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M708.809 101.199C712.764 101.199 784.367 101.199 885.309 101.199" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M469.423 209.054L465 205L472.5 194.5L485 208.5L481.961 215.072L473.537 203.685L469.423 209.054Z" fill="white"/>
                                    <path d="M104.57 360.695L119.627 257.204L136.454 360.695H119.627H104.57Z" fill="#1EA9A1"/>
                                    <path d="M715.642 356.262L730.698 268.591L747.525 356.262H730.698H715.642Z" fill="#40CE97"/>
                                    <path d="M730.698 385.352V356.262M730.698 356.262H715.642L730.698 268.591L747.525 356.262H730.698Z" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M151.507 353.553C150.762 352.831 149.793 351.563 149.653 350.229C149.39 347.726 153.285 345.79 154.941 347.686C155.67 348.519 156.007 350.031 155.469 352.492" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M155.531 352.406C156.155 351.602 157.234 350.619 158.473 350.402C160.952 349.969 163.179 353.71 161.384 355.474C160.614 356.231 159.203 356.565 156.971 355.883" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M154.787 358.095C155.143 359.036 155.448 360.429 155.038 361.577C154.191 363.947 150.062 363.726 149.214 361.356C148.74 360.033 149.193 358.3 151.739 356.721" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M151.333 356.608C150.442 356.975 149.014 357.635 147.772 357.644C145.255 357.663 144.745 352.868 147.182 352.242C148.143 351.995 149.533 352.335 151.461 353.725" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M157.128 355.897C157.732 356.173 158.555 356.419 159.3 356.757C162.64 358.271 157.385 363.717 155.604 360.511C155.256 359.885 154.994 359.062 154.859 358.018" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="154.106" cy="355.038" r="3.13499" transform="rotate(19.5393 154.106 355.038)" fill="#DFBC40" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M155.77 362.097C155.824 366.917 158.662 377.938 169.573 383.46" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M168.259 383.457L163.986 343.689M163.986 343.689L165.794 338.76M163.986 343.689L163.165 338.76M163.986 343.689L161.028 340.567M163.986 343.689L167.601 341.224M163.986 343.689L160.371 343.361" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M173.874 355.063C173.668 354.517 173.474 353.731 173.515 352.966C173.648 350.452 178.534 350.435 178.274 352.939C178.199 353.659 177.821 354.551 176.995 355.626" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M177.067 355.586C177.563 355.334 178.247 355.094 178.936 355.066C181.451 354.961 181.811 360 179.306 359.755C178.64 359.69 177.84 359.32 176.929 358.493" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M174.672 359.323C174.63 359.865 174.497 360.553 174.195 361.146C173.05 363.388 168.755 361.172 169.944 358.954C170.351 358.194 171.281 357.556 172.993 357.358" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M172.747 357.145C172.216 357.119 171.444 357.107 170.729 356.956C168.267 356.436 169.974 351.655 172.062 353.06C172.608 353.427 173.19 354.094 173.786 355.17" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M177.034 358.555C177.144 358.686 177.273 358.822 177.411 358.964C179.967 361.593 173.807 363.631 174.549 360.039C174.597 359.803 174.663 359.554 174.748 359.292" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="175.203" cy="356.96" r="2.42447" transform="rotate(44.7516 175.203 356.96)" fill="#DFBC40" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M168.446 382.976V382.976C172.406 377.337 174.53 370.613 174.53 363.723V361.479" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M301.133 376.682C286.44 376.682 278.256 382.894 276 386H537C526.044 380.565 497.173 371.091 469.333 376.682C434.533 383.671 394.9 365.811 366.867 365.035C338.833 364.258 319.5 376.682 301.133 376.682Z" fill="#40CE97"/>
                                    <path d="M1030.87 376.682C1045.56 376.682 1053.74 382.894 1056 386H795C805.956 380.565 834.827 371.091 862.667 376.682C897.467 383.671 937.1 365.811 965.133 365.035C993.167 364.258 1012.5 376.682 1030.87 376.682Z" fill="#1EA9A1"/>
                                    <path d="M784.501 336.292C782.076 338.518 778.682 344.247 784.501 349.355C791.127 344.542 786.925 338.551 784.501 336.292Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M796.067 344.523C792.743 343.736 785.926 344.166 785.246 352.179C793.277 355.075 795.676 347.938 796.067 344.523Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M796.067 352.585C792.743 351.798 785.926 352.228 785.246 360.241C793.277 363.137 795.676 356.001 796.067 352.585Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M796.067 360.537C792.743 359.75 785.926 360.18 785.246 368.193C793.277 371.089 795.676 363.953 796.067 360.537Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M773.3 344.523C776.624 343.736 783.442 344.166 784.121 352.179C776.09 355.075 773.692 347.938 773.3 344.523Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M773.3 352.585C776.624 351.798 783.442 352.228 784.121 360.241C776.09 363.137 773.692 356.001 773.3 352.585Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <path d="M773.3 360.537C776.624 359.75 783.442 360.18 784.121 368.193C776.09 371.089 773.692 363.953 773.3 360.537Z" fill="#DFBC40" stroke="#004070" stroke-width="2"/>
                                    <rect x="784.554" y="349.236" width="0.725747" height="35.0778" fill="#DFBC40" stroke="#004070" stroke-width="0.725747"/>
                                    <ellipse cx="234.215" cy="353.994" rx="14.2339" ry="15.9419" fill="#1EA9A1" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M882.309 385.747H10.0576" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M207.854 362.64V385.463" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <ellipse cx="208.594" cy="319.833" rx="14.8032" ry="43.271" fill="#40CE97" stroke="#004070" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M120 360V385.5" stroke="#005072" stroke-width="2"/>
                                    <path d="M642.127 327.594C642.127 328.79 640.327 330.624 638.666 330.385C636.589 330.086 635.402 328.491 635.303 326.896M635.303 326.896C635.204 325.301 636.391 320.617 641.929 320.417C647.468 320.218 650.199 327.195 647.27 330.684C647.064 330.995 646.793 331.307 646.479 331.602M635.303 326.896C634.512 326.73 632.277 326.796 631.644 328.391M642.127 333.375C643.458 333.611 645.285 332.724 646.479 331.602M631.644 328.391C630.853 330.385 627.629 330.684 626.402 327.594C624.543 322.909 629.468 318.623 634.215 320.417M631.644 328.391L629.87 333.755C629.273 335.559 628.809 337.404 628.479 339.276V339.276C627.907 342.529 628.425 347.121 631.725 346.963C633.705 346.869 635.344 345.249 635.699 344.737M643.512 337.76C643.545 338.126 643.314 339.036 642.127 339.754C640.644 340.651 636.391 343.74 635.699 344.737M635.699 344.737C635.567 346.664 635.521 351.874 636.391 357.296C637.261 362.718 642.028 365.004 644.303 365.469M657.673 337.902C655.378 337.443 651.384 337.121 646.479 331.602" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M656.525 337.673C666.408 339.845 676.194 337.682 681.412 338.077C687.935 338.571 689.22 342.323 689.22 344.791C689.22 345.93 689.57 347.845 689.968 349.629M674.099 354.763C674.547 358.793 676.351 361.893 678.268 364.044M689.014 343.113C692.078 345.021 698.965 349.787 696.83 351.209C694.695 352.63 691.366 350.748 689.968 349.629M689.968 349.629C690.26 350.939 690.578 352.178 690.801 352.986C691.263 354.335 692.047 359.087 691.493 367.302C691.078 373.457 691.896 378.999 692.706 382.457C693.02 383.799 692.027 385.172 690.648 385.172H689.441C688.336 385.172 687.441 384.276 687.441 383.172V381.124C687.57 379.994 687.113 376.83 684.766 371.894C683.305 368.819 680.533 366.585 678.268 364.044V364.044M678.268 364.044C676.951 364.964 674.444 366.372 671.332 367.302M658.088 367.993C663.097 368.891 667.656 368.399 671.332 367.302M659.076 356.441C659.34 357.396 659.254 361.22 656.803 368.881V382.678C656.803 383.783 655.908 384.678 654.803 384.678H652.793C651.607 384.678 650.682 383.653 650.803 382.474L650.972 380.828C650.215 376.879 648.758 367.835 648.996 363.254M647.315 367.993C646.755 369.178 645.537 372.12 645.141 374.41C644.827 376.233 644.449 380.095 644.209 382.84C644.118 383.878 643.25 384.678 642.208 384.678H640.412C639.201 384.678 638.268 383.611 638.43 382.411L639.508 374.41L641.287 365.327M681.412 367.104V378.359C681.924 379.504 682.75 381.679 682.953 383.277C683.059 384.118 682.328 384.678 681.48 384.678H679.064C677.959 384.678 677.064 383.783 677.064 382.678V379.742C676.998 378.258 675.68 373.815 671.332 367.302" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M604.968 340.278C604.968 341.21 606.371 342.64 607.667 342.454C609.286 342.221 610.211 340.977 610.289 339.734M610.289 339.734C610.366 338.49 609.44 334.838 605.122 334.682C600.804 334.527 598.674 339.967 600.958 342.687C601.119 342.93 601.33 343.173 601.575 343.403M610.289 339.734C610.905 339.604 612.648 339.656 613.142 340.899M604.968 344.785C603.93 344.97 602.506 344.278 601.575 343.403M613.142 340.899C613.759 342.454 616.272 342.687 617.229 340.278C618.678 336.625 614.838 333.283 611.137 334.682M613.142 340.899L614.525 345.081C614.99 346.488 615.353 347.927 615.609 349.386V349.386C616.055 351.923 615.651 355.503 613.078 355.38C611.534 355.307 610.257 354.043 609.98 353.645M603.888 348.205C603.863 348.49 604.042 349.199 604.968 349.759C606.124 350.458 609.44 352.867 609.98 353.645M609.98 353.645C610.083 355.147 610.119 359.209 609.44 363.437C608.762 367.664 605.045 369.446 603.271 369.809M591.544 348.423C593.395 348.282 597.75 347.706 601.575 343.403" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M594.442 348.145C586.736 349.839 578.405 348.145 574.336 348.453C569.25 348.838 568.248 351.763 568.248 353.688C568.248 354.576 567.975 356.069 567.665 357.46M580.038 361.463C579.689 364.606 578.282 367.022 576.788 368.699M568.408 352.379C566.02 353.867 560.65 357.583 562.315 358.692C563.979 359.8 566.575 358.332 567.665 357.46M567.665 357.46C567.437 358.481 567.189 359.447 567.015 360.077C566.656 361.129 566.044 364.835 566.476 371.24C566.779 375.733 566.239 379.807 565.651 382.521C565.366 383.834 566.342 385.173 567.685 385.173V385.173C568.762 385.173 569.635 384.3 569.635 383.223V382.017C569.535 381.136 569.891 378.669 571.721 374.82C572.86 372.422 575.021 370.681 576.788 368.699V368.699M576.788 368.699C577.815 369.417 579.769 370.515 582.196 371.24M592.522 371.778C588.617 372.479 585.062 372.095 582.196 371.24M591.751 362.772C591.546 363.516 591.613 366.497 593.524 372.471V382.788C593.524 383.893 594.419 384.788 595.524 384.788H596.163C597.348 384.788 598.273 383.763 598.152 382.584L598.07 381.786C598.661 378.707 599.796 371.655 599.611 368.083M600.921 371.778C601.358 372.702 602.309 374.996 602.617 376.782C602.847 378.116 603.12 380.849 603.308 382.949C603.401 383.987 604.268 384.788 605.311 384.788H605.8C607.011 384.788 607.944 383.721 607.783 382.521L607.009 376.782L605.622 369.7M574.336 371.086V379.861C573.969 380.682 573.395 382.183 573.182 383.387C573.035 384.222 573.747 384.788 574.595 384.788H575.726C576.831 384.788 577.726 383.893 577.726 382.788V380.939C577.778 379.782 578.805 376.318 582.196 371.24" stroke="#005072" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M10 406H70.7413M86.1292 406H103.947M120.954 406H188.175H178.456M200.323 406H312.897" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M389.19 421.941H328.221M312.775 421.941H294.891M277.819 421.941H233.921M220.101 421.941H210.346M198.152 421.941H85.1549" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M409.687 421.941H521.487M549.81 421.941H582.605M613.909 421.941H694.405M719.747 421.941H737.635" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M189.916 437.885H128.581M113.043 437.885H95.0511M77.8773 437.885H33.7161M19.8135 437.885H9.99986" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M206.997 437.885H239.363M256.615 437.885H336.059M352.178 437.885H369.833" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M389.19 437.885H450.16M465.606 437.885H483.49M500.562 437.885H544.46M558.28 437.885H568.035M580.229 437.885H693.226" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M38.4678 452.687H99.2091M114.597 452.687H132.414M149.422 452.687H193.156M206.924 452.687H216.642M228.791 452.687H341.365" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    <path d="M882.251 452.687H704.08M688.631 452.687H670.744M653.67 452.687H609.765M595.943 452.687H586.186" stroke="#00B6ED" stroke-width="3" stroke-linecap="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1289_15504">
                                    <rect width="879" height="719" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                        <div class="goa-adm-body-owl">
                            <div class="goa-adm-body-owl-line"></div>
                            <div class="goa-adm-body-owl-eye"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-intro"><!-- CUSTOMIZABLE -->
                        <p>The Alberta Digital Marketplace is an upcoming initiative led by the Ministry of Technology and Innovation. Our objective with this platform is to make it more convenient for public sector buyers to access supplier information, connect with suppliers for digital products and services.</p>
                    </section>

					
                    <section class="goa-adm-cards-info"><!-- CUSTOMIZABLE -->
                        <h2>Sign up and keep up to date</h2>
                        <div class="goa-adm-cards">
							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <img src={suppliers_thumb} alt="Suppliers illustration">
                                </div>
								<h3>Supplier</h3>
								<div class="goa-adm-single-card-content"><p>Do you have a technology product or service? Be the first to know about government initiatives.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-suppliers/">View supplier benefits</a></div>
							</div>

							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <img src={buyers_thumb} alt="Buyers illustration">
                                </div>
								<h3>Buyer</h3>
								<div class="goa-adm-single-card-content"><p>Stay updated as a government agency, board, commission or an educational institute at municipal or provincial level.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-buyers/">View buyer benefits</a></div>
							</div>
							
							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <img src={partners_thumb} alt="Partners illustration">
                                </div>
								<h3>Community partner</h3>
								<div class="goa-adm-single-card-content"><p>Curious? Keep connected to the government as a digitally curious Albertan, another government or community organization.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-partners/">View partner benefits</a></div>
							</div>
						</div>
                    </section>

					
                    <section class="goa-adm-apc-callout"><!-- CUSTOMIZABLE -->
                        <h2>Interested in exploring current digital opportunities?</h2>
                        <p>Check out Alberta Purchasing Connection, the official platform for government and public sector procurements.</p>
						<a class="goa-adm-button-link" href="" target=_blank>Explore opportunities</a>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                © <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var otherError = document.createElement('strong');

                        var randomIdOther = Math.floor(Math.random() * 1000) + 1;

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherError.classList.add("error");
                        otherError.classList.add("form-item--error-message");
                        otherError.innerText = 'Specify your other value';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        otherDiv.appendChild(otherError);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        } 
                        
                        if (mscInput.length > 0) {
                            for (var io = 0; io < mscInput.length; io++) {
                                
                                (function (mscInput) {
                                    var mscInput = mscInput[io];
                                    if (otherInput) {
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    };
                                }) (mscInput);
                            };
                        };
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };
            
            window.onload = function() {
                var body = document.querySelector('body');
                body.classList.add('loaded');
            };

            adspFeedback.initialize({tenant: 'digital_marketplace'});

        </script>

    </body>

</html>