---
import "../css/core.css"
---
<!DOCTYPE html>
<html lang="en-CA" dir="ltr">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title>Welcome | Alberta Digital Marketplace</title> 

        <!-- page details -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		
		<!-- social -->
		<meta name="twitter:card" content="summary" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Page title" />
		<meta property="og:description" content="Page description / summary." />
		<meta property="og:image" content="/assets/sharing/share-alberta.png" />
		<meta property="og:url" content="/build/beta/home.htm" />
	
    </head>

    <body class="adm-home-page">

        <header>

            <div class="goa-adm-microsite-header">
                <div class="container">
                    <div class="goa-adm-microsite-header-type"><span>Alpha</span></div>
                    <div class="goa-adm-microsite-header-content"><p>This is a new <a href="https://www.alberta.ca/" target="_blank">Alberta Government</a> service.</p></div>
                </div>
            </div>
            
            <div class="goa-adm-main-header">
                <div class="container">
                    <div class="goa-adm-logo">
                        <div class="goa-logo">
                            <a href="/">
                                <svg class="desktop-logo" xmlns="http://www.w3.org/2000/svg" width="149" height="42" viewBox="0 0 216 61" shape-rendering="geometricPrecision">
                                    <rect class="logo" fill="#00aad2" x="196.411" y="31.014" width="19.59" height="19.592"></rect>
                                    <path class="logo" fill="#5f6a72" d="M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718"></path>
                                </svg>
                    
                                <svg class="mobile-logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2034_17934)"><path d="M20 0C23.9556 0 27.8224 1.17298 31.1114 3.37061C34.4004 5.56824 36.9638 8.69181 38.4776 12.3463C39.9913 16.0009 40.3874 20.0222 39.6157 23.9018C38.844 27.7814 36.9392 31.3451 34.1421 34.1421C31.3451 36.9392 27.7814 38.844 23.9018 39.6157C20.0222 40.3874 16.0009 39.9913 12.3463 38.4776C8.69181 36.9638 5.56824 34.4004 3.37061 31.1114C1.17298 27.8224 0 23.9556 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0V0Z" fill="#00AAD2"/><path d="M25.8691 27.5888C24.5003 27.084 23.1643 26.4942 21.8691 25.8228C23.0449 25.391 24.1915 24.8833 25.3015 24.3028C25.4147 25.4103 25.6041 26.5086 25.8683 27.59M33.2195 13.978C32.6467 13.9056 32.9443 14.172 32.7847 14.9268C32.0947 18.1812 29.4331 20.5268 26.7611 22.1004C26.4811 18.3736 26.5955 14.236 27.2971 11.7004C27.8891 9.56001 28.5931 9.95281 27.7199 9.50321C26.7999 9.03001 25.8139 9.65521 25.0151 11.2496C24.2163 12.844 20.5379 21.4992 14.6579 27.3436C11.6503 30.3352 8.9299 28.7944 8.3851 28.3344C7.9419 27.96 7.7783 28.538 8.3283 29.13C10.7607 31.7528 14.3143 30.248 15.6083 28.9548C19.1843 25.3804 23.3419 17.686 25.0239 14.4212C24.828 17.2647 24.8731 20.1197 25.1587 22.9556C23.804 23.6203 22.3911 24.1593 20.9379 24.5656C20.1043 24.784 19.5887 25.1236 19.5735 25.5096C19.5571 25.9324 20.1167 26.2892 20.9259 26.6732C22.3659 27.3572 26.5851 29.3504 27.6247 29.9532C28.5147 30.4696 28.9491 30.0668 29.2127 29.5092C29.5571 28.7824 28.6127 28.3624 27.6975 28.0888C27.2936 26.5548 27.0192 24.9895 26.8771 23.4096C29.0219 22.0896 31.1335 20.3296 32.3507 18.1348C32.7437 17.3635 33.0358 16.5447 33.2199 15.6988C33.3473 15.1779 33.3821 14.6386 33.3227 14.1056C33.3227 14.1056 33.3067 13.9892 33.2199 13.978" fill="white"/></g><defs><clipPath id="clip0_2034_17934"><rect width="40" height="40" fill="white"/></clipPath></defs>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="goa-adm-nav">
                        <div class="goa-adm-nav-button">
                            <button class="goa-adm-button" aria-expanded="false">Menu</button>
                        </div>
                        <nav class="goa-adm-nav-menu">
                            <ul>
                                <li><a href="/about-us/">About us</a></li>
                                <li><a href="/for-suppliers/">Suppliers</a></li>
                                <li><a href="/for-buyers/">Buyers</a></li>
                                <li><a href="/for-partners/">Partners and stakeholders</a></li>
                                <li><a href="/contact-us/">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main>
      
            <div class="goa-adm-body-header">
                <div class="container">
                    <div class="goa-adm-body-header-content">
                        <h1>Introducing the Alberta Digital Marketplace</h1>
						<p class="lede">Streamlining digital procurement for suppliers and public sector buyers.</p>
                    </div>

                    <div class="goa-adm-body-header-graphic">
                        
    
                    </div>
                </div>
            </div>

            <div class="goa-adm-body">
                
                <div class="container">
                    <section class="goa-adm-intro"><!-- CUSTOMIZABLE -->
                        <p>The Alberta Digital Marketplace is an upcoming initiative led by the Ministry of Technology and Innovation. Our objective with this platform is to make it more convenient for public sector buyers to access supplier information, connect with suppliers for digital products and services.</p>
                    </section>

					
                    <section class="goa-adm-cards-info"><!-- CUSTOMIZABLE -->
                        <h2>Sign up and keep up to date</h2>
                        <div class="goa-adm-cards">
							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <svg width="123" height="129" viewBox="0 0 123 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.7888 32H108.155V109.5C108.155 113.09 105.245 116 101.655 116H18.2888C14.699 116 11.7888 113.09 11.7888 109.5V32Z" stroke="#005072" stroke-width="7"/>
                                        <mask id="path-2-inside-1_1227_15699" fill="white">
                                        <rect x="22.4286" y="56" width="75.087" height="49" rx="5"/>
                                        </mask>
                                        <rect x="22.4286" y="56" width="75.087" height="49" rx="5" fill="#00B6ED" stroke="#00B6ED" stroke-width="14" mask="url(#path-2-inside-1_1227_15699)"/>
                                        <path d="M9.26398 7C11.6043 1.8 13.1646 0 16.0901 0H32.1801L24.3789 29H0C2.11284 23.8333 6.9236 12.2 9.26398 7Z" fill="#0081A2"/>
                                        <path d="M113.118 7C110.778 1.8 109.217 0 106.292 0H90.2018L98.003 29H122.382C120.269 23.8333 115.458 12.2 113.118 7Z" fill="#0081A2"/>
                                        <path d="M48.7578 29L51.1957 0H70.6988L73.1367 29H48.7578Z" fill="#0081A2"/>
                                        <path d="M90.2019 0H70.6988L73.1367 29H98.0031L90.2019 0Z" fill="#40CE97"/>
                                        <path d="M32.1801 0H51.1956L48.7577 29H24.3788L32.1801 0Z" fill="#40CE97"/>
                                        <path d="M0 36.8106V29H24.3789V36.8106C24.3789 43.5426 18.9215 49 12.1894 49C5.4574 49 0 43.5426 0 36.8106Z" fill="#0081A2"/>
                                        <path d="M48.7578 37.3106V29H73.1367V37.3106C73.1367 44.0426 67.6793 49.5 60.9473 49.5C54.2152 49.5 48.7578 44.0426 48.7578 37.3106Z" fill="#0081A2"/>
                                        <path d="M98.0031 36.8106V29H122.382V36.8106C122.382 43.5426 116.925 49 110.193 49C103.461 49 98.0031 43.5426 98.0031 36.8106Z" fill="#0081A2"/>
                                        <path d="M24.3788 36.8106V29H48.7577V36.8106C48.7577 43.5426 43.3003 49 36.5682 49C29.8362 49 24.3788 43.5426 24.3788 36.8106Z" fill="#40CE97"/>
                                        <path d="M73.1366 37.0668V29H98.003V37.0668C98.003 43.9335 92.4365 49.5 85.5698 49.5C78.7031 49.5 73.1366 43.9335 73.1366 37.0668Z" fill="#40CE97"/>
                                        <path d="M52.1708 91V81C52.1708 79.3431 53.514 78 55.1708 78H63.7982C65.455 78 66.7982 79.3431 66.7982 81V91" stroke="#005072" stroke-width="7"/>
                                        <path d="M44.2087 89H74.7602C75.7791 89 76.6351 89.7659 76.7479 90.7785L79.8314 118.446C80.1615 121.409 77.8428 124 74.8621 124H44.1068C41.1261 124 38.8074 121.409 39.1376 118.446L42.2211 90.7785C42.3339 89.7659 43.1899 89 44.2087 89Z" fill="#1EA9A1" stroke="#005072" stroke-width="7"/>
                                    </svg>
                                </div>
								<h3>Supplier</h3>
								<div class="goa-adm-single-card-content"><p>Do you have a technology product or service? Be the first to know about government initiatives.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-suppliers/">View supplier benefits</a></div>
							</div>

							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <svg width="129" height="125" viewBox="0 0 129 125" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M53.3903 20.5197V10.5042C53.3903 8.8473 54.7334 7.50415 56.3903 7.50415H65.0176C66.6744 7.50415 68.0176 8.8473 68.0176 10.5042V20.5197" stroke="#005072" stroke-width="7"/>
                                        <rect x="38.2997" y="16.03" width="49.928" height="26.1537" rx="4" fill="#0081A2"/>
                                        <rect x="114.72" y="7.66064" width="51.2612" height="38.7196" rx="4" transform="rotate(90 114.72 7.66064)" fill="#40CE97"/>
                                        <path d="M57.2163 113.845C57.2163 118.066 53.9069 121.329 50.0175 121.329C46.128 121.329 42.8186 118.066 42.8186 113.845C42.8186 109.624 46.128 106.36 50.0175 106.36C53.9069 106.36 57.2163 109.624 57.2163 113.845Z" fill="white" stroke="#005072" stroke-width="7"/>
                                        <path d="M109.182 113.845C109.182 118.066 105.873 121.329 101.983 121.329C98.0938 121.329 94.7844 118.066 94.7844 113.845C94.7844 109.624 98.0938 106.36 101.983 106.36C105.873 106.36 109.182 109.624 109.182 113.845Z" fill="white" stroke="#005072" stroke-width="7"/>
                                        <path d="M124.889 34.7711H31.4751C29.5134 34.7711 28.0796 36.6229 28.5707 38.5222L42.2608 91.4652C42.6225 92.8641 43.93 93.8064 45.3715 93.707L116.463 88.8084C117.834 88.7139 118.966 87.6992 119.209 86.346L127.841 38.3016C128.172 36.4619 126.758 34.7711 124.889 34.7711Z" fill="#00B6ED"/>
                                        <path d="M57.6594 49.5074V69.3842" stroke="#005072" stroke-width="7" stroke-linecap="round"/>
                                        <path d="M81.0951 49.5074V69.3842" stroke="#005072" stroke-width="7" stroke-linecap="round"/>
                                        <path d="M103.512 49.5074V69.3842" stroke="#005072" stroke-width="7" stroke-linecap="round"/>
                                        <path d="M3.65576 0.5C1.72277 0.5 0.155762 2.067 0.155762 4C0.155762 5.933 1.72277 7.5 3.65576 7.5V0.5ZM42.8849 90.3071V93.8071H47.462L46.2626 89.3899L42.8849 90.3071ZM3.65576 7.5H17.1553V0.5H3.65576V7.5ZM16.6728 7.13102L39.5072 91.2242L46.2626 89.3899L23.4281 5.29669L16.6728 7.13102ZM42.8849 86.8071H41.3126V93.8071H42.8849V86.8071ZM41.3126 110.022H101.983V103.022H41.3126V110.022ZM29.705 98.4147C29.705 104.825 34.9019 110.022 41.3126 110.022V103.022C38.7679 103.022 36.705 100.959 36.705 98.4147H29.705ZM41.3126 86.8071C34.9019 86.8071 29.705 92.004 29.705 98.4147H36.705C36.705 95.87 38.7679 93.8071 41.3126 93.8071V86.8071ZM17.1553 7.5C16.9296 7.5 16.7319 7.34882 16.6728 7.13102L23.4281 5.29669C22.6593 2.46536 20.0891 0.5 17.1553 0.5V7.5Z" fill="#005072"/>
                                    </svg>
                                </div>
								<h3>Buyer</h3>
								<div class="goa-adm-single-card-content"><p>Stay updated as a government agency, board, commission or an educational institute at municipal or provincial level.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-buyers/">View buyer benefits</a></div>
							</div>
							
							<div class="goa-adm-single-card">
								<div class="goa-adm-single-card-thumb">
                                    <svg width="112" height="127" viewBox="0 0 112 127" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M39.2986 52.2673L39.2986 57.5036L34.3395 56.199C29.4741 54.919 24.2911 56.1633 20.5371 59.5126L19.3734 60.5508C16.6503 62.9804 14.2724 65.7711 12.3061 68.8455L7.91365 75.7129L4.08236 55.5899C1.99815 44.6431 10.3903 34.5024 21.5337 34.5024C31.345 34.5024 39.2986 42.456 39.2986 52.2673Z" fill="#00B6ED"/>
                                        <path d="M75.5874 40.8467L75.5874 59.4205L62.9696 57.7199C61.9091 57.5769 60.8316 57.6243 59.7877 57.8597L48.616 60.3789L39.2986 57.5038L38.0455 42.4016C37.136 31.4413 45.7863 22.0436 56.7842 22.0436C67.1689 22.0436 75.5874 30.462 75.5874 40.8467Z" fill="#0081A2"/>
                                        <path d="M91.9624 35.4603L92.484 35.4603C102.682 35.4603 110.481 44.5483 108.934 54.628L105.501 64.691L103.049 71.8789L91.9993 59.4453C88.976 56.0434 84.0371 55.1121 79.9825 57.1792L75.5874 59.4199L74.9996 54.6336C73.7484 44.4453 81.6975 35.4603 91.9624 35.4603Z" fill="#40CE97"/>
                                        <path d="M65.222 13.4174C65.222 18.9385 60.8174 23.3347 55.4815 23.3347C50.1456 23.3347 45.741 18.9385 45.741 13.4174C45.741 7.89623 50.1456 3.5 55.4815 3.5C60.8174 3.5 65.222 7.89623 65.222 13.4174Z" fill="white" stroke="#005072" stroke-width="7"/>
                                        <path d="M102.492 25.8764C102.492 31.2778 97.9877 35.7937 92.2607 35.7937C86.5337 35.7937 82.0298 31.2778 82.0298 25.8764C82.0298 20.4749 86.5337 15.959 92.2607 15.959C97.9877 15.959 102.492 20.4749 102.492 25.8764Z" fill="white" stroke="#005072" stroke-width="7"/>
                                        <path d="M29.9138 25.8764C29.9138 31.2778 25.41 35.7937 19.6829 35.7937C13.9559 35.7937 9.45203 31.2778 9.45203 25.8764C9.45203 20.4749 13.9559 15.959 19.6829 15.959C25.41 15.959 29.9138 20.4749 29.9138 25.8764Z" fill="white" stroke="#005072" stroke-width="7"/>
                                        <path d="M38.3909 65.2131L35.6355 63.7322C31.4451 61.4801 26.2483 62.4918 23.2088 66.1513L18.8044 71.454C15.2386 75.7471 15.877 82.1282 20.2225 85.6299L20.829 86.1186M38.3909 65.2131L20.829 86.1186M38.3909 65.2131L47.6245 68.0563M20.829 86.1186L29.9721 97.6584M47.6245 68.0563L39.9095 80.9123C39.0007 82.4265 39.1526 84.3506 40.2877 85.7035V85.7035C40.8773 86.4062 41.6836 86.8933 42.58 87.0881L42.7335 87.1215C44.5901 87.525 46.5037 86.7455 47.5499 85.1596L50.7386 80.326C52.0553 78.3301 54.3583 77.2143 56.7407 77.4181L58.4349 77.563C61.17 77.7969 63.7523 78.9238 65.7838 80.7701L85.1021 98.3274M47.6245 68.0563L60.1605 65.4315C60.8527 65.2865 61.561 65.234 62.267 65.2753L75.5064 66.0493M85.1021 98.3274L90.8957 84.9479M85.1021 98.3274L85.2248 98.4459C86.3769 99.5585 86.8295 101.211 86.4049 102.756V102.756C85.9435 104.434 84.5317 105.68 82.809 105.928L79.8516 106.355M90.8957 84.9479L95.9725 81.0858C98.2383 79.3622 98.6097 76.0972 96.7889 73.9086L87.9341 63.2654C86.3175 61.3223 83.505 60.8913 81.3807 62.2612L75.5064 66.0493M90.8957 84.9479L75.5064 66.0493M56.6771 121.156L59.9136 122.909C61.1867 123.598 62.7039 123.672 64.0378 123.109V123.109C65.3395 122.56 66.3309 121.463 66.7447 120.112L67.4496 117.811M67.4496 117.811L61.2034 111.54M67.4496 117.811V117.811C70.8872 118.7 74.239 116.105 74.239 112.554V111.54M74.239 111.54L63.9191 102.258M74.239 111.54L74.4923 111.604C77.6808 112.414 80.595 109.56 79.8516 106.355V106.355M79.8516 106.355L66.0917 92.5575" stroke="#005072" stroke-width="6" stroke-linecap="round"/>
                                        <path d="M30.13 101.87L35.1004 97.2871" stroke="#005072" stroke-width="6" stroke-linecap="round"/>
                                        <path d="M47.9404 120.2L53.7392 114.854" stroke="#005072" stroke-width="6" stroke-linecap="round"/>
                                        <path d="M40.485 115.618L49.5973 107.217" stroke="#005072" stroke-width="6" stroke-linecap="round"/>
                                        <path d="M34.6862 109.507L43.7985 101.105" stroke="#005072" stroke-width="6" stroke-linecap="round"/>
                                    </svg>
                                </div>
								<h3>Community partner</h3>
								<div class="goa-adm-single-card-content"><p>Curious? Keep connected to the government as a digitally curious Albertan, another government or community organization.</p></div>
								<div class="goa-adm-single-card-link"><a class="goa-adm-button-link goa-adm-secondary" href="/for-partners/">View partner benefits</a></div>
							</div>
						</div>
                    </section>

					
                    <section class="goa-adm-apc-callout"><!-- CUSTOMIZABLE -->
                        <h2>Interested in exploring current digital opportunities?</h2>
                        <p>Check out Alberta Purchasing Connection, the official platform for government and public sector procurements. </p>
						<a class="goa-adm-button-link" href="" target=_blank>Explore opportunities</a>
                    </section>
                </div>
            </div>

            <footer>
                <div class="goa-adm-footer">
                    <div class="goa-adm-footer-container">
                        <div class="goa-adm-footer--social-copy">
                            <div class="goa-copyright">
                                © <script type="text/javascript">document.write(new Date().getFullYear())</script> Government of Alberta
                            </div>
                        </div>
                        <span class="goa-logo">Alberta.ca</span>
    
                    </div>
                </div>
                
            </footer>

        </main>

        <script type="text/javascript">

            /******************************************************************************
            * adm-scripts
            * 
            ******************************************************************************/

            window.addEventListener('load', function () {
                var fieldset = document.querySelectorAll('form > fieldset > fieldset');
                if (fieldset.length > 0) {
                    for (var c = 0; c < fieldset.length; c++) {
                        if(fieldset[c].children.length <= 6) {
                            fieldset[c].classList.add('adm-single-column');
                        }
                    };
                };
            }, false);

            /* Mobile Menu Toggle ****/

            var mobileBtn = document.querySelector('button.goa-adm-button');
            var mobileMenu = document.querySelector('nav.goa-adm-nav-menu');

            mobileBtn.onclick = function () {
                if (mobileBtn.getAttribute('aria-expanded') == 'true'){ 
                    mobileBtn.setAttribute('aria-expanded', 'false');
                    mobileMenu.classList.remove('mobile-active');
                } else {
                    mobileBtn.setAttribute('aria-expanded', 'true');
                    mobileMenu.classList.add('mobile-active');
                }
                return false;
            };

            window.addEventListener('resize', function () {
                var viewWidth = getViewportWidth();
                if (viewWidth > 900) {
                    if (mobileMenu.className.indexOf('mobile-active') != -1) {
                        mobileMenu.classList.remove('mobile-active');
                        mobileBtn.setAttribute('aria-expanded', 'false');
                    };
                };
            }, false);

            var formFieldset = document.querySelectorAll('form > fieldset > fieldset');
            if (formFieldset.length > 0) {
                for (var o = 0; o < formFieldset.length; o++) {
                    var formOther = formFieldset[o];
                    
                    (function (formOther) {
                        
                        var otherDiv = document.createElement('div');
                        var otherLabel = document.createElement('label');
                        var otherInput = document.createElement('input');
                        var otherRequired = document.createElement('span');
                        var randomIdOther = Math.random();

                        otherDiv.classList.add('goa-field', 'goa-if-other', 'goa--required');
                        otherLabel.innerText = 'If "other" is selected, please specify '
                        otherRequired.classList.add('required');
                        otherRequired.innerText = '*';
                        otherLabel.setAttribute('for', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('id', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('name', 'if-other-' + randomIdOther);
                        otherInput.setAttribute('type', 'text');
                        otherInput.setAttribute('value', '');
                        otherInput.setAttribute('required', 'required');
                        otherInput.setAttribute('aria-required', 'true');

                        otherLabel.appendChild(otherRequired);
                        otherDiv.appendChild(otherLabel);
                        otherDiv.appendChild(otherInput);
                        formOther.parentNode.insertBefore(otherDiv, formOther.nextSibling);

                        var otherInput = formOther.querySelector('.goa-option > input[value*="other"]');
                        var mscInput = formOther.querySelectorAll('.goa-option > input[type="radio"]:not([value*="other"])');

                        if (otherInput) {
                            
                            otherInput.addEventListener('click', function () {
                                if (otherInput.checked) {
                                    formOther.classList.add('show-other');
                                } else {
                                    formOther.classList.remove('show-other');
                                };
                            });
                        
                            if (mscInput.length > 0) {
                                for (var io = 0; io < mscInput.length; io++) {
                                    
                                    (function (mscInput) {
                                        var mscInput = mscInput[io];
                                        mscInput.addEventListener('click', function () {
                                            if (!otherInput.checked) {
                                                formOther.classList.remove('show-other');
                                            };
                                        });
                                    }) (mscInput);
                                };
                            };
                        } 
                    })(formOther);
                };
            };

            /* getViewportWidth **********************************************/

            function getViewportWidth() {
                return (window.innerWidth ? window.innerWidth : (document.documentElement && document.documentElement.clientWidth ? document.documentElement.clientWidth : (document.body && document.body.clientWidth ? document.body.clientWidth : 0)));
            };

        </script>

    </body>

</html>