---
import BaseLayout from '../layouts/layout.astro';
import HomePage from './index/index';
---

<BaseLayout title="Welcome | Alberta Digital Marketplace" page="" bodyClass="adm-home-page" >
    <main>
    <HomePage client:load />
    </main>
</BaseLayout>