---
import BaseLayout from '../layouts/layout.astro';
import JoinPage from './join/index';
---

<BaseLayout title="Join | Alberta Digital Marketplace" page="Join">
  <main>
    <JoinPage client:load/>
  </main>
</BaseLayout>