---
import BaseLayout from '../layouts/layout.astro';
import UnderstandingProcurementPage from './procurement-basics/index';
---

<BaseLayout title="Procurement basics | Alberta Digital Marketplace" page="Procurement basics">  
    <main>
    <UnderstandingProcurementPage client:load />
    </main>
</BaseLayout>