---
import BaseLayout from '../layouts/layout.astro';
import ProcurementConciergePage from './supplier-outreach-program/index';
---

<BaseLayout title="Supplier Outreach Program | Alberta Digital Marketplace" page="Supplier Outreach Program">
    <div style="min-height: 1500px;" >
        <ProcurementConciergePage client:only="react" />
    </div>
</BaseLayout>