---
import BaseLayout from '../layouts/layout.astro';
import ProcurementConciergePage from './supplier-outreach-program/index';
---

<BaseLayout title="Supplier Outreach Program | Alberta Digital Marketplace" page="Supplier Outreach Program">  
    <main>
    <ProcurementConciergePage client:only="react" />
    </main>
</BaseLayout>