---
import BaseLayout from '../layouts/layout.astro';
import TechDebtPage from './technology-debt-challenge/index';
---

<BaseLayout title="Technology Debt Challenge | Alberta Digital Marketplace" page="Technology Debt Challenge">  
    <main>
    <TechDebtPage client:load />
    </main>
</BaseLayout>