---
import BaseLayout from '../layouts/layout.astro';
import UnderstandingProcurementPage from './understanding-procurement/index';
---

<BaseLayout title="Understanding Procurement | Alberta Digital Marketplace" page="Understanding Procurement">  
    <main>
    <UnderstandingProcurementPage client:load />
    </main>
</BaseLayout>