.service-heading {
  display: flex;
  align-items: center;
  gap: var(--goa-space-s);
  align-self: stretch;
}

.service-heading h2 {
  margin: 0;
}
.service-subtitle {
  color: var(--goa-color-greyscale-700);
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
}
.service-badges {
  display: flex;
  gap: var(--goa-space-s);
}

.back-top {
  float: right;
}

.service-content {
  white-space: pre-line;
}
