.service-heading {
  display: flex;
  align-items: center;
  gap: var(--goa-space-s);
  align-self: stretch;
}

.service-heading h2 {
  margin: 0;
}
.service-subtitle {
  color: var(--goa-color-greyscale-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.service-badges {
  display: flex;
  gap: var(--goa-space-s);
}

.back-top {
  float: right;
}
