.p {border: 1px solid green;}

.service-heading {
  display: flex;
  align-items: center;
  gap: var(--goa-space-s);
  align-self: stretch;

  font-size: 2em;
  margin: 0px 0px 30px 0px;
}

.service-heading h2 {
  margin: 0;
}

.service-subtitle {
  color: var(--goa-color-greyscale-700);
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
  margin: 0px 0px 20px 0px;    
}
.service-badges {
  display: flex;
  gap: var(--goa-space-s);
}

.back-top {
  float: right;
}

.service-content {
  white-space: pre-line;
}

.contact-table {
  border-collapse: collapse;
  border: none;
}

.contact-table td {
  border: none;
}

.contact-type {
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
  color: var(--goa-color-greyscale-700);
  text-align: right;
}
.items-color > td {
  padding-right: var(--goa-space-xs);
}

.items-color {
  color: var(--goa-color-interactive-default);
}
.td-links {
  vertical-align: sub;
}


.security {border: none; border-collapse: collapse; margin-bottom: 30px; margin-left: 0px;} 
.security-table {border: none; margin-bottom: 30px;} 
.security-table th {margin: 0px; padding: 3px; border-bottom: 3px solid black; text-align: left;} 
.security-table td {margin: 0px; padding: 5px 8px 5px 0px; border-bottom: 1px dashed rgb(216, 216, 216);} 
.security-table tr:first-child  { border-top: none; }
.security-table tr td:first-child  { text-align: left;      width: 366px; }
.security-table tr td:nth-child(2) { text-align: left; padding-left: 5px; }
.security-group { font-weight: 600; }
.security-group-note { font-style: italic; padding: 5px 0px 5px 0px ;  }


.security-specs {border: 1px none black; border-collapse: collapse;}
.security-specs td { padding: 2px 10px 8px 0px; }
.security-specs td:nth-child(2) { font-weight: bold; }

.status { padding: 0px 4px 0px 4px; border: 1px solid rgb(151, 151, 151); border-radius: 4px;  font-size: smaller; font-weight: 600;}
.statusAlpha { background-color: rgb(201, 167, 74); color: white; }
.statusBeta  { background-color: rgb(0, 98, 128); color: white; }
.statusLive  { background-color: rgb(0, 201, 0); color: white; }


.tbd {color: black; font-style: italic; background-color:lightgreen; font-weight: 200; padding: 5px;}
.dev {background-color: rgb(255, 255, 250); padding: 10px; margin: 10px 0px 5px 0px; border: 3px solid green; white-space: pre-line}
.Other {font-weight: 500; }
.Required {background-color: rgb(248, 248, 128); }
.Completed {color: Green; }