.service-heading {
  display: flex;
  align-items: center;
  gap: var(--goa-space-s);
  align-self: stretch;
  justify-content: space-between;
}

.service-heading h2 {
  margin: 0;
}

.service-title {
   margin-bottom: 10px;  /* default=24px */
}

.service-subtitle {
  color: var(--goa-color-greyscale-700);
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
}
.service-badges {
  display: flex;
  gap: var(--goa-space-s);
}

.back-top {
  float: right;
}

.roadmap {
  margin: 0px 0px 0px 8px;
}


.service-content {
  white-space: pre-line;
}

.specs-table {
  border-collapse: collapse;
  border: none;
}

.specs-table td {
  padding-top: 14px;
  padding-right: 14px;
}

/* .specs-table td:first-child {
font-weight: 600;
} */

.td-right {
  text-align: right;
}


.contact-table {
  border-collapse: collapse;
  border: none;
}

.contact-table td {
  border: none;
}

.contact-type, .spec-type {
  font-size: var(--goa-font-size-4);
  font-style: normal;
  font-weight: var(--goa-font-weight-bold);
  line-height: var(--goa-line-height-3);
  color: var(--goa-color-greyscale-700);
  /* text-align: right; */
}
.items-color > td {
  padding-right: var(--goa-space-xs);
}

.items-color {
  color: var(--goa-color-interactive-default);
}
.td-links {
  vertical-align: sub;
}
