.cc-hero-subheading {
  font-size: var(--goa-font-size-7);
  font-weight: var(--goa-font-weight-regular);
  line-height: var(--goa-line-height-4);
}
.cc-list-spacing {
  margin-left: var(--goa-space-3xl);
}
.cc-list-design-system {
  margin-left: var(--goa-space-m);
}
.cc-landing-callout {
  width: 75%;
}
