---
import LayoutSSR from '../layouts/LayoutSSR.astro';
import { Search as DCPSearch} from "@abgov/dcp-common"
import { GoabSpacer } from '@abgov/react-components';

---
<LayoutSSR hideNav={true}>
	<h1>Search</h1>
	<GoabSpacer client:load vSpacing="l" />
	<DCPSearch client:load title="Digital Standards"/>
</LayoutSSR>
	
