---
import Layout from '../layouts/Layout';
import { Search as DCPSearch} from "@abgov/dcp-common"
import { GoASpacer } from '@abgov/react-components-4.20.2';

---
<Layout client:load hideNav={true}>
	<h1>Search</h1>
	<GoASpacer vSpacing="l" />
	<DCPSearch title="Digital Standards"/>
</Layout>
	
