---
import Layout from '../layouts/Layout';
import { Search as DCPSearch} from "@abgov/dcp-common"
import { GoabSpacer } from '@abgov/react-components';

---
<Layout hideNav={true}>
	<h1>Search</h1>
	<GoabSpacer vSpacing="l" />
	<DCPSearch client:only="react" title="Digital Standards"/>
</Layout>
	
