---
import { GoAThreeColumnLayout } from '@abgov/react-components-4.20.2';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <GoAThreeColumnLayout>
        <h1>Strategy principals</h1>
    </GoAThreeColumnLayout>
</Layout>