/******************************************************************************
* Alberta Digital Marketplace
* Custom stylesheet
* 
******************************************************************************/

/******************************************************************************
* imports
* 
***/

/* typekit ***/ 

@import url("https://p.typekit.net/p.css?s=1&k=nur5yta&ht=tk&f=26036.26037.26044.26046.26047&a=14638192&app=typekit&e=css");

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/l?subset_id=1&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/d?subset_id=1&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/a?subset_id=1&fvd=n4&v=3") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/l?subset_id=1&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/d?subset_id=1&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/a?subset_id=1&fvd=i4&v=3") format("opentype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/l?subset_id=1&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/d?subset_id=1&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/a?subset_id=1&fvd=n7&v=3") format("opentype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/l?subset_id=1&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/d?subset_id=1&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/a?subset_id=1&fvd=i7&v=3") format("opentype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/l?subset_id=1&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/d?subset_id=1&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/a?subset_id=1&fvd=n6&v=3") format("opentype");
	font-style: normal;
	font-weight: 600;
}

.tk-acumin-pro-semi-condensed {
	font-family: "acumin-pro-semi-condensed", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #333333;
}

.grecaptcha-badge { 
    visibility: hidden !important;
}

html body, select, textarea, button {
    margin: 0px;
    padding: 90px 0px 0px;
    background: #fff;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 400;
	font-size: 1.125rem;
    line-height: 1.75rem;
}

a, button {
    cursor: pointer;
	font-family: "acumin-pro-semi-condensed", sans-serif;
}

main .goa-adm-body > .container > section:not(.goa-adm-sign-up-form) p > a:link {
    text-underline-offset: .75rem;
    text-decoration-thickness: .0625rem;
}

main p > a[target=_blank]:after,
main ul li > a[target=_blank]:after,
main ol li > a[target=_blank]:after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: 4px;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
}

main p > a[target=_blank]:hover:after,
main ul li > a[target=_blank]:hover:after,
main ol li > a[target=_blank]:hover:after  {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
}

html body {
    margin: 0;
    padding: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6, strong, b, dt {
    font-weight: 700;
}

ul, ol {
    padding: 0;
}

.goa-adm-body ul,
.goa-adm-body ol {
    padding-left: 1.75rem;
    margin-top: 1.5rem;
}

.goa-adm-body ul li,
.goa-adm-body ol li {
    margin: 16px 0 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

body h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 4.5rem;
    word-break: break-word;
    color: #0081A2;
}

body h2 {
    margin: 0;
    padding: 0;
    line-height: 2.75rem;
    font-size: 2.25rem;
    word-break: break-word;
    position: relative;
    color: #005072;
    }

body h2:after {
    content: '';
    display: block;
    width: 53px;
    background: #D9D9D9;
    height: 7px;
    border-radius: 4px;
    position: absolute;
    bottom: -1.75rem;
    left: 2px;
}

body h3 {
    padding: 0;    
    font-size: 1.75rem;
    line-height: 2.5rem;
    word-break: break-word;
    position: relative;
    color: #005072;
}

body h3 + * {
    margin: 2rem 0 0;
}

body h4 {
    margin: 0;
    padding: 0;    
    word-break: break-word;
    position: relative;
    color: #005072;
}

body a {
    color: #006dcc;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-underline-offset: .375rem;
    text-decoration-thickness: .0625rem;
}

body p {
    margin: 1.5rem 0 0;
}

a:hover,
a:hover > em {
    color: #333333;
}

a:focus {
    outline: 3px solid #FFB500;
    border-radius: 4px;    
    outline-offset: 2px;
}

a > em {
    color: #006dcc;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 4rem);
}

html[dir=rtl] h2:after {
    left: auto;
    right: 2px;
}

html[dir=rtl] .goa-adm-body ul,
html[dir=rtl] .goa-adm-body ol {
    padding-right: 1.75rem;
    padding-left: 0;
}

/* skip to content ***/

div.goa-adm-skiplinks {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0px;
    right: 100%;
    margin: 0px;
    padding: 0px;
}

div.goa-adm-skiplinks a {
    position: absolute;
    z-index: 10000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -3.4375rem;
    left: .625rem;
    font-weight: 700;
    text-decoration: none   ;
    height: 2.5rem;
    padding: 0 1.25rem .25rem;
    background: #f2f2f2;
    color: #006dcc;
    line-height: 1.75rem;
    white-space: nowrap;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

div.goa-adm-skiplinks a:focus {
    top: 10px;
}

/* NAVIGATION ****************************/

/* logo ***/

.goa-adm-logo .goa-logo > a {
    height: 40px;
    margin: 1rem 0;
    display: block;
}

.goa-adm-logo .mobile-logo {
    display: none;
}

.goa-adm-microsite-header > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #ffffff;
    padding: 12px 0;
}

.goa-adm-microsite-header-type {
    background-color: #f9ce2d;
    margin: 14px 12px 14px 0;
    padding: 2px 8px 6px;
    border-radius: 3px;
    font-weight: 700;
    display: inline-block;
}

.goa-adm-microsite-header-content {
    padding: 2px 0 6px 0;
}

.goa-adm-microsite-header-type,
.goa-adm-microsite-header-content > p  {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.goa-adm-microsite-header-content > p {
    margin: 0;
}

.goa-adm-microsite-header-content > p a {
    color:#006dcc;
}

.goa-adm-microsite-header-content > p a:hover {
    color: #333333;
}

.goa-adm-microsite-header-content > p a:after {
    content: "";
    width: 18px;
    height:18px;
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative;
    top: 4px;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
}

.goa-adm-microsite-header-content > p a:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.goa-adm-microsite-header {
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    z-index: 1000000;
    background: #ffffff;
}

.goa-adm-nav ul {
    display: flex;
    margin: 0;
}

.goa-adm-main-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    top: -1px;
}

.goa-adm-nav-button {
    display: none;
}

.goa-adm-nav-button button.goa-adm-button {
    padding: 10px 12px 12px 16px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    background: transparent;
    color: #006dcc;
    min-height: auto;
    margin: 0;
}

.goa-adm-nav-button button.goa-adm-button:after {
    content:'';
    display: block;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0737 11.5603C10.0331 11.601 9.9671 11.601 9.92642 11.5603L4.96434 6.59825C4.6389 6.27281 4.11126 6.27281 3.78583 6.59825C3.46039 6.92369 3.46039 7.45132 3.78583 7.77676L9.41082 13.4018C9.73626 13.7272 10.2639 13.7272 10.5893 13.4018L16.2143 7.77676C16.5398 7.45132 16.5398 6.92369 16.2143 6.59825C15.8889 6.27281 15.3613 6.27281 15.0358 6.59825L10.0737 11.5603Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    width: 20px;
    height: 20px;
    margin: 1px 0 0 8px;
}

.goa-adm-nav-button button.goa-adm-button[aria-expanded='true'] {
    background: #F1F1F1;
}

.goa-adm-nav-button button.goa-adm-button[aria-expanded='true']:after {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92642 8.43967C9.9671 8.39899 10.0331 8.39899 10.0737 8.43967L15.0358 13.4018C15.3613 13.7272 15.8889 13.7272 16.2143 13.4018C16.5398 13.0763 16.5398 12.5487 16.2143 12.2232L10.5893 6.59825C10.2639 6.27281 9.73626 6.27281 9.41083 6.59825L3.78583 12.2232C3.46039 12.5487 3.46039 13.0763 3.78583 13.4018C4.11126 13.7272 4.6389 13.7272 4.96434 13.4018L9.92642 8.43967Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
} 

.goa-adm-nav-button button.goa-adm-button:hover {
    color: #333333;
}

.goa-adm-nav-button button.goa-adm-button:hover:after {
    content:'';
    display: block;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0737 11.5603C10.0331 11.601 9.9671 11.601 9.92642 11.5603L4.96434 6.59825C4.6389 6.27281 4.11126 6.27281 3.78583 6.59825C3.46039 6.92369 3.46039 7.45132 3.78583 7.77676L9.41082 13.4018C9.73626 13.7272 10.2639 13.7272 10.5893 13.4018L16.2143 7.77676C16.5398 7.45132 16.5398 6.92369 16.2143 6.59825C15.8889 6.27281 15.3613 6.27281 15.0358 6.59825L10.0737 11.5603Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
}

.goa-adm-nav-button button.goa-adm-button[aria-expanded='true']:hover:after {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92642 8.43967C9.9671 8.39899 10.0331 8.39899 10.0737 8.43967L15.0358 13.4018C15.3613 13.7272 15.8889 13.7272 16.2143 13.4018C16.5398 13.0763 16.5398 12.5487 16.2143 12.2232L10.5893 6.59825C10.2639 6.27281 9.73626 6.27281 9.41083 6.59825L3.78583 12.2232C3.46039 12.5487 3.46039 13.0763 3.78583 13.4018C4.11126 13.7272 4.6389 13.7272 4.96434 13.4018L9.92642 8.43967Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
} 

.goa-adm-nav-menu > ul > li {
    list-style-type: none;
    padding: 0 12px;
}

.goa-adm-nav-menu > ul > li:last-child {
    padding-right: 0;
}

.goa-adm-nav-menu > ul > li a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    position: relative;
}

.goa-adm-nav-menu > ul > li a:before,
.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before {
    content: '';
    display: block;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background: #0070C4;
    height: 2px;
    transition: all 0.25s ease;
    opacity: 0;
}

.goa-adm-nav-menu > ul > li a:hover:before,
.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before {
    bottom: -5px;
    transition: all 0.25s ease;
    opacity: 1;
}

html[dir=rtl] .goa-adm-microsite-header-type {
    margin: 14px 0 14px 12px;
}

html[dir=rtl] .goa-adm-nav-button button.goa-adm-button:after {
    margin: 1px 8px 0 0;
}

html[dir=rtl] .goa-adm-nav-menu > ul > li:last-child {
    padding-left: 0;
    padding-right: 12px;
}

/* HEADER ****************************/

.goa-adm-body-header {
    padding: 40px 0 4rem;
    position: relative;
}

.goa-adm-body-header:not(.goa-adm-body-full) {
    border-bottom: 1px solid #D9D9D9;
}

.goa-adm-body-header > .container {
    display: grid;
    justify-content: space-between;
    column-gap: 12%;
}

body:not(.adm-home-page) .goa-adm-body-header > .container {
    grid-template-columns: 2fr 2fr;
    column-gap: 3%;
}

.goa-adm-body-header > .container > .goa-adm-body-header-content {
    max-width: 600px;
    width: 100%;
}

.goa-adm-body-header > .container > .goa-adm-body-header-graphic {
    display: flex;
}

.goa-adm-body-header > .container > .goa-adm-body-header-graphic > svg,
.goa-adm-body-header > .container > .goa-adm-body-header-graphic > img {
    width: 100%;
    height: 100%;
    position: relative;
}

/* breadcrumbs ***/

.goa-adm-breadcrumbs > ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 0;
}

.goa-adm-breadcrumbs > ul > li {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}

.goa-adm-breadcrumbs > ul > li:not(:last-child) {
    margin-right: 0.45rem;
}

.goa-adm-breadcrumbs > ul > li:first-child {
    padding: 0;
}

.goa-adm-breadcrumbs > ul > li.goa-adm-breadcrumbs-active {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.goa-adm-breadcrumbs > ul > li > a {
    color: #333333;
}

.goa-adm-breadcrumbs > ul > li:not(:first-child):before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: transparent url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.61861 10.5244C4.3908 10.7522 4.3908 11.1215 4.61861 11.3493C4.84641 11.5771 5.21576 11.5771 5.44357 11.3493L9.38107 7.41183C9.60887 7.18402 9.60887 6.81468 9.38107 6.58687L5.44357 2.64937C5.21576 2.42156 4.84641 2.42156 4.61861 2.64937C4.3908 2.87718 4.3908 3.24652 4.61861 3.47433L8.09207 6.94779C8.12055 6.97626 8.12055 7.02243 8.09207 7.05091L4.61861 10.5244Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
    margin: 0.25rem 0.25rem 0 0;
}

.goa-adm-breadcrumbs * {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

html[dir=rtl] .goa-adm-breadcrumbs > ul > li:not(:first-child):before {
    margin: 0.25rem 0.35rem 0 0.25rem;
    transform: rotate(180deg);
}

html[dir=rtl] .goa-adm-breadcrumbs > ul > li:not(:last-child) {
    margin-right: 0;
}

/* lede ***/

.goa-adm-body-header > .container > .goa-adm-body-header-content > p.lede {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

/* BODY CONTENT ****************************/

.goa-adm-body {
    display: block;
    position: relative;
    height: 100%;
    padding: 80px 0 120px;
}

.goa-adm-body:not(.goa-adm-procurement) > .container {
    max-width: 750px;
}

.goa-adm-body > .container > section:not(:first-child),
.goa-adm-body > .container > .goa-adm-form-container,
.goa-adm-body > .container section:not(.goa-adm-apc-callout) > h2 + p {
    margin: 4.5rem 0 0;
}

.goa-adm-body > .container > section > p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.goa-adm-body > .container > section > p:first-child {
    margin: 0;
}

.goa-adm-body > .container > section > * + div:not(.goa-adm-form-container) {
    margin: 5rem 0 0;
}

/* FOOTER ****************************/

.goa-adm-footer {    
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0px 8px rgb(51, 51, 51, 0.11);
    vertical-align: top;
    position: relative;
    border-bottom: 1rem solid #005072;
}

.goa-adm-footer > .goa-adm-footer-container {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 3rem);
    max-width: 1280px;
}

.goa-adm-footer .goa-logo {
    margin-right: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    display: block;
    height: 3rem;
    width: 173px;
    overflow: hidden;
    background-color: transparent;
}

.goa-adm-footer .goa-logo:before {
    content: '';
    display: block;
    height: 3rem;
    width: 173px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='45' viewBox='0 0 216 61' shape-rendering='geometricPrecision'%3E%3Crect class='logo' fill='%2300aad2' x='196.411' y='31.014' width='19.59' height='19.592' /%3E%3Cpath class='logo' fill='%235f6a72' d='M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718' /%3E%3C/svg%3E") no-repeat center center;
    background-size: cover;
}

.goa-copyright {
    margin: 16px 0 6px;
}

.goa-copyright,
.goa-disclaimer > a {
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: #333333;
}

.goa-adm-footer .goa-linkedin > a {
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 2rem 0 0;
    width: 2rem;
    height: 0;
}

.goa-adm-footer .goa-linkedin > a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    content: "";
    background: rgba(0,0,0,0) url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23333333' d='M22.02.3h-20A1.72 1.72 0 0 0 .3 2.02v20a1.72 1.72 0 0 0 1.72 1.72h20a1.72 1.72 0 0 0 1.72-1.72v-20A1.72 1.72 0 0 0 22.02.3Z'/%3E%3Cpath fill='%23fff' d='M3.78 9.09h3.47v11.18H3.78Zm1.74-5.56a2 2 0 1 1-2 2 2 2 0 0 1 2-2M9.43 9.09h3.34v1.53a3.66 3.66 0 0 1 3.29-1.81c3.52 0 4.17 2.32 4.17 5.33v6.13H16.8v-5.44c0-1.29 0-3-1.81-3s-2.08 1.41-2.08 2.87v5.53H9.43Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
    background-size: cover;
}

/* FEEDBACK OVERRIDES ****************************/

body .adsp-fb + .overlay {
    z-index: 1000000;
}

body .adsp-fb .adsp-fb-badge {
    z-index: 10000;
    bottom: 0;
    top: 0;
    height: 105px;
    margin: auto 0;
    text-align: center;
}

body .adsp-fb .adsp-fb-container-heading {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

body .adsp-fb h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333333;
}

body .adsp-fb h3 + img {
    margin: 0;
}

body .adsp-fb .full-width-hr-container .styled-hr-bottom {
    box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.25);
    background: #D9D9D9;
}

body .adsp-fb .adsp-fb-form {
    padding: 0 0 1.5rem;
}

body .adsp-fb .adsp-fb-form-rating {
    margin-top: 16px;
}

body .adsp-fb .adsp-fb-form > * {
    padding: 0 1.5rem;
}

body .adsp-fb .adsp-fb-form > p {
    margin: 0;
}

body .adsp-fb .adsp-fb-form > .h3-sub-title {
    padding: 1.5rem 1.5rem 0 !important;
}

body .adsp-fb .styled-hr-top {
    box-shadow: none;
    background: transparent;
}

body .adsp-fb .adsp-fb-actions {
    margin-top: 26px;
}

body .adsp-fb .adsp-fb-container-heading {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
}

body .adsp-fb .adsp-fb-form-container {
    border-radius: 10px;
    border-color: #D9D9D9;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}

body .adsp-fb button {
    text-decoration: none;
    padding: 9px 18px 12px;
    font-weight: 700;
    border-radius: 8px;
    background: #006dcc;
    color: #ffffff;
    border: none;
    display: inline-block;
    position: relative;
    font-size: 1.125rem;
}

body .adsp-fb .adsp-fb-form-comment textarea {
    margin-left: 0;
}

body .adsp-fb button.adsp-fb-form-primary {
    margin-left: 12px;
}

body .adsp-fb button.adsp-fb-form-secondary {
    padding: 9px 16px 12px;
    background: transparent;
    border: 2px solid #006dcc;
    color: #006dcc;
}

body .adsp-fb button.adsp-fb-form-primary:hover {
    background: #333333;
}

body .adsp-fb button.adsp-fb-form-secondary:hover {
    color: #333333;
    border-color: #333333;
    background: transparent;
}

body .adsp-fb button:focus,
body .adsp-fb button:active,
body .adsp-fb .adsp-fb-form-comment textarea:focus,
body .adsp-fb .feedback-close-button:active,
body .adsp-fb .feedback-close-button:focus,
body .adsp-fb button.adsp-fb-form-secondary:focus,
body .adsp-fb button.adsp-fb-form-secondary:active {
    box-shadow: none;
    outline: 3px solid #FFB500;
    transform: none;
}

body .adsp-fb button.adsp-fb-form-secondary:focus,
body .adsp-fb button.adsp-fb-form-secondary:active {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #006dcc;
}

body .adsp-fb .adsp-fb-form-container[data-error='true'] .adsp-fb-error {
    padding: 1.75rem 0;
}

body .adsp-fb .adsp-fb-form-container .adsp-fb-sent {
    padding: 1.75rem 1.5rem;
}

body .adsp-fb .adsp-fb-content {
    margin-bottom: 0;
    padding: 1.5rem !important;
}

body .adsp-fb .styled-hr-bottom {
    width: calc(100% + 1.5rem);
}

body .adsp-fb .adsp-fb-form-comment span {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

body .adsp-fb .adsp-fb-badge:hover {
    background: #333333;
}

body .adsp-fb button#feedback-close-success {
    margin-bottom: 1.5rem;
}

body .adsp-fb .adsp-fb-form-container[data-completed='true'] .adsp-fb-form {
    height: 275px !important;
}

html[dir=rtl] body .adsp-fb button:first-child {
    margin-left: 0 !important;
    margin-right: auto;
}

html[dir=rtl] body .adsp-fb button.adsp-fb-form-primary {
    margin-left: 0;
    margin-right: 12px;
}

@media screen and (max-width: 640px) {

    body .adsp-fb h3 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    body .adsp-fb .adsp-fb-form-container {
        border-radius: 0; 
        box-shadow: none;
    }

    body .adsp-fb .adsp-fb-actions {
        position: relative;
    }

    body .adsp-fb .adsp-fb-form {
        max-height: 400px !important;
    }

    body .adsp-fb .adsp-fb-form-rating {
        gap: 1.5rem;
    }

    body .adsp-fb .adsp-fb-form-rating > div > p {
        margin: 0 0 0 4px;
    }

    body .adsp-fb button.adsp-fb-form-primary {
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 61.5rem) {
    body .adsp-fb .adsp-fb-badge {
        display: block;
    }
} 

/**************************
    
* Media Queries
    
****************************/

@media screen and (max-width: 1380px) {

    .container {
        max-width: 1280px;
    }

}

@media (min-width: 900px) and (max-width:1079px) {

    body .goa-adm-body-header:not(.goa-adm-body-full) h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    } 
}

@media screen and (max-width:1079px) {

    .goa-adm-nav-button {
        display: block;
    }

    .goa-adm-main-header {
        position: relative;
        z-index: 10000;
    }

    .goa-adm-main-header > .container {
        background: #ffffff;
        position: relative;
        padding: 12px 2rem;
        margin: 0;
        width: 100%;
    }

    .goa-adm-main-header {
        position: relative;
        z-index: 10000;
    }

    .goa-adm-nav-menu,
    body:not(.adm-home-page) .goa-adm-body-header > .container h1 > br {
        display: none;
    }

    nav.goa-adm-nav-menu {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 100%;
        z-index: -1;
        transition: bottom 0.75s ease;
    }

    nav.goa-adm-nav-menu.mobile-active {
        bottom: -265px;
        transition: bottom 0.75s ease;
    }

    nav.goa-adm-nav-menu ul {
        display: block;
        z-index: 1000;
        position: relative;
        box-shadow: 0 4px 6px rgb(51, 51, 51, 0.24);
        padding: 0;
    }

    nav.goa-adm-nav-menu > ul > li {
        padding: 0;
    }

    nav.goa-adm-nav-menu a {
        padding: 12px 1.5rem;
        display: inline-block;
        width: 100%;
        background: #ffffff;
        border-top: 1px solid #D9D9D9;
        border-radius: 0;
    }

    nav.goa-adm-nav-menu a:hover {
        background: #f1f1f1;
    }

    nav.goa-adm-nav-menu a:focus {
        outline-offset: -3px;
        outline-width: 3px;
    }

    nav.goa-adm-nav-menu > ul > li a:before,
    nav.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before {
        display: none;
    }
    
}

@media screen and (max-width: 899px) {

    .goa-adm-nav-button {
        position: relative;
    }
    
    .goa-adm-body-header > .container > .goa-adm-body-header-graphic > svg {
        height: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .goa-adm-nav-button {
        display: none;
    }

    .goa-adm-nav-button {
        display: block;
        width: 100%;
    }

    body:not(.adm-home-page) .goa-adm-body-header > .container {
        grid-template-columns: repeat(1, 1fr);
    }

    body:not(.adm-home-page) .goa-adm-body-header > .container > .goa-adm-body-header-graphic > img {
        margin: 24px 0 54px;
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-content {
        max-width: 100%;
    }

    .goa-adm-body-header:not(.goa-adm-body-full) > .container > .goa-adm-body-header-graphic {
        order: -1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-content > h1 {
        max-width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .goa-adm-body > .container section:not(:first-child),
    .goa-adm-body > .container > .goa-adm-form-container {
        margin: 3rem 0 0;
    }

    body h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    body h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    body h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    main section:not(.goa-adm-sign-up-form) p > a:link,
    main .goa-adm-body:not(.goa-adm-procurement) section:not(.goa-adm-sign-up-form) p > a:link,
    .goa-adm-body ul {
        text-underline-offset: .375rem;
        text-decoration-thickness: .0625rem;
    }

    body p,
    .goa-adm-body > .container > section > p,
    .goa-adm-body ul li,
    .goa-adm-body ol li  {  
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .container {
        margin: 0 1.5rem;
        width: calc(100% - 3rem);
    }

    .goa-adm-body {
        padding: 4rem 0;
    }

    body .adsp-fb .adsp-fb-badge {
        /*display: none;*/
        height: 73px;
        font-size: 12px;
        padding: 12px 0px;
        line-height: 1.5rem;
    }

    /* HEADER ****************************/

    .goa-adm-main-header > .container {
        padding: 12px 1.5rem;
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-content > p.lede {
        margin-bottom: 0;
    }

    div.goa-adm-body > .container > section > div.goa-adm-content-split {
        display: block;
    }

    div.goa-adm-body > div.container > section > div.goa-adm-content-split > * {
        max-width: 100%;
    }

}

@media screen and (max-width: 549px) {

    /* HEADER ****************************/

    .goa-adm-microsite-header > .container {
        padding: 12px 1.5rem;
        margin: 0;
        width: 100%;
    }

    .goa-adm-microsite-header-type {
        margin: 0px 12px 0px 0;
    }

    .goa-adm-logo .desktop-logo {
        display: none;
    } 

    .goa-adm-logo .mobile-logo {
        display: block;
    }

    .goa-adm-breadcrumbs * {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /* FOOTER ***************/

    .goa-adm-footer > .goa-adm-footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
} 