/******************************************************************************
* Alberta Digital Marketplace
* Custom stylesheet for the Application Wrapper template
* 
******************************************************************************/

/******************************************************************************
* imports
* 
***/

/* typekit ***/ 

@import url("https://p.typekit.net/p.css?s=1&k=nur5yta&ht=tk&f=26036.26037.26044.26046.26047&a=14638192&app=typekit&e=css");

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/l?subset_id=1&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/d?subset_id=1&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/a?subset_id=1&fvd=n4&v=3") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/l?subset_id=1&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/d?subset_id=1&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/a?subset_id=1&fvd=i4&v=3") format("opentype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/l?subset_id=1&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/d?subset_id=1&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/a?subset_id=1&fvd=n7&v=3") format("opentype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/l?subset_id=1&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/d?subset_id=1&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/a?subset_id=1&fvd=i7&v=3") format("opentype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "acumin-pro-semi-condensed";
	src: url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/l?subset_id=1&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/d?subset_id=1&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/a?subset_id=1&fvd=n6&v=3") format("opentype");
	font-style: normal;
	font-weight: 600;
}

.tk-acumin-pro-semi-condensed {
	font-family: "acumin-pro-semi-condensed", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
    font-size: 16px;
    color: #333333;
}

body, select, textarea, button {
    margin: 0px;
    padding: 90px 0px 0px;
    background: #fff;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 400;
	font-size: 1.125rem;
    line-height: 1.75rem;
}

a, button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, strong, b, dt {
    font-weight: 700;
}

ul, ol {
    padding: 0;
}

.goa-adm-body ul,
.goa-adm-body ol {
    padding-left: 28px;
    margin-top: 72px;
}

.goa-adm-body ul li,
.goa-adm-body ol li {
    margin: 16px 0 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h1 {
  margin: 1rem 0 0;
  padding: 0;
  font-size: 4rem;
  line-height: 4.5rem;
  word-break: break-word;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 2.75rem;
  font-size: 2.25rem;
  word-break: break-word;
  position: relative;
}

h2:after {
    content: '';
    display: block;
    width: 53px;
    background: #333333;
    height: 7px;
    border-radius: 4px;
    position: absolute;
    bottom: -28px;
    left: 2px;
}

h3 {
    margin: 0;
    padding: 0;    
    font-size: 1.75rem;
    line-height: 2.625rem;
    word-break: break-word;
    position: relative;
}

a:link {
    color: #006dcc;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-underline-offset: .375rem;
    text-decoration-thickness: .0625rem;
}

a:hover {
    color: #333333;
}

a:focus {
    outline: 1px solid #FFB500;
    border-radius: 3px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 64px);
}

/* NAVIGATION ****************************/

/* logo ***/

.goa-adm-logo .goa-logo > a {
    height: 40px;
    margin: 1rem 0;
    display: block;
}

.goa-adm-logo .mobile-logo {
    display: none;
}

.goa-adm-microsite-header > .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #ffffff;
}

.goa-adm-microsite-header-type {
    background-color: #f9ce2d;
    margin: 14px 12px 14px 0;
    padding: 2px 8px 6px;
    border-radius: 3px;
    /* color: #333333; */
    font-weight: 700;
    display: inline-block;
}

.goa-adm-microsite-header-content {
    padding: 2px 0 6px 0;
}

.goa-adm-microsite-header-type,
.goa-adm-microsite-header-content > p  {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.goa-adm-microsite-header-content > p {
    margin: 0;
}

.goa-adm-microsite-header-content > p a {
    color:#006dcc;
}

.goa-adm-microsite-header-content > p a:hover {
    color: #333333;
}

.goa-adm-microsite-header-content > p a:after {
    content: "";
    width: 18px;
    height:18px;
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative;
    top: 4px;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
}

.goa-adm-microsite-header-content > p a:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.5C12.5 2.15482 12.7798 1.875 13.125 1.875H17.5C17.8452 1.875 18.125 2.15482 18.125 2.5V6.875C18.125 7.22018 17.8452 7.5 17.5 7.5C17.1548 7.5 16.875 7.22018 16.875 6.875V4.00888L9.19194 11.6919C8.94786 11.936 8.55214 11.936 8.30806 11.6919C8.06398 11.4479 8.06398 11.0521 8.30806 10.8081L15.9911 3.125H13.125C12.7798 3.125 12.5 2.84518 12.5 2.5ZM4.0625 5.625C3.81386 5.625 3.5754 5.72377 3.39959 5.89959C3.22377 6.0754 3.125 6.31386 3.125 6.5625V15.9375C3.125 16.1861 3.22377 16.4246 3.39959 16.6004C3.5754 16.7762 3.81386 16.875 4.0625 16.875H13.4375C13.5606 16.875 13.6825 16.8508 13.7963 16.8036C13.91 16.7565 14.0134 16.6875 14.1004 16.6004C14.1875 16.5134 14.2565 16.41 14.3036 16.2963C14.3508 16.1825 14.375 16.0606 14.375 15.9375V8.75C14.375 8.40482 14.6548 8.125 15 8.125C15.3452 8.125 15.625 8.40482 15.625 8.75V15.9375C15.625 16.2248 15.5684 16.5092 15.4585 16.7746C15.3486 17.04 15.1874 17.2812 14.9843 17.4843C14.7812 17.6874 14.54 17.8486 14.2746 17.9585C14.0092 18.0684 13.7248 18.125 13.4375 18.125H4.0625C3.48234 18.125 2.92594 17.8945 2.5157 17.4843C2.10547 17.0741 1.875 16.5177 1.875 15.9375V6.5625C1.875 5.98234 2.10547 5.42594 2.5157 5.0157C2.92594 4.60547 3.48234 4.375 4.0625 4.375H10.6047C10.9499 4.375 11.2297 4.65482 11.2297 5C11.2297 5.34518 10.9499 5.625 10.6047 5.625H4.0625Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.goa-adm-microsite-header {
    border-bottom: 1px solid #DCDCDC;
    position: relative;
    z-index: 1000000;
    background: #ffffff;
}

.goa-adm-nav ul {
    display: flex;
    margin: 0;
}

.goa-adm-main-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.goa-adm-nav-button {
    display: none;
}

.goa-adm-nav-button button.goa-adm-button {
    padding: 10px 12px 12px 16px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    background: transparent;
    color: #006dcc;
    min-height: auto;
    margin: 0;
}

.goa-adm-nav-button button.goa-adm-button:after {
    content:'';
    display: block;
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0737 11.5603C10.0331 11.601 9.9671 11.601 9.92642 11.5603L4.96434 6.59825C4.6389 6.27281 4.11126 6.27281 3.78583 6.59825C3.46039 6.92369 3.46039 7.45132 3.78583 7.77676L9.41082 13.4018C9.73626 13.7272 10.2639 13.7272 10.5893 13.4018L16.2143 7.77676C16.5398 7.45132 16.5398 6.92369 16.2143 6.59825C15.8889 6.27281 15.3613 6.27281 15.0358 6.59825L10.0737 11.5603Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 1px 0 0 8px;
}

.goa-adm-nav-button button.goa-adm-button[aria-expanded='true']:after {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92642 8.43967C9.9671 8.39899 10.0331 8.39899 10.0737 8.43967L15.0358 13.4018C15.3613 13.7272 15.8889 13.7272 16.2143 13.4018C16.5398 13.0763 16.5398 12.5487 16.2143 12.2232L10.5893 6.59825C10.2639 6.27281 9.73626 6.27281 9.41083 6.59825L3.78583 12.2232C3.46039 12.5487 3.46039 13.0763 3.78583 13.4018C4.11126 13.7272 4.6389 13.7272 4.96434 13.4018L9.92642 8.43967Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
} 

.goa-adm-nav-menu > ul > li {
    list-style-type: none;
    padding: 0 12px;
}

.goa-adm-nav-menu > ul > li:last-child {
    padding-right: 0;
}

.goa-adm-nav-menu > ul > li a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    position: relative;
}

.goa-adm-nav-menu > ul > li a:before,
.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before  {
    content: '';
    display: block;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background: #333333;
    height: 1px;
    transition: all 0.25s ease;
    opacity: 0;
}

.goa-adm-nav-menu > ul > li a:hover:before,
.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before {
    bottom: -5px;
    transition: all 0.25s ease;
    opacity: 1;
}

/* HEADER ****************************/

.goa-adm-body-header {
    border-bottom: 1px solid #DCDCDC;
    padding: 64px 0;
}

.goa-adm-body-header > .container {
    display: grid;
    justify-content: space-between;
    column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.goa-adm-body-header > .container > .goa-adm-body-header-content {
    max-width: 600px;
    width: 100%;
}

.goa-adm-body-header > .container > .goa-adm-body-header-graphic > svg {
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
}

/* breadcrumbs ***/

.goa-adm-breadcrumbs > ul {
    display: flex;
    flex-wrap: wrap;
}

.goa-adm-breadcrumbs > ul > li {
    list-style-type: none;
    padding-left: 1.75rem;
    position: relative;
}

.goa-adm-breadcrumbs > ul > li:first-child {
    padding: 0;
}

.goa-adm-breadcrumbs > ul > li.goa-adm-breadcrumbs-active {
    font-weight: 700;
}

.goa-adm-breadcrumbs > ul > li > a {
    color: #333333;
}

.goa-adm-breadcrumbs > ul > li:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: transparent url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.61861 10.5244C4.3908 10.7522 4.3908 11.1215 4.61861 11.3493C4.84641 11.5771 5.21576 11.5771 5.44357 11.3493L9.38107 7.41183C9.60887 7.18402 9.60887 6.81468 9.38107 6.58687L5.44357 2.64937C5.21576 2.42156 4.84641 2.42156 4.61861 2.64937C4.3908 2.87718 4.3908 3.24652 4.61861 3.47433L8.09207 6.94779C8.12055 6.97626 8.12055 7.02243 8.09207 7.05091L4.61861 10.5244Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
    left: 7px;
    top: 8px;
}

.goa-adm-breadcrumbs * {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* lede ***/

.goa-adm-body-header > .container > .goa-adm-body-header-content > p.lede {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

/* BODY CONTENT ****************************/

.goa-adm-body {
    display: block;
    position: relative;
    height: 100%;
    padding: 64px 0;
}

.goa-adm-body > .container > section:not(:first-child) {
    margin: 64px 0 0;
}

.goa-adm-body > .container > section > p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.goa-adm-body > .container > section:not(.goa-adm-apc-callout) > h2 + p {
    margin: 72px 0 0;
}

.goa-adm-body > .container > section > * + div:not(.goa-adm-form-container) {
    margin: 48px 0;
}

.goa-adm-body > .container > section > div.goa-adm-vision-list {
    display: flex;
    gap: 24px;
}

.goa-adm-body > .container > section > div.goa-adm-vision-list > * {
    flex-grow: 1;
}


.goa-adm-body > .container > section > div.goa-adm-vision-list > .goa-adm-vision-graphic {
    max-width: 395px;
    width: 100%;
}

.goa-adm-body > .container > section > div.goa-adm-vision-list > .goa-adm-vision-graphic > img {
    width: 100%;
}

.goa-adm-body > .container > section > div.goa-adm-vision-list ol {
    margin: 0;
}

.goa-adm-body > .container > section > div.goa-adm-vision-list ol li {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.goa-adm-body > .container > section.goa-adm-center-aligned > *,
.goa-adm-body > .container > section.goa-adm-center-aligned > h2 + p  {
    text-align: center;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
} 

.goa-adm-body > .container > section.goa-adm-center-aligned > h2:after {
    left: 0;
    right: 0;
    margin: 0 auto;
}

body.adm-home-page .goa-adm-body-header {
    border-bottom: none;
    padding-bottom: 0;
}

/* HOME PAGE CARDS ****************************/

.goa-adm-cards-info > .goa-adm-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.goa-adm-cards-info > .goa-adm-cards > * {
    flex-grow: 1;
    width: 100%;
}

.goa-adm-cards-info > .goa-adm-cards > .goa-adm-single-card {
    display: flex;
    flex-direction: column;
}

.goa-adm-body > .container > section > * + div.goa-adm-cards {
    margin-top: 90px;
}

.goa-adm-cards-info > .goa-adm-cards > .goa-adm-single-card > .goa-adm-single-card-content {
    height: 100%;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.goa-adm-cards-info > .goa-adm-cards > .goa-adm-single-card > h3 {
    margin: 24px 0 0;
}

.goa-adm-cards-info > .goa-adm-cards > .goa-adm-single-card > .goa-adm-single-card-link {
    margin-top: 16px;
}

/* CALLOUT ****************************/

.goa-adm-body > .container > section.goa-adm-apc-callout {
    padding: 48px 64px;
    margin: 90px 0;
    color: #ffffff;
    background: linear-gradient(90deg, #0081A2 0%, #0081A2 48.5%, #00AAD2 100%);
    border-radius: 30px;
}

.goa-adm-body > .container > section.goa-adm-apc-callout > h2:after {
    display: none;
}   

.goa-adm-body > .container > section.goa-adm-apc-callout > p {
    max-width: 750px;
    width: 100%;
}

/* BUTTONS ****************************/

a.goa-adm-button-link {
    text-decoration: none;
    padding: 8px 32px 10px 18px;
    font-weight: 700;
    border-radius: 8px;
    background: #ffffff;
    border: 2px solid #006dcc;
    color: #006dcc;
    display: inline-block;
    position: relative;
}

a.goa-adm-button-link:hover {
    border-color: #333333;
    color: #333333;
}

a.goa-adm-button-link:focus {
    outline: 3px solid #FFB500;
}

a.goa-adm-button-link:after {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 0 0 8px;
    content: '';
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.59808 15.0351C6.27264 15.3605 6.27264 15.8882 6.59808 16.2136C6.92352 16.539 7.45116 16.539 7.77659 16.2136L13.4016 10.5886C13.727 10.2632 13.727 9.73553 13.4016 9.41009L7.77659 3.78509C7.45116 3.45966 6.92352 3.45966 6.59808 3.78509C6.27264 4.11053 6.27264 4.63817 6.59808 4.9636L11.5602 9.92569C11.6008 9.96637 11.6008 10.0323 11.5602 10.073L6.59808 15.0351Z' fill='%23006dcc'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 13px;
}

a.goa-adm-button-link:hover:after {
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.59808 15.0351C6.27264 15.3605 6.27264 15.8882 6.59808 16.2136C6.92352 16.539 7.45116 16.539 7.77659 16.2136L13.4016 10.5886C13.727 10.2632 13.727 9.73553 13.4016 9.41009L7.77659 3.78509C7.45116 3.45966 6.92352 3.45966 6.59808 3.78509C6.27264 4.11053 6.27264 4.63817 6.59808 4.9636L11.5602 9.92569C11.6008 9.96637 11.6008 10.0323 11.5602 10.073L6.59808 15.0351Z' fill='%23333333'/%3E%3C/svg%3E%0A") no-repeat center center;
}

/* PROGRESSBAR ****************************/

.goa-adm-timeline > ul.progressbar {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 90px 0 0;
}

.goa-adm-timeline > ul.progressbar > li {
    box-sizing: content-box;
    list-style-type: none;
    flex-shrink: 0;
    width: 29.325%;
    flex-grow: 1;
    overflow: visible;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    list-style-type: none;
    min-height: 100%;
}

.goa-adm-timeline > ul.progressbar > li > .goa-adm-timeline-label:after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 5px solid #333333;
    background: #DCDCDC;
    /* position: absolute; */
    margin: 40px auto 24px;
}

.goa-adm-timeline > ul.progressbar > li > * {
    padding: 0 2%;
    max-width: 360px;
    width: 100%;
}

.goa-adm-timeline > ul.progressbar > li > .goa-adm-timeline-label {
    font-weight: 700;
}

.goa-adm-timeline > .progressbar > li:before {
    width: 100%;
    height: 1px;
    display: block;
    background: #333333;
    content: '';
    position: absolute;
    top: 95px;
    z-index: -1;
}

.goa-adm-timeline > .progressbar > li:first-child:before {
    left: 50%;
}

.goa-adm-timeline > .progressbar > li:last-child:before {
    right: 50%;
}

/* FORM ****************************/

section.goa-adm-sign-up-form {
    border-radius: 16px;
    box-shadow: 0 2px 20px rgb(51, 51, 51, 0.11);
    padding: 64px 36px;
}

section.goa-adm-sign-up-form .goa-adm-form-container {
    max-width: 860px;
    margin: 64px auto 0;
    width: 100%;
}

section.goa-adm-sign-up-form h2 {
    text-align: center;
}

section.goa-adm-sign-up-form h2::after {
    display: none;
}

section.goa-adm-sign-up-form form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.goa-field.goa--optional span.optional {
    color: #666666;
    font-size: 0.875rem;
    line-height: 1.313rem;
    font-weight: 400;
}

.goa-field.goa-name > .goa-field-name-container {
    display: flex;
    column-gap: 24px;
}

.goa-field.goa-name > .goa-field-name-container > .goa-field {
    flex-grow: 1;
}

.goa-field > label,
fieldset > legend {
    font-weight: 700;
}

fieldset > legend {
    margin-bottom: 20px;
}

section.goa-adm-sign-up-form form fieldset > fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
}

section.goa-adm-sign-up-form form fieldset > fieldset.adm-single-column {
    grid-template-columns: repeat(1, 1fr);
}

.goa-field input:not([type='checkbox']),
.goa-field select {
    margin: 8px 0;
    z-index: 5000;
    height: 68px;
    position: relative;
    background: #F1F1F1;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 24px 10px;
    border-radius: 10px;
    border: 1px solid #ADADAD;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
    color: #333333;
    font-family: acumin-pro-semi-condensed, sans-serif;
}

.goa-field input:not([type='checkbox']):focus,
.goa-field select:focus,
div.goa-option [type='checkbox']:checked:focus + label:before {
    outline: 3px solid #FFB500;
    outline-offset: 0;
}

div.goa-field select {
    background:#F1F1F1 url("data:image/svg+xml,%3Csvg width='45' height='24' viewBox='0 0 45 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_626_22897)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95711 7.91789C5.56658 7.52737 4.93342 7.52737 4.54289 7.91789C4.15237 8.30842 4.15237 8.94158 4.54289 9.33211L11.2929 16.0821C11.6834 16.4726 12.3166 16.4726 12.7071 16.0821L19.4571 9.33211C19.8476 8.94158 19.8476 8.30842 19.4571 7.91789C19.0666 7.52737 18.4334 7.52737 18.0429 7.91789L12.0884 13.8724C12.0396 13.9212 11.9604 13.9212 11.9116 13.8724L5.95711 7.91789Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_626_22897'%3E%3Crect width='24' height='45' fill='white' transform='translate(45) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat right center;
    background-size: 45px;
    line-height: 24px;
    padding: 6px 48px 10px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div.goa-field select::-ms-expand {
    display: none;
}

div.goa-option {
    position: relative;
}

div.goa-option [type='checkbox']:not(:checked),
div.goa-option [type='checkbox']:checked,
div.goa-option [type='radio']:not(:checked),
div.goa-option [type='radio']:checked {
    z-Index: 1;
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
}

div.goa-option [type='checkbox']:not(:checked) + label,
div.goa-option [type='checkbox']:checked + label,
div.goa-option [type='radio']:not(:checked) + label,
div.goa-option [type='radio']:checked + label {
    z-Index: 2;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    word-break: normal;
    display: flex;
    align-items: center;
}

div.goa-option [type='checkbox']:not(:checked) + label:before,
div.goa-option [type='checkbox']:checked + label:before,
div.goa-option [type='radio']:not(:checked) + label:before,
div.goa-option [type='radio']:checked + label:before,
div.goa-option [type='radio']:checked + label:after {
    z-Index: 10000;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    display: block;
    border: 1px solid #666;
    border-radius: 7px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    flex-shrink: 0;
    margin-right: 12px;
    align-self: flex-start;
}

div.goa-option [type='radio']:not(:checked) + label:before,
div.goa-option [type='radio']:checked + label:before,
div.goa-option [type='radio']:checked + label:after {
    border-radius: 100%;
}

div.goa-option [type='checkbox']:checked + label:before {
    background-color: #333333;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16' shape-rendering='geometricPrecision'%3E%3Cpath d='M1 10L6 14L15 1' fill='transparent' stroke='%23fff' stroke-width='2' stroke-endcap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

div.goa-option [type='radio']:checked + label:after {
    border: 12px solid #333;
}


div.goa-option [type='radio']:checked + label:after {
    position: absolute;
    left: 0;
}

fieldset:not(.show-other) + .goa-field.goa-if-other {
    display: none;
}

.goa-field.goa-agreement,
.goa-adm-sign-up-form form .goa-adm-buttons {
    margin: 24px 0 0;
}

.goa-field.goa-agreement {
    border-top: 1px solid #DCDCDC;
    padding: 40px 0 0;
}

.goa-adm-sign-up-form form .goa-adm-buttons .goa-adm-button {
    display: flex;
    padding: 10px 16px 14px 20px;
    justify-content: center;
    align-items: center;
    background: #333333;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.goa-adm-sign-up-form form .goa-adm-buttons .goa-adm-button:after {
    width: 20px;
    height: 20px;
    display: block;
    margin: 2px 0 0 8px;
    content: '';
    background: transparent url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.59808 15.0351C6.27264 15.3605 6.27264 15.8882 6.59808 16.2136C6.92352 16.539 7.45116 16.539 7.77659 16.2136L13.4016 10.5886C13.727 10.2632 13.727 9.73553 13.4016 9.41009L7.77659 3.78509C7.45116 3.45966 6.92352 3.45966 6.59808 3.78509C6.27264 4.11053 6.27264 4.63817 6.59808 4.9636L11.5602 9.92569C11.6008 9.96637 11.6008 10.0323 11.5602 10.073L6.59808 15.0351Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: cover;
}

section.goa-adm-sign-up-form .goa-adm-disclaimer {
    margin: 32px 0 0;
    max-width: 700px;
}

section.goa-adm-sign-up-form .goa-adm-disclaimer > p {
    font-size: 0.875rem;
    line-height: 1.5rem;
}


/* FOOTER ****************************/

.goa-adm-footer {    
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0px 8px rgb(51, 51, 51, 0.11);
    vertical-align: top;
    position: relative;
    border-bottom: 1rem solid #333333;
}

.goa-adm-footer > .goa-adm-footer-container {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 48px);
    max-width: 1280px;
}

.goa-adm-footer .goa-logo {
    margin-right: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    display: block;
    height: 48px;
    width: 173px;
    overflow: hidden;
    background-color: transparent;
}

.goa-adm-footer .goa-logo:before {
    content: '';
    display: block;
    height: 48px;
    width: 173px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='45' viewBox='0 0 216 61' shape-rendering='geometricPrecision'%3E%3Crect class='logo' fill='%2300aad2' x='196.411' y='31.014' width='19.59' height='19.592' /%3E%3Cpath class='logo' fill='%235f6a72' d='M91.271,47.934c-1.972,0.198-4.068,0.382-6.278,0.548c0.833-6.288,4.105-15.027,8.177-13.62C95.521,35.676,94.284,43.033,91.271,47.934 M86.106,52.264c-0.714,0.111-1.304,0.101-1.773,0.014c0.28-0.241,0.455-0.594,0.455-1.014c0-0.266,0.009-0.544,0.024-0.832c1.104-0.052,2.831-0.177,4.888-0.376C88.623,51.241,87.409,52.067,86.106,52.264 M111.223,37.314c2.598-2.413,3.89-2.237,4.231-1.589c0.736,1.403-2.325,6.345-8.184,9.047C107.774,42.114,109.176,39.216,111.223,37.314 M207.625,39.712c-0.251-4.887-4.579-5.683-5.176-4.293c-0.208,0.487,1.626,0.313,1.633,3.764c0.005,5.71-5.787,13.165-13.167,13.165c-8.04,0-10.114-6.254-10.502-9.348c-0.256-2.058,0.187-5.029-3.368-4.636c-2.486,0.28-4.733,5.12-7.885,9.196c-2.704,3.499-3.918,3.166-3.286,0.163c0.783-3.763,3.925-12.594,7.517-13.237c1.661-0.297,2.257,2.625,3.02,0.796c0.768-1.832,0.063-5.783-3.655-5.783c-2.605,0-5.73,2.762-8.292,5.905c-2.233,2.744-13.522,19.357-18.257,15.77c-2.215-1.676-2.035-8.506-0.643-16.553c5.618-2.167,10.292-1.456,12.936-0.188c1.305,0.626,1.485,0.532,0.929-0.903c-0.825-2.108-5.345-5.405-12.405-3.888c-0.17,0.033-0.336,0.079-0.505,0.119c0.569-2.613,1.231-5.268,1.954-7.849c0.661-2.364,2.6-6.454-2.462-7.242c-1.613-0.252-0.927,0.53-1.459,2.71c-0.978,4.015-2.214,9.227-3.109,14.458c-4.161,2.396-8.035,6.399-10.874,11.667c0.492-2.429,1.254-5.116,1.308-6.93c0.054-1.911-1.255-2.332-1.763-2.482c-1.111-0.314-2.453,0.236-3.776,2.106c-3.104,4.37-7.035,11.284-13.001,14.184c-4.28,2.081-6.157-0.015-6.262-3.238c0.845-0.259,1.601-0.525,2.24-0.813c7.756-3.437,10.419-8.621,8.448-11.774c-1.87-3-7.217-2.086-11.439,2.361c-2.081,2.193-3.684,5.956-3.871,9.387c-1.79,0.387-3.848,0.731-6.146,1.041c3.644-5.911,3.329-13.9-2.001-15.247c-6.182-1.561-9.309,4.44-10.633,9.436c0.408-4.996,1.206-11.077,2.335-16.725c0.472-2.361,2.087-6.455-3.041-7.24c-1.629-0.252-1.377,0.505-1.241,2.71c0.18,2.958-3.096,20.875-1.384,28.744c-2.206,0.714-3.101,2.375-0.264,4.127c1.955,1.203,6.258,1.603,10.605-0.537c1.559-0.771,2.909-1.854,4.034-3.125c2.59-0.326,5.314-0.744,7.796-1.241c0.425,3.45,2.677,6.095,7.905,5.606c7.433-0.691,14.035-9.826,16.528-14.226c-0.45,4.716-3.519,15.019,1.716,14.49c2.051-0.208,1.158-0.536,1.285-2.306c0.454-6.208,5.62-11.47,10.73-14.694c-0.887,7.602-0.579,14.391,2.868,16.546c6.341,3.963,15.326-6.477,20.27-12.862c-2.516,5.671-3.945,12.936-0.164,14.047c4.435,1.293,7.932-6.063,12.022-11.693c0.475,4.042,3.168,11.003,14.033,11.003C200.729,54.163,208.007,47.148,207.625,39.712 M51.101,52.114c-2.665-0.965-6.464-2.513-11.424-5.046c2.717-0.991,6.169-2.443,9.806-4.345C49.973,46.873,50.505,49.892,51.101,52.114M80.545,57.718c-0.125-0.258-0.849,0.105-1.587-0.003c-2.101-0.31-4.863-3.18-5.699-7.896c-1.504-8.489-0.612-16.865,1.88-29.348c0.47-2.361,2.084-6.451-3.041-7.243c-1.63-0.251-0.786,0.554-1.243,2.71c-1.971,9.297-9.574,15.999-17.207,20.493c-0.799-10.645-0.474-22.465,1.53-29.714c1.691-6.115,3.703-4.992,1.209-6.277c-2.624-1.352-5.445,0.435-7.726,4.989c-2.28,4.552-12.795,29.289-29.584,45.984c-8.592,8.545-16.363,4.146-17.919,2.831c-1.266-1.069-1.734,0.582-0.163,2.271c6.949,7.494,17.1,3.194,20.795-0.5c10.215-10.21,22.092-32.19,26.897-41.517c-0.443,5.251-0.593,14.058,0.385,24.379c-5.199,2.533-9.86,4.021-12.059,4.601c-2.381,0.624-3.854,1.593-3.898,2.697c-0.047,1.208,1.552,2.227,3.863,3.325c4.116,1.954,16.167,7.647,19.136,9.374c2.543,1.476,3.784,0.325,4.537-1.268c0.983-2.076-1.716-3.276-4.328-4.057c-1.006-3.495-1.81-8.196-2.345-13.377c6.126-3.772,12.158-8.793,15.635-15.068c-0.876,5.245-3.124,23.08,2.507,30.621c1.241,1.662,3.981,3.479,6.656,3.209C80.036,58.805,80.671,57.977,80.545,57.718' /%3E%3C/svg%3E") no-repeat center center;
    background-size: cover;
}

.goa-copyright {
    font-size: 0.875rem;
    line-height: 1.313rem;
}

/**************************
    
* Media Queries
    
****************************/

@media screen and (max-width: 1380px) {
    .container {
        max-width: 1184px;
    }
}

@media screen and (max-width: 1229px) {
    .container {
        margin: 0 32px;
    }
}

@media screen and (max-width: 899px) {

    .goa-adm-nav-menu {
        display: none;
    }

    .goa-adm-nav-button {
        display: block;
    }

    .goa-adm-body-header > .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-content {
        max-width: 100%;
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-graphic {
        order: -1;
        padding-bottom: 24px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .goa-adm-main-header {
        position: relative;
        z-index: 10000;
    }

    .goa-adm-main-header > .container {
        background: #ffffff;
        position: relative;
        padding: 12px 24px;
        margin: 0;
        width: 100%;
    }

    nav.goa-adm-nav-menu {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: 100%;
        z-index: -1;
        transition: bottom 0.75s ease;
    }

    nav.goa-adm-nav-menu.mobile-active {
        bottom: -265px;
        transition: bottom 0.75s ease;
    }

    nav.goa-adm-nav-menu ul {
        display: block;
        z-index: 1000;
        position: relative;
        box-shadow: 0 4px 6px rgb(51, 51, 51, 0.24);
    }

    nav.goa-adm-nav-menu > ul > li {
        padding: 0;
    }

    nav.goa-adm-nav-menu a {
        padding: 12px 24px;
        display: inline-block;
        width: 100%;
        background: #ffffff;
        border-top: 1px solid #DCDCDC;
        border-radius: 0;
    }

    nav.goa-adm-nav-menu a:focus {
        outline-offset: -3px;
        outline-width: 3px;
    }

    nav.goa-adm-nav-menu > ul > li a:before,
    nav.goa-adm-nav-menu > ul > li.goa-adm-nav-active-item > a:before {
        display: none;
    }

    .goa-adm-cards-info > .goa-adm-cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
    }

}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    p {  
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .goa-adm-body ul li,
    .goa-adm-body ol li {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .container {
        margin: 0 24px;
        width: calc(100% - 48px);
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-graphic > svg {
        height: 100%;
        max-width: 500px;
    }

    .goa-adm-body-header > .container > .goa-adm-body-header-content > p.lede {
        margin-bottom: 0;
    }

    div.goa-adm-body > .container > section > div.goa-adm-content-split {
        display: block;
    }

    div.goa-adm-body > div.container > section > div.goa-adm-content-split > * {
        max-width: 100%;
    }

    /* CARDS ****************************/

    .goa-adm-body > .container > section > * + div.goa-adm-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 64px;
    }

    /* CALLOUTS ****************************/

    .goa-adm-body > .container > section.goa-adm-apc-callout {
        padding: 40px 36px;
    }
    
    /* PROGRESSBAR ****************************/

    .goa-adm-timeline > ul.progressbar {
        display: block;
        position: relative;
    }

    .goa-adm-timeline > ul.progressbar:before {
        position: absolute;
        bottom: 0px;
        top: 0;
        left: 11px;
        width: 32px;
        content: '';
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='1' viewBox='0 0 32 1'%3E%3Crect x='8' y='0' width='1' height='1' fill='%23919191' /%3E%3C/svg%3E") repeat-y top left;
    }

    .goa-adm-timeline > ul.progressbar > li {
        box-sizing: border-box;
        position: relative;
        margin: 0;
        width: 100%;
        padding: 0 0 0 32px;
        vertical-align: top;
        text-align: left;
        margin: 32px 0 0;
    }

    .goa-adm-timeline > ul.progressbar > li > .goa-adm-timeline-label:after {
        display: none;
    }

    .goa-adm-timeline > ul.progressbar > li:before,
    .goa-adm-timeline > ul.progressbar > li:first-child:before {
        display: block;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 20px;
        border: 5px solid #333333;
        background: #DCDCDC;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .goa-adm-timeline > ul.progressbar > li:last-child {
        content: "";
        left: 0;
        top: 100%;
        background-color: #fff;
    }

    .goa-adm-timeline > ul.progressbar > li > * {
        max-width: 100%;
        padding: 0 0 0 24px;
    }

    .goa-adm-timeline > .progressbar > li:before {
        display: none;
    }

    /* FORMS ****************************/

    section.goa-adm-sign-up-form {
        box-shadow: none;
        padding: 0 0;
    }

    section.goa-adm-sign-up-form h2 {
        text-align: left;
    }

    section.goa-adm-sign-up-form .goa-adm-form-container {
        margin: 40px auto 0;
    }

    section.goa-adm-sign-up-form form fieldset > fieldset {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 499px) {

    .goa-adm-microsite-header > .container {
        padding: 12px 24px;
        margin: 0;
        width: 100%;
    }

    .goa-adm-microsite-header-type {
        margin: 0px 12px 0px 0;
    }

    .goa-adm-logo .desktop-logo {
        display: none;
    } 

    .goa-adm-logo .mobile-logo {
        display: block;
    }

    .goa-adm-breadcrumbs * {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /* CALLOUT ****************************/

    .goa-adm-body > .container > section.goa-adm-apc-callout {
        padding: 40px 24px;
        border-radius: 10px;
    }

    /* FORM ***************/

    .goa-field.goa-name > .goa-field-name-container {
        flex-direction: column;
        gap: 8px;
    }

    /* FOOTER ***************/

    .goa-adm-footer > .goa-adm-footer-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 18px;
    }
} 