dl.roadmap-details {
    margin: 0 0;
}
  
.roadmap-details dt {
    color: var(--goa-color-text-default);
    font: var(--goa-typography-heading-s);
    margin-bottom: var(--goa-space-xs);
}

.roadmap-details dd {
    margin: 0 0 var(--goa-space-l);
    font: var(--goa-typography-body-m);
}

.roadmap-details dd:last-of-type {
    margin-bottom: 0;
}

dl.roadmap-details .inline-title {
    float: left;
    padding-right: 14px;
}